pipeline/pipeline/PPL_DailyRefresh_ActiveVulnTbl.json
{
	"name": "PPL_DailyRefresh_ActiveVulnTbl",
	"properties": {
		"description": "Converted from SSIS package DailyRefresh_ActiveVulnTbl.dtsx (full control flow in one pipeline)",
		"activities": [
			{
				"name": "LKP_Fetch_Param",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dataflow_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_View') AS Dataflow_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pipeline_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_View') AS Pipeline_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_Container_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_View') AS Src_Container_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_filename_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_View') AS Src_filename,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_path_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_View') AS Src_path_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_Container_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_View') AS Tgt_Container_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_filename_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_View') AS Tgt_filename,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_path_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_View') AS Tgt_path_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Table_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_View') AS Tgt_Table_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Schema_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_View') AS Tgt_Schema_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dataflow_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_Stage') AS Dataflow_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pipeline_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_Stage') AS Pipeline_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_Container_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_Stage') AS Src_Container_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_filename_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_Stage') AS Src_filename_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_path_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_Stage') AS Src_path_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_Container_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_Stage') AS Tgt_Container_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_filename_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_Stage') AS Tgt_filename_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_path_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_Stage') AS Tgt_path_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Table_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_Stage') AS Tgt_Table_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Schema_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_Prod_Load_Daily_Vuln_from_Stage') AS Tgt_Schema_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dataflow_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_PIT_Reporting_Load_Daily_Vuln_from_Stage') AS Dataflow_Name_3,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pipeline_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_PIT_Reporting_Load_Daily_Vuln_from_Stage') AS Pipeline_Name_3,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_Container_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_PIT_Reporting_Load_Daily_Vuln_from_Stage') AS Src_Container_Name_3,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_filename_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_PIT_Reporting_Load_Daily_Vuln_from_Stage') AS Src_filename_3,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_path_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_PIT_Reporting_Load_Daily_Vuln_from_Stage') AS Src_path_Name_3,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_Container_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_PIT_Reporting_Load_Daily_Vuln_from_Stage') AS Tgt_Container_Name_3,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_filename_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_PIT_Reporting_Load_Daily_Vuln_from_Stage') AS Tgt_filename_3,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_path_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_PIT_Reporting_Load_Daily_Vuln_from_Stage') AS Tgt_path_Name_3,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Table_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_PIT_Reporting_Load_Daily_Vuln_from_Stage') AS Tgt_Table_Name_3,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Schema_Name' AND PIPELINE_NAME = 'PPL_DailyRefresh_ActiveVulnTbl' AND DATAFLOW_NAME = 'DF_PIT_Reporting_Load_Daily_Vuln_from_Stage') AS Tgt_Schema_Name_3;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ST_Truncate_Daily_Vuln_Table__Prod",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "LKP_Fetch_Param",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "TRUNCATE TABLE  [PLHS].[dbo].[tbl_VulnActive_Daily_Static_stage]",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "PPL_Generic_db_replication_View",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ST_Truncate_Daily_Vuln_Table__Prod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Generic_db_replication_ppl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Dataflow_Name": {
							"value": "@activity('LKP_Fetch_Param').output.firstRow.Dataflow_Name",
							"type": "Expression"
						},
						"Pipeline_Name": {
							"value": "@activity('LKP_Fetch_Param').output.firstRow.Pipeline_Name",
							"type": "Expression"
						},
						"SysDatetime": {
							"value": "@formatDateTime(pipeline().TriggerTime,'yyyyMMddHHmmss')",
							"type": "Expression"
						},
						"FilePath_Date": {
							"value": "@formatDateTime(pipeline().TriggerTime,'yyyyMMdd')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "DF_Load_Daily_Vuln_from_View__Prod",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "PPL_Generic_db_replication_View",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Prod_Load_Daily_Vuln_from_View",
						"type": "DataFlowReference",
						"datasetParameters": {
							"VulnView": {
								"container": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_Container_Name",
									"type": "Expression"
								},
								"path": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_path_Name",
									"type": "Expression"
								},
								"filename": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_filename",
									"type": "Expression"
								}
							},
							"OLEDBDestination": {
								"path": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name",
									"type": "Expression"
								},
								"Container": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name",
									"type": "Expression"
								},
								"filename": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CPD_Blob_To_Onprem_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DF_Load_Daily_Vuln_from_View__Prod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Generic_tgt_parquet",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name",
								"type": "Expression"
							},
							"Container": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name",
								"type": "Expression"
							},
							"filename": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Generic_OLEDB_DS_TGT",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Table_Name",
								"type": "Expression"
							},
							"Schema": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Schema_Name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set_StageViewCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CPD_Blob_To_Onprem_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StageViewCount",
					"value": {
						"value": "@int(coalesce(activity('DF_Load_Daily_Vuln_from_View__Prod').output.runStatus.metrics?.OLEDBDestination?.rowsWritten, 0))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If_StageViewCount_GT_0__Prod",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set_StageViewCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('StageViewCount'), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ST_delete_data_from_Static_to_load_from_stage__Prod",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "TRUNCATE TABLE  [PLHS].[dbo].[tbl_VulnActive_Daily_Static]",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "PPL_Generic_db_replication_Stage",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ST_delete_data_from_Static_to_load_from_stage__Prod",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Generic_db_replication_ppl",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Dataflow_Name": {
										"value": "@activity('LKP_Fetch_Param').output.firstRow.Dataflow_Name_2",
										"type": "Expression"
									},
									"Pipeline_Name": {
										"value": "@activity('LKP_Fetch_Param').output.firstRow.Pipeline_Name",
										"type": "Expression"
									},
									"SysDatetime": {
										"value": "@formatDateTime(pipeline().TriggerTime,'yyyyMMddHHmmss')",
										"type": "Expression"
									},
									"FilePath_Date": {
										"value": "@formatDateTime(pipeline().TriggerTime,'yyyyMMdd')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "DF_Load_Daily_Vuln_from_Stage__Prod",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "PPL_Generic_db_replication_Stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_Prod_Load_Daily_Vuln_from_Stage",
									"type": "DataFlowReference",
									"datasetParameters": {
										"Stage": {
											"container": {
												"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_Container_Name_2",
												"type": "Expression"
											},
											"path": {
												"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_path_Name_2",
												"type": "Expression"
											},
											"filename": {
												"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_filename_2",
												"type": "Expression"
											}
										},
										"Static": {
											"path": {
												"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name_2",
												"type": "Expression"
											},
											"Container": {
												"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name_2",
												"type": "Expression"
											},
											"filename": {
												"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename_2",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "CPD_Blob_To_Onprem_Static",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DF_Load_Daily_Vuln_from_Stage__Prod",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Generic_tgt_parquet",
									"type": "DatasetReference",
									"parameters": {
										"path": {
											"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name_2",
											"type": "Expression"
										},
										"Container": {
											"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name_2",
											"type": "Expression"
										},
										"filename": {
											"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename_2",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Generic_OLEDB_DS_TGT",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Table_Name_2",
											"type": "Expression"
										},
										"Schema": {
											"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Schema_Name_2",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ST_MultiLoad_Clean_Up__PIT_Reporting",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "If_StageViewCount_GT_0__Prod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "DELETE FROM  [PLHS].[dbo].[tbl_VulnActive_Daily_PIT_MetricsSource_dev]\nWHERE PIT_Date = CAST(GETDATE() AS DATE) ",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "PPL_Generic_db_replication_PIT",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ST_MultiLoad_Clean_Up__PIT_Reporting",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Generic_db_replication_ppl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Dataflow_Name": {
							"value": "@activity('LKP_Fetch_Param').output.firstRow.Dataflow_Name_3",
							"type": "Expression"
						},
						"Pipeline_Name": {
							"value": "@activity('LKP_Fetch_Param').output.firstRow.Pipeline_Name",
							"type": "Expression"
						},
						"SysDatetime": {
							"value": "@formatDateTime(pipeline().TriggerTime,'yyyyMMddHHmmss')",
							"type": "Expression"
						},
						"FilePath_Date": {
							"value": "@formatDateTime(pipeline().TriggerTime,'yyyyMMdd')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "DF_Load_Daily_Vuln_from_Stage__PIT_Reporting",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "PPL_Generic_db_replication_PIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_PIT_Reporting_Load_Daily_Vuln_from_Stage",
						"type": "DataFlowReference",
						"datasetParameters": {
							"StaticDaily": {
								"container": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_Container_Name_3",
									"type": "Expression"
								},
								"path": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_path_Name_3",
									"type": "Expression"
								},
								"filename": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_filename_3",
									"type": "Expression"
								}
							},
							"PitTable": {
								"path": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name_3",
									"type": "Expression"
								},
								"Container": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name_3",
									"type": "Expression"
								},
								"filename": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename_3",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CPD_Blob_To_Onprem_PIT",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DF_Load_Daily_Vuln_from_Stage__PIT_Reporting",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Generic_tgt_parquet",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name_3",
								"type": "Expression"
							},
							"Container": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name_3",
								"type": "Expression"
							},
							"filename": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename_3",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Generic_OLEDB_DS_TGT",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Table_Name_3",
								"type": "Expression"
							},
							"Schema": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Schema_Name_3",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ST_Get_Time_Stamp_Execution_Path",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "CPD_Blob_To_Onprem_PIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select \ncase \nwhen DATEPART(hour,getdate() ) between 12 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 20 then 2\nelse 0 end as ExecuteSeriesFlag\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set_ExecutionFlag",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ST_Get_Time_Stamp_Execution_Path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExecutionFlag",
					"value": {
						"value": "@int(activity('ST_Get_Time_Stamp_Execution_Path').output.resultSets[0].rows[0].ExecuteSeriesFlag)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If_ExecutionFlag_EQ_2",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set_ExecutionFlag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('ExecutionFlag'), 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ST_Clear_Current_Data__Load_Metrics_Dash",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "TRUNCATE TABLE [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "ST_Load_tbl_Vuln_Metrics_Monthly_Reduced",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "ST_Clear_Current_Data__Load_Metrics_Dash",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "\nINSERT INTO \n   [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n\nSELECT  [CIO_Direct_Supplimented]\n      ,[Senior_Lead_Supplimented]\n      ,[TechnicalManager_App1]\n      ,[StatusFlag]\n      ,cast([FirstDetected] as date) as [FirstDetected]\n      ,cast([ValidatedDate] as date) as ValidatedDate\n      ,[TCOODueDate]\n      ,[CombID]\n      ,getdate()\n\n  FROM [PLHS].[dbo].[vw_Metrics_Detailed]\n ",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"variables": {
			"ExecutionFlag": {
				"type": "Integer",
				"defaultValue": 0
			},
			"StageViewCount": {
				"type": "Integer",
				"defaultValue": 0
			},
			"Variable": {
				"type": "Integer",
				"defaultValue": 0
			},
			"Variable1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Wellfargo1/COO_VulnPackages"
		},
		"annotations": [],
		"lastModifiedByObjectId": "00000000-0000-0000-0000-000000000000",
		"lastPublishTime": "2024-01-01T00:00:00Z"
	}
}