pipeline/pipeline/PPL_WFT_iTrackerLoad_2.json
{
	"name": "PPL_WFT_iTrackerLoad_2",
	"properties": {
		"activities": [
			{
				"name": "ST_Execute_SQL_Task",
				"description": null,
				"type": "Script",
				"state": null,
				"onInactiveMarkAs": null,
				"dependsOn": [
					{
						"activity": "LKP_Fetch_Param",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "dbdev_onprem",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "delete from [dbo].[WFT_iTracker]"
						}
					]
				}
			},
			{
				"name": "DF_WFT_iTracker_Load",
				"description": null,
				"type": "ExecuteDataFlow",
				"state": null,
				"onInactiveMarkAs": null,
				"dependsOn": [
					{
						"activity": "PPL_Generic_db_replication",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_WFT_iTracker_Load_2",
						"type": "DataFlowReference",
						"datasetParameters": {
							"WFTiTracker": {
								"container": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_Container_Name",
									"type": "Expression"
								},
								"path": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_path_Name",
									"type": "Expression"
								},
								"filename": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_filename",
									"type": "Expression"
								}
							},
							"OLEDBDestination": {
								"path": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name",
									"type": "Expression"
								},
								"Container": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name",
									"type": "Expression"
								},
								"filename": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "DF_Counts_Normalization",
				"description": null,
				"type": "ExecuteDataFlow",
				"state": null,
				"onInactiveMarkAs": null,
				"dependsOn": [
					{
						"activity": "PPL_Generic_db_replication1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Counts_Normalization_2",
						"type": "DataFlowReference",
						"datasetParameters": {
							"iTracker": {
								"container": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_Container_Name_2",
									"type": "Expression"
								},
								"path": {
									"value": "\n\n@activity('LKP_Fetch_Param').output.firstRow.Src_path_Name_2",
									"type": "Expression"
								},
								"filename": {
									"value": "\n\n\n@activity('LKP_Fetch_Param').output.firstRow.Src_filename_Name_2",
									"type": "Expression"
								}
							},
							"OLEDBDestination": {
								"path": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name_2",
									"type": "Expression"
								},
								"Container": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name_2",
									"type": "Expression"
								},
								"filename": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename_Name_2",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "LKP_Fetch_Param",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dataflow_Name' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_WFT_iTracker_Load_2') AS Dataflow_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pipeline_Name' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_WFT_iTracker_Load_2') AS Pipeline_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_Container_Name' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_WFT_iTracker_Load_2') AS Src_Container_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_filename_Name' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_WFT_iTracker_Load_2') AS Src_filename,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_path_Name' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_WFT_iTracker_Load_2') AS Src_path_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_Container_Name' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_WFT_iTracker_Load_2') AS Tgt_Container_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_filename_Name' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_WFT_iTracker_Load_2') AS Tgt_filename,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_path_Name' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_WFT_iTracker_Load_2') AS Tgt_path_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Table_Name' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_WFT_iTracker_Load_2') AS Tgt_Table_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Schema_Name' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_WFT_iTracker_Load_2') AS Tgt_Schema_Name,\nSELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dataflow_Name' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_Counts_Normalization_2') AS Dataflow_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pipeline_Name' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_Counts_Normalization_2') AS Pipeline_Name,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_Container_Name_2' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_Counts_Normalization_2') AS Src_Container_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_filename_Name_2' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_Counts_Normalization_2') AS Src_filename_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_path_Name_2' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_Counts_Normalization_2') AS Src_path_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_Container_Name_2' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_Counts_Normalization_2') AS Tgt_Container_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_filename_Name_2' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_Counts_Normalization_2') AS Tgt_filename_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_path_Name_2' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_Counts_Normalization_2') AS Tgt_path_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Table_Name_2' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_Counts_Normalization_2') AS Tgt_Table_Name_2,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Schema_Name_2' AND PIPELINE_NAME = 'PPL_WFT_iTrackerLoad_2' AND DATAFLOW_NAME = 'DF_Counts_Normalization_2') AS Tgt_Schema_Name_2;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "PPL_Generic_db_replication",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ST_Execute_SQL_Task",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Generic_db_replication_ppl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Dataflow_Name": {
							"value": "@activity('LKP_Fetch_Param').output.firstRow.Dataflow_Name",
							"type": "Expression"
						},
						"Pipeline_Name": {
							"value": "@activity('LKP_Fetch_Param').output.firstRow.Pipeline_Name",
							"type": "Expression"
						},
						"SysDatetime": {
							"value": "@formatDateTime(pipeline().TriggerTime,'yyyyMMddHHmmss')",
							"type": "Expression"
						},
						"FilePath_Date": {
							"value": "formatDateTime(pipeline().TriggerTime,'yyyyMMdd')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CPD_Blob_To_Onprem",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DF_WFT_iTracker_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Generic_tgt_parquet",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_File_path",
								"type": "Expression"
							},
							"Container": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name",
								"type": "Expression"
							},
							"filename": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Generic_OLEDB_DS_TGT",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Table_Name",
								"type": "Expression"
							},
							"Schema": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Schema_Name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "PPL_Generic_db_replication1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CPD_Blob_To_Onprem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Generic_db_replication_ppl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Pipeline_Name": {
							"value": "@activity('LKP_Fetch_Param').output.firstRow.Pipeline_Name",
							"type": "Expression"
						},
						"SysDatetime": {
							"value": "@formatDateTime(pipeline().TriggerTime,'yyyyMMddHHmmss')",
							"type": "Expression"
						},
						"FilePath_Date": {
							"value": "formatDateTime(pipeline().TriggerTime,'yyyyMMdd')",
							"type": "Expression"
						},
						"Dataflow_Name": {
							"value": "@activity('LKP_Fetch_Param').output.firstRow.Dataflow_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CPD_Blob_To_Onprem_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DF_Counts_Normalization",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Generic_tgt_parquet",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "\n@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name_2",
								"type": "Expression"
							},
							"Container": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name_2",
								"type": "Expression"
							},
							"filename": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename_Name_2",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Generic_OLEDB_DS_TGT",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "\n@activity('LKP_Fetch_Param').output.firstRow.Table_Name_2",
								"type": "Expression"
							},
							"Schema": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Schema_Name_2",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"folder": {
			"name": "Wellfargo1/Vulnerability_ETL_v2022"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines",
	"apiVersion": "2018-06-01"
}