pipeline/PPL_LCM_ScopeAnalysis_1.json
{"name":"PPL_LCM_ScopeAnalysis_1","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ArchiveUpdates","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"ArchiveUpdates","value":{"value":"@concat(concat('\\\\\\\\wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\Updates_',variables('TimeStamp')),'.csv')","type":"Expression"}}},{"name":"sArchiveUpdates","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"ArchiveUpdates","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"sArchiveUpdates","value":{"value":"@concat(concat('\\\\\\\\wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\NewLCM_',variables('TimeStamp')),'.csv')","type":"Expression"}}},{"name":"GETMETADATA_183_Collect_Updates","type":"GetMetadata","policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"sArchiveUpdates","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"fieldList":["childItems"],"dataset":{"referenceName":"Generic_OLEDB_DS_SRC","type":"DatasetReference","paramters":null},"storeSettings":{"type":"AzureBlobStorageReadSettings","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"FILTER_183_Collect_Updates","type":"Filter","policy":null,"dependsOn":[{"activity":"GETMETADATA_183_Collect_Updates","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"items":{"value":"@activity('GETMETADATA_183_Collect_Updates').output.childItems","type":"Expression"},"condition":{"value":"@equals(1, 1)","type":"Expression"}}},{"name":"FOREACH_183_Collect_Updates","type":"ForEach","policy":null,"dependsOn":[{"activity":"FILTER_183_Collect_Updates","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"items":{"value":"@activity('FILTER_183_Collect_Updates').output.value","type":"Expression"},"activities":[{"name":"183_Collect_Updates_184_DELETE_FROM_DIFF_SCRIPT","type":"Script","policy":null,"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"delete from \n\n\n[dbo].[tbl_LCM_TCOO_Diff_Intraday] \n\n"}],"scriptBlockExecutionTimeout":null}},{"name":"185_Extract_Prev_Week","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"183_Collect_Updates_184_DELETE_FROM_DIFF_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"185_Extract_Prev_Week","type":"DataFlowReference","parameters":{"Owner":{"type":"Expression","value":"''"},"sFileLCMNew":{"type":"Expression","value":"''"},"NewWeekLCM":{"type":"Expression","value":"0"},"FileName":{"type":"Expression","value":"''"},"ArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\Updates_.csv'"},"sArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\NewLCM_.csv'"},"TimeStamp":{"type":"Expression","value":"''"},"PrevWeekRC":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"183_Collect_Updates_188_move_to_archive_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"185_Extract_Prev_Week","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"INSERT INTO [PLHS].[dbo].[tbl_LCM_TCOO_Diff_Intraday_Archive]\n\n\n( \n      [PLHIS Contact]\n      ,[PLHIS Updated Date]\n      ,[Notes]\n      ,[Ramservername]\n      ,[Lcmstatus]\n      ,[TCOOStatus]\n      ,[TCOOMigrationStatus]\n      ,[Ciodirectname]\n      ,[Primarytechmgr]\n      ,[Managedbygroup]\n      ,[Primary Applicatioin]\n      ,[Environment]\n      ,[Cio]\n      ,[Ciodirect]\n      ,[Cistatus]\n      ,[Rtstatus]\n      ,[Rtplannedactivity]\n      ,[Fundingdate]\n      ,[Rtdecomdate]\n      ,[Rtplancertifieddate]\n      ,[Hweoldate]\n      ,[Applicationids]\n      ,[Normalizedos]\n      ,[Eol Hw Thru 2023]\n      ,[Hds Thru 2022]\n      ,[Cioname]\n      ,[Vm On Hds2022 Esx Depthru 2023]\n      ,[Productname]\n      ,[Hds Thru 2023]\n      ,[Hds Thru 2024]\n      ,[sourceCIOdirName]\n      ,[TCOO Extension Aggregated]\n      ,[NewSourceLCM_AsOf]\n      ,[ChangeNumber]\n      ,[Decom_Date]\n      ,[Extension_Date]\n      ,[ISPNumber]\n      ,[Import_date]\n)\n\nSELECT [PLHIS Contact]\n      ,[PLHIS Updated Date]\n      ,[Notes]\n      ,[Ramservername]\n      ,[Lcmstatus]\n      ,[TCOOStatus]\n      ,[TCOOMigrationStatus]\n      ,[Ciodirectname]\n      ,[Primarytechmgr]\n      ,[Managedbygroup]\n      ,[Primary Applicatioin]\n      ,[Environment]\n      ,[Cio]\n      ,[Ciodirect]\n      ,[Cistatus]\n      ,[Rtstatus]\n      ,[Rtplannedactivity]\n      ,[Fundingdate]\n      ,[Rtdecomdate]\n      ,[Rtplancertifieddate]\n      ,[Hweoldate]\n      ,[Applicationids]\n      ,[Normalizedos]\n      ,[Eol Hw Thru 2023]\n      ,[Hds Thru 2022]\n      ,[Cioname]\n      ,[Vm On Hds2022 Esx Depthru 2023]\n      ,[Productname]\n      ,[Hds Thru 2023]\n      ,[Hds Thru 2024]\n      ,[sourceCIOdirName]\n      ,[TCOO Extension Aggregated]\n      ,[NewSourceLCM_AsOf]\n      ,[ChangeNumber]\n      ,[Decom_Date]\n      ,[Extension_Date]\n      ,[ISPNumber]\n      ,[Import_date]\n  FROM [PLHS].[dbo].[tbl_LCM_TCOO_Diff_Intraday]"}],"scriptBlockExecutionTimeout":null}},{"name":"183_Collect_Updates_187_get_timestamp_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"183_Collect_Updates_188_move_to_archive_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" select replace(cast(cast(getdate() as time) as nvarchar(8)),':','_')"}],"scriptBlockExecutionTimeout":null}},{"name":"0_183_Collect_Updates_187_get_timestamp_VA","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"183_Collect_Updates_187_get_timestamp_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"TimeStamp","value":"@activity('183_Collect_Updates_187_get_timestamp_SCRIPT').output.resultSets[0].rows[0].TimeStamp"}},{"name":"_COPYDATA183_Collect_Updates_186_File_System_Task","type":"Copy","policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"0_183_Collect_Updates_187_get_timestamp_VA","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"source":{"type":"DelimitedTextSource"},"sink":{"type":"DelimitedTextSink"}},"inputs":[{"referenceName":"Generic_File_SRC","type":"DatasetReference","paramters":{"fileName":null,"directory":null,"container":null,"columnDelimiter":null}}],"outputs":[{"referenceName":"Generic_File_SRC","type":"DatasetReference","paramters":{"fileName":null,"directory":null,"container":null,"columnDelimiter":null}}]},{"name":"183_Collect_Updates_186_File_System_Task_DELETE","type":"Delete","policy":null,"dependsOn":[{"activity":"_COPYDATA183_Collect_Updates_186_File_System_Task","dependencyConditions":["Succeeded"]}],"userProperties":[],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataset":{"referenceName":"Generic_OLEDB_DS_SRC","type":"DatasetReference"},"enableLogging":false,"storeSettings":null}}]}},{"name":"189_Update_from_Updates_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"FOREACH_183_Collect_Updates","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" update tbl_LCM_PrevWeek_ScopeTracker  \nset \nNotes = b.Notes\n,TCOOMigrationStatus = B.TCOOMigrationStatus\n,TCOOStatus = B.TCOOStatus\n,Lcmstatus = B.Lcmstatus\n,Ciodirectname = B.Ciodirectname\n,Primarytechmgr = B.Primarytechmgr\n,[PLHIS Contact] = b.[PLHIS Contact]\n,[Cistatus] = b.[Cistatus]\n,Import_date = B.Import_date\n,[TCOO Extension Aggregated] = b.[TCOO Extension Aggregated]\n ,[ISPNumber] = b.[ISPNumber]\n,[ChangeNumber] = b.[ChangeNumber] \n ,[Decom_Date] = b.[Decom_Date]\n ,[Extension_Date] = b.[Extension_Date] \n\n\n\nFROM tbl_LCM_PrevWeek_ScopeTracker A INNER JOIN  [tbl_LCM_TCOO_Diff_Intraday] B ON A.Ramservername = B.Ramservername\n\n"}],"scriptBlockExecutionTimeout":null}},{"name":"GETMETADATA_177_Collect_New_LCM_File","type":"GetMetadata","policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"189_Update_from_Updates_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"fieldList":["childItems"],"dataset":{"referenceName":"Generic_OLEDB_DS_SRC","type":"DatasetReference","paramters":null},"storeSettings":{"type":"AzureBlobStorageReadSettings","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"FILTER_177_Collect_New_LCM_File","type":"Filter","policy":null,"dependsOn":[{"activity":"GETMETADATA_177_Collect_New_LCM_File","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"items":{"value":"@activity('GETMETADATA_177_Collect_New_LCM_File').output.childItems","type":"Expression"},"condition":{"value":"@equals(1, 1)","type":"Expression"}}},{"name":"FOREACH_177_Collect_New_LCM_File","type":"ForEach","policy":null,"dependsOn":[{"activity":"FILTER_177_Collect_New_LCM_File","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"items":{"value":"@activity('FILTER_177_Collect_New_LCM_File').output.value","type":"Expression"},"activities":[{"name":"177_Collect_New_LCM_File_182_MultiLoad_Delete_SCRI","type":"Script","policy":null,"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"\ndelete from [dbo].[tbl_LCM_NewWeek_Tracking]\n\nwhere import_Date  = cast(getdate() as date) \n"}],"scriptBlockExecutionTimeout":null}},{"name":"178_Extract_Prev_Week","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"177_Collect_New_LCM_File_182_MultiLoad_Delete_SCRI","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"178_Extract_Prev_Week","type":"DataFlowReference","parameters":{"Owner":{"type":"Expression","value":"''"},"sFileLCMNew":{"type":"Expression","value":"''"},"NewWeekLCM":{"type":"Expression","value":"0"},"FileName":{"type":"Expression","value":"''"},"ArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\Updates_.csv'"},"sArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\NewLCM_.csv'"},"TimeStamp":{"type":"Expression","value":"''"},"PrevWeekRC":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"181_LoadCheck","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"178_Extract_Prev_Week","dependencyConditions":["Succeeded"]}],"state":"Inactive","description":null,"onInactiveMarkAs":"Succeeded","typeProperties":{"dataflow":{"referenceName":"181_LoadCheck","type":"DataFlowReference","parameters":{"Owner":{"type":"Expression","value":"''"},"sFileLCMNew":{"type":"Expression","value":"''"},"NewWeekLCM":{"type":"Expression","value":"0"},"FileName":{"type":"Expression","value":"''"},"ArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\Updates_.csv'"},"sArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\NewLCM_.csv'"},"TimeStamp":{"type":"Expression","value":"''"},"PrevWeekRC":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"0_178_Extract_Prev_Week","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"178_Extract_Prev_Week","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"NewWeekLCM","value":"@split(string(activity('178_Extract_Prev_Week').output.result.exitValue), ',')[0]"}},{"name":"177_Collect_New_LCM_File_180_get_timestamp_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"181_LoadCheck","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" select replace(cast(cast(getdate() as time) as nvarchar(8)),':','_')"}],"scriptBlockExecutionTimeout":null}},{"name":"0_177_Collect_New_LCM_File_180_get_timestamp_VA","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"177_Collect_New_LCM_File_180_get_timestamp_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"TimeStamp","value":"@activity('177_Collect_New_LCM_File_180_get_timestamp_SCRIPT').output.resultSets[0].rows[0].TimeStamp"}},{"name":"_COPYDATA177_Collect_New_LCM_File_179_File_System_","type":"Copy","policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"0_177_Collect_New_LCM_File_180_get_timestamp_VA","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"source":{"type":"DelimitedTextSource"},"sink":{"type":"DelimitedTextSink"}},"inputs":[{"referenceName":"Generic_File_SRC","type":"DatasetReference","paramters":{"fileName":null,"directory":null,"container":null,"columnDelimiter":null}}],"outputs":[{"referenceName":"Generic_File_SRC","type":"DatasetReference","paramters":{"fileName":null,"directory":null,"container":null,"columnDelimiter":null}}]},{"name":"177_Collect_New_LCM_File_179_File_System_Task_DELE","type":"Delete","policy":null,"dependsOn":[{"activity":"_COPYDATA177_Collect_New_LCM_File_179_File_System_","dependencyConditions":["Succeeded"]}],"userProperties":[],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataset":{"referenceName":"Generic_OLEDB_DS_SRC","type":"DatasetReference"},"enableLogging":false,"storeSettings":null}}]}}],"folder":{"name":"wellsFargo"},"parameters":{},"variables":{"Owner":{"type":"string","defaultValue":"''"},"sFileLCMNew":{"type":"string","defaultValue":"''"},"NewWeekLCM":{"type":"int","defaultValue":"0"},"FileName":{"type":"string","defaultValue":"''"},"ArchiveUpdates":{"type":"string","defaultValue":"''"},"sArchiveUpdates":{"type":"string","defaultValue":"''"},"TimeStamp":{"type":"string","defaultValue":"''"},"PrevWeekRC":{"type":"int","defaultValue":"0"}}}}