pipeline/PPL_iTracker_TCOO_Daily4D_3.json
{"name":"PPL_iTracker_TCOO_Daily4D_3","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"281_Get_Time_Stamp_Execution_Path_SCRIPT","type":"Script","policy":null,"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"select \ncase \nwhen DATEPART(hour,getdate() ) between 8 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 18 then 2\nelse 0 end as ExecuteSeriesFlag\n"}],"scriptBlockExecutionTimeout":null}},{"name":"0_281_Get_Time_Stamp_Execution_Path_VA","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"281_Get_Time_Stamp_Execution_Path_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"ExecuteSeriesFlag","value":"@activity('281_Get_Time_Stamp_Execution_Path_SCRIPT').output.resultSets[0].rows[0].ExecuteSeriesFlag"}},{"name":"275_Data_Imported_from_iTracker_into_Database_277_","type":"Script","policy":null,"dependsOn":[{"activity":"0_281_Get_Time_Stamp_Execution_Path_VA","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"delete FROM [PLHS].[dbo].[iTracker_Active_SN_CIO]\n\n  where  cast(ImportDate as date) = cast(getdate() as date)"}],"scriptBlockExecutionTimeout":null}},{"name":"283_iTracker_Validated_Data","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"0_281_Get_Time_Stamp_Execution_Path_VA","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"283_iTracker_Validated_Data","type":"DataFlowReference","parameters":{"ExecuteSeriesFlag":{"type":"Expression","value":"0"},"sRAndSEmailAddress":{"type":"Expression","value":"'TCOONoReply@wellsfargo.com'"},"CountRowsToInsert":{"type":"Expression","value":"0"},"CountInsertedRecords":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"278_iTracker_Active_Data","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"275_Data_Imported_from_iTracker_into_Database_277_","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"278_iTracker_Active_Data","type":"DataFlowReference","parameters":{"ExecuteSeriesFlag":{"type":"Expression","value":"0"},"sRAndSEmailAddress":{"type":"Expression","value":"'TCOONoReply@wellsfargo.com'"},"CountRowsToInsert":{"type":"Expression","value":"0"},"CountInsertedRecords":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"276_Count_Inserted","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"278_iTracker_Active_Data","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"276_Count_Inserted","type":"DataFlowReference","parameters":{"ExecuteSeriesFlag":{"type":"Expression","value":"0"},"sRAndSEmailAddress":{"type":"Expression","value":"'TCOONoReply@wellsfargo.com'"},"CountRowsToInsert":{"type":"Expression","value":"0"},"CountInsertedRecords":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"0_278_iTracker_Active_Data","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"278_iTracker_Active_Data","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"CountRowsToInsert","value":"@split(string(activity('278_iTracker_Active_Data').output.result.exitValue), ',')[0]"}},{"name":"275_Data_Imported_from_iTracker_into_Database_279_","type":"Script","policy":null,"dependsOn":[{"activity":"276_Count_Inserted","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"\n  update \n  [PLHS].[dbo].[iTracker_Active_SN_CIO]\n  set Rating =   replace(replace(replace(Rating,'; High; High','High'),'; High','High'),'0','Low')\n  where cast(ImportDate as date) = cast(getdate() as date)\n\n;"}],"scriptBlockExecutionTimeout":null}},{"name":"0_276_Count_Inserted","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"276_Count_Inserted","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"CountInsertedRecords","value":"@split(string(activity('276_Count_Inserted').output.result.exitValue), ',')[0]"}},{"name":"280_Failure_Mail","type":"WebActivity","policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"0_281_Get_Time_Stamp_Execution_Path_VA","dependencyConditions":["Failed"]},{"activity":"275_Data_Imported_from_iTracker_into_Database_279_","dependencyConditions":["Completed"]},{"activity":"0_276_Count_Inserted","dependencyConditions":["Completed"]},{"activity":"0_278_iTracker_Active_Data","dependencyConditions":["Completed"]},{"activity":"283_iTracker_Validated_Data","dependencyConditions":["Failed"]}],"description":"Success Mail","typeProperties":{"method":"POST","headers":null,"linkedServices":null,"datasets":null,"disableCertValidation":true,"httpRequestTimeout":"00:01:00","turnOffAsync":false,"url":null,"body":"","authentication":null,"waitTimeInSeconds":null,"timeout":null,"reportStatusOnCallBack":null}}],"folder":{"name":"neelesh/wellsFargo"},"parameters":{},"variables":{"CountRowsToInsert":{"type":"int","defaultValue":"0"},"CountInsertedRecords":{"type":"int","defaultValue":"0"},"ExecuteSeriesFlag":{"type":"int","defaultValue":"0"},"sRAndSEmailAddress":{"type":"string","defaultValue":"''"}}}}