pipeline/PPL_CARDB_PrismaCloudVulns.json
{
	"name": "PPL_CARDB_PrismaCloudVulns",
	"properties": {
		"activities": [
			{
				"name": "ST_Execute_SQL_Task_SCRIPT",
				"description": null,
				"type": "Script",
				"onInactiveMarkAs": null,
				"dependsOn": [
					{
						"activity": "LKP_Fetch_Param",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "dbdev_onprem",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE dbo.tbl_Prisma_Enriched_TCOO_TDATA"
						}
					]
				}
			},
			{
				"name": "DF_Prisma_ETL",
				"description": null,
				"type": "ExecuteDataFlow",
				"onInactiveMarkAs": null,
				"dependsOn": [
					{
						"activity": "PPL_Generic_db_replication",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Prisma_ETL",
						"type": "DataFlowReference",
						"datasetParameters": {
							"vwPrismaEnrichedInfraDateFiltered": {
								"container": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_Container_Name",
									"type": "Expression"
								},
								"path": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_path_Name",
									"type": "Expression"
								},
								"filename": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_filename",
									"type": "Expression"
								}
							},
							"OLEDBDestination": {
								"path": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name",
									"type": "Expression"
								},
								"Container": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name",
									"type": "Expression"
								},
								"filename": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ST_Check_Source_Availability",
				"description": null,
				"type": "Script",
				"onInactiveMarkAs": null,
				"dependsOn": [
					{
						"activity": "CPD_Blob_To_Onprem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "dbdev_onprem",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT COUNT(*) as reccount\nFROM  CAR_VulnRepts.dbo.vwPrismaRegistry_VulnsEnriched_Infra_DateFiltered \"\"With\"\"(NoLock)\nWHERE        (cost_center_cio LIKE 'TECHCOO%' OR\n                         cost_center_cio LIKE 'TECHCDOT%') AND is_compliant = 'No'"
						}
					]
				}
			},
			{
				"name": "PPL_Generic_db_replication",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ST_Execute_SQL_Task_SCRIPT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Generic_db_replication_ppl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Pipeline_Name": {
							"value": "@activity('LKP_Fetch_Param').output.firstRow.Pipeline_Name",
							"type": "Expression"
						},
						"SysDatetime": {
							"value": "@formatDateTime(pipeline().TriggerTime,'yyyyMMddHHmmss')",
							"type": "Expression"
						},
						"FilePath_Date": {
							"value": "formatDateTime(pipeline().TriggerTime,'yyyyMMdd')",
							"type": "Expression"
						},
						"Dataflow_Name": {
							"value": "@activity('LKP_Fetch_Param').output.firstRow.Dataflow_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CPD_Blob_To_Onprem",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DF_Prisma_ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Generic_tgt_parquet",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_File_path",
								"type": "Expression"
							},
							"Container": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name",
								"type": "Expression"
							},
							"filename": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Generic_OLEDB_DS_TGT",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Table_Name",
								"type": "Expression"
							},
							"Schema": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Schema_Name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LKP_Fetch_Param",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pipeline_Name' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_Prisma_ETL') AS Pipeline_Name,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dataflow_Name' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_Prisma_ETL') AS Dataflow_Name,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dataflow_Name_validate' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_Prisma_ETL') AS Dataflow_Name_validate,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_Container_Name' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_Prisma_ETL') AS Src_Container_Name,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_filename_Name' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_Prisma_ETL') AS Src_filename,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_path_Name' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_Prisma_ETL') AS Src_path_Name,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_Container_Name' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_Prisma_ETL') AS Tgt_Container_Name,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_filename_Name' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_Prisma_ETL') AS Tgt_filename,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_path_Name' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_Prisma_ETL') AS Tgt_path_Name,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Table_Name' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_Prisma_ETL') AS Tgt_Table_Name,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Schema_Name' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_Prisma_ETL') AS Tgt_Schema_Name,\n\t\t    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dataflow_Name' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_ETL_PrismaRegistry') AS Dataflow_Name_3,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dataflow_Name_validate' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_ETL_PrismaRegistry') AS Dataflow_Name_validate_3,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_Container_Name_2' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_ETL_PrismaRegistry') AS Src_Container_Name_3,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_filename_Name_2' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_ETL_PrismaRegistry') AS Src_filename_3,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_path_Name_2' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_ETL_PrismaRegistry') AS Src_path_Name_3,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_Container_Name_2' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_ETL_PrismaRegistry') AS Tgt_Container_Name_3,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_filename_Name_2' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_ETL_PrismaRegistry') AS Tgt_filename_3,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_path_Name_2' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_ETL_PrismaRegistry') AS Tgt_path_Name_3,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Table_Name_2' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_ETL_PrismaRegistry') AS Tgt_Table_Name_3,\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Schema_Name_2' AND PIPELINE_NAME = 'PPL_CARDB_PrismaCloudVulns' AND DATAFLOW_NAME = 'DF_ETL_PrismaRegistry') AS Tgt_Schema_Name_3;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Sequence_Container_6_Check_Source_Availability",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ST_Check_Source_Availability",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RegistryCount",
					"value": {
						"value": "@activity('ST_Check_Source_Availability').output.resultSets[0].rows[0].RegistryCount",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If_RegistryCount_GT_Zero",
				"description": "Replicates SSIS precedence constraint expression '@[User::RegistryCount] > 0' between Check Source Availability and Truncate PrismaRegistry_Enriched. Only proceeds with truncate + ETL if rows exist.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Sequence_Container_6_Check_Source_Availability",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('ST_Check_Source_Availability').output.firstRow.reccount), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Skip_PrismaRegistry_No_Rows",
							"description": "No-op placeholder: source returned 0 rows, mirroring SSIS constraint blocking execution when RegistryCount = 0.",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "ST_Truncate_PrismaRegistry",
							"description": null,
							"type": "Script",
							"onInactiveMarkAs": null,
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "dbdev_onprem",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "TRUNCATE TABLE dbo.tbL_PrismaRegistry_Enriched"
									}
								]
							}
						},
						{
							"name": "DF_ETL_PrismaRegistry",
							"description": null,
							"type": "ExecuteDataFlow",
							"onInactiveMarkAs": null,
							"dependsOn": [
								{
									"activity": "PPL_Generic_db_replication_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_ETL_PrismaRegistry",
									"type": "DataFlowReference",
									"datasetParameters": {
										"vwPrismaRegistryEnrichedInfraDateFiltered": {
											"container": {
												"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_Container_Name",
												"type": "Expression"
											},
											"path": "@activity('LKP_Fetch_Param').output.firstRow.Src_path_Name_3",
											"filename": {
												"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_filename_3",
												"type": "Expression"
											}
										},
										"OLEDBDestination": {
											"path": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name_3",
											"Container": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name_3",
											"filename": {
												"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename_3",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "PPL_Generic_db_replication_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ST_Truncate_PrismaRegistry",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Generic_db_replication_ppl",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Pipeline_Name": {
										"value": "@activity('LKP_Fetch_Param').output.firstRow.Pipeline_Name",
										"type": "Expression"
									},
									"SysDatetime": {
										"value": "@formatDateTime(pipeline().TriggerTime,'yyyyMMddHHmmss')",
										"type": "Expression"
									},
									"FilePath_Date": {
										"value": "formatDateTime(pipeline().TriggerTime,'yyyyMMdd')",
										"type": "Expression"
									},
									"Dataflow_Name": {
										"value": "@activity('LKP_Fetch_Param').output.firstRow.Dataflow_Name",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "CPD_Blob_To_Onprem_copy2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DF_ETL_PrismaRegistry",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Generic_tgt_parquet",
									"type": "DatasetReference",
									"parameters": {
										"path": {
											"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_File_path",
											"type": "Expression"
										},
										"Container": {
											"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name",
											"type": "Expression"
										},
										"filename": {
											"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Generic_OLEDB_DS_TGT",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@activity('LKP_Fetch_Param').output.firstRow.Table_Name",
											"type": "Expression"
										},
										"Schema": {
											"value": "@activity('LKP_Fetch_Param').output.firstRow.Schema_Name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"RegistryCount": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Wellfargo1/COO_VulnPackages"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines",
	"apiVersion": "2018-06-01"
}