pipeline/PPL_DailyRefresh_ActiveVulnTbl_1.json
{
  "name" : "PPL_DailyRefresh_ActiveVulnTbl_1",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "Prod83_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : null,
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Prod83__Truncate_Daily_Vuln_Table87__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : " delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static_stage]"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Daily_Vuln_from_View86_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Prod83__Truncate_Daily_Vuln_Table87__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_SRC",
            "type" : "DatasetReference",
            "parameters" : {
              "schema" : "",
              "tableName" : ""
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "schema" : "",
              "tableName" : ""
            }
          } ]
        }, {
          "name" : "Load_Daily_Vuln_from_View86__OLE_DB_Destination",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_View86_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "StageViewCount",
            "value" : "@int(activity('Load_Daily_Vuln_from_View86_').output.runStatus.metrics.OLE_DB_Destination.rowsWritten)"
          }
        }, {
          "name" : "IFACTIVITY_Prod83__delete_data_from_Static_to_load",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_View86__OLE_DB_Destination",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@greater(variables('StageViewCount'),0)",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "Prod83__delete_data_from_Static_to_load_from_stage",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : " delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static]"
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage85_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "IFACTIVITY_Prod83__delete_data_from_Static_to_load",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource",
              "sqlReaderQuery" : "SELECT * FROM dbo.tbl_VulnActive_Daily_Static_stage"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_SRC",
            "type" : "DatasetReference",
            "parameters" : {
              "schema" : "",
              "tableName" : ""
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "schema" : "",
              "tableName" : ""
            }
          } ]
        } ]
      }
    }, {
      "name" : "PIT_Reporting80_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prod83_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : null,
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "PIT_Reporting80__MultiLoad_Clean_Up82__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "DELETE FROM  [PLHS].[dbo].[tbl_VulnActive_Daily_PIT_MetricsSource]\nWHERE PIT_Date = CAST(GETDATE() AS DATE) "
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage81_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "PIT_Reporting80__MultiLoad_Clean_Up82__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_SRC",
            "type" : "DatasetReference",
            "parameters" : {
              "schema" : "",
              "tableName" : ""
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "schema" : "",
              "tableName" : ""
            }
          } ]
        } ]
      }
    }, {
      "name" : "Get_Time_Stamp_Execution_Path76__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "PIT_Reporting80_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "select \ncase \nwhen DATEPART(hour,getdate() ) between 12 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 20 then 2\nelse 0 end as ExecuteSeriesFlag\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_Time_Stamp_Execution_Path76__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_Time_Stamp_Execution_Path76__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ExecutionFlag",
        "value" : "@activity('Get_Time_Stamp_Execution_Path76__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Load_Metrics_Dash77_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path76__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : null,
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Load_Metrics_Dash77__Clear_Current_Data78__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : " delete from    [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Metrics_Dash77__Load_tbl_Vuln_Metrics_Monthly",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Metrics_Dash77__Clear_Current_Data78__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "\nINSERT INTO \n   [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n\nSELECT  [CIO_Direct_Supplimented]\n      ,[Senior_Lead_Supplimented]\n      ,[TechnicalManager_App1]\n      ,[StatusFlag]\n      ,cast([FirstDetected] as date) as [FirstDetected]\n      ,cast([ValidatedDate] as date) as ValidatedDate\n      ,[TCOODueDate]\n      ,[CombID]\n      ,getdate()\n\n  FROM [PLHS].[dbo].[vw_Metrics_Detailed]\n "
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_0714/PLHS_Monthly_Metrics"
    },
    "parameters" : { },
    "variables" : {
      "ExecutionFlag" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "Variable" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "StageViewCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      }
    }
  }
}