pipeline/PPL_transform_check_patient_matching_status.json
{
  "name" : "PPL_transform_check_patient_matching_status",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "var_copy_recipients",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_copy_recipients",
        "value" : {
          "value" : "@variables('Var_copy_recipients')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_delay_minutes",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_delay_minutes",
        "value" : {
          "value" : "@variables('Var_check_patient_matching_delay_minutes')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_max_loops",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_max_loops",
        "value" : {
          "value" : "@variables('Var_check_patient_matching_max_loops')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_recipients",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_recipients",
        "value" : {
          "value" : "@variables('Var_recipients')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "loop_wait_for_patient_matching_to_finish1930__UNTI",
      "type" : "Wait",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "var_recipients",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_copy_recipients",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_delay_minutes",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_max_loops",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "waitTimeInSeconds" : 10
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "var_loop_cnt" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "var_status" : {
        "type" : "string"
      },
      "var_delay_minutes" : {
        "type" : "Integer",
        "defaultValue" : "20"
      },
      "var_copy_recipients" : {
        "type" : "string",
        "defaultValue" : "'smussavirizi@phsa.ca'"
      },
      "TempCounter" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "var_recipients" : {
        "type" : "string",
        "defaultValue" : "'pmr_dw_bi_admins@phsa.ca'"
      },
      "var_max_loops" : {
        "type" : "Integer",
        "defaultValue" : "25"
      }
    }
  }
}