pipeline/PPL_iTracker_TCOO_Daily4D_2.json
{
  "name" : "PPL_iTracker_TCOO_Daily4D_2",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "Get_Time_Stamp_Execution_Path216__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "select \ncase \nwhen DATEPART(hour,getdate() ) between 12 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 18 then 2\nelse 0 end as ExecuteSeriesFlag\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_Time_Stamp_Execution_Path216__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_Time_Stamp_Execution_Path216__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ExecuteSeriesFlag",
        "value" : "@activity('Get_Time_Stamp_Execution_Path216__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Data_Imported_from_iTracker_into_Database210_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path216__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : null,
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Data_Imported_from_iTracker_into_Database210__Dele",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "delete FROM [PLHS].[dbo].[iTracker_Active_SN_CIO]\n\n  where  cast(ImportDate as date) = cast(getdate() as date)"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "iTracker_Active_Data213_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Data_Imported_from_iTracker_into_Database210__Dele",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlsource",
              "sqlReaderQuery" : "SELECT * ,DATEADD(\"day\",0,GETDATE()) AS ImportDate FROM COOITRACKER2.DBO.VSORFEEDSPRIMARY WITH (NOLOCK) WHERE (CTONAME IN ('RALPH GROCE','RAJAMANICKAM IYER','ROBERT OKAI','NON-MAPPED','JONATHAN FEIN') OR SN_CIO IN ('TECHCOO - TECHNOLOGY CHIEF OPERATING OFFICE')) AND STATUS = 'ACTIVE' AND RESPONSIBLEPARTY = 'APP' UNION ALL SELECT * FROM [COOITRACKER2].[DBO].[VSORFEEDSPRIMARY] WITH (NOLOCK) WHERE STATUS = 'ACTIVE' AND RESPONSIBLEPARTY != 'APP'AND ( TECHMANAGERNAME IN ('BAOHUA QIAO','BART MYSZKOWSKI','BEDROS YESSAIAN','DAVID KRAUSSE','KAMALAKAR BUSAM','MIKHAIL TSIONSKIY','RAJESH VELAMALA','STAN SOBOL','PEDRO SANTOS', 'ROBERTO REYES','SWETHA MANDA') OR SN_CIO IN ('TECHCOO - TECHNOLOGY CHIEF OPERATING OFFICE')) ) SELECT DISTINCT * FROM CTE"
            },
            "sink" : {
              "type" : "AzureSqlSink",
              "writeBehavior" : "insert",
              "sqlWriterUseTableLock" : false
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_SRC",
            "type" : "DatasetReference",
            "parameters" : {
              "tableName" : "",
              "schema" : ""
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "tableName" : "",
              "schema" : ""
            }
          } ]
        }, {
          "name" : "iTracker_Active_Data213__iTracker_Active_SN_CIO",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "iTracker_Active_Data213_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "CountRowsToInsert",
            "value" : "@int(activity('iTracker_Active_Data213_').output.runStatus.metrics.iTracker_Active_SN_CIO.rowsWritten)"
          }
        }, {
          "name" : "Count_Inserted211__LOOKUP",
          "type" : "Lookup",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "iTracker_Active_Data213_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlSource",
              "sqlReaderStoredProcedureName" : null,
              "sqlReaderQuery" : "SELECT combid FROM [PLHS].[dbo].[iTracker_Active_SN_CIO]\nWHERE CAST(IMPORTDATE AS DATE) = CAST(GETDATE() AS DATE)",
              "storedProcedureParameters" : null,
              "queryTimeout" : "02:00:00",
              "partitionOption" : "None"
            },
            "dataset" : {
              "referenceName" : "Generic_OLEDB_DS_SRC",
              "type" : "DatasetReference",
              "parameters" : null
            }
          }
        }, {
          "name" : "Count_Inserted211__Todays_Inserted_Rowcount",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "iTracker_Active_Data213_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "CountInsertedRecords",
            "value" : "@int(activity('Count_Inserted211__LOOKUP').output.firstRow.cnt)"
          }
        }, {
          "name" : "Data_Imported_from_iTracker_into_Database210__Upda",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Count_Inserted211__Todays_Inserted_Rowcount",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "iTracker_Active_Data213__iTracker_Active_SN_CIO",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "Count_Inserted211__LOOKUP",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "\n  update \n  [PLHS].[dbo].[iTracker_Active_SN_CIO]\n  set Rating =   replace(replace(replace(Rating,'; High; High','High'),'; High','High'),'0','Low')\n  where cast(ImportDate as date) = cast(getdate() as date)\n\n;"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    }, {
      "name" : "Validated_record_Import220_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path216__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : null,
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "iTracker_Validated_Data221_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "iTracker_Validated_Data221_",
              "type" : "DataFlowReference",
              "parameters" : {
                "ExecuteSeriesFlag" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "sRAndSEmailAddress" : {
                  "type" : "Expression",
                  "value" : "'TCOONoReply@wellsfargo.com'"
                },
                "CountRowsToInsert" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "CountInsertedRecords" : {
                  "type" : "Expression",
                  "value" : "0"
                }
              },
              "datasetParameters" : {
                "iTrackerQuery" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "iTracker Query",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "Validated" : {
                  "TableName" : {
                    "value" : "iTracker_Validated_SN_CIO",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "dbo",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "LastValidatedLookupLKPTABLE" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Last Validated Lookup",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        } ]
      }
    }, {
      "name" : "IFACTIVITY_Failure_Mail215_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Data_Imported_from_iTracker_into_Database210_",
        "dependencyConditions" : [ "Completed" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@variables('CountInsertedRecords') != variables('CountRowsToInsert')",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Failure_Mail215_",
          "type" : "WebActivity",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "description" : "Success Mail",
          "typeProperties" : {
            "method" : "POST",
            "headers" : null,
            "linkedServices" : null,
            "datasets" : null,
            "disableCertValidation" : true,
            "httpRequestTimeout" : "00:01:00",
            "turnOffAsync" : false,
            "url" : null,
            "body" : "",
            "authentication" : null,
            "waitTimeInSeconds" : null,
            "timeout" : null,
            "reportStatusOnCallBack" : null
          }
        } ]
      }
    }, {
      "name" : "Failure_Mail215_",
      "type" : "WebActivity",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Validated_record_Import220_",
        "dependencyConditions" : [ "Failed" ]
      }, {
        "activity" : "0_Get_Time_Stamp_Execution_Path216__VA",
        "dependencyConditions" : [ "Failed" ]
      } ],
      "description" : "Success Mail",
      "typeProperties" : {
        "method" : "POST",
        "headers" : null,
        "linkedServices" : null,
        "datasets" : null,
        "disableCertValidation" : true,
        "httpRequestTimeout" : "00:01:00",
        "turnOffAsync" : false,
        "url" : null,
        "body" : "",
        "authentication" : null,
        "waitTimeInSeconds" : null,
        "timeout" : null,
        "reportStatusOnCallBack" : null
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_0713/Vulnerability_ETL"
    },
    "parameters" : { },
    "variables" : {
      "CountRowsToInsert" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "CountInsertedRecords" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "ExecuteSeriesFlag" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "sRAndSEmailAddress" : {
        "type" : "string",
        "defaultValue" : "'TCOONoReply@wellsfargo.com'"
      }
    }
  }
}