pipeline/PPL_FactData_Correction_OOO.json
{
  "name" : "PPL_FactData_Correction_OOO",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "Fact_Quey",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "Fact_Quey",
        "value" : {
          "value" : "@'+(DT_WSTR, 50) Dw_Run_Key +' && not(equals(variables('iostatus'),'Invalid Door'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "CTRL_START_PKG899__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Fact_Quey",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC Dbo.Return_Run_Control_Variables"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_CTRL_START_PKG899__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "CTRL_START_PKG899__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "Dw_Run_Key",
        "value" : "@activity('CTRL_START_PKG899__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "1_0_CTRL_START_PKG899__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "CTRL_START_PKG899__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "G_Run_Date",
        "value" : "@activity('CTRL_START_PKG899__SCRIPT').output.resultSets[0].rows[1][1]"
      }
    }, {
      "name" : "2_1_0_CTRL_START_PKG899__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "CTRL_START_PKG899__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "G_Run_Eff_DT",
        "value" : "@activity('CTRL_START_PKG899__SCRIPT').output.resultSets[0].rows[2][2]"
      }
    }, {
      "name" : "3_2_1_0_CTRL_START_PKG899__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "CTRL_START_PKG899__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "G_Run_End_DT",
        "value" : "@activity('CTRL_START_PKG899__SCRIPT').output.resultSets[0].rows[3][3]"
      }
    }, {
      "name" : "CTRL_PRE_DELETE898__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "3_2_1_0_CTRL_START_PKG899__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "0_CTRL_START_PKG899__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "1_0_CTRL_START_PKG899__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "2_1_0_CTRL_START_PKG899__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DELETE FROM Fact where Dw_Run_Key = @0 and SRC=@1"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "DFT_FACTDATA_CRRECTION900_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "CTRL_PRE_DELETE898__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "DFT_FACTDATA_CRRECTION900_",
          "type" : "DataFlowReference",
          "parameters" : {
            "PackageName" : {
              "type" : "Expression",
              "value" : "''"
            },
            "Fact_Quey" : {
              "type" : "Expression",
              "value" : "'WITH mylead (dw_fact_key, dw_holder_key, dw_gate_key, iodatetime, iotime, iodate,      iostatus, dw_run_key, dw_create_dt, dw_agg_key, validentryflag,      lastupdate_dt, rowvers)      AS (SELECT dw_fact_key,                 dw_holder_key,                 dw_gate_key,                 ( CONVERT(VARCHAR(10), iodate, 120) + ' ' +                   CONVERT(VARCHAR, iotime, 108) ) AS                 iodatetime,                 iotime,                 iodate,                 iostatus,                 dw_run_key,                 dw_create_dt,                 dw_agg_key,                 validentryflag,                 lastupdate_dt,                 Row_number() OVER(PARTITION BY dw_holder_key,DW_AGG_KEY ORDER BY (CONVERT(VARCHAR(10),                 iodate, 120) + ' ' + CONVERT(VARCHAR, iotime, 108)) ASC) rowvers          FROM   [Metadata_BI].[dbo].[FACT]          WHERE  dw_run_key = 100                  AND iostatus <> 'Invalid Door') SELECT rowvers,        employeename,        reason,        b.iodate                            AS o_iodate,        b.iotime                            AS o_iotime,        iodatetime,        end_iodatetime,        b.iostatus,       a.iostatus as basestatus,       a.leadstatus as leadstatus,        dw_fact_key,        a.dw_holder_key,        dw_gate_key,        a.dw_run_key,        a.dw_create_dt,        a.dw_agg_key,        validentryflag,        a.lastupdate_dt,                COUNT(1) OVER(PARTITION BY rowvers) cnt FROM   (SELECT base.dw_fact_key,                           base.dw_holder_key,                           base.dw_gate_key,                           base.iodatetime,                           base.iotime,                           base.iodate,                           base.iostatus,                           lead.iostatus as leadstatus,                           base.dw_run_key,                           base.dw_create_dt,                           base.dw_agg_key,                           base.validentryflag,                           base.lastupdate_dt,                           Coalesce(lead.iodatetime, NULL) AS end_iodatetime,                           base.rowvers                    FROM   mylead base                           LEFT JOIN mylead lead                             ON BASE.DW_RUN_KEY = 100                                                 AND base.dw_holder_key = lead.dw_holder_key                                AND base.dw_agg_key = lead.dw_agg_key                                AND base.rowvers = lead.rowvers - 1                                and BASE.ioSTATUS = LEAD.IOSTATUS                          )a          INNER JOIN dim_holder DH             ON a.dw_holder_key = DH.DW_HOLDER_KEY                    INNER JOIN oooioentry b             on dh.holder_name = b.employeename                 and (CONVERT (datetime, ( CONVERT(VARCHAR(10), b.iodate, 120) + ' ' + CONVERT(VARCHAR, b.iotime, 108)))+1 >= a.iodatetime)                  AND (CONVERT (datetime,( CONVERT(VARCHAR(10), b.iodate, 120) + ' ' + CONVERT(VARCHAR, b.iotime, 108) ))+1< a.end_iodatetime)                     inner JOIN agg_fact af          ON af.dw_agg_key = a.dw_agg_key             AND isvalidentry = 1'"
            },
            "FlatFileConnStr" : {
              "type" : "Expression",
              "value" : "'C:\\\\SwipeCard-BI\\\\Error.txt'"
            },
            "MailIDFrom" : {
              "type" : "Expression",
              "value" : "'Bhairavnath.Kale@bitwiseglobal.com'"
            },
            "MailServer" : {
              "type" : "Expression",
              "value" : "'192.168.65.225'"
            },
            "TestFilePath" : {
              "type" : "Expression",
              "value" : "'C:\\\\SwipeCard-BI\\\\MDB Data\\\\'"
            },
            "G_Run_Date" : {
              "type" : "Expression",
              "value" : "0"
            },
            "G_Run_Eff_DT" : {
              "type" : "Expression",
              "value" : "toTimestamp('11/16/2010 7:07:34 PM')"
            },
            "MailIDTo" : {
              "type" : "Expression",
              "value" : "'BWBI@bitwiseglobal.com'"
            },
            "G_Run_End_DT" : {
              "type" : "Expression",
              "value" : "toTimestamp('11/16/2010 7:07:00 PM')"
            },
            "MDBConn" : {
              "type" : "Expression",
              "value" : "'Data Source=C:\\\\SwipeCard-BI\\\\MDB Data\\\\Card.mdb;Provider=Microsoft.Jet.OLEDB.4.0;Persist Security Info=False;'"
            },
            "ConnectString" : {
              "type" : "Expression",
              "value" : "'Provider=SQLNCLI11.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AccessCard-BI;Data Source=glprdsql12'"
            },
            "Dw_Run_Key" : {
              "type" : "Expression",
              "value" : "100"
            }
          },
          "datasetParameters" : {
            "OLEDSTFACT11" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLESRCFACTOOIOENTRY" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "OLE_SRC_FACTOOIOENTRY",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "MailServer" : {
        "type" : "string",
        "defaultValue" : "'192.168.65.225'"
      },
      "G_Run_Date" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "G_Run_Eff_DT" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('11/16/2010 7:07:34 PM')"
      },
      "MailIDTo" : {
        "type" : "string",
        "defaultValue" : "'BWBI@bitwiseglobal.com'"
      },
      "G_Run_End_DT" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('11/16/2010 7:07:00 PM')"
      },
      "Dw_Run_Key" : {
        "type" : "Integer",
        "defaultValue" : "100"
      },
      "Fact_Quey" : {
        "type" : "string",
        "defaultValue" : "'WITH mylead (dw_fact_key, dw_holder_key, dw_gate_key, iodatetime, iotime, iodate,\\n     iostatus, dw_run_key, dw_create_dt, dw_agg_key, validentryflag,\\n     lastupdate_dt, rowvers)\\n     AS (SELECT dw_fact_key,\\n                dw_holder_key,\\n                dw_gate_key,\\n                ( CONVERT(VARCHAR(10), iodate, 120) + ' ' +\\n                  CONVERT(VARCHAR, iotime, 108) ) AS\\n                iodatetime,\\n                iotime,\\n                iodate,\\n                iostatus,\\n                dw_run_key,\\n                dw_create_dt,\\n                dw_agg_key,\\n                validentryflag,\\n                lastupdate_dt,\\n                Row_number() OVER(PARTITION BY dw_holder_key,DW_AGG_KEY ORDER BY (CONVERT(VARCHAR(10),\\n                iodate, 120) + ' ' + CONVERT(VARCHAR, iotime, 108)) ASC) rowvers\\n         FROM   [Metadata_BI].[dbo].[FACT]\\n         WHERE  dw_run_key = 100 \\n                AND iostatus <> 'Invalid Door')\\nSELECT rowvers,\\n       employeename,\\n       reason,\\n       b.iodate                            AS o_iodate,\\n       b.iotime                            AS o_iotime,\\n       iodatetime,\\n       end_iodatetime,\\n       b.iostatus,\\n      a.iostatus as basestatus,\\n      a.leadstatus as leadstatus,\\n       dw_fact_key,\\n       a.dw_holder_key,\\n       dw_gate_key,\\n       a.dw_run_key,\\n       a.dw_create_dt,\\n       a.dw_agg_key,\\n       validentryflag,\\n       a.lastupdate_dt,\\n       \\n       COUNT(1) OVER(PARTITION BY rowvers) cnt\\nFROM   (SELECT base.dw_fact_key,\\n                          base.dw_holder_key,\\n                          base.dw_gate_key,\\n                          base.iodatetime,\\n                          base.iotime,\\n                          base.iodate,\\n                          base.iostatus,\\n                          lead.iostatus as leadstatus,\\n                          base.dw_run_key,\\n                          base.dw_create_dt,\\n                          base.dw_agg_key,\\n                          base.validentryflag,\\n                          base.lastupdate_dt,\\n                          Coalesce(lead.iodatetime, NULL) AS end_iodatetime,\\n                          base.rowvers\\n                   FROM   mylead base\\n                          LEFT JOIN mylead lead\\n                            ON BASE.DW_RUN_KEY = 100\\n                                                AND base.dw_holder_key = lead.dw_holder_key\\n                               AND base.dw_agg_key = lead.dw_agg_key\\n                               AND base.rowvers = lead.rowvers - 1\\n                               and BASE.ioSTATUS = LEAD.IOSTATUS\\n                         )a\\n        \\nINNER JOIN dim_holder DH\\n            ON a.dw_holder_key = DH.DW_HOLDER_KEY\\n            \\n      INNER JOIN oooioentry b\\n            on dh.holder_name = b.employeename\\n                and (CONVERT (datetime, ( CONVERT(VARCHAR(10), b.iodate, 120) + ' ' + CONVERT(VARCHAR, b.iotime, 108)))+1 >= a.iodatetime) \\n                AND (CONVERT (datetime,( CONVERT(VARCHAR(10), b.iodate, 120) + ' ' + CONVERT(VARCHAR, b.iotime, 108) ))+1< a.end_iodatetime)\\n            \\n       inner JOIN agg_fact af\\n         ON af.dw_agg_key = a.dw_agg_key\\n            AND isvalidentry = 1'"
      }
    }
  }
}