pipeline/PPL_SII_Vuln_Email_Alerts_3.json
{"name":"PPL_SII_Vuln_Email_Alerts_3","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"324_Execute_SQL_Task_1_SCRIPT","type":"Script","policy":null,"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"select\ncase when count(*)   > 0 then 0 else 1 end as flag\nfrom tbl_SII_Vuln_History_Alerts\nwhere cast(Import_Date as date) = cast(getdate() as date)"}],"scriptBlockExecutionTimeout":null}},{"name":"0_324_Execute_SQL_Task_1_VA","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"324_Execute_SQL_Task_1_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"TodaysData","value":"@activity('324_Execute_SQL_Task_1_SCRIPT').output.resultSets[0].rows[0].TodaysData"}},{"name":"325_Insert_Email_Records_326_Insert_Records_into_E","type":"Script","policy":null,"dependsOn":[{"activity":"0_324_Execute_SQL_Task_1_VA","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"  insert into [PLHS].[dbo].[tbl_ssis_utility]\n  (\t'michael.dematos@wellsfargo.com'\t[To]\n      ,[Subject]\n      ,[body]\n      ,[ReceiveDate]\n      ,[SendDate]\n      ,[BodyFormat]\n      ,null [CC]\n\t  )\n  \n  select \n  [To_],\n  [subject_],\n  [body],\n getdate() [RECEIVEDATE],\n  null,\n  2,\n  [CC]\n     \n  from \n  [PLHS].[dbo].[vw_SII_EmailAlerts_Daily_v2]\n\nwhere   [To_]  IS NOT NULL \nGO\n\n"}],"scriptBlockExecutionTimeout":null}},{"name":"323_Collect_Daily_SII_Metric","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"325_Insert_Email_Records_326_Insert_Records_into_E","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"323_Collect_Daily_SII_Metric","type":"DataFlowReference","parameters":{"TodaysData":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"327_Only_Send_once_a_week_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"323_Collect_Daily_SII_Metric","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"\ndeclare @upddatedate date = (select \n\ncase \nwhen isHoliday = 0\nand DATENAME(weekday,getdate()) <> 'Monday' then CurrentDate\nelse null end as updatedate\n\nfrom Calendar\nwhere currentdate =cast( getdate() as date)\n)\n\n;\nupdate tbl_ssis_utility \nset SendDate = @upddatedate \nwhere SendDate is null \n\n\n\n"}],"scriptBlockExecutionTimeout":null}}],"folder":{"name":"neelesh/wellsFargo"},"parameters":{},"variables":{"TodaysData":{"type":"int","defaultValue":"0"}}}}