pipeline/PPL_DailyRefresh_ActiveVulnTbl_Archive.json
{"name":"PPL_DailyRefresh_ActiveVulnTbl_Archive","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"168_Prod_172_Truncate_Daily_Vuln_Table_SCRIPT","type":"Script","policy":null,"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static_stage]"}],"scriptBlockExecutionTimeout":null}},{"name":"171_Load_Daily_Vuln_from_View","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"168_Prod_172_Truncate_Daily_Vuln_Table_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"171_Load_Daily_Vuln_from_View","type":"DataFlowReference","parameters":{"Variable":{"type":"Expression","value":"0"},"ExecutionFlag":{"type":"Expression","value":"0"},"StageViewCount":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"0_171_Load_Daily_Vuln_from_View","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"171_Load_Daily_Vuln_from_View","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"StageViewCount","value":"@split(string(activity('171_Load_Daily_Vuln_from_View').output.result.exitValue), ',')[0]"}},{"name":"168_Prod_169_delete_data_from_Static_to_load_from_","type":"Script","policy":null,"dependsOn":[{"activity":"171_Load_Daily_Vuln_from_View","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static]"}],"scriptBlockExecutionTimeout":null}},{"name":"170_Load_Daily_Vuln_from_Stage","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"168_Prod_169_delete_data_from_Static_to_load_from_","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"170_Load_Daily_Vuln_from_Stage","type":"DataFlowReference","parameters":{"Variable":{"type":"Expression","value":"0"},"ExecutionFlag":{"type":"Expression","value":"0"},"StageViewCount":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"165_PIT_Reporting_167_MultiLoad_Clean_Up_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"170_Load_Daily_Vuln_from_Stage","dependencyConditions":["Succeeded"]},{"activity":"0_171_Load_Daily_Vuln_from_View","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"DELETE FROM  [PLHS].[dbo].[tbl_VulnActive_Daily_PIT_MetricsSource]\nWHERE PIT_Date = CAST(GETDATE() AS DATE) "}],"scriptBlockExecutionTimeout":null}},{"name":"166_Load_Daily_Vuln_from_Stage","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"165_PIT_Reporting_167_MultiLoad_Clean_Up_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"166_Load_Daily_Vuln_from_Stage","type":"DataFlowReference","parameters":{"Variable":{"type":"Expression","value":"0"},"ExecutionFlag":{"type":"Expression","value":"0"},"StageViewCount":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"161_Get_Time_Stamp_Execution_Path_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"166_Load_Daily_Vuln_from_Stage","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"select \ncase \nwhen DATEPART(hour,getdate() ) between 12 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 20 then 2\nelse 0 end as ExecuteSeriesFlag\n"}],"scriptBlockExecutionTimeout":null}},{"name":"0_161_Get_Time_Stamp_Execution_Path_VA","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"161_Get_Time_Stamp_Execution_Path_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"ExecutionFlag","value":"@activity('161_Get_Time_Stamp_Execution_Path_SCRIPT').output.resultSets[0].rows[0].ExecutionFlag"}},{"name":"173_Sequence_Container_175_Multi_Load_delete_Dev_S","type":"Script","policy":null,"dependsOn":[{"activity":"0_161_Get_Time_Stamp_Execution_Path_VA","dependencyConditions":["Succeeded"]}],"state":"Inactive","description":null,"onInactiveMarkAs":"Succeeded","linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static_dev]"}],"scriptBlockExecutionTimeout":null}},{"name":"174_Ad-_Hoc_Dev_Load","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"173_Sequence_Container_175_Multi_Load_delete_Dev_S","dependencyConditions":["Succeeded"]}],"state":"Inactive","description":null,"onInactiveMarkAs":"Succeeded","typeProperties":{"dataflow":{"referenceName":"174_Ad-_Hoc_Dev_Load","type":"DataFlowReference","parameters":{"Variable":{"type":"Expression","value":"0"},"ExecutionFlag":{"type":"Expression","value":"0"},"StageViewCount":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"0_174_Ad-_Hoc_Dev_Load","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"174_Ad-_Hoc_Dev_Load","dependencyConditions":["Succeeded"]}],"state":"Inactive","description":null,"onInactiveMarkAs":"Succeeded","typeProperties":{"variableName":"StageViewCount","value":"@split(string(activity('174_Ad-_Hoc_Dev_Load').output.result.exitValue), ',')[0]"}},{"name":"162_Load_Metrics_Dash_163_Clear_Current_Data_SCRIP","type":"Script","policy":null,"dependsOn":[{"activity":"0_174_Ad-_Hoc_Dev_Load","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" delete from    [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n"}],"scriptBlockExecutionTimeout":null}},{"name":"162_Load_Metrics_Dash_164_Load_tbl_Vuln_Metrics_Mo","type":"Script","policy":null,"dependsOn":[{"activity":"162_Load_Metrics_Dash_163_Clear_Current_Data_SCRIP","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"\nINSERT INTO \n   [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n\nSELECT  [CIO_Direct_Supplimented]\n      ,[Senior_Lead_Supplimented]\n      ,[TechnicalManager_App1]\n      ,[StatusFlag]\n      ,cast([FirstDetected] as date) as [FirstDetected]\n      ,cast([ValidatedDate] as date) as ValidatedDate\n      ,[TCOODueDate]\n      ,[CombID]\n      ,getdate()\n\n  FROM [PLHS].[dbo].[vw_Metrics_Detailed]\n "}],"scriptBlockExecutionTimeout":null}}],"folder":{"name":"neelesh/wellsFargo"},"parameters":{},"variables":{"ExecutionFlag":{"type":"int","defaultValue":"0"},"Variable":{"type":"int","defaultValue":"0"},"StageViewCount":{"type":"int","defaultValue":"0"}}}}