pipeline/PPL_iTracker_TCOO_Daily4D_1.json
{
  "name" : "PPL_iTracker_TCOO_Daily4D_1",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "Get_Time_Stamp_Execution_Path110__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "select \ncase \nwhen DATEPART(hour,getdate() ) between 8 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 18 then 2\nelse 0 end as ExecuteSeriesFlag\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_Time_Stamp_Execution_Path110__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_Time_Stamp_Execution_Path110__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ExecuteSeriesFlag",
        "value" : "@activity('Get_Time_Stamp_Execution_Path110__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Data_Imported_from_iTracker_into_Database104_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path110__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('ExecuteSeriesFlag'),1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Data_Imported_from_iTracker_into_Database104__Trun",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "delete FROM [PLHS].[dbo].[iTracker_Active_SN_CIO]\n\n  where  cast(ImportDate as date) = cast(getdate() as date)"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "iTracker_Active_Data106_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Data_Imported_from_iTracker_into_Database104__Trun",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "iTracker_Active_Data106_",
              "type" : "DataFlowReference",
              "parameters" : {
                "ExecuteSeriesFlag" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "sRAndSEmailAddress" : {
                  "type" : "Expression",
                  "value" : "'TCOONoReply@wellsfargo.com'"
                },
                "CountRowsToInsert" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "CountInsertedRecords" : {
                  "type" : "Expression",
                  "value" : "0"
                }
              },
              "datasetParameters" : {
                "iTrackerActiveSNCIO" : {
                  "TableName" : {
                    "value" : "iTracker_Active_SN_CIO",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "dbo",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "iTrackerQuery" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "iTracker Query",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "iTracker_Active_Data106__iTracker_Active_SN_CIO",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "iTracker_Active_Data106_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "CountRowsToInsert",
            "value" : "@int(activity('iTracker_Active_Data106_').output.runStatus.metrics.iTracker_Active_SN_CIO.rowsWritten)"
          }
        }, {
          "name" : "Count_Inserted105__LOOKUP",
          "type" : "Lookup",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "iTracker_Active_Data106_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlSource",
              "sqlReaderStoredProcedureName" : null,
              "sqlReaderQuery" : "SELECT combid FROM [PLHS].[dbo].[iTracker_Active_SN_CIO]\nWHERE CAST(IMPORTDATE AS DATE) = CAST(GETDATE() AS DATE)",
              "storedProcedureParameters" : null,
              "queryTimeout" : "02:00:00",
              "partitionOption" : "None"
            },
            "dataset" : {
              "referenceName" : "Generic_OLEDB_DS_SRC",
              "type" : "DatasetReference"
            }
          }
        }, {
          "name" : "Count_Inserted105__Todays_Inserted_Rowcount",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "iTracker_Active_Data106_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "CountInsertedRecords",
            "value" : "@int(activity('Count_Inserted105__LOOKUP').output.firstRow.cnt)"
          }
        }, {
          "name" : "Data_Imported_from_iTracker_into_Database104__Upda",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Count_Inserted105__Todays_Inserted_Rowcount",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "iTracker_Active_Data106__iTracker_Active_SN_CIO",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "Count_Inserted105__LOOKUP",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "\n  update \n  [PLHS].[dbo].[iTracker_Active_SN_CIO]\n  set Rating =   replace(replace(replace(Rating,'; High; High','High'),'; High','High'),'0','Low')\n  where cast(ImportDate as date) = cast(getdate() as date)\n\n;\n update [PLHS].[dbo].[iTracker_Active_SN_CIO]\n\n set TargetVersion= REPLACE(TargetVersion,'1/5/2024','01/05/2024')\n where  TargetVersion ='DRD Info - Approved - 1/5/2024'\n;\n\n update [PLHS].[dbo].[iTracker_Active_SN_CIO]\n\n set TargetVersion= REPLACE(TargetVersion,'3/9/2024','03/09/2024')\n where  TargetVersion ='DRD Info - Approved - 3/9/2024'\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    }, {
      "name" : "Validated_record_Import114_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path110__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('ExecuteSeriesFlag'),2)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "iTracker_Validated_Data115_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "iTracker_Validated_Data115_",
              "type" : "DataFlowReference",
              "parameters" : {
                "ExecuteSeriesFlag" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "sRAndSEmailAddress" : {
                  "type" : "Expression",
                  "value" : "'TCOONoReply@wellsfargo.com'"
                },
                "CountRowsToInsert" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "CountInsertedRecords" : {
                  "type" : "Expression",
                  "value" : "0"
                }
              },
              "datasetParameters" : {
                "LastValidatedLookupLKPTABLE" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Last Validated Lookup",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "Validated" : {
                  "TableName" : {
                    "value" : "iTracker_Validated_SN_CIO",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "dbo",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "iTrackerQuery" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "iTracker Query",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        } ]
      }
    }, {
      "name" : "IFACTIVITY_Failure_Mail109_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Data_Imported_from_iTracker_into_Database104_",
        "dependencyConditions" : [ "Completed" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@not(equals(variables('CountInsertedRecords'),variables('CountRowsToInsert')))",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Failure_Mail109_",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : null,
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        } ]
      }
    }, {
      "name" : "Failure_Mail109_",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Validated_record_Import114_",
        "dependencyConditions" : [ "Failed" ]
      }, {
        "activity" : "0_Get_Time_Stamp_Execution_Path110__VA",
        "dependencyConditions" : [ "Failed" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : null,
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_0716/PLHS_Monthly_Metrics"
    },
    "parameters" : { },
    "variables" : {
      "CountRowsToInsert" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "CountInsertedRecords" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "ExecuteSeriesFlag" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "sRAndSEmailAddress" : {
        "type" : "string",
        "defaultValue" : "'TCOONoReply@wellsfargo.com'"
      }
    }
  }
}