pipeline/PPL_UTILITYALERT_1.json
{
  "name" : "PPL_UTILITYALERT_1",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "sMessage",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "sMessage",
        "value" : {
          "value" : "@concat('Component Send Email Utility_',variables('sEnvironment'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "Delete_alerts_older_than_2_months141__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "sMessage",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "delete from PLHS.[dbo].[tbl_ssis_utility]  WHERE ReceiveDate <= DATEADD(d, -120, getdate())"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_alerts_that_need_to_be_sent146_",
      "type" : "Lookup",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Delete_alerts_older_than_2_months141__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "Select ID, [To],[Subject],isnull([body],'') as Body,BodyFormat, ISNULL(CC,'') CC FROM PLHS.dbo.tbl_ssis_utility where [To] != ' ' and SendDate is null",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "Generic_OLEDB_DS_SRC",
          "type" : "DatasetReference",
          "parameters" : null
        }
      }
    }, {
      "name" : "IFACTIVITY_FOREACH_Foreach_Loop_Container143_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_alerts_that_need_to_be_sent146_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(pipeline().parameters.Test,variables('True'))",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ {
          "name" : "Failure_Mail142_",
          "type" : "WebActivity",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "description" : "Success Mail",
          "typeProperties" : {
            "method" : "POST",
            "headers" : null,
            "linkedServices" : null,
            "datasets" : null,
            "disableCertValidation" : true,
            "httpRequestTimeout" : "00:01:00",
            "turnOffAsync" : false,
            "url" : null,
            "body" : "",
            "authentication" : null,
            "waitTimeInSeconds" : null,
            "timeout" : null,
            "reportStatusOnCallBack" : null
          }
        } ],
        "ifTrueActivities" : [ {
          "name" : "FOREACH_Foreach_Loop_Container143_",
          "type" : "ForEach",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "items" : {
              "value" : "@activity('0_Get_alerts_that_need_to_be_sent146_').output.value",
              "type" : "Expression"
            },
            "activities" : [ {
              "name" : "0_Foreach_Loop_Container143__Mark_Record_as_Sent14",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : "UPDATE tbl_ssis_utility SET SendDate = GETDATE() WHERE (ID = @0)"
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        } ]
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_0707/PLHS_Monthly_Metrics"
    },
    "parameters" : { },
    "variables" : {
      "sBody" : {
        "type" : "string",
        "defaultValue" : "'Please Check the Table.'"
      },
      "sProcessName" : {
        "type" : "string",
        "defaultValue" : "'UTILITY ALERT'"
      },
      "sSendDate" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('12:00:00 AM')"
      },
      "rsFile" : {
        "type" : "string"
      },
      "iID" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "sRAndSEmailAddress" : {
        "type" : "string",
        "defaultValue" : "'do-not-reply@wellsfargo.com'"
      },
      "sMessageSuccess" : {
        "type" : "string",
        "defaultValue" : "'Process was completed'"
      },
      "sTO" : {
        "type" : "string",
        "defaultValue" : "'WFSRS@wellsfargo.com'"
      },
      "sReceiveDate" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('12:00:00 AM')"
      },
      "sCC" : {
        "type" : "string"
      },
      "sSubject" : {
        "type" : "string",
        "defaultValue" : "'UtilityAlert'"
      },
      "iBodyFormat" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "sEnvironment" : {
        "type" : "string",
        "defaultValue" : "'DEV'"
      },
      "rMessage" : {
        "type" : "string"
      },
      "sMessage" : {
        "type" : "string",
        "defaultValue" : "'Component Send Email Utility_DEV'"
      },
      "sMessageFailure" : {
        "type" : "string",
        "defaultValue" : "'Process Failed. Please review'"
      }
    }
  }
}