pipeline/PPL_LCM_ScopeAnalysis_2.json
{"name":"PPL_LCM_ScopeAnalysis_2","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ArchiveUpdates","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"ArchiveUpdates","value":{"value":"@concat(concat('\\\\\\\\wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\Updates_',variables('TimeStamp')),'.csv')","type":"Expression"}}},{"name":"sArchiveUpdates","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"ArchiveUpdates","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"sArchiveUpdates","value":{"value":"@concat(concat('\\\\\\\\wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\NewLCM_',variables('TimeStamp')),'.csv')","type":"Expression"}}},{"name":"GETMETADATA_255_Collect_Updates","type":"GetMetadata","policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"sArchiveUpdates","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"fieldList":["childItems"],"dataset":{"referenceName":"Generic_OLEDB_DS_SRC","type":"DatasetReference","paramters":null},"storeSettings":{"type":"AzureBlobStorageReadSettings","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"FILTER_255_Collect_Updates","type":"Filter","policy":null,"dependsOn":[{"activity":"GETMETADATA_255_Collect_Updates","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"items":{"value":"@activity('GETMETADATA_255_Collect_Updates').output.childItems","type":"Expression"},"condition":{"value":"@equals(1, 1)","type":"Expression"}}},{"name":"FOREACH_255_Collect_Updates","type":"ForEach","policy":null,"dependsOn":[{"activity":"FILTER_255_Collect_Updates","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"items":{"value":"@activity('FILTER_255_Collect_Updates').output.value","type":"Expression"},"activities":[{"name":"255_Collect_Updates_256_DELETE_FROM_DIFF_SCRIPT","type":"Script","policy":null,"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"delete from \n\n\n[dbo].[tbl_LCM_TCOO_Diff_Intraday_dev] \n\n"}],"scriptBlockExecutionTimeout":null}},{"name":"257_Extract_Prev_Week","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"255_Collect_Updates_256_DELETE_FROM_DIFF_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"257_Extract_Prev_Week","type":"DataFlowReference","parameters":{"Owner":{"type":"Expression","value":"''"},"sFileLCMNew":{"type":"Expression","value":"''"},"NewWeekLCM":{"type":"Expression","value":"0"},"FileName":{"type":"Expression","value":"''"},"ArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\Updates_.csv'"},"sArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\NewLCM_.csv'"},"TimeStamp":{"type":"Expression","value":"''"},"PrevWeekRC":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"255_Collect_Updates_260_move_to_archive_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"257_Extract_Prev_Week","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"INSERT INTO [PLHS].[dbo].[tbl_LCM_TCOO_Diff_Intraday_Archive_dev]\n\n\n( \n      [PLHIS Contact]\n      ,[PLHIS Updated Date]\n      ,[Notes]\n      ,[Ramservername]\n      ,[Lcmstatus]\n      ,[TCOOStatus]\n      ,[TCOOMigrationStatus]\n      ,[Ciodirectname]\n      ,[Primarytechmgr]\n      ,[Managedbygroup]\n      ,[Primary Applicatioin]\n      ,[Environment]\n      ,[Cio]\n      ,[Ciodirect]\n      ,[Cistatus]\n      ,[Rtstatus]\n      ,[Rtplannedactivity]\n      ,[Fundingdate]\n      ,[Rtdecomdate]\n      ,[Rtplancertifieddate]\n      ,[Hweoldate]\n      ,[Applicationids]\n      ,[Normalizedos]\n      ,[Eol Hw Thru 2023]\n      ,[Hds Thru 2022]\n      ,[Cioname]\n      ,[Vm On Hds2022 Esx Depthru 2023]\n      ,[Productname]\n      ,[Hds Thru 2023]\n      ,[Hds Thru 2024]\n      ,[sourceCIOdirName]\n      ,[TCOO Extension Aggregated]\n      ,[NewSourceLCM_AsOf]\n      ,[ChangeNumber]\n      ,[Decom_Date]\n      ,[Extension_Date]\n      ,[ISPNumber]\n,[JiraNumber]\n      ,[TCOOPlanningDecomDT]\n      ,[Import_date]\n)\n\nSELECT [PLHIS Contact]\n      ,[PLHIS Updated Date]\n      ,[Notes]\n      ,[Ramservername]\n      ,[Lcmstatus]\n      ,[TCOOStatus]\n      ,[TCOOMigrationStatus]\n      ,[Ciodirectname]\n      ,[Primarytechmgr]\n      ,[Managedbygroup]\n      ,[Primary Applicatioin]\n      ,[Environment]\n      ,[Cio]\n      ,[Ciodirect]\n      ,[Cistatus]\n      ,[Rtstatus]\n      ,[Rtplannedactivity]\n      ,[Fundingdate]\n      ,[Rtdecomdate]\n      ,[Rtplancertifieddate]\n      ,[Hweoldate]\n      ,[Applicationids]\n      ,[Normalizedos]\n      ,[Eol Hw Thru 2023]\n      ,[Hds Thru 2022]\n      ,[Cioname]\n      ,[Vm On Hds2022 Esx Depthru 2023]\n      ,[Productname]\n      ,[Hds Thru 2023]\n      ,[Hds Thru 2024]\n      ,[sourceCIOdirName]\n      ,[TCOO Extension Aggregated]\n      ,[NewSourceLCM_AsOf]\n      ,[ChangeNumber]\n      ,[Decom_Date]\n      ,[Extension_Date]\n      ,[ISPNumber]\n,[JiraNumber],\n       [TCOOPlanningDecomDT] \n\n  \n      ,[Import_date]\n\n  FROM [PLHS].[dbo].[tbl_LCM_TCOO_Diff_Intraday_dev]"}],"scriptBlockExecutionTimeout":null}},{"name":"255_Collect_Updates_259_get_timestamp_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"255_Collect_Updates_260_move_to_archive_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" select replace(cast(cast(getdate() as time) as nvarchar(8)),':','_')"}],"scriptBlockExecutionTimeout":null}},{"name":"0_255_Collect_Updates_259_get_timestamp_VA","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"255_Collect_Updates_259_get_timestamp_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"TimeStamp","value":"@activity('255_Collect_Updates_259_get_timestamp_SCRIPT').output.resultSets[0].rows[0].TimeStamp"}},{"name":"_COPYDATA255_Collect_Updates_258_File_System_Task","type":"Copy","policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"0_255_Collect_Updates_259_get_timestamp_VA","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"source":{"type":"DelimitedTextSource"},"sink":{"type":"DelimitedTextSink"}},"inputs":[{"referenceName":"Generic_File_SRC","type":"DatasetReference","paramters":{"fileName":null,"directory":null,"container":null,"columnDelimiter":null}}],"outputs":[{"referenceName":"Generic_File_SRC","type":"DatasetReference","paramters":{"fileName":null,"directory":null,"container":null,"columnDelimiter":null}}]},{"name":"255_Collect_Updates_258_File_System_Task_DELETE","type":"Delete","policy":null,"dependsOn":[{"activity":"_COPYDATA255_Collect_Updates_258_File_System_Task","dependencyConditions":["Succeeded"]}],"userProperties":[],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataset":{"referenceName":"Generic_OLEDB_DS_SRC","type":"DatasetReference"},"enableLogging":false,"storeSettings":null}}]}},{"name":"266_Update_from_Updates_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"FOREACH_255_Collect_Updates","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" update tbl_LCM_PrevWeek_ScopeTracker_dev\nset \nNotes = b.Notes\n,TCOOMigrationStatus = B.TCOOMigrationStatus\n,TCOOStatus = B.TCOOStatus\n,Lcmstatus = B.Lcmstatus\n,Ciodirectname = B.Ciodirectname\n,Primarytechmgr = B.Primarytechmgr\n,[PLHIS Contact] = b.[PLHIS Contact]\n,[Cistatus] = b.[Cistatus]\n,Import_date = B.Import_date\n,[TCOO Extension Aggregated] = b.[TCOO Extension Aggregated]\n ,[ISPNumber] = b.[ISPNumber]\n,[ChangeNumber] = b.[ChangeNumber] \n ,[Decom_Date] = b.[Decom_Date]\n ,[Extension_Date] = b.[Extension_Date] \n , [JiraNumber] =\tb.[JiraNumber],\n   [TCOOPlanningDecomDT] =b.[TCOOPlanningDecomDT] \n\nFROM tbl_LCM_PrevWeek_ScopeTracker_dev A \ninner join (select max(ID)MXID , Ramservername FROM tbl_LCM_PrevWeek_ScopeTracker_dev GROUP BY Ramservername) C ON C.Ramservername = A.Ramservername AND C.MXID = A.ID \nINNER JOIN  [tbl_LCM_TCOO_Diff_Intraday_dev] B ON A.Ramservername = B.Ramservername"}],"scriptBlockExecutionTimeout":null}},{"name":"GETMETADATA_249_Collect_New_LCM_File","type":"GetMetadata","policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"266_Update_from_Updates_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"fieldList":["childItems"],"dataset":{"referenceName":"Generic_OLEDB_DS_SRC","type":"DatasetReference","paramters":null},"storeSettings":{"type":"AzureBlobStorageReadSettings","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"FILTER_249_Collect_New_LCM_File","type":"Filter","policy":null,"dependsOn":[{"activity":"GETMETADATA_249_Collect_New_LCM_File","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"items":{"value":"@activity('GETMETADATA_249_Collect_New_LCM_File').output.childItems","type":"Expression"},"condition":{"value":"@equals(1, 1)","type":"Expression"}}},{"name":"FOREACH_249_Collect_New_LCM_File","type":"ForEach","policy":null,"dependsOn":[{"activity":"FILTER_249_Collect_New_LCM_File","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"items":{"value":"@activity('FILTER_249_Collect_New_LCM_File').output.value","type":"Expression"},"activities":[{"name":"249_Collect_New_LCM_File_254_MultiLoad_Delete_SCRI","type":"Script","policy":null,"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"\ndelete from [dbo].[tbl_LCM_NewWeek_Tracking]\n\nwhere import_Date  = cast(getdate() as date) \n"}],"scriptBlockExecutionTimeout":null}},{"name":"250_Extract_Prev_Week","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"249_Collect_New_LCM_File_254_MultiLoad_Delete_SCRI","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"250_Extract_Prev_Week","type":"DataFlowReference","parameters":{"Owner":{"type":"Expression","value":"''"},"sFileLCMNew":{"type":"Expression","value":"''"},"NewWeekLCM":{"type":"Expression","value":"0"},"FileName":{"type":"Expression","value":"''"},"ArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\Updates_.csv'"},"sArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\NewLCM_.csv'"},"TimeStamp":{"type":"Expression","value":"''"},"PrevWeekRC":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"253_LoadCheck","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"250_Extract_Prev_Week","dependencyConditions":["Succeeded"]}],"state":"Inactive","description":null,"onInactiveMarkAs":"Succeeded","typeProperties":{"dataflow":{"referenceName":"253_LoadCheck","type":"DataFlowReference","parameters":{"Owner":{"type":"Expression","value":"''"},"sFileLCMNew":{"type":"Expression","value":"''"},"NewWeekLCM":{"type":"Expression","value":"0"},"FileName":{"type":"Expression","value":"''"},"ArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\Updates_.csv'"},"sArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\NewLCM_.csv'"},"TimeStamp":{"type":"Expression","value":"''"},"PrevWeekRC":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"0_250_Extract_Prev_Week","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"250_Extract_Prev_Week","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"NewWeekLCM","value":"@split(string(activity('250_Extract_Prev_Week').output.result.exitValue), ',')[0]"}},{"name":"249_Collect_New_LCM_File_252_get_timestamp_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"253_LoadCheck","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" select replace(cast(cast(getdate() as time) as nvarchar(8)),':','_')"}],"scriptBlockExecutionTimeout":null}},{"name":"0_249_Collect_New_LCM_File_252_get_timestamp_VA","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"249_Collect_New_LCM_File_252_get_timestamp_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"TimeStamp","value":"@activity('249_Collect_New_LCM_File_252_get_timestamp_SCRIPT').output.resultSets[0].rows[0].TimeStamp"}},{"name":"_COPYDATA249_Collect_New_LCM_File_251_File_System_","type":"Copy","policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"0_249_Collect_New_LCM_File_252_get_timestamp_VA","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"source":{"type":"DelimitedTextSource"},"sink":{"type":"DelimitedTextSink"}},"inputs":[{"referenceName":"Generic_File_SRC","type":"DatasetReference","paramters":{"fileName":null,"directory":null,"container":null,"columnDelimiter":null}}],"outputs":[{"referenceName":"Generic_File_SRC","type":"DatasetReference","paramters":{"fileName":null,"directory":null,"container":null,"columnDelimiter":null}}]},{"name":"249_Collect_New_LCM_File_251_File_System_Task_DELE","type":"Delete","policy":null,"dependsOn":[{"activity":"_COPYDATA249_Collect_New_LCM_File_251_File_System_","dependencyConditions":["Succeeded"]}],"userProperties":[],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataset":{"referenceName":"Generic_OLEDB_DS_SRC","type":"DatasetReference"},"enableLogging":false,"storeSettings":null}}]}},{"name":"GETMETADATA_261_Foreach_Loop_Container","type":"GetMetadata","policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"FOREACH_249_Collect_New_LCM_File","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"fieldList":["childItems"],"dataset":{"referenceName":"Generic_OLEDB_DS_SRC","type":"DatasetReference","paramters":null},"storeSettings":{"type":"AzureBlobStorageReadSettings","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"FILTER_261_Foreach_Loop_Container","type":"Filter","policy":null,"dependsOn":[{"activity":"GETMETADATA_261_Foreach_Loop_Container","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"items":{"value":"@activity('GETMETADATA_261_Foreach_Loop_Container').output.childItems","type":"Expression"},"condition":{"value":"@equals(1, 1)","type":"Expression"}}},{"name":"FOREACH_261_Foreach_Loop_Container","type":"ForEach","policy":null,"dependsOn":[{"activity":"FILTER_261_Foreach_Loop_Container","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"items":{"value":"@activity('FILTER_261_Foreach_Loop_Container').output.value","type":"Expression"},"activities":[{"name":"261_Foreach_Loop_Container_265_MultiLoad_Delete_SC","type":"Script","policy":null,"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"\ndelete\n  FROM [PLHS].[dbo].[tbl_LCM_PlanningWeekly]\n\nwhere import_Date  = cast(getdate() as date) \n"}],"scriptBlockExecutionTimeout":null}},{"name":"262_Data_Flow_Task","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"261_Foreach_Loop_Container_265_MultiLoad_Delete_SC","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"262_Data_Flow_Task","type":"DataFlowReference","parameters":{"Owner":{"type":"Expression","value":"''"},"sFileLCMNew":{"type":"Expression","value":"''"},"NewWeekLCM":{"type":"Expression","value":"0"},"FileName":{"type":"Expression","value":"''"},"ArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\Updates_.csv'"},"sArchiveUpdates":{"type":"Expression","value":"'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\LCM\\\\Archive\\\\NewLCM_.csv'"},"TimeStamp":{"type":"Expression","value":"''"},"PrevWeekRC":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"261_Foreach_Loop_Container_264_get_timestamp_SCRIP","type":"Script","policy":null,"dependsOn":[{"activity":"262_Data_Flow_Task","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" select replace(cast(cast(getdate() as time) as nvarchar(8)),':','_')"}],"scriptBlockExecutionTimeout":null}},{"name":"0_261_Foreach_Loop_Container_264_get_timestamp_VA","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"261_Foreach_Loop_Container_264_get_timestamp_SCRIP","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"TimeStamp","value":"@activity('261_Foreach_Loop_Container_264_get_timestamp_SCRIP').output.resultSets[0].rows[0].TimeStamp"}},{"name":"_COPYDATA261_Foreach_Loop_Container_263_File_Syste","type":"Copy","policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"0_261_Foreach_Loop_Container_264_get_timestamp_VA","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"source":{"type":"DelimitedTextSource"},"sink":{"type":"DelimitedTextSink"}},"inputs":[{"referenceName":"Generic_File_SRC","type":"DatasetReference","paramters":{"fileName":null,"directory":null,"container":null,"columnDelimiter":null}}],"outputs":[{"referenceName":"Generic_File_SRC","type":"DatasetReference","paramters":{"fileName":null,"directory":null,"container":null,"columnDelimiter":null}}]},{"name":"261_Foreach_Loop_Container_263_File_System_Task_DE","type":"Delete","policy":null,"dependsOn":[{"activity":"_COPYDATA261_Foreach_Loop_Container_263_File_Syste","dependencyConditions":["Succeeded"]}],"userProperties":[],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataset":{"referenceName":"Generic_OLEDB_DS_SRC","type":"DatasetReference"},"enableLogging":false,"storeSettings":null}}]}}],"folder":{"name":"neelesh/wellsFargo"},"parameters":{},"variables":{"Owner":{"type":"string","defaultValue":"''"},"sFileLCMNew":{"type":"string","defaultValue":"''"},"NewWeekLCM":{"type":"int","defaultValue":"0"},"FileName":{"type":"string","defaultValue":"''"},"ArchiveUpdates":{"type":"string","defaultValue":"''"},"sArchiveUpdates":{"type":"string","defaultValue":"''"},"TimeStamp":{"type":"string","defaultValue":"''"},"PrevWeekRC":{"type":"int","defaultValue":"0"}}}}