pipeline/PPL_DailyRefresh_ActiveVulnTbl_1.json
{"name":"PPL_DailyRefresh_ActiveVulnTbl_1","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"133_Prod_137_Truncate_Daily_Vuln_Table_SCRIPT","type":"Script","policy":null,"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"TRUNCATE TABLE  [PLHS].[dbo].[tbl_VulnActive_Daily_Static_stage]"}],"scriptBlockExecutionTimeout":null}},{"name":"136_Load_Daily_Vuln_from_View","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"133_Prod_137_Truncate_Daily_Vuln_Table_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"136_Load_Daily_Vuln_from_View","type":"DataFlowReference","parameters":{"Variable1":{"type":"Expression","value":"'                                                            '"},"Variable":{"type":"Expression","value":"0"},"ExecutionFlag":{"type":"Expression","value":"0"},"StageViewCount":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"136_Load_Daily_Vuln_from_View_OLE_DB_Destination","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"136_Load_Daily_Vuln_from_View","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"StageViewCount","value":"@string(activity('136_Load_Daily_Vuln_from_View').output.runStatus.metrics.OLE_DB_Destination.rowsWritten)"}},{"name":"0_136_Load_Daily_Vuln_from_View","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"136_Load_Daily_Vuln_from_View_OLE_DB_Destination","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"StageViewCount","value":"@split(string(activity('136_Load_Daily_Vuln_from_View').output.result.exitValue), ',')[0]"}},{"name":"133_Prod_134_delete_data_from_Static_to_load_from_","type":"Script","policy":null,"dependsOn":[{"activity":"136_Load_Daily_Vuln_from_View_OLE_DB_Destination","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"TRUNCATE TABLE  [PLHS].[dbo].[tbl_VulnActive_Daily_Static]"}],"scriptBlockExecutionTimeout":null}},{"name":"135_Load_Daily_Vuln_from_Stage","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"133_Prod_134_delete_data_from_Static_to_load_from_","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"135_Load_Daily_Vuln_from_Stage","type":"DataFlowReference","parameters":{"Variable1":{"type":"Expression","value":"'                                                            '"},"Variable":{"type":"Expression","value":"0"},"ExecutionFlag":{"type":"Expression","value":"0"},"StageViewCount":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"130_PIT_Reporting_132_MultiLoad_Clean_Up_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"135_Load_Daily_Vuln_from_Stage","dependencyConditions":["Succeeded"]},{"activity":"0_136_Load_Daily_Vuln_from_View","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"DELETE FROM  [PLHS].[dbo].[tbl_VulnActive_Daily_PIT_MetricsSource_dev]\nWHERE PIT_Date = CAST(GETDATE() AS DATE) "}],"scriptBlockExecutionTimeout":null}},{"name":"131_Load_Daily_Vuln_from_Stage","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"130_PIT_Reporting_132_MultiLoad_Clean_Up_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"131_Load_Daily_Vuln_from_Stage","type":"DataFlowReference","parameters":{"Variable1":{"type":"Expression","value":"'                                                            '"},"Variable":{"type":"Expression","value":"0"},"ExecutionFlag":{"type":"Expression","value":"0"},"StageViewCount":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"126_Get_Time_Stamp_Execution_Path_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"131_Load_Daily_Vuln_from_Stage","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"select \ncase \nwhen DATEPART(hour,getdate() ) between 12 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 20 then 2\nelse 0 end as ExecuteSeriesFlag\n"}],"scriptBlockExecutionTimeout":null}},{"name":"0_126_Get_Time_Stamp_Execution_Path_VA","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"126_Get_Time_Stamp_Execution_Path_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"ExecutionFlag","value":"@activity('126_Get_Time_Stamp_Execution_Path_SCRIPT').output.resultSets[0].rows[0].ExecutionFlag"}},{"name":"127_Load_Metrics_Dash_128_Clear_Current_Data_SCRIP","type":"Script","policy":null,"dependsOn":[{"activity":"0_126_Get_Time_Stamp_Execution_Path_VA","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"TRUNCATE TABLE [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n"}],"scriptBlockExecutionTimeout":null}},{"name":"127_Load_Metrics_Dash_129_Load_tbl_Vuln_Metrics_Mo","type":"Script","policy":null,"dependsOn":[{"activity":"127_Load_Metrics_Dash_128_Clear_Current_Data_SCRIP","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"\nINSERT INTO \n   [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n\nSELECT  [CIO_Direct_Supplimented]\n      ,[Senior_Lead_Supplimented]\n      ,[TechnicalManager_App1]\n      ,[StatusFlag]\n      ,cast([FirstDetected] as date) as [FirstDetected]\n      ,cast([ValidatedDate] as date) as ValidatedDate\n      ,[TCOODueDate]\n      ,[CombID]\n      ,getdate()\n\n  FROM [PLHS].[dbo].[vw_Metrics_Detailed]\n "}],"scriptBlockExecutionTimeout":null}}],"folder":{"name":"neelesh/wellsFargo/Vulnerability_ETL"},"parameters":{},"variables":{"ExecutionFlag":{"type":"Integer","defaultValue":"0"},"StageViewCount":{"type":"Integer","defaultValue":"0"}}}}