pipeline/PPL_CBGDM_ExceptionReport.json
{
  "name" : "PPL_CBGDM_ExceptionReport",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "FileNameArchiveMFA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "FileNameArchiveMFA",
        "value" : {
          "value" : "@replace(replace(variables('FileNameMFA'),variables('FileDropFolder'),variables('FileArchiveFolder')),'.csv',concat('_',replace(pipeline().TriggerTime,'-',''),'.csv'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FileNameArchiveOWA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "FileNameArchiveOWA",
        "value" : {
          "value" : "@replace(replace(variables('FileNameOWA'),variables('FileDropFolder'),variables('FileArchiveFolder')),'.csv',concat('_',replace(pipeline().TriggerTime,'-',''),'.csv'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FileNameExceptionReport",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "FileNameExceptionReport",
        "value" : {
          "value" : "@concat(variables('FileProcessFolder'),'\\\\csv')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FileNameMFA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "FileNameMFA",
        "value" : {
          "value" : "@concat(variables('FileDropFolder'),'\\\\ExceptionFiles\\\\',variables('MFAFileName'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FileNameOWA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "FileNameOWA",
        "value" : {
          "value" : "@concat(variables('FileDropFolder'),'\\\\ExceptionFiles\\\\',variables('OWAFileName'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "Get_PackageExecutionID276__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FileNameOWA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "FileNameArchiveMFA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "FileNameArchiveOWA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "FileNameExceptionReport",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "FileNameMFA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DECLARE @CurrentTime datetime= GETDATE()\n\nEXECUTE [dbo].[UpdatePackageExecutionID] \n   @ExecutionStatus='InProgress'\n  ,@CurrentDate= @CurrentTime\n  ,@PackageGuid=@0\n  ,@PackageName=@1\n  ,@PackageStartTime=@2\n  ,@ParentPackagExecutionID=@3\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_PackageExecutionID276__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_PackageExecutionID276__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "PackageExecutionID",
        "value" : "@activity('Get_PackageExecutionID276__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Sequence_Container277_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_PackageExecutionID276__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Load_Exception_Report_file280_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "Load_Exception_Report_file280_",
              "type" : "DataFlowReference",
              "parameters" : {
                "RowsReadNoError" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "FileNameExceptionReport" : {
                  "type" : "Expression",
                  "value" : "'L:\\\\FileProcessing\\\\Landing\\\\ExceptionReport.csv'"
                },
                "RowsInserted" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "OWAFileName" : {
                  "type" : "Expression",
                  "value" : "'UsersOWA_Enabled.csv'"
                },
                "FileNameArchiveOWA" : {
                  "type" : "Expression",
                  "value" : "'L:\\\\FileProcessing\\\\Archive\\\\ExceptionFiles\\\\UsersOWA_Enabled_20190412.csv'"
                },
                "RowsNotWrittenError" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "RowsReadError" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "FileNameOWA" : {
                  "type" : "Expression",
                  "value" : "'L:\\\\FileShare\\\\ExceptionFiles\\\\UsersOWA_Enabled.csv'"
                },
                "EmailProfileName" : {
                  "type" : "Expression",
                  "value" : "'CBGDM EMail'"
                },
                "RowsUpdated" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "MFAFileName" : {
                  "type" : "Expression",
                  "value" : "'UsersMFA_Disabled.csv'"
                },
                "RowsDeleted" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "ParentPackageExecutionID" : {
                  "type" : "Expression",
                  "value" : "-99"
                },
                "FileNameMFA" : {
                  "type" : "Expression",
                  "value" : "'L:\\\\FileShare\\\\ExceptionFiles\\\\UsersMFA_Disabled.csv'"
                },
                "PackageExecutionID" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "RowsDiscarded" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "EmailDistribution" : {
                  "type" : "Expression",
                  "value" : "'sankar.subramanian@mariner-usa.com'"
                },
                "FileNameArchiveMFA" : {
                  "type" : "Expression",
                  "value" : "'L:\\\\FileProcessing\\\\Archive\\\\ExceptionFiles\\\\UsersMFA_Disabled_20190412.csv'"
                },
                "FileExists" : {
                  "type" : "Expression",
                  "value" : "true()"
                }
              },
              "datasetParameters" : {
                "ReadfromOWAfile" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "WritetoExceptionReport" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "ReadfromMFAfile" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "0_Sequence_Container277__Send_File_Missing_Email28",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "BEGIN\nDECLARE @EmailDistribution VARCHAR(200) = @0\nDECLARE @EmailProfileName VARCHAR(100) = @1\nDECLARE @SubjectText VARCHAR(100) = 'OWA-MFA Exception Report'\nDECLARE @BodyText VARCHAR(600) \n\nSET @BodyText = 'Hi Group,'+CHAR(13)+'Error: OWA/MFA files were not generated as expected.  Please check the scheduled Powershell task.'+Replicate(CHAR(13),3)+Replicate('-',50)+'This is a system generated E-mail.'+Replicate('-',50)\n\t\t\n \n EXEC msdb.dbo.sp_send_dbmail \n\t@profile_name = @EmailProfileName\n  \t,@recipients = @EmailDistribution\n  \t,@body = @BodyText\n  \t,@subject = @SubjectText\n;\nEND"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Sequence_Container277__Send_File_Email283__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Exception_Report_file280_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "BEGIN\n\tDECLARE @EmailDistribution VARCHAR(200) = @0\n\tDECLARE @EmailProfileName VARCHAR(100) = @1\n\tDECLARE @AttachmentFilename VARCHAR(600) =@2\n\tDECLARE @SubjectText VARCHAR(100) = 'OWA-MFA Exception Report'\n\tDECLARE @BodyText VARCHAR(600) \n\n\tSET @BodyText = 'Hi Group,' + CHAR(13) + 'Please review the spreadsheet, there are users that have OWA enabled and have MFA disabled.' + Replicate(CHAR(13), 3) + Replicate('-', 50) + 'This is a system generated E-mail.' + Replicate('-', 50)\n\n\t\n\tEXEC msdb.dbo.sp_send_dbmail \n\t\t@profile_name = @EmailProfileName\n\t\t,@recipients = @EmailDistribution\n\t\t,@body = @BodyText\n\t\t,@subject = @SubjectText\n\t\t,@file_attachments = @AttachmentFilename;\nEND"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "_DELETESequence_Container277__Delete_Exception_Rep",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Sequence_Container277__Send_File_Email283__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        }, {
          "name" : "_COPYDATASequence_Container277__Move_MFA_File_to_A",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container277__Send_File_Email283__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "_COPYDATASequence_Container277__Move_OWA_File_to_A",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container277__Send_File_Email283__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "Sequence_Container277__Move_MFA_File_to_Archive281",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "_COPYDATASequence_Container277__Move_MFA_File_to_A",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        }, {
          "name" : "Sequence_Container277__Move_OWA_File_to_Archive282",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "_COPYDATASequence_Container277__Move_OWA_File_to_A",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        } ]
      }
    }, {
      "name" : "Update_Error_PackageExecutionID285__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Sequence_Container277_",
        "dependencyConditions" : [ "Failed" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DECLARE @CurrentTime datetime= GETDATE()\n\nEXECUTE [dbo].[UpdatePackageExecutionID] \n   @ExecutionStatus='Failure'\n  ,@CurrentDate= @CurrentTime\n  ,@PackageStartTime=@0\n  ,@PackageExecutionID=@1"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "Update_Success_PackageExecutionID286__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Sequence_Container277_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DECLARE @CurrentTime datetime= GETDATE()\n\nEXECUTE [dbo].[UpdatePackageExecutionID] \n   @ExecutionStatus='Success'\n  ,@CurrentDate=@CurrentTime\n  ,@PackageExecutionID=@0\n  ,@RowsReadNoError=@1\n  ,@RowsInserted=@2\n  ,@RowsUpdated=@3\n  ,@RowsDeleted=@4\n  ,@RowsReadError=@5\n  ,@RowsNotWrittenError=@6\n  ,@RowsDiscarded=@7\n  ,@RowsLookupError=0"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "RowsReadNoError" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "FileNameExceptionReport" : {
        "type" : "string",
        "defaultValue" : "'L:\\\\FileProcessing\\\\Landing\\\\ExceptionReport.csv'"
      },
      "RowsInserted" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "FileNameArchiveOWA" : {
        "type" : "string",
        "defaultValue" : "'L:\\\\FileProcessing\\\\Archive\\\\ExceptionFiles\\\\UsersOWA_Enabled_20190412.csv'"
      },
      "RowsNotWrittenError" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsReadError" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "FileNameOWA" : {
        "type" : "string",
        "defaultValue" : "'L:\\\\FileShare\\\\ExceptionFiles\\\\UsersOWA_Enabled.csv'"
      },
      "RowsUpdated" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsDeleted" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "FileNameMFA" : {
        "type" : "string",
        "defaultValue" : "'L:\\\\FileShare\\\\ExceptionFiles\\\\UsersMFA_Disabled.csv'"
      },
      "PackageExecutionID" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsDiscarded" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "FileNameArchiveMFA" : {
        "type" : "string",
        "defaultValue" : "'L:\\\\FileProcessing\\\\Archive\\\\ExceptionFiles\\\\UsersMFA_Disabled_20190412.csv'"
      },
      "FileExists" : {
        "type" : "Boolean",
        "defaultValue" : "true()"
      }
    }
  }
}