pipeline/PPL_SII_Vuln_Email_Alerts.json
{
	"name": "PPL_SII_Vuln_Email_Alerts",
	"properties": {
		"description": "Migrated from SSIS package SII_Vuln_Email_Alerts. Control-flow order: Execute SQL Task 1 (Lookup) → (expression gate flag==1) → Insert Email Records → Daily SII Metric (Collect Daily SII Metric data flow) → Only Send once a week.",
		"activities": [
			{
				"name": "LKP_CheckTodaysData",
				"description": "Replicates 'Execute SQL Task 1'. Queries tbl_SII_Vuln_History_Alerts for today's rows; returns flag=0 (data exists) or flag=1 (no data yet). Result consumed directly by GateOnTodaysData IfCondition — no pipeline variable needed.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LKP_Fetch_Param",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select\ncase when count(*)   > 0 then 0 else 1 end as flag\nfrom tbl_SII_Vuln_History_Alerts\nwhere cast(Import_Date as date) = cast(getdate() as date)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "GateOnTodaysData",
				"description": "Replicates SSIS Precedence Constraint 1: EvalOp=ExpressionAndConstraint, Expression=@[User::TodaysData]==1. Executes InsertEmailRecords only when no data has been loaded today. Reads flag directly from CheckTodaysData Lookup output — no SetVariable needed.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_CheckTodaysData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LKP_CheckTodaysData').output.firstRow.flag, 1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "InsertEmailRecords",
							"description": "Replicates 'Insert Records into Email Alerts Tbl' Execute SQL Task. Inserts rows from vw_SII_EmailAlerts_Daily_v2 into tbl_ssis_utility where To_ IS NOT NULL.",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "dbdev_onprem",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "INSERT INTO [PLHS].[dbo].[tbl_ssis_utility]\n    ([To], [Subject], [body], [ReceiveDate], [SendDate], [BodyFormat], [CC])\nSELECT\n    [To_],\n    [subject_],\n    [body],\n    GETDATE(),\n    NULL,\n    2,\n    [CC]\nFROM [PLHS].[dbo].[vw_SII_EmailAlerts_Daily_v2]\nWHERE [To_] IS NOT NULL"
									}
								],
								"logSettings": {
									"logDestination": "ActivityOutput"
								}
							}
						}
					]
				}
			},
			{
				"name": "DF_Collect_Daily_SII_Metric",
				"description": "Replicates the 'Daily SII Metric' Sequence Container / 'Collect Daily SII Metric' Data Flow Task. Reads vw_SII_EmailAlerts_Details, adds Import_Date = today, inserts into tbl_SII_Vuln_History_Alerts.",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "PPL_Generic_db_replication",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_335_Collect_Daily_SII_Metric",
						"type": "DataFlowReference",
						"datasetParameters": {
							"DailySIIMetricView": {
								"container": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Src_Container_Name",
									"type": "Expression"
								},
								"path": "@activity('LKP_Fetch_Param').output.firstRow.Src_path_Name",
								"filename": "@activity('LKP_Fetch_Param').output.firstRow.Src_filename"
							},
							"SinkVulnHistoryAlerts": {
								"path": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name",
								"Container": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name",
									"type": "Expression"
								},
								"filename": {
									"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ST_Only_Send_Once_A_Week",
				"description": "Replicates 'Only Send once a week' Execute SQL Task. Sets SendDate on unsent tbl_ssis_utility rows only when today is not a holiday and not a Monday, using the Calendar table.",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "CPD_Blob_To_Onprem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "dbdev_onprem",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "DECLARE @updatedate DATE = (\n    SELECT\n        CASE\n            WHEN isHoliday = 0\n             AND DATENAME(weekday, GETDATE()) <> 'Monday'\n            THEN CurrentDate\n            ELSE NULL\n        END AS updatedate\n    FROM Calendar\n    WHERE CurrentDate = CAST(GETDATE() AS DATE)\n);\n\nUPDATE tbl_ssis_utility\nSET SendDate = @updatedate\nWHERE SendDate IS NULL\n"
						}
					],
					"logSettings": {
						"logDestination": "ActivityOutput"
					}
				}
			},
			{
				"name": "LKP_Fetch_Param",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\r\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Dataflow_Name' AND PIPELINE_NAME = 'PPL_SII_Vuln_Email_Alerts' AND DATAFLOW_NAME = 'DF_335_Collect_Daily_SII_Metric') AS Dataflow_Name,\r\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pipeline_Name' AND PIPELINE_NAME = 'PPL_SII_Vuln_Email_Alerts' AND DATAFLOW_NAME = 'DF_335_Collect_Daily_SII_Metric') AS Pipeline_Name,\r\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_Container_Name' AND PIPELINE_NAME = 'PPL_SII_Vuln_Email_Alerts' AND DATAFLOW_NAME = 'DF_335_Collect_Daily_SII_Metric') AS Src_Container_Name,\r\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_filename_Name' AND PIPELINE_NAME = 'PPL_SII_Vuln_Email_Alerts' AND DATAFLOW_NAME = 'DF_335_Collect_Daily_SII_Metric') AS Src_filename,\r\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Src_path_Name' AND PIPELINE_NAME = 'PPL_SII_Vuln_Email_Alerts' AND DATAFLOW_NAME = 'DF_335_Collect_Daily_SII_Metric') AS Src_path_Name,\r\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_Container_Name' AND PIPELINE_NAME = 'PPL_SII_Vuln_Email_Alerts' AND DATAFLOW_NAME = 'DF_335_Collect_Daily_SII_Metric') AS Tgt_Container_Name,\r\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_filename_Name' AND PIPELINE_NAME = 'PPL_SII_Vuln_Email_Alerts' AND DATAFLOW_NAME = 'DF_335_Collect_Daily_SII_Metric') AS Tgt_filename,\r\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Tgt_path_Name' AND PIPELINE_NAME = 'PPL_SII_Vuln_Email_Alerts' AND DATAFLOW_NAME = 'DF_335_Collect_Daily_SII_Metric') AS Tgt_path_Name,\r\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Table_Name' AND PIPELINE_NAME = 'PPL_SII_Vuln_Email_Alerts' AND DATAFLOW_NAME = 'DF_335_Collect_Daily_SII_Metric') AS Tgt_Table_Name,\r\n    (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Schema_Name' AND PIPELINE_NAME = 'PPL_SII_Vuln_Email_Alerts' AND DATAFLOW_NAME = 'DF_335_Collect_Daily_SII_Metric') AS Tgt_Schema_Name,\r\n   ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "PPL_Generic_db_replication",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GateOnTodaysData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Generic_db_replication_ppl",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Pipeline_Name": {
							"value": "@activity('LKP_Fetch_Param').output.firstRow.Pipeline_Name",
							"type": "Expression"
						},
						"SysDatetime": {
							"value": "@formatDateTime(pipeline().TriggerTime,'yyyyMMddHHmmss')",
							"type": "Expression"
						},
						"FilePath_Date": {
							"value": "formatDateTime(pipeline().TriggerTime,'yyyyMMdd')",
							"type": "Expression"
						},
						"Dataflow_Name": {
							"value": "@activity('LKP_Fetch_Param').output.firstRow.Dataflow_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CPD_Blob_To_Onprem",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DF_Collect_Daily_SII_Metric",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Generic_tgt_parquet",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_path_Name",
								"type": "Expression"
							},
							"Container": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Container_Name",
								"type": "Expression"
							},
							"filename": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Generic_OLEDB_DS_TGT",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Table_Name",
								"type": "Expression"
							},
							"Schema": {
								"value": "@activity('LKP_Fetch_Param').output.firstRow.Tgt_Schema_Name",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"folder": {
			"name": "Wellfargo1/COO_VulnPackages"
		},
		"annotations": [
			"Migrated from SSIS SII_Vuln_Email_Alerts.dtsx",
			"Connection manager PLHS → Linked Service LS_PLHS (SQL Server: DWDL0535V1\\DL053511, DB: PLHS)",
			"SSIS variable User::TodaysData consumed inline via activity('CheckTodaysData').output.firstRow.flag — no pipeline variable needed.",
			"SSIS Execute SQL Tasks with inline T-SQL migrated to ADF Script activities — no stored procedures required."
		]
	}
}