pipeline/PPL_Data_Identification.json
{
  "name" : "PPL_Data_Identification",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "Fact_table",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "Fact_table",
        "value" : {
          "value" : "'Exit'",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "CTRL_START_PKG640__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Fact_table",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC Dbo.Return_Run_Control_Variables"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_CTRL_START_PKG640__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "CTRL_START_PKG640__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "Dw_Run_Key",
        "value" : "@activity('CTRL_START_PKG640__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "1_0_CTRL_START_PKG640__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "CTRL_START_PKG640__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "G_Run_Date",
        "value" : "@activity('CTRL_START_PKG640__SCRIPT').output.resultSets[0].rows[1][1]"
      }
    }, {
      "name" : "2_1_0_CTRL_START_PKG640__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "CTRL_START_PKG640__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "G_Run_Eff_DT",
        "value" : "@activity('CTRL_START_PKG640__SCRIPT').output.resultSets[0].rows[2][2]"
      }
    }, {
      "name" : "3_2_1_0_CTRL_START_PKG640__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "CTRL_START_PKG640__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "G_Run_End_DT",
        "value" : "@activity('CTRL_START_PKG640__SCRIPT').output.resultSets[0].rows[3][3]"
      }
    }, {
      "name" : "DFT_FACT_IDENTIFICATION641_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "3_2_1_0_CTRL_START_PKG640__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "0_CTRL_START_PKG640__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "1_0_CTRL_START_PKG640__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "2_1_0_CTRL_START_PKG640__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "DFT_FACT_IDENTIFICATION641_",
          "type" : "DataFlowReference",
          "parameters" : {
            "MailServer" : {
              "type" : "Expression",
              "value" : "'192.168.65.225'"
            },
            "G_Run_Date" : {
              "type" : "Expression",
              "value" : "0"
            },
            "G_Run_Eff_DT" : {
              "type" : "Expression",
              "value" : "toTimestamp('11/11/2010 11:22:30 AM')"
            },
            "MailIDTo" : {
              "type" : "Expression",
              "value" : "'BWBI@bitwiseglobal.com'"
            },
            "G_Run_End_DT" : {
              "type" : "Expression",
              "value" : "toTimestamp('11/11/2010 11:22:22 AM')"
            },
            "ConnectString" : {
              "type" : "Expression",
              "value" : "'Provider=SQLNCLI11.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AccessCard-BI;Data Source=glprdsql12'"
            },
            "Fact_table" : {
              "type" : "Expression",
              "value" : "'Select DW_Holder_Key,DW_AGG_Key,DW_Gate_Key,DW_Run_Key, IO_date,Count( case when IOStatus='Exit' then 1 else null end)  IOStatus_ExCnt, Count( case when IOStatus='Entry' then 1 else null end) IOStatus_EnCnt From(        Select a.*,ISNULL(ISNULL(E.IODate,S.IODate),a.IODate) IO_Date       FROM       (                         SELECT *                          FROM  FACT I                             where                          (                         iodate Between '11/11/2010 11:22:30 AM' And  '11/11/2010 11:22:22 AM'                         )                               ) AS A        LEFT OUTER JOIN        (               SELECT EmployeeName,IODate as PrevDate, IODate,convert(varchar, IOTime,108)  as IOTime,IOStatus ,               (select DW_Holder_Key from dim_holder where Holder_Name=EmployeeName ) as Holder_Key               FROM OOOIOEntry               WHERE Reason = 'Final Exit'                 and cast(substring(convert(varchar, IOTime,108),1,2) as int) < 12       ) AS E              ON A.DW_Holder_Key = E.Holder_Key       AND A.IODate = (e.PrevDate)       LEFT OUTER JOIN       (               SELECT EmployeeName, IODate+1 as NextDate, IODate,convert(varchar, IOTime,108) as IOTime,IOStatus,                (select DW_Holder_Key from dim_holder where Holder_Name=EmployeeName ) as Holder_Key               FROM OOOIOEntry                  WHERE Reason = 'Final Exit'                   and cast(substring(convert(varchar, IOTime,108),1,2) as int) < 12       ) AS S       ON A.DW_Holder_Key = s.Holder_Key       AND A.IODate = (S.NextDate) ) as AA Group By DW_Holder_Key,Dw_Gate_Key,Dw_agg_Key,Dw_Run_Key, IO_date'"
            },
            "Dw_Run_Key" : {
              "type" : "Expression",
              "value" : "0"
            },
            "MailIDFrom" : {
              "type" : "Expression",
              "value" : "'Bhairavnath.Kale@bitwiseglobal.com'"
            }
          },
          "datasetParameters" : {
            "CMDAGGFACT" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLESRCFACT" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "OLE_SRC_FACT",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "MailServer" : {
        "type" : "string",
        "defaultValue" : "'192.168.65.225'"
      },
      "G_Run_Date" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "G_Run_Eff_DT" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('11/11/2010 11:22:30 AM')"
      },
      "MailIDTo" : {
        "type" : "string",
        "defaultValue" : "'BWBI@bitwiseglobal.com'"
      },
      "G_Run_End_DT" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('11/11/2010 11:22:22 AM')"
      },
      "Fact_table" : {
        "type" : "string",
        "defaultValue" : "'Select DW_Holder_Key,DW_AGG_Key,DW_Gate_Key,DW_Run_Key, IO_date,Count( case when IOStatus='Exit' then 1 else null end)  IOStatus_ExCnt, Count( case when IOStatus='Entry' then 1 else null end) IOStatus_EnCnt\\nFrom( \\n      Select a.*,ISNULL(ISNULL(E.IODate,S.IODate),a.IODate) IO_Date\\n      FROM\\n      (\\n                        SELECT * \\n                        FROM  FACT I    \\n                        where \\n                        (\\n                        iodate Between '11/11/2010 11:22:30 AM' And  '11/11/2010 11:22:22 AM'\\n                        )\\n                       \\n      ) AS A \\n      LEFT OUTER JOIN \\n      (\\n              SELECT EmployeeName,IODate as PrevDate, IODate,convert(varchar, IOTime,108)  as IOTime,IOStatus ,\\n              (select DW_Holder_Key from dim_holder where Holder_Name=EmployeeName ) as Holder_Key\\n              FROM OOOIOEntry\\n              WHERE Reason = 'Final Exit'  \\n              and cast(substring(convert(varchar, IOTime,108),1,2) as int) < 12\\n      ) AS E\\n      \\n      ON A.DW_Holder_Key = E.Holder_Key\\n      AND A.IODate = (e.PrevDate)\\n      LEFT OUTER JOIN\\n      (\\n              SELECT EmployeeName, IODate+1 as NextDate, IODate,convert(varchar, IOTime,108) as IOTime,IOStatus,\\n               (select DW_Holder_Key from dim_holder where Holder_Name=EmployeeName ) as Holder_Key\\n              FROM OOOIOEntry   \\n              WHERE Reason = 'Final Exit'    \\n              and cast(substring(convert(varchar, IOTime,108),1,2) as int) < 12\\n      ) AS S\\n      ON A.DW_Holder_Key = s.Holder_Key\\n      AND A.IODate = (S.NextDate)\\n) as AA\\nGroup By DW_Holder_Key,Dw_Gate_Key,Dw_agg_Key,Dw_Run_Key, IO_date'"
      },
      "Dw_Run_Key" : {
        "type" : "Integer",
        "defaultValue" : "0"
      }
    }
  }
}