pipeline/PPL_DailyRefresh_ActiveVulnTbl_2.json
{"name":"PPL_DailyRefresh_ActiveVulnTbl_2","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"221_Prod_225_Truncate_Daily_Vuln_Table_SCRIPT","type":"Script","policy":null,"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static_stage]"}],"scriptBlockExecutionTimeout":null}},{"name":"224_Load_Daily_Vuln_from_View","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"221_Prod_225_Truncate_Daily_Vuln_Table_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"224_Load_Daily_Vuln_from_View","type":"DataFlowReference","parameters":{"Variable":{"type":"Expression","value":"0"},"ExecutionFlag":{"type":"Expression","value":"0"},"StageViewCount":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"224_Load_Daily_Vuln_from_View_OLE_DB_Destination","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"224_Load_Daily_Vuln_from_View","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"StageViewCount","value":"@string(activity('224_Load_Daily_Vuln_from_View').output.runStatus.metrics.OLE_DB_Destination.rowsWritten)"}},{"name":"0_224_Load_Daily_Vuln_from_View","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"224_Load_Daily_Vuln_from_View_OLE_DB_Destination","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"StageViewCount","value":"@split(string(activity('224_Load_Daily_Vuln_from_View').output.result.exitValue), ',')[0]"}},{"name":"221_Prod_222_delete_data_from_Static_to_load_from_","type":"Script","policy":null,"dependsOn":[{"activity":"224_Load_Daily_Vuln_from_View_OLE_DB_Destination","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static]"}],"scriptBlockExecutionTimeout":null}},{"name":"223_Load_Daily_Vuln_from_Stage","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"221_Prod_222_delete_data_from_Static_to_load_from_","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"223_Load_Daily_Vuln_from_Stage","type":"DataFlowReference","parameters":{"Variable":{"type":"Expression","value":"0"},"ExecutionFlag":{"type":"Expression","value":"0"},"StageViewCount":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"218_PIT_Reporting_220_MultiLoad_Clean_Up_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"223_Load_Daily_Vuln_from_Stage","dependencyConditions":["Succeeded"]},{"activity":"0_224_Load_Daily_Vuln_from_View","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"DELETE FROM  [PLHS].[dbo].[tbl_VulnActive_Daily_PIT_MetricsSource]\nWHERE PIT_Date = CAST(GETDATE() AS DATE) "}],"scriptBlockExecutionTimeout":null}},{"name":"219_Load_Daily_Vuln_from_Stage","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"218_PIT_Reporting_220_MultiLoad_Clean_Up_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"219_Load_Daily_Vuln_from_Stage","type":"DataFlowReference","parameters":{"Variable":{"type":"Expression","value":"0"},"ExecutionFlag":{"type":"Expression","value":"0"},"StageViewCount":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"214_Get_Time_Stamp_Execution_Path_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"219_Load_Daily_Vuln_from_Stage","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"select \ncase \nwhen DATEPART(hour,getdate() ) between 12 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 20 then 2\nelse 0 end as ExecuteSeriesFlag\n"}],"scriptBlockExecutionTimeout":null}},{"name":"0_214_Get_Time_Stamp_Execution_Path_VA","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"214_Get_Time_Stamp_Execution_Path_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"ExecutionFlag","value":"@activity('214_Get_Time_Stamp_Execution_Path_SCRIPT').output.resultSets[0].rows[0].ExecutionFlag"}},{"name":"226_Sequence_Container_228_Multi_Load_delete_Dev_S","type":"Script","policy":null,"dependsOn":[{"activity":"0_214_Get_Time_Stamp_Execution_Path_VA","dependencyConditions":["Succeeded"]}],"state":"Inactive","description":null,"onInactiveMarkAs":"Succeeded","linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static_dev]"}],"scriptBlockExecutionTimeout":null}},{"name":"227_Ad-_Hoc_Dev_Load","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"226_Sequence_Container_228_Multi_Load_delete_Dev_S","dependencyConditions":["Succeeded"]}],"state":"Inactive","description":null,"onInactiveMarkAs":"Succeeded","typeProperties":{"dataflow":{"referenceName":"227_Ad-_Hoc_Dev_Load","type":"DataFlowReference","parameters":{"Variable":{"type":"Expression","value":"0"},"ExecutionFlag":{"type":"Expression","value":"0"},"StageViewCount":{"type":"Expression","value":"0"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"227_Ad-_Hoc_Dev_Load_OLE_DB_Destination","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"227_Ad-_Hoc_Dev_Load","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"StageViewCount","value":"@string(activity('227_Ad-_Hoc_Dev_Load').output.runStatus.metrics.OLE_DB_Destination.rowsWritten)"}},{"name":"0_227_Ad-_Hoc_Dev_Load","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"227_Ad-_Hoc_Dev_Load_OLE_DB_Destination","dependencyConditions":["Succeeded"]}],"state":"Inactive","description":null,"onInactiveMarkAs":"Succeeded","typeProperties":{"variableName":"StageViewCount","value":"@split(string(activity('227_Ad-_Hoc_Dev_Load').output.result.exitValue), ',')[0]"}},{"name":"215_Load_Metrics_Dash_216_Clear_Current_Data_SCRIP","type":"Script","policy":null,"dependsOn":[{"activity":"0_227_Ad-_Hoc_Dev_Load","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":" delete from    [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n"}],"scriptBlockExecutionTimeout":null}},{"name":"215_Load_Metrics_Dash_217_Load_tbl_Vuln_Metrics_Mo","type":"Script","policy":null,"dependsOn":[{"activity":"215_Load_Metrics_Dash_216_Clear_Current_Data_SCRIP","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"\nINSERT INTO \n   [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n\nSELECT  [CIO_Direct_Supplimented]\n      ,[Senior_Lead_Supplimented]\n      ,[TechnicalManager_App1]\n      ,[StatusFlag]\n      ,cast([FirstDetected] as date) as [FirstDetected]\n      ,cast([ValidatedDate] as date) as ValidatedDate\n      ,[TCOODueDate]\n      ,[CombID]\n      ,getdate()\n\n  FROM [PLHS].[dbo].[vw_Metrics_Detailed]\n "}],"scriptBlockExecutionTimeout":null}}],"folder":{"name":"neelesh/wellsFargo/PLHS_Monthly_Metrics"},"parameters":{},"variables":{"ExecutionFlag":{"type":"Integer","defaultValue":"0"},"StageViewCount":{"type":"Integer","defaultValue":"0"}}}}