pipeline/PPL_Refresh20WF_People.json
{"name":"PPL_Refresh20WF_People","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Last Refresh Date to Variable_SCRIPT","type":"Script","policy":null,"dependsOn":[],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"SELECT FORMAT(MAX(update_date), 'yyyyMMdd') AS lastRefreshDateString FROM dbo.WF_People"}],"scriptBlockExecutionTimeout":null}},{"name":"0_Last Refresh Date to Variable_VA","type":"SetVariable","policy":{"timeout":"00:30:00","retry":0,"retryIntervalInSeconds":0,"secureOutput":false,"secureInput":false},"dependsOn":[{"activity":"Last Refresh Date to Variable_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"variableName":"lastRefreshDateString","value":"@activity('Last Refresh Date to Variable_SCRIPT').output.resultSets[0].rows[0].lastRefreshDateString"}},{"name":"Truncate WF_People_Staging_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"0_Last Refresh Date to Variable_VA","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"DELETE FROM dbo.WF_People_Staging;"}],"scriptBlockExecutionTimeout":null}},{"name":"Refresh WF_People","type":"ExecuteDataFlow","policy":null,"dependsOn":[{"activity":"Truncate WF_People_Staging_SCRIPT","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"typeProperties":{"dataflow":{"referenceName":"Refresh WF_People","type":"DataFlowReference","parameters":{"lastRefreshDateString":{"type":"Expression","value":"''"}},"datasetParameters":{}},"compute":null,"staging":{}}},{"name":"Merge WF_People_SCRIPT","type":"Script","policy":null,"dependsOn":[{"activity":"Refresh WF_People","dependencyConditions":["Succeeded"]}],"state":null,"description":null,"onInactiveMarkAs":null,"linkedServiceName":{"referenceName":"AzureSqlDatabase1","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"Query","text":"MERGE dbo.WF_People AS trgt\nUSING dbo.WF_People_Staging AS src\nON src.emplId = trgt.emplId\n\nWHEN MATCHED\n    THEN UPDATE SET\n\t\t  trgt.[name] = src.[name]\n\t\t, trgt.[lastName] = src.[lastName]\n\t\t, trgt.[firstName] = src.[firstName]\n\t\t, trgt.[email] = src.[email]\n\t\t, trgt.[isTcoo] = src.[isTcoo]\n\t\t, trgt.[isPlatformAppServices] = src.[isPlatformAppServices]\n\t\t, trgt.[level3Org] = src.[level3Org]\n\t\t, trgt.[level3Mgr] = src.[level3Mgr]\n\t\t, trgt.[level3MgrEmplid] = src.[level3MgrEmplid]\n\t\t, trgt.[level4Org] = src.[level4Org]\n\t\t, trgt.[level4Mgr] = src.[level4Mgr]\n\t\t, trgt.[level4MgrEmplid] = src.[level4MgrEmplid]\n\t\t, trgt.[employeeStatus] = src.[employeeStatus]\n\t\t, trgt.[update_date] = getDate()\n\t\t, trgt.[updated_by] = 'AD-ENT\\TCOO_1TCOO_SSISD'\n\t\t, trgt.[source_name] = 'DISTRIBUTION.VW_CORE_COMMON'\n\nWHEN NOT MATCHED BY TARGET\n    THEN INSERT \n\t\t([emplId], [name], [lastName], [firstName], [email], [isTcoo], [isPlatformAppServices]\n\t\t, [level3Org], [level3Mgr], [level3MgrEmplid], [level4Org], [level4Mgr], [level4MgrEmplid]\n\t\t, [employeeStatus], [create_date], [update_date], [created_by], [updated_by], [source_name])\n\t\tVALUES\n\t\t(src.[emplId], src.[name], src.[lastName], src.[firstName], src.[email], src.[isTcoo]\n\t\t, src.[isPlatformAppServices], src.[level3Org], src.[level3Mgr], src.[level3MgrEmplid]\n\t\t, src.[level4Org], src.[level4Mgr], src.[level4MgrEmplid], src.[employeeStatus]\n\t\t, getDate(), getDate(), 'AD-ENT\\TCOO_1TCOO_SSISD', 'AD-ENT\\TCOO_1TCOO_SSISD', 'DISTRIBUTION.VW_CORE_COMMON')\n\n--\tDO NOT DELETE IF NOT MATCHED SOURCE\n--\tIt means the record was not updated in HR.\n--WHEN NOT MATCHED BY SOURCE\n--    THEN DELETE;\n;"}],"scriptBlockExecutionTimeout":null}}],"folder":{"name":"wellsFargo"},"parameters":{},"variables":{"lastRefreshDateString":{"type":"string","defaultValue":"''"}}}}