pipeline/PPL_USS_Transform 1.json
{
  "name" : "PPL_USS_Transform 1",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "ArchiveFolder",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ArchiveFolder",
        "value" : {
          "value" : "@concat(variables('Cfg_BaseDirectory'),'Transform\\\\Archive\\\\')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "DestinationFile",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "DestinationFile",
        "value" : {
          "value" : "@concat(variables('Cfg_BaseDirectory'),'Reception\\\\',variables('FileNameWithoutPath'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "OutputFile",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "OutputFile",
        "value" : {
          "value" : "@concat(variables('Cfg_BaseDirectory'),'Transform\\\\Output\\\\',variables('FileNameWithoutPath'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "ProcessingFolder",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ProcessingFolder",
        "value" : {
          "value" : "@concat(variables('Cfg_BaseDirectory'),'Transform\\\\Processing\\\\')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "ReceptionFolder",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ReceptionFolder",
        "value" : {
          "value" : "@concat(variables('Cfg_BaseDirectory'),'Transform\\\\Reception\\\\')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "GETMETADATA_Foreach_file_in_dropoff_location2168_",
      "type" : "GetMetadata",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "ReceptionFolder",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "ArchiveFolder",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "DestinationFile",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "OutputFile",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "ProcessingFolder",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "fieldList" : [ "childItems" ],
        "dataset" : {
          "referenceName" : "Generic_OLEDB_DS_SRC",
          "type" : "DatasetReference",
          "parameters" : {
            "TableName" : {
              "value" : "",
              "type" : "Expression"
            },
            "Schema" : {
              "value" : "",
              "type" : "Expression"
            }
          }
        },
        "storeSettings" : {
          "type" : "AzureBlobStorageReadSettings",
          "enablePartitionDiscovery" : false
        },
        "formatSettings" : {
          "type" : "DelimitedTextReadSettings"
        }
      }
    }, {
      "name" : "FILTER_Foreach_file_in_dropoff_location2168_",
      "type" : "Filter",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "GETMETADATA_Foreach_file_in_dropoff_location2168_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('GETMETADATA_Foreach_file_in_dropoff_location2168_').output.childItems",
          "type" : "Expression"
        },
        "condition" : {
          "value" : "@equals(1, 1)",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FOREACH_Foreach_file_in_dropoff_location2168_",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FILTER_Foreach_file_in_dropoff_location2168_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('FILTER_Foreach_file_in_dropoff_location2168_').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "SET_FileName",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "FileName",
            "value" : {
              "value" : "@concat('C:\\ChannelAssets\\USS\\Transform\\Reception\\', item().name)",
              "type" : "Expression"
            }
          }
        }, {
          "name" : "Foreach_file_in_dropoff_location2168__Create_impor",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "SET_FileName",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "INSERT INTO [App].[ImportRun]\n           ([PackageType]\n           ,[PackageGuid]\n           ,[CreatedDate]\n           ,[Status]\n           ,[ProcessingDir])\nVALUES\n           ('USS_PreExecute'\n           ,NEWID()\n           ,GetDate()\n           ,'Execute'\n           ,CONVERT(varchar(255),@Folder))\n\nSET @ImportRunId = SCOPE_IDENTITY()\n\nINSERT INTO [App].[ImportFile]\n           ([ImportRunId]\n           ,[FileName]\n           ,[Status]\n           ,[FileDate]\n           ,[FileNameScheme]\n           ,[Client]\n           ,[Location]\n           ,[Scheme])\n     VALUES\n           (@ImportRunId\n           ,@FileName\n           ,'Execute'\n           ,GetDate()\n           ,NULL\n           ,NULL\n           ,NULL\n           ,NULL)\n\n\nSET @ImportFileID = SCOPE_IDENTITY()\n\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Foreach_file_in_dropoff_location2168__Start_file_processing2180_",
          "type" : "Wait",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Foreach_file_in_dropoff_location2168__Create_impor",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "waitTimeInSeconds" : 10
          }
        }, {
          "name" : "Foreach_file_in_dropoff_location2168__Copy_file_to",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Foreach_file_in_dropoff_location2168__Create_impor",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "0__DELETEForeach_file_in_dropoff_location2168__Del",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Foreach_file_in_dropoff_location2168__Copy_file_to",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        }, {
          "name" : "Transform_file2181_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0__DELETEForeach_file_in_dropoff_location2168__Del",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "Transform_file2181_",
              "type" : "DataFlowReference",
              "parameters" : {
                "ImportFileId" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "OutputFile" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\ChannelAssets\\\\USS\\\\Transform\\\\Output\\\\'"
                },
                "ProcessingFile" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\ChannelAssets\\\\Processing\\\\processing.txt'"
                },
                "HasErrored" : {
                  "type" : "Expression",
                  "value" : "true()"
                },
                "ImportRunId" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "IsFileNameValid" : {
                  "type" : "Expression",
                  "value" : "true()"
                },
                "ProcessingFolder" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\ChannelAssets\\\\USS\\\\Transform\\\\Processing\\\\'"
                },
                "Cfg_BaseDirectory" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\ChannelAssets\\\\USS\\\\'"
                },
                "ArchiveFolder" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\ChannelAssets\\\\USS\\\\Transform\\\\Archive\\\\'"
                },
                "Cfg_DateFormat" : {
                  "type" : "Expression",
                  "value" : "'yyyyMMdd'"
                },
                "Cfg_DatePattern" : {
                  "type" : "Expression",
                  "value" : "'(?<=USS_)\\\\d{8}(?=.csv)'"
                },
                "ArchiveFile" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\ChannelAssets\\\\Archive\\\\archiveSuccess.txt'"
                },
                "ValuationDate" : {
                  "type" : "Expression",
                  "value" : "toTimestamp('9/24/2013 5:35:49 PM')"
                },
                "DestinationFile" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\ChannelAssets\\\\USS\\\\Reception\\\\'"
                },
                "FileNameWithoutPath" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "OriginalFile" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\ChannelAssets\\\\Reception\\\\reception.txt'"
                },
                "ReceptionFolder" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\ChannelAssets\\\\USS\\\\Transform\\\\Reception\\\\'"
                }
              },
              "datasetParameters" : {
                "FlatFileValidatorERROROUTPUTFILE" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "FlatFileSourceERROROUTPUTFILE" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "Importerror10102" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "dbo",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "Importerror10101" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "dbo",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "FlatFileSource" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "FlatFileDestination" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "Foreach_file_in_dropoff_location2168__Handle_filen",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0__DELETEForeach_file_in_dropoff_location2168__Del",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "SET @hasErrored = 1\n\nUPDATE [App].[ImportRun]\nSET Status = 'Invalid file name' + @file\nWHERE Id = @importRunId\n\n\nUPDATE [App].[ImportFile]\nSET Status =  'Invalid file name' + @file\nWHERE Id = @importFileId\n\nINSERT INTO [App].[ImportError]\n           ([ImportRunId]\n           ,[ImportFileId]\n           ,[Message])\n     VALUES (@importRunId, @importFileId, 'Invalid file name format')\n\nINSERT INTO [App].[Log]\n           ([Process]\n           ,[ExternalID]\n           ,[LogType]\n           ,[LogMessage]\n           ,[LogTime]\n           ,[LogNumber]\n           ,[Source]\n           ,[DetailedMessage]\n           ,[LogLevel]\n           ,[LogCode])\n     VALUES\n           ('ChannelAsset_Execute'\n           ,@importRunId\n           ,'Error'\n           ,'Filename validation has failed'\n           ,GetDate()\n           ,0\n           ,'ChannelAsset_Execute'\n           ,'Failed to extract ' + @file + ''\n           ,NULL\n           ,NULL)"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Foreach_file_in_dropoff_location2168__Check_extrac",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Transform_file2181_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "DECLARE @count INT\n\nSET @hasErrored = 0\n\nSelect @count = Count(id) from App.ImportError WHERE ImportRunId = @importRunId\n\nIF @count > 0\nBEGIN\n SET @hasErrored = 1\nEND"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "IFACTIVITY_Foreach_file_in_dropoff_location2168__H",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Foreach_file_in_dropoff_location2168__Check_extrac",
            "dependencyConditions" : [ "Failed" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@variables('HasErrored')",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "Foreach_file_in_dropoff_location2168__Handle_extra",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : "SET @hasErrored = 1\n\nUPDATE [App].[ImportRun]\nSET Status = 'Extract failed'\nWHERE Id = @importRunId\n\n\nUPDATE [App].[ImportFile]\nSET Status =  'Extract failed'\nWHERE Id = @importFileId\n\nINSERT INTO [App].[Log]\n           ([Process]\n           ,[ExternalID]\n           ,[LogType]\n           ,[LogMessage]\n           ,[LogTime]\n           ,[LogNumber]\n           ,[Source]\n           ,[DetailedMessage]\n           ,[LogLevel]\n           ,[LogCode])\n     VALUES\n           ('NorthernTrust_Execute'\n           ,@importRunId\n           ,'Error'\n           ,'Extract step has failed'\n           ,GetDate()\n           ,0\n           ,'NorthernTrust_Execute'\n           ,'Failed to extract ' + @file + '. Please have a look at the App.ImportError for detailes.'\n           ,NULL\n           ,NULL)"
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        }, {
          "name" : "IFACTIVITY_Foreach_file_in_dropoff_location2168__U",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Foreach_file_in_dropoff_location2168__Check_extrac",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@not(variables('HasErrored'))",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "Foreach_file_in_dropoff_location2168__Update_run_s",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : "UPDATE [App].[ImportRun]\nSET Status = 'Success'\nWHERE Id = @importRunId\n\n"
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        }, {
          "name" : "Foreach_file_in_dropoff_location2168__Copy_to_dest",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "IFACTIVITY_Foreach_file_in_dropoff_location2168__U",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "Foreach_file_in_dropoff_location2168__Copy_to_arch",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Foreach_file_in_dropoff_location2168__Handle_filen",
            "dependencyConditions" : [ "Completed" ]
          }, {
            "activity" : "Foreach_file_in_dropoff_location2168__Copy_to_dest",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "IFACTIVITY_Foreach_file_in_dropoff_location2168__H",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "_DELETEForeach_file_in_dropoff_location2168__Delet",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Foreach_file_in_dropoff_location2168__Copy_to_arch",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        } ],
        "isSequential" : true
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "ImportFileId" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "OutputFile" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\ChannelAssets\\\\USS\\\\Transform\\\\Output\\\\'"
      },
      "ProcessingFile" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\ChannelAssets\\\\Processing\\\\processing.txt'"
      },
      "HasErrored" : {
        "type" : "Boolean",
        "defaultValue" : "true()"
      },
      "ImportRunId" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "IsFileNameValid" : {
        "type" : "Boolean",
        "defaultValue" : "true()"
      },
      "ProcessingFolder" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\ChannelAssets\\\\USS\\\\Transform\\\\Processing\\\\'"
      },
      "ArchiveFolder" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\ChannelAssets\\\\USS\\\\Transform\\\\Archive\\\\'"
      },
      "ArchiveFile" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\ChannelAssets\\\\Archive\\\\archiveSuccess.txt'"
      },
      "ValuationDate" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('9/24/2013 5:35:49 PM')"
      },
      "DestinationFile" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\ChannelAssets\\\\USS\\\\Reception\\\\'"
      },
      "FileNameWithoutPath" : {
        "type" : "string"
      },
      "OriginalFile" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\ChannelAssets\\\\Reception\\\\reception.txt'"
      },
      "ReceptionFolder" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\ChannelAssets\\\\USS\\\\Transform\\\\Reception\\\\'"
      }
    }
  }
}