pipeline/ppl_dailyrefresh_activevulntbl_archive.json
{
  "name" : "ppl_dailyrefresh_activevulntbl_archive",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Daily_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage187_') AS Static_Daily_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Daily_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage187_') AS Static_Daily_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage187_') AS Pit_Table_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage187_') AS Pit_Table_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Stage_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage191_') AS Stage_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Stage_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage191_') AS Stage_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage191_') AS Static_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_Stage191_') AS Static_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Vuln_View_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_View192_') AS Vuln_View_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Vuln_View_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_View192_') AS Vuln_View_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_View192_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Load_Daily_Vuln_from_View192_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage187__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage187_') AS Pit_Table_Load_Daily_Vuln_from_Stage187__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage187__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage187_') AS Pit_Table_Load_Daily_Vuln_from_Stage187__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage187__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage187_') AS Pit_Table_Load_Daily_Vuln_from_Stage187__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage187__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Pit_Table_Load_Daily_Vuln_from_Stage187_') AS Pit_Table_Load_Daily_Vuln_from_Stage187__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Load_Daily_Vuln_from_Stage191__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Static_Load_Daily_Vuln_from_Stage191_') AS Static_Load_Daily_Vuln_from_Stage191__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Load_Daily_Vuln_from_Stage191__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Static_Load_Daily_Vuln_from_Stage191_') AS Static_Load_Daily_Vuln_from_Stage191__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Load_Daily_Vuln_from_Stage191__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Static_Load_Daily_Vuln_from_Stage191_') AS Static_Load_Daily_Vuln_from_Stage191__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'Static_Load_Daily_Vuln_from_Stage191__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'Static_Load_Daily_Vuln_from_Stage191_') AS Static_Load_Daily_Vuln_from_Stage191__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View192__source_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View192_') AS OLE_DB_Destination_Load_Daily_Vuln_from_View192__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View192__source_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View192_') AS OLE_DB_Destination_Load_Daily_Vuln_from_View192__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View192__sink_SchemaName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View192_') AS OLE_DB_Destination_Load_Daily_Vuln_from_View192__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View192__sink_TableName' AND PIPELINE_NAME = 'DailyRefresh_ActiveVulnTbl_Archive' AND DATAFLOW_NAME = 'OLE_DB_Destination_Load_Daily_Vuln_from_View192_') AS OLE_DB_Destination_Load_Daily_Vuln_from_View192__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Prod189_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Prod189__Truncate_Daily_Vuln_Table193__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : " delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static_stage]"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Daily_Vuln_from_View192_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Prod189__Truncate_Daily_Vuln_Table193__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Load_Daily_Vuln_from_View192_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_View192_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "load_daily_vuln_from_view192_",
              "type" : "DataFlowReference",
              "parameters" : {
                "Variable" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "ExecutionFlag" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "StageViewCount" : {
                  "type" : "Expression",
                  "value" : "0"
                }
              },
              "datasetParameters" : {
                "OLEDBDestination" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "VulnView" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.VulnView_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.VulnView_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Vuln View",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "OLE_DB_Destination_Load_Daily_Vuln_from_View192_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_View192_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Load_Daily_Vuln_from_View192__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Load_Daily_Vuln_from_View192__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Load_Daily_Vuln_from_View192__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Load_Daily_Vuln_from_View192__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        }, {
          "name" : "Load_Daily_Vuln_from_View192__OLE_DB_Destination",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "OLE_DB_Destination_Load_Daily_Vuln_from_View192_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "StageViewCount",
            "value" : "@int(activity('Load_Daily_Vuln_from_View192_').output.runStatus.metrics.OLE_DB_Destination.rowsWritten)"
          }
        }, {
          "name" : "IFACTIVITY_Prod189__delete_data_from_Static_to_loa",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_View192__OLE_DB_Destination",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@greater(variables('StageViewCount'),0)",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "Prod189__delete_data_from_Static_to_load_from_stag",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : " delete FROM [PLHS].[dbo].[tbl_VulnActive_Daily_Static]"
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage191_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "IFACTIVITY_Prod189__delete_data_from_Static_to_loa",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage191_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_Stage191_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "load_daily_vuln_from_stage191_",
              "type" : "DataFlowReference",
              "parameters" : {
                "Variable" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "ExecutionFlag" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "StageViewCount" : {
                  "type" : "Expression",
                  "value" : "0"
                }
              },
              "datasetParameters" : {
                "Stage" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.Stage_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.Stage_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Stage",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "Static" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "Static_Load_Daily_Vuln_from_Stage191_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_Stage191_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_Load_Daily_Vuln_from_Stage191__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_Load_Daily_Vuln_from_Stage191__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_Load_Daily_Vuln_from_Stage191__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Static_Load_Daily_Vuln_from_Stage191__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        } ]
      }
    }, {
      "name" : "PIT_Reporting186_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Prod189_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "PIT_Reporting186__MultiLoad_Clean_Up188__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "DELETE FROM  [PLHS].[dbo].[tbl_VulnActive_Daily_PIT_MetricsSource]\nWHERE PIT_Date = CAST(GETDATE() AS DATE) "
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage187_0",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "PIT_Reporting186__MultiLoad_Clean_Up188__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : {
              "referenceName" : "PPL_Generic_db_replication_Stage",
              "type" : "PipelineReference"
            },
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Load_Daily_Vuln_from_Stage187_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_Stage187_0",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "load_daily_vuln_from_stage187_",
              "type" : "DataFlowReference",
              "parameters" : {
                "Variable" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "ExecutionFlag" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "StageViewCount" : {
                  "type" : "Expression",
                  "value" : "0"
                }
              },
              "datasetParameters" : {
                "StaticDaily" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.StaticDaily_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.StaticDaily_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Static Daily",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "PitTable" : {
                  "TableName" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.PitTable_TableName",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "@activity('LKP_Fetch_Param').output.firstRow.PitTable_SchemaName",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "Pit_Table_Load_Daily_Vuln_from_Stage187_",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Daily_Vuln_from_Stage187_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : { },
            "sink" : {
              "type" : "AzureSqlSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic_OLEDB_DS_TGT",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Pit_Table_Load_Daily_Vuln_from_Stage187__source_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Pit_Table_Load_Daily_Vuln_from_Stage187__source_SchemaName",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ {
            "referenceName" : "Generic11",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Pit_Table_Load_Daily_Vuln_from_Stage187__sink_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.Pit_Table_Load_Daily_Vuln_from_Stage187__sink_SchemaName",
                "type" : "Expression"
              }
            }
          } ]
        } ]
      }
    }, {
      "name" : "Get_Time_Stamp_Execution_Path182__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "PIT_Reporting186_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "select \ncase \nwhen DATEPART(hour,getdate() ) between 12 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 20 then 2\nelse 0 end as ExecuteSeriesFlag\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_Time_Stamp_Execution_Path182__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_Time_Stamp_Execution_Path182__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ExecutionFlag",
        "value" : "@activity('Get_Time_Stamp_Execution_Path182__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Load_Metrics_Dash183_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path182__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Load_Metrics_Dash183__Clear_Current_Data184__SCRIP",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : " delete from    [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Metrics_Dash183__Load_tbl_Vuln_Metrics_Monthl",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Load_Metrics_Dash183__Clear_Current_Data184__SCRIP",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "\nINSERT INTO \n   [dbo].[tbl_Vuln_Metrics_Monthly_Reduced_Detail]\n\nSELECT  [CIO_Direct_Supplimented]\n      ,[Senior_Lead_Supplimented]\n      ,[TechnicalManager_App1]\n      ,[StatusFlag]\n      ,cast([FirstDetected] as date) as [FirstDetected]\n      ,cast([ValidatedDate] as date) as ValidatedDate\n      ,[TCOODueDate]\n      ,[CombID]\n      ,getdate()\n\n  FROM [PLHS].[dbo].[vw_Metrics_Detailed]\n "
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_0717New/Vulnerability_ETL"
    },
    "parameters" : { },
    "variables" : {
      "ExecutionFlag" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "StageViewCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      }
    }
  }
}