pipeline/ppl_wft_itrackerload_1.json
{
  "name" : "ppl_wft_itrackerload_1",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "LKP_Fetch_Param",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "SELECT (SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker__SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'Counts_Normalization268_') AS iTracker__SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'iTracker__TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'Counts_Normalization268_') AS iTracker__TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'Counts_Normalization268_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'Counts_Normalization268_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'WFT_iTracker_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'WFT_iTracker_Load270_') AS WFT_iTracker_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'WFT_iTracker_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'WFT_iTracker_Load270_') AS WFT_iTracker_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'WFT_iTracker_Load270_') AS OLE_DB_Destination_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'WFT_iTracker_Load270_') AS OLE_DB_Destination_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Counts_Normalization268__source_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Counts_Normalization268_') AS OLE_DB_Destination_Counts_Normalization268__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Counts_Normalization268__source_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Counts_Normalization268_') AS OLE_DB_Destination_Counts_Normalization268__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Counts_Normalization268__sink_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Counts_Normalization268_') AS OLE_DB_Destination_Counts_Normalization268__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_Counts_Normalization268__sink_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_Counts_Normalization268_') AS OLE_DB_Destination_Counts_Normalization268__sink_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_WFT_iTracker_Load270__source_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_WFT_iTracker_Load270_') AS OLE_DB_Destination_WFT_iTracker_Load270__source_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_WFT_iTracker_Load270__source_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_WFT_iTracker_Load270_') AS OLE_DB_Destination_WFT_iTracker_Load270__source_TableName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_WFT_iTracker_Load270__sink_SchemaName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_WFT_iTracker_Load270_') AS OLE_DB_Destination_WFT_iTracker_Load270__sink_SchemaName,\n(SELECT PARAMETER_VALUE FROM AZ_PARAMETERS WHERE PARAMETER_NAME = 'OLE_DB_Destination_WFT_iTracker_Load270__sink_TableName' AND PIPELINE_NAME = 'WFT_iTrackerLoad_1' AND DATAFLOW_NAME = 'OLE_DB_Destination_WFT_iTracker_Load270_') AS OLE_DB_Destination_WFT_iTracker_Load270__sink_TableName;",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "DS_Metadata",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "Execute_SQL_Task269__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LKP_Fetch_Param",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "Truncate table  [dbo].[WFT_iTracker]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "WFT_iTracker_Load270_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Execute_SQL_Task269__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_Generic_db_replication_Stage",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "WFT_iTracker_Load270_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "WFT_iTracker_Load270_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "wft_itracker_load270_",
          "type" : "DataFlowReference",
          "parameters" : { },
          "datasetParameters" : {
            "WFTiTracker" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.WFTiTracker_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.WFTiTracker_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "WFT_iTracker",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "OLE_DB_Destination_WFT_iTracker_Load270_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "WFT_iTracker_Load270_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_WFT_iTracker_Load270__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_WFT_iTracker_Load270__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_WFT_iTracker_Load270__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_WFT_iTracker_Load270__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    }, {
      "name" : "Counts_Normalization268_0",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "OLE_DB_Destination_WFT_iTracker_Load270_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : {
          "referenceName" : "PPL_Generic_db_replication_Stage",
          "type" : "PipelineReference"
        },
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Counts_Normalization268_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Counts_Normalization268_0",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "counts_normalization268_",
          "type" : "DataFlowReference",
          "parameters" : { },
          "datasetParameters" : {
            "iTracker" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.iTracker_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "iTracker_",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_TableName",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLEDBDestination_SchemaName",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "OLE_DB_Destination_Counts_Normalization268_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Counts_Normalization268_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : { },
        "sink" : {
          "type" : "AzureSqlSink"
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Counts_Normalization268__source_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Counts_Normalization268__source_SchemaName",
            "type" : "Expression"
          }
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic11",
        "type" : "DatasetReference",
        "parameters" : {
          "TableName" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Counts_Normalization268__sink_TableName",
            "type" : "Expression"
          },
          "Schema" : {
            "value" : "@activity('LKP_Fetch_Param').output.firstRow.OLE_DB_Destination_Counts_Normalization268__sink_SchemaName",
            "type" : "Expression"
          }
        }
      } ]
    } ],
    "folder" : {
      "name" : "Wellfargo_0717New/Vulnerability_ETL"
    },
    "parameters" : { },
    "variables" : { }
  }
}