pipeline/PPL_DRD_Server_QID_Submissions_3.json
{
  "name" : "PPL_DRD_Server_QID_Submissions_3",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "sFileName",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "sFileName",
        "value" : {
          "value" : "@replace(variables('sSearchFileName'),variables('sSearchDirectory'),'')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "GETMETADATA_289_Foreach_Loop_Container",
      "type" : "GetMetadata",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "sFileName",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "fieldList" : [ "childItems" ],
        "dataset" : {
          "referenceName" : "Generic_SRC",
          "type" : "DatasetReference",
          "paramters" : null
        },
        "storeSettings" : {
          "type" : "AzureBlobStorageReadSettings",
          "enablePartitionDiscovery" : false
        },
        "formatSettings" : {
          "type" : "DelimitedTextReadSettings"
        }
      }
    }, {
      "name" : "FILTER_289_Foreach_Loop_Container",
      "type" : "Filter",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "GETMETADATA_289_Foreach_Loop_Container",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('GETMETADATA_289_Foreach_Loop_Container').output.childItems",
          "type" : "Expression"
        },
        "condition" : {
          "value" : "@equals(1, 1)",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FOREACH_289_Foreach_Loop_Container",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FILTER_289_Foreach_Loop_Container",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('FILTER_289_Foreach_Loop_Container').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "291_DOMSPT_FILE_FIND_LOAD",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ ],
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "291_DOMSPT_FILE_FIND_LOAD",
              "type" : "DataFlowReference",
              "parameters" : {
                "sFileName" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "sSearchDirectory" : {
                  "type" : "Expression",
                  "value" : "'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\TCOOPE\\\\'"
                },
                "sSearchFileName" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "sArchiveDirectory" : {
                  "type" : "Expression",
                  "value" : "'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\Dropzone\\\\TCOOPE\\\\Archive\\\\'"
                }
              },
              "datasetParameters" : { }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "_COPYDATA289_Foreach_Loop_Container_292_Insert_Rec",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "291_DOMSPT_FILE_FIND_LOAD",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ ],
          "outputs" : [ ]
        }, {
          "name" : "289_Foreach_Loop_Container_292_Insert_Records_DELE",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "_COPYDATA289_Foreach_Loop_Container_292_Insert_Rec",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        }, {
          "name" : "289_Foreach_Loop_Container_290_delete_extra_blank_",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "289_Foreach_Loop_Container_292_Insert_Records_DELE",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "delete from [dbo].[tbl_TCOOPE_DRD_Server_QID_Mapping_v2]\nwhere DRDJiraNumber is null"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    } ],
    "folder" : {
      "name" : "Wellfargo1/Vulnerability_ETL_v2022"
    },
    "parameters" : { },
    "variables" : {
      "sFileName" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "sArchiveDirectory" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "sSearchDirectory" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "sSearchFileName" : {
        "type" : "string",
        "defaultValue" : "''"
      }
    }
  }
}