pipeline/PPL_UTILITYALERT.json
{
  "name" : "PPL_UTILITYALERT",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "sMessage",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "sMessage",
        "value" : {
          "value" : "@concat('Component Send Email Utility_',variables('sEnvironment'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "60_Delete_alerts_older_than_2_months_SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "sMessage",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "delete from PLHS.[dbo].[tbl_ssis_utility]  WHERE ReceiveDate <= DATEADD(d, -120, getdate())"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "65_Get_alerts_that_need_to_be_sent_SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "60_Delete_alerts_older_than_2_months_SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "Select ID, [To],[Subject],isnull([body],'') as Body,BodyFormat, ISNULL(CC,'') CC FROM PLHS.dbo.tbl_ssis_utility where [To] != ' ' and SendDate is null"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_65_Get_alerts_that_need_to_be_sent_VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "65_Get_alerts_that_need_to_be_sent_SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "rsFile",
        "value" : "@activity('65_Get_alerts_that_need_to_be_sent_SCRIPT').output.resultSets[0].rows[0].rsFile"
      }
    }, {
      "name" : "FOREACH_62_Foreach_Loop_Container",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_65_Get_alerts_that_need_to_be_sent_VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : null,
        "activities" : [ {
          "name" : "62_Foreach_Loop_Container_63_Mark_Record_as_Sent_S",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "UPDATE tbl_ssis_utility SET SendDate = GETDATE() WHERE (ID = @0)"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    }, {
      "name" : "61_Failure_Mail",
      "type" : "WebActivity",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "60_Delete_alerts_older_than_2_months_SCRIPT",
        "dependencyConditions" : [ "Failed" ]
      }, {
        "activity" : "0_65_Get_alerts_that_need_to_be_sent_VA",
        "dependencyConditions" : [ "Failed" ]
      }, {
        "activity" : "FOREACH_62_Foreach_Loop_Container",
        "dependencyConditions" : [ "Failed" ]
      } ],
      "description" : "Success Mail",
      "typeProperties" : {
        "method" : "POST",
        "headers" : null,
        "linkedServices" : null,
        "datasets" : null,
        "disableCertValidation" : true,
        "httpRequestTimeout" : "00:01:00",
        "turnOffAsync" : false,
        "url" : null,
        "body" : "",
        "authentication" : null,
        "waitTimeInSeconds" : null,
        "timeout" : null,
        "reportStatusOnCallBack" : null
      }
    } ],
    "folder" : {
      "name" : "Wellfargo1/COO_VulnPackages"
    },
    "parameters" : { },
    "variables" : {
      "sBody" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "sProcessName" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "sSendDate" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('')"
      },
      "rsFile" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "iID" : {
        "type" : "int",
        "defaultValue" : "0"
      },
      "sRAndSEmailAddress" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "sMessageSuccess" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "sTO" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "sReceiveDate" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('')"
      },
      "sCC" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "sSubject" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "iBodyFormat" : {
        "type" : "int",
        "defaultValue" : "0"
      },
      "sEnvironment" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "rMessage" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "sMessage" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "sMessageFailure" : {
        "type" : "string",
        "defaultValue" : "''"
      }
    }
  }
}