pipeline/PPL_CBGDM_dbo_FactInventoryTransaction.json
{
  "name" : "PPL_CBGDM_dbo_FactInventoryTransaction",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "DestinationTable",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "DestinationTable",
        "value" : {
          "value" : "@concat('[',notConvertedectfunctionstringtoken(pipeline().PipelineName, '_', 2),'].[',notConvertedectfunctionstringtoken(pipeline().PipelineName, '_', 3),']')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "QueryReadFromPoolStockInv",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "QueryReadFromPoolStockInv",
        "value" : {
          "value" : "@variables('di_inventory')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "QueryReadFromProductCount",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "QueryReadFromProductCount",
        "value" : {
          "value" : "@variables('di_product_id')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "QueryReadFromRecPurchsOrder",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "QueryReadFromRecPurchsOrder",
        "value" : {
          "value" : "@variables('di_inventory')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "QueryReadfromSourceAG",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "QueryReadfromSourceAG",
        "value" : {
          "value" : "@notConvertedcast(variables('ProductCode_AS_int'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "QueryReadFromStockReqstion",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "QueryReadFromStockReqstion",
        "value" : {
          "value" : "@variables('di_inventory')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "QueryReadFromWorkOrder",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "QueryReadFromWorkOrder",
        "value" : {
          "value" : "@variables('di_product_id')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "Get_PackageExecutionID228__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "QueryReadFromWorkOrder",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "DestinationTable",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "QueryReadFromPoolStockInv",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "QueryReadFromProductCount",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "QueryReadFromRecPurchsOrder",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "QueryReadfromSourceAG",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "QueryReadFromStockReqstion",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DECLARE @CurrentTime datetime= GETDATE()\n\nEXECUTE [dbo].[UpdatePackageExecutionID] \n   @ExecutionStatus='InProgress'\n  ,@CurrentDate= @CurrentTime\n  ,@PackageGuid=@0\n  ,@PackageName=@1\n  ,@PackageStartTime=@2\n  ,@ParentPackagExecutionID=@3\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_PackageExecutionID228__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_PackageExecutionID228__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "PackageExecutionID",
        "value" : "@activity('Get_PackageExecutionID228__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Sequence_Container229_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_PackageExecutionID228__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Sequence_Container229__Truncate_Target_Table233__S",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "TRUNCATE TABLE [dbo].[FactInventoryTransaction] WITH (PARTITIONS (2));\n\n \n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Load_Target_Table231_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Sequence_Container229__Truncate_Target_Table233__S",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "Load_Target_Table231_",
              "type" : "DataFlowReference",
              "parameters" : {
                "RowsReadNoError" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "QueryReadFromRecPurchsOrder" : {
                  "type" : "Expression",
                  "value" : "'--Version 1.0 SELECT  \t [ProductId]=POD.di_inventory \t,[WarehouseId]=R.di_warehouse_id \t,[WarehouseLocationId]=RD.[di_warehouse_location_id] \t,[SupplierCode]=PO.ds_supplier \t,[RemittoSupplierCode]=PO.ds_supplier_remitto \t,[TransactionHeaderID]=CAST((CAST(R.di_receiving_id as varchar(10))+':'+PO.ds_project) as varchar(30)) \t,[TransactionDetailID]=CAST((CAST(Rd.di_receiving_dtl_id as varchar(10))+'-'+CAST( POD.[di_purchase_order_dtl_id] as varchar(10))) as varchar(40)) \t,[RecordNumber]=ROW_NUMBER() OVER  \t\t\t\t(Partition by POD.[di_inventory],R.[di_warehouse_id] \t\t\t\t\t\t\t,R.di_receiving_id  \t\t\t\t\t\t\tORDER BY di_receiving_dtl_id,POD.[di_purchase_order_dtl_id]) \t,[TransactionStatus]=PO.[di_status] \t,[TransactionType]= CAST( 'Receiving-Purchase Order' as VARCHAR(30)) \t,[CreatedDate]=PO.dd_created \t,[ReleasedDate]=PO.dd_released \t,[CompletedDate]=PO.dd_completed \t,[DeleteDate]=PO.dd_deleted \t,[JournalDate]=R.dd_journal \t,[RequiredDate]=PO.dd_required \t,[FilledDate]=CAST(NULL as datetime) \t,[ConfirmedDeliveryDate]=POD.dd_confirmed_delivery \t,[Quantity]=RD.di_qty_received \t,[UnitCost]=CAST((POD.dn_price) as numeric(14,2)) \t,[IsReceivedForStock]=db_stock FROM dbo.pur_receiving_dtl RD WITH (NOLOCK) INNER JOIN dbo.pur_receiving R WITH (NOLOCK) ON R.di_receiving_id=RD.di_receiving_id INNER JOIN dbo.[pur_purchase_order_dtl] POD WITH (NOLOCK) ON RD.di_purchase_order_dtl_id=POD.di_purchase_order_dtl_id INNER JOIN dbo.[pur_purchase_order] PO WITH (NOLOCK) ON PO.di_purchase_order_id = POD.di_purchase_order_id AND R.di_purchase_order_id=PO.di_purchase_order_id  --WHERE   [di_inventory] IN (999817) '"
                },
                "QueryReadFromStockReqstion" : {
                  "type" : "Expression",
                  "value" : "'--Version 1.0 SELECT \t [ProductId]=SRD.[di_inventory] \t,[WarehouseId]=SR.[di_warehouse_id] \t,[WarehouseLocationId]=SRD.[di_warehouse_location_id] \t,[TransactionHeaderID]=CAST([SRD].di_stock_requisition_id as VARCHAR(30)) \t,[TransactionDetailID]=CAST(CAST(SRD.di_stock_requisition_dtl_id as varchar(20)) + '-' + CAST([di_stock_requisition_dtl_stock_id] as VARCHAR(20)) as VARCHAR(40)) \t,[RecordNumber]=ROW_NUMBER() OVER  \t\t\t\t\t(Partition by SRD.[di_inventory],SR.[di_warehouse_id] \t\t\t\t\t\t\t\t,SRD.di_stock_requisition_id \t\t\t\t\t\t\t\tORDER BY SRD.di_stock_requisition_dtl_id,[di_stock_requisition_dtl_stock_id]) \t,[TransactionStatus]=SR.[di_status] \t,[TransactionType]=CAST('Stock Requisition' as VARCHAR(30)) \t,[CreatedDate]=SR.[dd_created] \t,[ReleasedDate]=SR.dd_released \t,[CompletedDate]=SR.dd_completed \t,[DeleteDate]=SR.dd_deleted \t,[JournalDate]=SR.dd_journal \t,[RequiredDate]=SR.dd_required \t,[FilledDate]=SR.dd_filled \t,[ConfirmedDeliveryDate]=CAST(NULL AS datetime) \t,[Quantity]=0-[di_qty] \t,[UnitCost]=CAST([dn_cost] as NUMERIC(14, 2))   FROM   \t(SELECT\t [di_stock_requisition_dtl_stock_id] ,1as id  \t\t,[di_stock_requisition_dtl_id] \t\t,[di_qty] \t\t,[dn_cost] \tFROM [dbo].[ord_stock_requisition_dtl_stock]  WITH (NOLOCK) \tUNION ALL \tSELECT \t [di_stock_requisition_dtl_opening_id], 2 as id \t\t,[di_stock_requisition_dtl_id] \t\t,([di_qty]-di_qty_deleted) as [di_qty] \t\t,[dn_cost_wip] as [dn_cost] \tFROM [dbo].[ord_stock_requisition_dtl_opening] WITH (NOLOCK) \tWHERE   di_stock_requisition_dtl_id NOT IN \t\t(SELECT di_stock_requisition_dtl_id \t\t  FROM [dbo].[ord_stock_requisition_dtl_stock]  WITH (NOLOCK)) ) SRDO INNER JOIN dbo.ord_stock_requisition_dtl SRD WITH (NOLOCK) ON SRDO.di_stock_requisition_dtl_id=SRD.di_stock_requisition_dtl_id INNER JOIN dbo.ord_stock_requisition SR WITH (NOLOCK) ON SRD.di_stock_requisition_id = SR.di_stock_requisition_id  '"
                },
                "RowsInserted" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "RowsNotWrittenError" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "RowsReadError" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "QueryReadfromSourceAG" : {
                  "type" : "Expression",
                  "value" : "'--Ver1.0 Initial  --Ver1.0 Initial WITH MXDt as ( SELECT MAX(FILEDATE) MXFiledate FROM [Stg].[AgilityInvtyStockFile]) SELECT \t[ProductId] = CAST([ProductCode] AS int) \t,[Description] = CAST([MetricDescription] AS varchar(1024)) \t,[ProductTypeCategoryCode] = CAST([ProductTypeCategoryCode] AS varchar(30))  \t,[ManufacturerCode] = CAST([ManufacturerCode] AS varchar(50))  \t,[WarehouseId] = CAST([WarehouseId] AS int) \t,[WarehouseLocationId] = CAST([WarehouseId] AS int)  \t,[DivisionCode] = CAST([DivisionCode] AS varchar(8))  \t,[SupplierCode] = CAST('N/A' AS varchar(10)) \t,[TransactionHeaderID] = CAST('Agility Invty' AS varchar(30)) \t,[TransactionDetailID] = CAST('N/A' AS varchar(40)) \t,[TransactionStatus] = CAST(-1 AS int) \t,[TransactionType] = CAST( 'Receiving-Purchase Order AG' AS varchar(30)) \t,[CreatedDate] = CAST([LAST RECEIVE DATE] AS datetime) \t,[ReleasedDate] = CAST(NULL AS datetime) \t,[CompletedDate] = CAST([LAST RECEIVE DATE] AS datetime) \t,[DeleteDate] = CAST(NULL AS datetime) \t\t,[JournalDate] = CAST(ISNULL([LAST RECEIVE DATE],FileDate) AS datetime) ,[RequiredDate] = CAST(NULL AS datetime) \t,[FilledDate] = CAST(NULL AS datetime) \t,[ConfirmedDeliveryDate] = CAST(NULL AS datetime) \t,[IsReceivedForStock] = CAST(1 AS bit) \t,[IsWarehouseStockItem] = CAST(1 AS bit) \t,[IsFifo] = CAST(0 AS bit) \t,[Quantity] = CAST(ISNULL(ROUND(CAST([QTY ON HAND] AS NUMERIC(10,2)),0),0) AS int) \t,[QuantityUsed] = CAST(ISNULL(ROUND(CAST([QTY COMMITTED] AS NUMERIC(10,2)),0),0) AS int) \t,[QuantityRemaining] = CAST((ISNULL(ROUND(CAST([QTY ON HAND] AS NUMERIC(10,2)),0),0)- \t\t\t\t\t\t\t\t ISNULL(ROUND(CAST([QTY COMMITTED] AS NUMERIC(10,2)),0),0))  AS int) \t,[UnitCost] = CAST(ISNULL([Last Received Unit Cost],'0') AS numeric(14,2)) \t,[ExtendedCost] = CAST(ISNULL([EXTENDED COST QOH],'0') AS numeric(14,2)) \t,[ExtendedCostUsed] = CAST(ISNULL([EXTENDED COST QTY COMMITTED],'0') AS numeric(14,2)) \t,[ExtendedCostRemaining] = CAST( CAST(ISNULL([EXTENDED COST QOH],'0') AS decimal(14,2))  \t\t\t\t\t\t\t\t\t\t- CAST(ISNULL([EXTENDED COST QTY COMMITTED],'0') AS decimal(14,2)) AS numeric(14,2))     FROM [Stg].[AgilityInvtyStockFile] F LEFT JOIN DBO.Product P ON P.[Description] = F.Item+'|'+F.[Description] \t\t\t\t\t\t\tAND P.SourceSystemId = 6 LEFT JOIN DBO.Warehouse W ON W.Code = ISNULL(F.[Location],'') \t\t\t\t\t\t\tAND W.SourceSystemId = 6  WHERE FileDate IN (SELECT MXFiledate FROM MXDT)   '"
                },
                "RowsUpdated" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "QueryReadFromPoolStockInv" : {
                  "type" : "Expression",
                  "value" : "'--Ver 1.0 SELECT   \t [ProductId]=PSI.[di_inventory] \t,[WarehouseId]=PWL.[di_warehouse_id] \t,[WarehouseLocationId]=PWL.[di_warehouse_location_id] \t,[TransactionHeaderID]=CAST(PS.di_pool_stock_id  as VARCHAR(30)) \t,[TransactionDetailID]=CAST(PSI.di_pool_stock_inventory_id as VARCHAR(40)) \t,[RecordNumber]=ROW_NUMBER() OVER  \t\t\t\t\t(Partition by PSI.[di_inventory],PWL.[di_warehouse_id] \t\t\t\t\t\t\t\t,PS.di_pool_stock_id \t\t\t\t\t\t\t\tORDER BY di_pool_stock_inventory_id) \t,[TransactionStatus]=3 \t,[TransactionType]=CAST('Pool Stock' as VARCHAR(30)) \t,[CreatedDate]=PS.[dd_created] \t,[ReleasedDate]=CAST(NULL AS datetime) \t,[CompletedDate]=CAST(NULL AS datetime) \t,[DeleteDate]=CAST(NULL AS datetime) \t,[JournalDate]=PS.dd_journal \t,[RequiredDate]=CAST(NULL AS datetime) \t,[FilledDate]=CAST(NULL AS datetime) \t,[ConfirmedDeliveryDate]=CAST(NULL AS datetime) \t,[Quantity]=[di_qty] \t,[UnitCost]=CAST([dn_cost] as NUMERIC(14, 2)) FROM [dbo].[pool_stock_inventory] PSI WITH (NOLOCK) JOIN dbo.prd_warehouse_location PWL WITH (NOLOCK) ON PWL.di_warehouse_location_id=PSI.di_warehouse_location_id JOIN [dbo].[pool_stock] PS WITH (NOLOCK) ON PSI.di_pool_stock_id=PS.di_pool_stock_id --WHERE di_inventory IN(999817) '"
                },
                "RowsDeleted" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "QueryReadFromProductCount" : {
                  "type" : "Expression",
                  "value" : "'--Version 1.0  SELECT  \t [ProductId]=[di_product_id] \t,[WarehouseId]=PC.[di_warehouse_id] \t,[WarehouseLocationId]=PCSD.[di_warehouse_location_id] \t,[TransactionHeaderID]=CAST([PCSD].[di_product_count_id] as varchar(30)) \t,[TransactionDetailID]=CAST((CAST([di_product_count_dtl_id] as varchar(10))+'-'+Src) as  varchar(40)) \t,[RecordNumber]=ROW_NUMBER() OVER  \t\t\t\t\t(Partition by [di_product_id],PC.[di_warehouse_id],[PCSD].[di_product_count_id] \t\t\t\t\t\t\t\tORDER BY [di_product_count_dtl_id]) \t,[TransactionStatus]=[di_status] \t,[TransactionType]=CAST('Product Count' as varchar(30)) \t,[CreatedDate]=[dd_created] \t,[ReleasedDate]=[dd_released] \t,[CompletedDate]=[dd_completed] \t,[DeleteDate]=[dd_deleted] \t,[JournalDate]=[dd_journal] \t,[RequiredDate]=CAST(NULL as datetime) \t,[FilledDate]=CAST(NULL as datetime) \t,[ConfirmedDeliveryDate]=CAST(NULL as datetime) \t,[Quantity]=di_qty \t,[UnitCost]=CAST(PCSD.dn_cost as Numeric(14,2)) FROM ( \tSELECT \t\t 'PCS' as Src  \t\t,di_product_count_id \t\t,di_product_count_stock_id as di_product_count_dtl_id \t\t,di_product_dtl_id   \t\t,0-di_qty as di_qty \t\t,PCS.dn_cost \t\t,-5 di_warehouse_location_id   \tFROM dbo.prd_product_count_stock PCS WITH (NOLOCK) \t \tUNION ALL \t \tSELECT  \t\t'PCD' as Src  \t\t,di_product_count_id \t\t,di_product_count_dtl_id  \t\t,di_product_dtl_id  \t\t,di_qty_counted  -  di_qty_released as di_qty  \t\t,PCD.dn_cost   \t\t,di_warehouse_location_id \tFROM dbo.prd_product_count_dtl PCD WITH (NOLOCK) \tINNER JOIN dbo.prd_product_dtl_warehouse_location PDWL  WITH (NOLOCK) \t\t\t\t ON PDWL.di_product_dtl_warehouse_location_id = PCD.di_product_dtl_warehouse_location_id \tWHERE di_qty_counted  -  di_qty_released >0 \t) PCSD INNER JOIN dbo.prd_product_count PC  WITH (NOLOCK) ON PC.di_product_count_id = PCSD.di_product_count_id INNER JOIN dbo.prd_product_dtl PD  WITH (NOLOCK) ON PD.di_product_dtl_id = PCSD.di_product_dtl_id  WHERE [di_status] <4 AND di_qty <> 0  --AND   [di_product_id] IN (999817) '"
                },
                "ParentPackageExecutionID" : {
                  "type" : "Expression",
                  "value" : "-99"
                },
                "PackageExecutionID" : {
                  "type" : "Expression",
                  "value" : "340"
                },
                "DestinationTable" : {
                  "type" : "Expression",
                  "value" : "'[dbo].[FactInventoryTransaction]'"
                },
                "RowsDiscarded" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "QueryReadFromWorkOrder" : {
                  "type" : "Expression",
                  "value" : "'-- Version 1.0 SELECT [ProductId] = [di_product_id] \t,[WarehouseId] = WO.[di_warehouse_id] \t,[WarehouseLocationId]=PDWL.[di_warehouse_location_id] \t,[TransactionHeaderID] = CAST(WO.di_work_order_id AS VARCHAR(30)) \t,[TransactionDetailID] = CAST(di_work_order_stock_id AS VARCHAR(40)) \t,[RecordNumber]=ROW_NUMBER() OVER  \t\t\t\t\t(Partition by [di_product_id],WO.[di_warehouse_id] \t\t\t\t\t\t\t\t,WO.di_work_order_id \t\t\t\t\t\t\t\tORDER BY di_work_order_stock_id) \t,[TransactionStatus] = [di_status] \t,[TransactionType] = CAST('Work Order' AS VARCHAR(30)) \t,[CreatedDate] = [dd_created] \t,[ReleasedDate] = [dd_released] \t,[CompletedDate] = [dd_completed] \t,[DeleteDate] = [dd_deleted] \t,[JournalDate] = [dd_journal] \t,[RequiredDate] = CAST(NULL AS DATETIME) \t,[FilledDate] = CAST(NULL AS DATETIME) \t,[ConfirmedDeliveryDate] = CAST(NULL AS DATETIME) \t,[Quantity] = WOS.di_qty \t,[UnitCost] = CAST(WOS.dn_cost AS NUMERIC(14, 2)) FROM [dbo].[ord_work_order] WO   JOIN [dbo].[ord_work_order_stock] WOS ON WOS.di_work_order_id = WO.di_work_order_id   JOIN [dbo].[prd_product_dtl_warehouse_location] PDWL ON PDWL.di_product_dtl_warehouse_location_id = WOS.di_product_dtl_warehouse_location_id   JOIN prd_product_dtl PD ON PD.di_product_dtl_id = PDWL.di_product_dtl_id AND PD.di_warehouse_id = WO.[di_warehouse_id]  --WHERE   [di_product_Id] IN (999817) '"
                }
              },
              "datasetParameters" : {
                "ReadFromWorkOrderERROROUTPUTFILE" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "WritetoTarget" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "dbo",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "LkpComSenseDWProductLKPTABLE" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Lkp ComSense DW Product",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "ReadFromRecPurchaseOrder" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Read From Rec-PurchaseOrder",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "LkpWarehouseDivisionLKPTABLE" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Lkp Warehouse Division",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "ReadFromWorkOrder" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Read From Work Order",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "ReadFromProductCount" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Read From ProductCount",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "ReadFromProductCountERROROUTPUTFILE" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "LookupWarehouseStockLKPTABLE" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Lookup Warehouse Stock",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "ReadfromStockReqstionERROROUTPUTFILE" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "ReadFromPoolStockInventory" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Read From Pool Stock Inventory",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "ReadFromPoolStockInventoryERROROUTPUTFILE" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "ReadfromStockReqstion" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Read from StockReqstion",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "LookupFifoLKPTABLE" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Lookup Fifo",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "LookupBCDivisionSKLKPTABLE" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "Lookup BCDivisionSK",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "ReadFromRecPurchaseOrderERROROUTPUTFILE" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "Load_Target_Table231__Write_to_Target",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Load_Target_Table231_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "RowsNotWrittenError",
            "value" : "@int(activity('Load_Target_Table231_').output.runStatus.metrics.Write_to_Target.rowsWritten)"
          }
        }, {
          "name" : "Sequence_Container229__Get_Rows_Inserted_Updated23",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Sequence_Container229__Truncate_Target_Table233__S",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "Load_Target_Table231__Write_to_Target",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "SELECT ISNULL(SUM(CASE WHEN ETLCreateDate IS NOT NULL THEN 1 ELSE 0 END),0) AS RowsInserted\nFROM [dbo].[FactInventoryTransaction] WHERE \n  $partition.[parfn_SourceSytemId_New](SOURCESYSTEMID) = 2\nAND ETLExecutionID=340"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_0_Sequence_Container229__Get_Rows_Inserted_Updat",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container229__Get_Rows_Inserted_Updated23",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "RowsInserted",
            "value" : "@activity('Sequence_Container229__Get_Rows_Inserted_Updated23').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "Sequence_Container229__Update_Success_PackageExecu",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0_0_Sequence_Container229__Get_Rows_Inserted_Updat",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "DECLARE @CurrentTime datetime= GETDATE()\n\nEXECUTE [dbo].[UpdatePackageExecutionID] \n   @ExecutionStatus='Success'\n  ,@CurrentDate=@CurrentTime\n  ,@PackageExecutionID=@0\n  ,@RowsReadNoError=@1\n  ,@RowsInserted=@2\n  ,@RowsUpdated=@3\n  ,@RowsDeleted=@4\n  ,@RowsReadError=@5\n  ,@RowsNotWrittenError=@6\n  ,@RowsDiscarded=@7\n  ,@RowsLookupError=0"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    }, {
      "name" : "Update_Error_PackageExecutionID235__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Sequence_Container229_",
        "dependencyConditions" : [ "Failed" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DECLARE @CurrentTime datetime= GETDATE()\n\nEXECUTE [dbo].[UpdatePackageExecutionID] \n   @ExecutionStatus='Failure'\n  ,@CurrentDate= @CurrentTime\n  ,@PackageStartTime=@0\n  ,@PackageExecutionID=@1"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "RowsReadNoError" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "QueryReadFromRecPurchsOrder" : {
        "type" : "string",
        "defaultValue" : "'--Version 1.0\\nSELECT \\n\t [ProductId]=POD.di_inventory\\n\t,[WarehouseId]=R.di_warehouse_id\\n\t,[WarehouseLocationId]=RD.[di_warehouse_location_id]\\n\t,[SupplierCode]=PO.ds_supplier\\n\t,[RemittoSupplierCode]=PO.ds_supplier_remitto\\n\t,[TransactionHeaderID]=CAST((CAST(R.di_receiving_id as varchar(10))+':'+PO.ds_project) as varchar(30))\\n\t,[TransactionDetailID]=CAST((CAST(Rd.di_receiving_dtl_id as varchar(10))+'-'+CAST( POD.[di_purchase_order_dtl_id] as varchar(10))) as varchar(40))\\n\t,[RecordNumber]=ROW_NUMBER() OVER \\n\t\t\t\t(Partition by POD.[di_inventory],R.[di_warehouse_id]\\n\t\t\t\t\t\t\t,R.di_receiving_id \\n\t\t\t\t\t\t\tORDER BY di_receiving_dtl_id,POD.[di_purchase_order_dtl_id])\\n\t,[TransactionStatus]=PO.[di_status]\\n\t,[TransactionType]= CAST( 'Receiving-Purchase Order' as VARCHAR(30))\\n\t,[CreatedDate]=PO.dd_created\\n\t,[ReleasedDate]=PO.dd_released\\n\t,[CompletedDate]=PO.dd_completed\\n\t,[DeleteDate]=PO.dd_deleted\\n\t,[JournalDate]=R.dd_journal\\n\t,[RequiredDate]=PO.dd_required\\n\t,[FilledDate]=CAST(NULL as datetime)\\n\t,[ConfirmedDeliveryDate]=POD.dd_confirmed_delivery\\n\t,[Quantity]=RD.di_qty_received\\n\t,[UnitCost]=CAST((POD.dn_price) as numeric(14,2))\\n\t,[IsReceivedForStock]=db_stock\\nFROM dbo.pur_receiving_dtl RD WITH (NOLOCK)\\nINNER JOIN dbo.pur_receiving R WITH (NOLOCK) ON R.di_receiving_id=RD.di_receiving_id\\nINNER JOIN dbo.[pur_purchase_order_dtl] POD WITH (NOLOCK) ON RD.di_purchase_order_dtl_id=POD.di_purchase_order_dtl_id\\nINNER JOIN dbo.[pur_purchase_order] PO WITH (NOLOCK) ON PO.di_purchase_order_id = POD.di_purchase_order_id AND R.di_purchase_order_id=PO.di_purchase_order_id\\n\\n--WHERE   [di_inventory] IN (999817)'"
      },
      "QueryReadFromStockReqstion" : {
        "type" : "string",
        "defaultValue" : "'--Version 1.0\\nSELECT\\n\t [ProductId]=SRD.[di_inventory]\\n\t,[WarehouseId]=SR.[di_warehouse_id]\\n\t,[WarehouseLocationId]=SRD.[di_warehouse_location_id]\\n\t,[TransactionHeaderID]=CAST([SRD].di_stock_requisition_id as VARCHAR(30))\\n\t,[TransactionDetailID]=CAST(CAST(SRD.di_stock_requisition_dtl_id as varchar(20)) + '-' + CAST([di_stock_requisition_dtl_stock_id] as VARCHAR(20)) as VARCHAR(40))\\n\t,[RecordNumber]=ROW_NUMBER() OVER \\n\t\t\t\t\t(Partition by SRD.[di_inventory],SR.[di_warehouse_id]\\n\t\t\t\t\t\t\t\t,SRD.di_stock_requisition_id\\n\t\t\t\t\t\t\t\tORDER BY SRD.di_stock_requisition_dtl_id,[di_stock_requisition_dtl_stock_id])\\n\t,[TransactionStatus]=SR.[di_status]\\n\t,[TransactionType]=CAST('Stock Requisition' as VARCHAR(30))\\n\t,[CreatedDate]=SR.[dd_created]\\n\t,[ReleasedDate]=SR.dd_released\\n\t,[CompletedDate]=SR.dd_completed\\n\t,[DeleteDate]=SR.dd_deleted\\n\t,[JournalDate]=SR.dd_journal\\n\t,[RequiredDate]=SR.dd_required\\n\t,[FilledDate]=SR.dd_filled\\n\t,[ConfirmedDeliveryDate]=CAST(NULL AS datetime)\\n\t,[Quantity]=0-[di_qty]\\n\t,[UnitCost]=CAST([dn_cost] as NUMERIC(14, 2)) \\n FROM  \\n\t(SELECT\t [di_stock_requisition_dtl_stock_id] ,1as id \\n\t\t,[di_stock_requisition_dtl_id]\\n\t\t,[di_qty]\\n\t\t,[dn_cost]\\n\tFROM [dbo].[ord_stock_requisition_dtl_stock]  WITH (NOLOCK)\\n\tUNION ALL\\n\tSELECT \t [di_stock_requisition_dtl_opening_id], 2 as id\\n\t\t,[di_stock_requisition_dtl_id]\\n\t\t,([di_qty]-di_qty_deleted) as [di_qty]\\n\t\t,[dn_cost_wip] as [dn_cost]\\n\tFROM [dbo].[ord_stock_requisition_dtl_opening] WITH (NOLOCK)\\n\tWHERE   di_stock_requisition_dtl_id NOT IN\\n\t\t(SELECT di_stock_requisition_dtl_id\\n\t\t  FROM [dbo].[ord_stock_requisition_dtl_stock]  WITH (NOLOCK))\\n) SRDO\\nINNER JOIN dbo.ord_stock_requisition_dtl SRD WITH (NOLOCK) ON SRDO.di_stock_requisition_dtl_id=SRD.di_stock_requisition_dtl_id\\nINNER JOIN dbo.ord_stock_requisition SR WITH (NOLOCK) ON SRD.di_stock_requisition_id = SR.di_stock_requisition_id'"
      },
      "RowsInserted" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsNotWrittenError" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsReadError" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "QueryReadfromSourceAG" : {
        "type" : "string",
        "defaultValue" : "'--Ver1.0 Initial\\n\\n--Ver1.0 Initial\\nWITH MXDt as (\\nSELECT MAX(FILEDATE) MXFiledate FROM [Stg].[AgilityInvtyStockFile]) SELECT\\n\t[ProductId] = CAST([ProductCode] AS int)\\n\t,[Description] = CAST([MetricDescription] AS varchar(1024))\\n\t,[ProductTypeCategoryCode] = CAST([ProductTypeCategoryCode] AS varchar(30))\\n \t,[ManufacturerCode] = CAST([ManufacturerCode] AS varchar(50))\\n \t,[WarehouseId] = CAST([WarehouseId] AS int)\\n\t,[WarehouseLocationId] = CAST([WarehouseId] AS int)\\n \t,[DivisionCode] = CAST([DivisionCode] AS varchar(8))\\n \t,[SupplierCode] = CAST('N/A' AS varchar(10))\\n\t,[TransactionHeaderID] = CAST('Agility Invty' AS varchar(30))\\n\t,[TransactionDetailID] = CAST('N/A' AS varchar(40))\\n\t,[TransactionStatus] = CAST(-1 AS int)\\n\t,[TransactionType] = CAST( 'Receiving-Purchase Order AG' AS varchar(30))\\n\t,[CreatedDate] = CAST([LAST RECEIVE DATE] AS datetime)\\n\t,[ReleasedDate] = CAST(NULL AS datetime)\\n\t,[CompletedDate] = CAST([LAST RECEIVE DATE] AS datetime)\\n\t,[DeleteDate] = CAST(NULL AS datetime)\\n\t\t,[JournalDate] = CAST(ISNULL([LAST RECEIVE DATE],FileDate) AS datetime)\\n,[RequiredDate] = CAST(NULL AS datetime)\\n\t,[FilledDate] = CAST(NULL AS datetime)\\n\t,[ConfirmedDeliveryDate] = CAST(NULL AS datetime)\\n\t,[IsReceivedForStock] = CAST(1 AS bit)\\n\t,[IsWarehouseStockItem] = CAST(1 AS bit)\\n\t,[IsFifo] = CAST(0 AS bit)\\n\t,[Quantity] = CAST(ISNULL(ROUND(CAST([QTY ON HAND] AS NUMERIC(10,2)),0),0) AS int)\\n\t,[QuantityUsed] = CAST(ISNULL(ROUND(CAST([QTY COMMITTED] AS NUMERIC(10,2)),0),0) AS int)\\n\t,[QuantityRemaining] = CAST((ISNULL(ROUND(CAST([QTY ON HAND] AS NUMERIC(10,2)),0),0)-\\n\t\t\t\t\t\t\t\t ISNULL(ROUND(CAST([QTY COMMITTED] AS NUMERIC(10,2)),0),0))  AS int)\\n\t,[UnitCost] = CAST(ISNULL([Last Received Unit Cost],'0') AS numeric(14,2))\\n\t,[ExtendedCost] = CAST(ISNULL([EXTENDED COST QOH],'0') AS numeric(14,2))\\n\t,[ExtendedCostUsed] = CAST(ISNULL([EXTENDED COST QTY COMMITTED],'0') AS numeric(14,2))\\n\t,[ExtendedCostRemaining] = CAST( CAST(ISNULL([EXTENDED COST QOH],'0') AS decimal(14,2)) \\n\t\t\t\t\t\t\t\t\t\t- CAST(ISNULL([EXTENDED COST QTY COMMITTED],'0') AS decimal(14,2)) AS numeric(14,2))\\n  \\n FROM [Stg].[AgilityInvtyStockFile] F\\nLEFT JOIN DBO.Product P ON P.[Description] = F.Item+'|'+F.[Description]\\n\t\t\t\t\t\t\tAND P.SourceSystemId = 6\\nLEFT JOIN DBO.Warehouse W ON W.Code = ISNULL(F.[Location],'')\\n\t\t\t\t\t\t\tAND W.SourceSystemId = 6\\n WHERE FileDate IN (SELECT MXFiledate FROM MXDT)'"
      },
      "RowsUpdated" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "QueryReadFromPoolStockInv" : {
        "type" : "string",
        "defaultValue" : "'--Ver 1.0\\nSELECT  \\n\t [ProductId]=PSI.[di_inventory]\\n\t,[WarehouseId]=PWL.[di_warehouse_id]\\n\t,[WarehouseLocationId]=PWL.[di_warehouse_location_id]\\n\t,[TransactionHeaderID]=CAST(PS.di_pool_stock_id  as VARCHAR(30))\\n\t,[TransactionDetailID]=CAST(PSI.di_pool_stock_inventory_id as VARCHAR(40))\\n\t,[RecordNumber]=ROW_NUMBER() OVER \\n\t\t\t\t\t(Partition by PSI.[di_inventory],PWL.[di_warehouse_id]\\n\t\t\t\t\t\t\t\t,PS.di_pool_stock_id\\n\t\t\t\t\t\t\t\tORDER BY di_pool_stock_inventory_id)\\n\t,[TransactionStatus]=3\\n\t,[TransactionType]=CAST('Pool Stock' as VARCHAR(30))\\n\t,[CreatedDate]=PS.[dd_created]\\n\t,[ReleasedDate]=CAST(NULL AS datetime)\\n\t,[CompletedDate]=CAST(NULL AS datetime)\\n\t,[DeleteDate]=CAST(NULL AS datetime)\\n\t,[JournalDate]=PS.dd_journal\\n\t,[RequiredDate]=CAST(NULL AS datetime)\\n\t,[FilledDate]=CAST(NULL AS datetime)\\n\t,[ConfirmedDeliveryDate]=CAST(NULL AS datetime)\\n\t,[Quantity]=[di_qty]\\n\t,[UnitCost]=CAST([dn_cost] as NUMERIC(14, 2))\\nFROM [dbo].[pool_stock_inventory] PSI WITH (NOLOCK)\\nJOIN dbo.prd_warehouse_location PWL WITH (NOLOCK) ON PWL.di_warehouse_location_id=PSI.di_warehouse_location_id\\nJOIN [dbo].[pool_stock] PS WITH (NOLOCK) ON PSI.di_pool_stock_id=PS.di_pool_stock_id\\n--WHERE di_inventory IN(999817)'"
      },
      "RowsDeleted" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "QueryReadFromProductCount" : {
        "type" : "string",
        "defaultValue" : "'--Version 1.0 \\nSELECT \\n\t [ProductId]=[di_product_id]\\n\t,[WarehouseId]=PC.[di_warehouse_id]\\n\t,[WarehouseLocationId]=PCSD.[di_warehouse_location_id]\\n\t,[TransactionHeaderID]=CAST([PCSD].[di_product_count_id] as varchar(30))\\n\t,[TransactionDetailID]=CAST((CAST([di_product_count_dtl_id] as varchar(10))+'-'+Src) as  varchar(40))\\n\t,[RecordNumber]=ROW_NUMBER() OVER \\n\t\t\t\t\t(Partition by [di_product_id],PC.[di_warehouse_id],[PCSD].[di_product_count_id]\\n\t\t\t\t\t\t\t\tORDER BY [di_product_count_dtl_id])\\n\t,[TransactionStatus]=[di_status]\\n\t,[TransactionType]=CAST('Product Count' as varchar(30))\\n\t,[CreatedDate]=[dd_created]\\n\t,[ReleasedDate]=[dd_released]\\n\t,[CompletedDate]=[dd_completed]\\n\t,[DeleteDate]=[dd_deleted]\\n\t,[JournalDate]=[dd_journal]\\n\t,[RequiredDate]=CAST(NULL as datetime)\\n\t,[FilledDate]=CAST(NULL as datetime)\\n\t,[ConfirmedDeliveryDate]=CAST(NULL as datetime)\\n\t,[Quantity]=di_qty\\n\t,[UnitCost]=CAST(PCSD.dn_cost as Numeric(14,2))\\nFROM (\\n\tSELECT\\n\t\t 'PCS' as Src \\n\t\t,di_product_count_id\\n\t\t,di_product_count_stock_id as di_product_count_dtl_id\\n\t\t,di_product_dtl_id  \\n\t\t,0-di_qty as di_qty\\n\t\t,PCS.dn_cost\\n\t\t,-5 di_warehouse_location_id  \\n\tFROM dbo.prd_product_count_stock PCS WITH (NOLOCK)\\n\t\\n\tUNION ALL\\n\t\\n\tSELECT \\n\t\t'PCD' as Src \\n\t\t,di_product_count_id\\n\t\t,di_product_count_dtl_id \\n\t\t,di_product_dtl_id \\n\t\t,di_qty_counted  -  di_qty_released as di_qty \\n\t\t,PCD.dn_cost  \\n\t\t,di_warehouse_location_id\\n\tFROM dbo.prd_product_count_dtl PCD WITH (NOLOCK)\\n\tINNER JOIN dbo.prd_product_dtl_warehouse_location PDWL  WITH (NOLOCK)\\n\t\t\t\t ON PDWL.di_product_dtl_warehouse_location_id = PCD.di_product_dtl_warehouse_location_id\\n\tWHERE di_qty_counted  -  di_qty_released >0\\n\t) PCSD\\nINNER JOIN dbo.prd_product_count PC  WITH (NOLOCK) ON PC.di_product_count_id = PCSD.di_product_count_id\\nINNER JOIN dbo.prd_product_dtl PD  WITH (NOLOCK) ON PD.di_product_dtl_id = PCSD.di_product_dtl_id\\n\\nWHERE [di_status] <4 AND di_qty <> 0 \\n--AND   [di_product_id] IN (999817)'"
      },
      "PackageExecutionID" : {
        "type" : "Integer",
        "defaultValue" : "340"
      },
      "DestinationTable" : {
        "type" : "string",
        "defaultValue" : "'[dbo].[FactInventoryTransaction]'"
      },
      "RowsDiscarded" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "QueryReadFromWorkOrder" : {
        "type" : "string",
        "defaultValue" : "'-- Version 1.0\\nSELECT [ProductId] = [di_product_id]\\n\t,[WarehouseId] = WO.[di_warehouse_id]\\n\t,[WarehouseLocationId]=PDWL.[di_warehouse_location_id]\\n\t,[TransactionHeaderID] = CAST(WO.di_work_order_id AS VARCHAR(30))\\n\t,[TransactionDetailID] = CAST(di_work_order_stock_id AS VARCHAR(40))\\n\t,[RecordNumber]=ROW_NUMBER() OVER \\n\t\t\t\t\t(Partition by [di_product_id],WO.[di_warehouse_id]\\n\t\t\t\t\t\t\t\t,WO.di_work_order_id\\n\t\t\t\t\t\t\t\tORDER BY di_work_order_stock_id)\\n\t,[TransactionStatus] = [di_status]\\n\t,[TransactionType] = CAST('Work Order' AS VARCHAR(30))\\n\t,[CreatedDate] = [dd_created]\\n\t,[ReleasedDate] = [dd_released]\\n\t,[CompletedDate] = [dd_completed]\\n\t,[DeleteDate] = [dd_deleted]\\n\t,[JournalDate] = [dd_journal]\\n\t,[RequiredDate] = CAST(NULL AS DATETIME)\\n\t,[FilledDate] = CAST(NULL AS DATETIME)\\n\t,[ConfirmedDeliveryDate] = CAST(NULL AS DATETIME)\\n\t,[Quantity] = WOS.di_qty\\n\t,[UnitCost] = CAST(WOS.dn_cost AS NUMERIC(14, 2))\\nFROM [dbo].[ord_work_order] WO\\n  JOIN [dbo].[ord_work_order_stock] WOS ON WOS.di_work_order_id = WO.di_work_order_id\\n  JOIN [dbo].[prd_product_dtl_warehouse_location] PDWL ON PDWL.di_product_dtl_warehouse_location_id = WOS.di_product_dtl_warehouse_location_id\\n  JOIN prd_product_dtl PD ON PD.di_product_dtl_id = PDWL.di_product_dtl_id AND PD.di_warehouse_id = WO.[di_warehouse_id]\\n\\n--WHERE   [di_product_Id] IN (999817)'"
      }
    }
  }
}