pipeline/PPL_PCF_WEEKLY.json
{
  "name" : "PPL_PCF_Weekly",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "Execute_SQL_Task244__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "SELECT \n convert(varchar(8),cast(currentdate as date),112) Friday\nFROM \ndbo.calendar\nwhere cast(Getdate() as date) = cast(currentdate as date)"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Execute_SQL_Task244__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Execute_SQL_Task244__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "sFileDate",
        "value" : "@activity('Execute_SQL_Task244__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "PCF_All_data245_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Execute_SQL_Task244__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "PCF_All_data245_",
          "type" : "DataFlowReference",
          "parameters" : {
            "sFileDate" : {
              "type" : "Expression",
              "value" : "''"
            },
            "FileName" : {
              "type" : "Expression",
              "value" : "'PCF_Buildpack_Mappings_All_'"
            },
            "FoundFile" : {
              "type" : "Expression",
              "value" : "''"
            }
          },
          "datasetParameters" : {
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "PCF_BuildPack_Mapping_All",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "PCFBuildPacksAllMappings" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_0715/Vulnerability_ETL"
    },
    "parameters" : { },
    "variables" : {
      "sFileDate" : {
        "type" : "string"
      }
    }
  }
}