pipeline/PPL_CBGDM_Stg_BGCCustomers.json
{
  "name" : "PPL_CBGDM_Stg_BGCCustomers",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "DestinationTable",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "DestinationTable",
        "value" : {
          "value" : "@concat('[',notConvertedectfunctionstringtoken(pipeline().PipelineName, '_', 2),'].[',notConvertedectfunctionstringtoken(pipeline().PipelineName, '_', 3),']')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "Get_ParentPackageExecutionID534__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "DestinationTable",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DECLARE @CurrentTime datetime= GETDATE()\n\nEXECUTE [dbo].[UpdatePackageExecutionID] \n   @ExecutionStatus='InProgress'\n  ,@CurrentDate= @CurrentTime\n  ,@PackageGuid=@0\n  ,@PackageName=@1\n  ,@PackageStartTime=@2\n  ,@ParentPackagExecutionID=@3\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_ParentPackageExecutionID534__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_ParentPackageExecutionID534__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "PackageExecutionID",
        "value" : "@activity('Get_ParentPackageExecutionID534__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Sequence_Container535_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_ParentPackageExecutionID534__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Sequence_Container535__Fetch_CSV_from_FTP538_COPY",
          "type" : "Copy",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "0_Sequence_Container535__Truncate_Customer_Table54",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Sequence_Container535__Fetch_CSV_from_FTP538_COPY",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "TRUNCATE TABLE [Stg].[BGCCustomers];"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Sequence_Container535__Insert_Anonymous_Entry540__",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0_Sequence_Container535__Truncate_Customer_Table54",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "insert into [Stg].[BGCCustomers] (id, firstName, lastName, SourceSystemId, ETLCreateDate, ETLExecutionId) values (-2, 'Anonymous', 'Customers', 20, GETDATE(), @0)"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "CSV_to_Database536_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Sequence_Container535__Insert_Anonymous_Entry540__",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "CSV_to_Database536_",
              "type" : "DataFlowReference",
              "parameters" : {
                "RowsReadNoError" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "RowsDeleted" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "FTPCustomerDestinationPath" : {
                  "type" : "Expression",
                  "value" : "'/Data Warehouse/BIGCOMMERCE/customers.csv'"
                },
                "RowsInserted" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "ParentPackageExecutionId" : {
                  "type" : "Expression",
                  "value" : "-99"
                },
                "PackageExecutionID" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "CustomerDestinationPath" : {
                  "type" : "Expression",
                  "value" : "'F:\\\\BigcommerceFiles\\\\customers.csv'"
                },
                "DestinationTable" : {
                  "type" : "Expression",
                  "value" : "'[Stg].[BGCCustomers]'"
                },
                "RowsDiscarded" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "RowsNotWrittenError" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "RowsReadError" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "RowsUpdated" : {
                  "type" : "Expression",
                  "value" : "0"
                }
              },
              "datasetParameters" : {
                "CustomersTable" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "dbo",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "CustomersCSV" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "CustomersCSVERROROUTPUTFILE" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "Sequence_Container535__Get_Rows_Inserted_Updated53",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "CSV_to_Database536_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "SELECT ISNULL(SUM(CASE WHEN ETLCreateDate IS NOT NULL THEN 1 ELSE 0 END),0) AS RowsInserted\nFROM [Stg].[BGCCustomers] WHERE ETLExecutionID=0"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_0_Sequence_Container535__Get_Rows_Inserted_Updat",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container535__Get_Rows_Inserted_Updated53",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "RowsInserted",
            "value" : "@activity('Sequence_Container535__Get_Rows_Inserted_Updated53').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "_DELETESequence_Container535__Delete_CSV537_",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0_0_Sequence_Container535__Get_Rows_Inserted_Updat",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        }, {
          "name" : "Sequence_Container535__Update_Success_PackageExecu",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "_DELETESequence_Container535__Delete_CSV537_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "DECLARE @CurrentTime datetime= GETDATE()\n\nEXECUTE [dbo].[UpdatePackageExecutionID] \n   @ExecutionStatus='Success'\n  ,@CurrentDate=@CurrentTime\n  ,@PackageExecutionID=@0\n  ,@RowsReadNoError=@1\n  ,@RowsInserted=@2\n  ,@RowsUpdated=@3\n  ,@RowsDeleted=@4\n  ,@RowsReadError=@5\n  ,@RowsNotWrittenError=@6\n  ,@RowsDiscarded=@7\n  ,@RowsLookupError=0"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    }, {
      "name" : "Update_Error_PackageExecutionID543__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Sequence_Container535_",
        "dependencyConditions" : [ "Failed" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DECLARE @CurrentTime datetime= GETDATE()\n\nEXECUTE [dbo].[UpdatePackageExecutionID] \n   @ExecutionStatus='Failure'\n  ,@CurrentDate= @CurrentTime\n  ,@PackageStartTime=@0\n  ,@PackageExecutionID=@1"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "RowsReadNoError" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsDeleted" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsInserted" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "PackageExecutionID" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "DestinationTable" : {
        "type" : "string",
        "defaultValue" : "'[Stg].[BGCCustomers]'"
      },
      "RowsDiscarded" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsNotWrittenError" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsReadError" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsUpdated" : {
        "type" : "Integer",
        "defaultValue" : "0"
      }
    }
  }
}