pipeline/PPL_AM_TimeSheet.json
{
  "name" : "PPL_AM_TimeSheet",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "SQL_for_RunKeyStatus34__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC RunKeyStatus"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_SQL_for_RunKeyStatus34__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_for_RunKeyStatus34__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "DW_Run_Key",
        "value" : "@activity('SQL_for_RunKeyStatus34__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "1_0_SQL_for_RunKeyStatus34__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_for_RunKeyStatus34__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "DW_Run_Month",
        "value" : "@activity('SQL_for_RunKeyStatus34__SCRIPT').output.resultSets[0].rows[1][1]"
      }
    }, {
      "name" : "2_1_0_SQL_for_RunKeyStatus34__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_for_RunKeyStatus34__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "DW_Run_Eff_dt",
        "value" : "@activity('SQL_for_RunKeyStatus34__SCRIPT').output.resultSets[0].rows[2][2]"
      }
    }, {
      "name" : "3_2_1_0_SQL_for_RunKeyStatus34__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_for_RunKeyStatus34__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "DW_Run_Cncl_Dt",
        "value" : "@activity('SQL_for_RunKeyStatus34__SCRIPT').output.resultSets[0].rows[3][3]"
      }
    }, {
      "name" : "SQL_For_Delete_records32__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "3_2_1_0_SQL_for_RunKeyStatus34__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "0_SQL_for_RunKeyStatus34__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "1_0_SQL_for_RunKeyStatus34__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "2_1_0_SQL_for_RunKeyStatus34__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "  \n  delete from [dw].[AM_F_TimeSheet]  \n  where \n  [AM_TimeSheetMonthYear] =(\n  (select CONVERT(varchar,datepart(mm,Run_Eff_DT))\n  +'-'+\n  CONVERT(varchar,datepart(yyyy,Run_Eff_DT) )\n  from dbo.Ctrl_Run where Status_Code='Running'))"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "DFT_AM_F_TimeSheet18_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "SQL_For_Delete_records32__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "DFT_AM_F_TimeSheet18_",
          "type" : "DataFlowReference",
          "parameters" : {
            "var_Error_Flag" : {
              "type" : "Expression",
              "value" : "0"
            },
            "timesheetdateSK" : {
              "type" : "Expression",
              "value" : "toTimestamp('12/21/2011 10:18:00 AM')"
            },
            "var_Email_To" : {
              "type" : "Expression",
              "value" : "''"
            },
            "new_Data" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "DW_Run_Key" : {
              "type" : "Expression",
              "value" : "0"
            },
            "var_SMTP_Server" : {
              "type" : "Expression",
              "value" : "'192.168.65.225'"
            },
            "Data_Src" : {
              "type" : "Expression",
              "value" : "'DBDEVSRV\\\\SQL2012'"
            },
            "var_CC" : {
              "type" : "Expression",
              "value" : "''"
            },
            "var_Email_Subject" : {
              "type" : "Expression",
              "value" : "''"
            },
            "NoOfMonths" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "var_BCC" : {
              "type" : "Expression",
              "value" : "''"
            },
            "projectSK" : {
              "type" : "Expression",
              "value" : "0"
            },
            "DW_Run_Cncl_Dt" : {
              "type" : "Expression",
              "value" : "toTimestamp('12/12/2011 7:14:56 PM')"
            },
            "DW_Run_Month" : {
              "type" : "Expression",
              "value" : "0"
            },
            "var_Dest_Conn" : {
              "type" : "Expression",
              "value" : "'Provider=SQLNCLI11.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=pmPOD-BI;Data Source=spsql19dev'"
            },
            "var_Initial_Catalog" : {
              "type" : "Expression",
              "value" : "'pmPOD-BI'"
            },
            "DW_Run_Eff_dt" : {
              "type" : "Expression",
              "value" : "toTimestamp('12/12/2011 7:14:18 PM')"
            },
            "Password" : {
              "type" : "Expression",
              "value" : "'pmpodbi'"
            },
            "User_Name" : {
              "type" : "Expression",
              "value" : "'pmpod'"
            },
            "SQL1" : {
              "type" : "Expression",
              "value" : "'SELECT TimeSheetSK,TimeSheetID,TimeSheetTitle,TimeSheetDate,TimeTaken,TimeSheetMajorTaskSK,TimeSheetProjectSK,TimeSheetProjectResourceSK,TimeSheetTaskCategorySK,TimeSheetTaskCategoryTypeSK,TimeSheetMinorTaskSk,TimeSheetDateSK,DW_Run_Key,DW_Create_Datetime,DW_Update_Datetime,TimeTakenHR,TimeSheetDefectSk FROM  dw.F_TimeSheet where TimeSheetProjectResourceSK = 944 AND datepart(mm,TimeSheetDateSK)=10 AND datepart(yyyy,TimeSheetDateSK)=2011'"
            },
            "monthyear" : {
              "type" : "Expression",
              "value" : "''"
            },
            "SQL" : {
              "type" : "Expression",
              "value" : "'SELECT ISNULL(TimeSheet.TimesheetProjectResourceSk ,ProjectResource.ProjectResourceSk) AS TimesheetProjectResourceSk,ISNULL(TimeSheet.TimeSheetProjectSK,ProjectResource.ProjectResourceProjectSK) AS TimeSheetProjectSK,ProjectResource.[ProjectResourcePmPodEnableFlag],ProjectResourceEnableTimesheetFlag,ISNULL(TimeSheet.TimeSheetTaskCategoryTypeSK,-3) TimeSheetTaskCategoryTypeSK,TimeSheet.TimeSheetDateSK,isnull(TimeSheet.TimeTaken,0) AS TimeTaken,isnull(TimeSheet.TimeTakenHR,0.00) as TimeTakenHR  from dw.D_ProjectResources as projectresource left outer join (select * from dw.F_TimeSheet WHERE  (DATEPART(mm, TimeSheetDate)=0) AND (DATEPART(yyyy, TimeSheetDate) =(SELECT DATEPART(yyyy, Run_Eff_DT) AS Expr1 FROM dbo.Ctrl_Run WHERE  (Status_Code = 'Running')))) as timesheet on (projectresource.ProjectResourceSK=timesheet.TimeSheetProjectResourceSK)'"
            },
            "var_Email_From" : {
              "type" : "Expression",
              "value" : "''"
            },
            "taskCategoryTypeSK" : {
              "type" : "Expression",
              "value" : "0"
            },
            "timesheetmonth" : {
              "type" : "Expression",
              "value" : "0"
            },
            "timesheetyear" : {
              "type" : "Expression",
              "value" : "0"
            },
            "var_Error_Description" : {
              "type" : "Expression",
              "value" : "''"
            },
            "projectResourceSK" : {
              "type" : "Expression",
              "value" : "0"
            }
          },
          "datasetParameters" : {
            "OLEDSTAMTimeSheet" : {
              "TableName" : {
                "value" : "AM_F_TimeSheet",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLESRCTimeSheet" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "OLE_SRC TimeSheet",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "0_SQL_For_Old_Data33_",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "DFT_AM_F_TimeSheet18_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "select TimeSheetProjectSK,\nTimeSheetProjectResourceSK,\nTimeSheetTaskCategoryTypeSK,\nTimeSheetDateSK from DW.F_TimeSheet\nwhere DW_Run_Key=? and\nDatepart(mm,TimeSheetDate)<>?",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "AM_TimeSheet17_.gl541.Pmpod.pmpod",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "FOREACH_FELC_Check_per_record24_",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_SQL_For_Old_Data33_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('0_SQL_For_Old_Data33_').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "0_FELC_Check_per_record24__SQL_For_Delete_Old_AGG2",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "delete from dw.AM_F_TimeSheet where AM_TimeSheetMonthYear=  CONVERT(varchar,DATEPART(mm,@0))+'-'+CONVERT(varchar,DATEPART(yyyy,@1))\nand AM_TimeSheetProjectResourceSK in (select ProjectResourceSK from dw.D_ProjectResources\n\t\t\t\t\t\t\t\t\t\twhere ProjectResourcesID = (select ProjectResourcesID  from dw.D_ProjectResources\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\twhere ProjectResourceSK =@2)\n\t\t\t\t\t\t\t\t\t\tand ProjectResourceProjectSK in (select projectsk from dw.D_Projects \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t where ProjectID = (select ProjectID from dw.D_Projects \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\twhere ProjectSK = @3))\n\t\t\t\t\t\t\t\t\t)"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "FELC_Check_per_record24__SQL_To_select_mont_and_Ye",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0_FELC_Check_per_record24__SQL_For_Delete_Old_AGG2",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "select distinct(datepart(mm,TimeSheetDateSK)),datepart(yyyy,TimeSheetDateSK)\nfrom dw.F_TimeSheet\nwhere\n TimeSheetProjectResourceSK=@0\nand TimeSheetDateSK=@1"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_0_FELC_Check_per_record24__SQL_To_select_mont_an",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "FELC_Check_per_record24__SQL_To_select_mont_and_Ye",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "timesheetmonth",
            "value" : "@activity('FELC_Check_per_record24__SQL_To_select_mont_and_Ye').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "1_0_0_FELC_Check_per_record24__SQL_To_select_mont_",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "FELC_Check_per_record24__SQL_To_select_mont_and_Ye",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "timesheetyear",
            "value" : "@activity('FELC_Check_per_record24__SQL_To_select_mont_and_Ye').output.resultSets[0].rows[1][1]"
          }
        }, {
          "name" : "DFT_New_Data25_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "1_0_0_FELC_Check_per_record24__SQL_To_select_mont_",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "0_0_FELC_Check_per_record24__SQL_To_select_mont_an",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "DFT_New_Data25_",
              "type" : "DataFlowReference",
              "parameters" : {
                "var_Error_Flag" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "timesheetdateSK" : {
                  "type" : "Expression",
                  "value" : "toTimestamp('12/21/2011 10:18:00 AM')"
                },
                "var_Email_To" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "new_Data" : {
                  "type" : "Expression",
                  "value" : "'                                                                                                                                                                                    '"
                },
                "DW_Run_Key" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "var_SMTP_Server" : {
                  "type" : "Expression",
                  "value" : "'192.168.65.225'"
                },
                "Data_Src" : {
                  "type" : "Expression",
                  "value" : "'DBDEVSRV\\\\SQL2012'"
                },
                "var_CC" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "var_Email_Subject" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "NoOfMonths" : {
                  "type" : "Expression",
                  "value" : "'                                                                                                                                                                                    '"
                },
                "var_BCC" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "projectSK" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "DW_Run_Cncl_Dt" : {
                  "type" : "Expression",
                  "value" : "toTimestamp('12/12/2011 7:14:56 PM')"
                },
                "DW_Run_Month" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "var_Dest_Conn" : {
                  "type" : "Expression",
                  "value" : "'Provider=SQLNCLI11.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=pmPOD-BI;Data Source=spsql19dev'"
                },
                "var_Initial_Catalog" : {
                  "type" : "Expression",
                  "value" : "'pmPOD-BI'"
                },
                "DW_Run_Eff_dt" : {
                  "type" : "Expression",
                  "value" : "toTimestamp('12/12/2011 7:14:18 PM')"
                },
                "Password" : {
                  "type" : "Expression",
                  "value" : "'pmpodbi'"
                },
                "User_Name" : {
                  "type" : "Expression",
                  "value" : "'pmpod'"
                },
                "SQL1" : {
                  "type" : "Expression",
                  "value" : "'SELECT TimeSheetSK,TimeSheetID,TimeSheetTitle,TimeSheetDate,TimeTaken,TimeSheetMajorTaskSK,TimeSheetProjectSK,TimeSheetProjectResourceSK,TimeSheetTaskCategorySK,TimeSheetTaskCategoryTypeSK,TimeSheetMinorTaskSk,TimeSheetDateSK,DW_Run_Key,DW_Create_Datetime,DW_Update_Datetime,TimeTakenHR,TimeSheetDefectSk FROM  dw.F_TimeSheet where TimeSheetProjectResourceSK = 944 AND datepart(mm,TimeSheetDateSK)=10 AND datepart(yyyy,TimeSheetDateSK)=2011'"
                },
                "monthyear" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "SQL" : {
                  "type" : "Expression",
                  "value" : "'SELECT ISNULL(TimeSheet.TimesheetProjectResourceSk ,ProjectResource.ProjectResourceSk) AS TimesheetProjectResourceSk,ISNULL(TimeSheet.TimeSheetProjectSK,ProjectResource.ProjectResourceProjectSK) AS TimeSheetProjectSK,ProjectResource.[ProjectResourcePmPodEnableFlag],ProjectResourceEnableTimesheetFlag,ISNULL(TimeSheet.TimeSheetTaskCategoryTypeSK,-3) TimeSheetTaskCategoryTypeSK,TimeSheet.TimeSheetDateSK,isnull(TimeSheet.TimeTaken,0) AS TimeTaken,isnull(TimeSheet.TimeTakenHR,0.00) as TimeTakenHR  from dw.D_ProjectResources as projectresource left outer join (select * from dw.F_TimeSheet WHERE  (DATEPART(mm, TimeSheetDate)=0) AND (DATEPART(yyyy, TimeSheetDate) =(SELECT DATEPART(yyyy, Run_Eff_DT) AS Expr1 FROM dbo.Ctrl_Run WHERE  (Status_Code = 'Running')))) as timesheet on (projectresource.ProjectResourceSK=timesheet.TimeSheetProjectResourceSK)'"
                },
                "var_Email_From" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "taskCategoryTypeSK" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "timesheetmonth" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "timesheetyear" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "var_Error_Description" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "projectResourceSK" : {
                  "type" : "Expression",
                  "value" : "0"
                }
              },
              "datasetParameters" : {
                "OLEDSTInsertnewAM" : {
                  "TableName" : {
                    "value" : "AM_F_TimeSheet",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "dbo",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "OLESRCOldData" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "OLE_SRC Old Data",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        } ],
        "isSequential" : true
      }
    }, {
      "name" : "0_SQL_To_select_Distinct_Month35_",
      "type" : "Lookup",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "FOREACH_FELC_Check_per_record24_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlSource",
          "sqlReaderStoredProcedureName" : null,
          "sqlReaderQuery" : "select distinct [AM_TimeSheetMonthYear] from [dw].[AM_F_TimeSheet] where [DW_Run_Key]=?",
          "storedProcedureParameters" : null,
          "queryTimeout" : "02:00:00",
          "partitionOption" : "None"
        },
        "dataset" : {
          "referenceName" : "AM_TimeSheet17_.gl541.Pmpod.pmpod",
          "type" : "DatasetReference"
        }
      }
    }, {
      "name" : "FOREACH_Foreach_Loop_Container29_",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_SQL_To_select_Distinct_Month35_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('0_SQL_To_select_Distinct_Month35_').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "Foreach_Loop_Container29__SQL_To_Call_Proc30__SCRI",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "EXEC UpdateActualUTI0 @0"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ],
        "isSequential" : true
      }
    }, {
      "name" : "SQL_SP_Cntrl_DQ_Validation36__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FOREACH_Foreach_Loop_Container29_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC [dbo].[DQ_VALIDATTION] @0"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_SQL_SP_Cntrl_DQ_Validation36__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_SP_Cntrl_DQ_Validation36__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_Error_Flag",
        "value" : "@activity('SQL_SP_Cntrl_DQ_Validation36__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "1_0_SQL_SP_Cntrl_DQ_Validation36__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_SP_Cntrl_DQ_Validation36__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_Error_Description",
        "value" : "@activity('SQL_SP_Cntrl_DQ_Validation36__SCRIPT').output.resultSets[0].rows[1][1]"
      }
    }, {
      "name" : "DQ_Failure19_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "1_0_SQL_SP_Cntrl_DQ_Validation36__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "0_SQL_SP_Cntrl_DQ_Validation36__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('var_Error_Flag'),1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "DQ_Failure19__SQL_SP_Send_Email23__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "EXEC [dbo].[SendEmail] @0, 'DQ Failure'"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_DQ_Failure19__SQL_SP_Send_Email23__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "DQ_Failure19__SQL_SP_Send_Email23__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_Email_From",
            "value" : "@activity('DQ_Failure19__SQL_SP_Send_Email23__SCRIPT').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "1_0_DQ_Failure19__SQL_SP_Send_Email23__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "DQ_Failure19__SQL_SP_Send_Email23__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_Email_To",
            "value" : "@activity('DQ_Failure19__SQL_SP_Send_Email23__SCRIPT').output.resultSets[0].rows[1][1]"
          }
        }, {
          "name" : "2_1_0_DQ_Failure19__SQL_SP_Send_Email23__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "DQ_Failure19__SQL_SP_Send_Email23__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_CC",
            "value" : "@activity('DQ_Failure19__SQL_SP_Send_Email23__SCRIPT').output.resultSets[0].rows[2][2]"
          }
        }, {
          "name" : "3_2_1_0_DQ_Failure19__SQL_SP_Send_Email23__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "DQ_Failure19__SQL_SP_Send_Email23__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_BCC",
            "value" : "@activity('DQ_Failure19__SQL_SP_Send_Email23__SCRIPT').output.resultSets[0].rows[3][3]"
          }
        }, {
          "name" : "4_3_2_1_0_DQ_Failure19__SQL_SP_Send_Email23__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "DQ_Failure19__SQL_SP_Send_Email23__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_Email_Subject",
            "value" : "@activity('DQ_Failure19__SQL_SP_Send_Email23__SCRIPT').output.resultSets[0].rows[4][4]"
          }
        }, {
          "name" : "DQ_Failure19__SMT_Send_Email20_",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "4_3_2_1_0_DQ_Failure19__SQL_SP_Send_Email23__VA",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "0_DQ_Failure19__SQL_SP_Send_Email23__VA",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "1_0_DQ_Failure19__SQL_SP_Send_Email23__VA",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "2_1_0_DQ_Failure19__SQL_SP_Send_Email23__VA",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "3_2_1_0_DQ_Failure19__SQL_SP_Send_Email23__VA",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : null,
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "DQ_Failure19__SQL_SP_Email_Log22__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "DQ_Failure19__SMT_Send_Email20_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "Exec [dbo].[Email_Log] @0, @1, @2, @3, @4, @5, @6, @7 "
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "DQ_Failure19__SQL_RaiseError21__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "DQ_Failure19__SQL_SP_Email_Log22__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "RAISERROR(@0,16,1)"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "var_Error_Flag" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "timesheetdateSK" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('12/21/2011 10:18:00 AM')"
      },
      "var_Email_To" : {
        "type" : "string"
      },
      "new_Data" : {
        "type" : "string"
      },
      "DW_Run_Key" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "var_SMTP_Server" : {
        "type" : "string",
        "defaultValue" : "'192.168.65.225'"
      },
      "var_CC" : {
        "type" : "string"
      },
      "var_Email_Subject" : {
        "type" : "string"
      },
      "NoOfMonths" : {
        "type" : "string"
      },
      "var_BCC" : {
        "type" : "string"
      },
      "projectSK" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "DW_Run_Cncl_Dt" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('12/12/2011 7:14:56 PM')"
      },
      "DW_Run_Month" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "var_Initial_Catalog" : {
        "type" : "string",
        "defaultValue" : "'pmPOD-BI'"
      },
      "DW_Run_Eff_dt" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('12/12/2011 7:14:18 PM')"
      },
      "SQL1" : {
        "type" : "string",
        "defaultValue" : "'SELECT TimeSheetSK,TimeSheetID,TimeSheetTitle,TimeSheetDate,TimeTaken,TimeSheetMajorTaskSK,TimeSheetProjectSK,TimeSheetProjectResourceSK,TimeSheetTaskCategorySK,TimeSheetTaskCategoryTypeSK,TimeSheetMinorTaskSk,TimeSheetDateSK,DW_Run_Key,DW_Create_Datetime,DW_Update_Datetime,TimeTakenHR,TimeSheetDefectSk FROM  dw.F_TimeSheet where TimeSheetProjectResourceSK = 944 AND datepart(mm,TimeSheetDateSK)=10 AND datepart(yyyy,TimeSheetDateSK)=2011'"
      },
      "monthyear" : {
        "type" : "string"
      },
      "SQL" : {
        "type" : "string",
        "defaultValue" : "'SELECT ISNULL(TimeSheet.TimesheetProjectResourceSk ,ProjectResource.ProjectResourceSk) AS TimesheetProjectResourceSk,ISNULL(TimeSheet.TimeSheetProjectSK,ProjectResource.ProjectResourceProjectSK) AS TimeSheetProjectSK,ProjectResource.[ProjectResourcePmPodEnableFlag],ProjectResourceEnableTimesheetFlag,ISNULL(TimeSheet.TimeSheetTaskCategoryTypeSK,-3) TimeSheetTaskCategoryTypeSK,TimeSheet.TimeSheetDateSK,isnull(TimeSheet.TimeTaken,0) AS TimeTaken,isnull(TimeSheet.TimeTakenHR,0.00) as TimeTakenHR  from dw.D_ProjectResources as projectresource left outer join (select * from dw.F_TimeSheet WHERE  (DATEPART(mm, TimeSheetDate)=0) AND (DATEPART(yyyy, TimeSheetDate) =(SELECT DATEPART(yyyy, Run_Eff_DT) AS Expr1 FROM dbo.Ctrl_Run WHERE  (Status_Code = 'Running')))) as timesheet on (projectresource.ProjectResourceSK=timesheet.TimeSheetProjectResourceSK)'"
      },
      "var_Email_From" : {
        "type" : "string"
      },
      "taskCategoryTypeSK" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "timesheetmonth" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "timesheetyear" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "var_Error_Description" : {
        "type" : "string"
      },
      "projectResourceSK" : {
        "type" : "Integer",
        "defaultValue" : "0"
      }
    }
  }
}