pipeline/PPL_Refresh WF_People.json
{
  "name" : "PPL_Refresh WF_People",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "Last_Refresh_Date_to_Variable71__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "SELECT FORMAT(MAX(update_date), 'yyyyMMdd') AS lastRefreshDateString FROM dbo.WF_People"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Last_Refresh_Date_to_Variable71__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Last_Refresh_Date_to_Variable71__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "lastRefreshDateString",
        "value" : "@activity('Last_Refresh_Date_to_Variable71__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Truncate_WF_People_Staging74__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Last_Refresh_Date_to_Variable71__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DELETE FROM dbo.WF_People_Staging;"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "Refresh_WF_People73_",
      "type" : "Copy",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Truncate_WF_People_Staging74__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "source" : {
          "type" : "AzureSqlsource",
          "sqlReaderQuery" : "SELECT to_number(EMPLID) EMPLID     , PREF_FIRST_NAME || ' ' || PREF_LAST_NAME NAME     , PREF_FIRST_NAME FIRST_NAME     , PREF_LAST_NAME LAST_NAME     , EMAIL_ID     \tTCOO Flag \t\t 00002115460 > Tiago Spritzer \t\t 00001672258 > Shan Ramanathan     , CASE \t\t\tWHEN (SPRVS_ORG_LVL_03_MGR_ID = '00002115460' OR SPRVS_ORG_LVL_06_MGR_ID = '00001672258') THEN 1 \t\t\tELSE 0  \t\t\tEND IS_TCOO         \tPlatform App Services Team Flag\t\t\t \t\t\t 00002086646 > Rob Okai \t\t\t 00002117751 > Satish Ambale \t, CASE \t\t\tWHEN (SPRVS_ORG_LVL_04_MGR_ID = '00002086646' OR SPRVS_ORG_LVL_07_MGR_ID = '00002117751') THEN 1 \t\t\tELSE 0  \t\t\tEND IS_PLATFORM_APP_SVCS     , SPRVS_ORG_LVL_03_NAME     , SPRVS_ORG_LVL_03_MGR_NAME     , CASE      \tWHEN REGEXP_LIKE(SPRVS_ORG_LVL_03_MGR_ID, '^[[:digit:]]+$')     \tTHEN to_number(SPRVS_ORG_LVL_03_MGR_ID)      \tELSE NULL     \tEND SPRVS_ORG_LVL_03_MGR_ID     , SPRVS_ORG_LVL_04_NAME     , SPRVS_ORG_LVL_04_MGR_NAME     , CASE      \tWHEN REGEXP_LIKE(SPRVS_ORG_LVL_04_MGR_ID, '^[[:digit:]]+$')     \tTHEN to_number(SPRVS_ORG_LVL_04_MGR_ID)      \tELSE NULL     \tEND SPRVS_ORG_LVL_04_MGR_ID     , EMPL_STATUS     , EMPL_STATUS_DESC  FROM DISTRIBUTION.VW_CORE_COMMON WHERE WHEN_CHANGED >= TO_DATE('', 'YYYYMMDD')"
        },
        "sink" : {
          "type" : "AzureSqlSink",
          "writeBehavior" : "insert",
          "sqlWriterUseTableLock" : false
        }
      },
      "inputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_SRC",
        "type" : "DatasetReference",
        "parameters" : {
          "schema" : "",
          "tableName" : ""
        }
      } ],
      "outputs" : [ {
        "referenceName" : "Generic_OLEDB_DS_TGT",
        "type" : "DatasetReference",
        "parameters" : {
          "schema" : "",
          "tableName" : ""
        }
      } ]
    }, {
      "name" : "Merge_WF_People72__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Refresh_WF_People73_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "MERGE dbo.WF_People AS trgt\nUSING dbo.WF_People_Staging AS src\nON src.emplId = trgt.emplId\n\nWHEN MATCHED\n    THEN UPDATE SET\n\t\t  trgt.[name] = src.[name]\n\t\t, trgt.[lastName] = src.[lastName]\n\t\t, trgt.[firstName] = src.[firstName]\n\t\t, trgt.[email] = src.[email]\n\t\t, trgt.[isTcoo] = src.[isTcoo]\n\t\t, trgt.[isPlatformAppServices] = src.[isPlatformAppServices]\n\t\t, trgt.[level3Org] = src.[level3Org]\n\t\t, trgt.[level3Mgr] = src.[level3Mgr]\n\t\t, trgt.[level3MgrEmplid] = src.[level3MgrEmplid]\n\t\t, trgt.[level4Org] = src.[level4Org]\n\t\t, trgt.[level4Mgr] = src.[level4Mgr]\n\t\t, trgt.[level4MgrEmplid] = src.[level4MgrEmplid]\n\t\t, trgt.[employeeStatus] = src.[employeeStatus]\n\t\t, trgt.[update_date] = getDate()\n\t\t, trgt.[updated_by] = 'AD-ENT\\TCOO_1TCOO_SSISD'\n\t\t, trgt.[source_name] = 'DISTRIBUTION.VW_CORE_COMMON'\n\nWHEN NOT MATCHED BY TARGET\n    THEN INSERT \n\t\t([emplId], [name], [lastName], [firstName], [email], [isTcoo], [isPlatformAppServices]\n\t\t, [level3Org], [level3Mgr], [level3MgrEmplid], [level4Org], [level4Mgr], [level4MgrEmplid]\n\t\t, [employeeStatus], [create_date], [update_date], [created_by], [updated_by], [source_name])\n\t\tVALUES\n\t\t(src.[emplId], src.[name], src.[lastName], src.[firstName], src.[email], src.[isTcoo]\n\t\t, src.[isPlatformAppServices], src.[level3Org], src.[level3Mgr], src.[level3MgrEmplid]\n\t\t, src.[level4Org], src.[level4Mgr], src.[level4MgrEmplid], src.[employeeStatus]\n\t\t, getDate(), getDate(), 'AD-ENT\\TCOO_1TCOO_SSISD', 'AD-ENT\\TCOO_1TCOO_SSISD', 'DISTRIBUTION.VW_CORE_COMMON')\n\n--\tDO NOT DELETE IF NOT MATCHED SOURCE\n--\tIt means the record was not updated in HR.\n--WHEN NOT MATCHED BY SOURCE\n--    THEN DELETE;\n;"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_0714/HR Core Common"
    },
    "parameters" : { },
    "variables" : {
      "lastRefreshDateString" : {
        "type" : "string"
      }
    }
  }
}