pipeline/PPL_PCF_WEEKLY.json
{
  "name" : "PPL_PCF_WEEKLY",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "sNewFileName",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "sNewFileName",
        "value" : {
          "value" : "@{'TAS_Buildpack_Status_' + variables('sFileDate') + 'csv'}",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "66_TodaysDate_File_1_SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "sNewFileName",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DELETE  from [Sharepoint_TAS_Buildpacks]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "65_TodaysDate_File_SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "66_TodaysDate_File_1_SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "SELECT \n convert(varchar(8),cast(currentdate as date),112) Friday\nFROM \ndbo.calendar\nwhere cast(Getdate() as date) = cast(currentdate as date)"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_65_TodaysDate_File_VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "65_TodaysDate_File_SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "sFileDate",
        "value" : "@activity('65_TodaysDate_File_SCRIPT').output.resultSets[0].rows[0].sFileDate"
      }
    }, {
      "name" : "64_New_PCF_File_Format",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_65_TodaysDate_File_VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "64_New_PCF_File_Format",
          "type" : "DataFlowReference",
          "parameters" : {
            "sNewFileName" : {
              "type" : "Expression",
              "value" : "'TAS_Buildpack_Status__NEW.csv'"
            },
            "sFileDate" : {
              "type" : "Expression",
              "value" : "''"
            },
            "FileName" : {
              "type" : "Expression",
              "value" : "'PCF_Buildpack_Mappings_All_'"
            },
            "FoundFile" : {
              "type" : "Expression",
              "value" : "''"
            }
          },
          "datasetParameters" : { }
        },
        "compute" : null,
        "staging" : { }
      }
    } ],
    "folder" : {
      "name" : "Wellfargo1/"
    },
    "parameters" : { },
    "variables" : {
      "sNewFileName" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "sFileDate" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "FileName" : {
        "type" : "string",
        "defaultValue" : "''"
      },
      "FoundFile" : {
        "type" : "string",
        "defaultValue" : "''"
      }
    }
  }
}