pipeline/PPL_iTracker_TCOO_Daily4D_3.json
{
  "name" : "PPL_iTracker_TCOO_Daily4D_3",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "Get_Time_Stamp_Execution_Path300__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "select \ncase \nwhen DATEPART(hour,getdate() ) between 8 and 16 then 1\nwhen DATEPART(hour,getdate() )between 17 and 18 then 2\nelse 0 end as ExecuteSeriesFlag\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_Time_Stamp_Execution_Path300__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_Time_Stamp_Execution_Path300__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ExecuteSeriesFlag",
        "value" : "@activity('Get_Time_Stamp_Execution_Path300__SCRIPT').output.resultSets[0].rows[0].ExecuteSeriesFlag"
      }
    }, {
      "name" : "IFACTIVITY_Data_Imported_from_iTracker_into_Databa",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path300__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('ExecuteSeriesFlag'),1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ {
          "name" : "iTracker_Active_Data297_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "iTracker_Active_Data297_",
              "type" : "DataFlowReference",
              "parameters" : {
                "ExecuteSeriesFlag" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "sRAndSEmailAddress" : {
                  "type" : "Expression",
                  "value" : "'TCOONoReply@wellsfargo.com'"
                },
                "CountRowsToInsert" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "CountInsertedRecords" : {
                  "type" : "Expression",
                  "value" : "0"
                }
              },
              "datasetParameters" : { }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "iTracker_Active_Data297__iTracker_Active_SN_CIO",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "iTracker_Active_Data297_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "CountRowsToInsert",
            "value" : "@int(activity('iTracker_Active_Data297_').output.runStatus.metrics.iTracker_Active_SN_CIO.rowsWritten)"
          }
        }, {
          "name" : "Count_Inserted295__LOOKUP",
          "type" : "Lookup",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "iTracker_Active_Data297__iTracker_Active_SN_CIO",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "AzureSqlSource",
              "sqlReaderStoredProcedureName" : null,
              "sqlReaderQuery" : "SELECT combid FROM [PLHS].[dbo].[iTracker_Active_SN_CIO]\nWHERE CAST(IMPORTDATE AS DATE) = CAST(GETDATE() AS DATE)",
              "storedProcedureParameters" : null,
              "queryTimeout" : "02:00:00",
              "partitionOption" : "None"
            },
            "dataset" : {
              "referenceName" : "Generic_OLEDB_DS_SRC",
              "type" : "DatasetReference",
              "parameters" : null
            }
          }
        }, {
          "name" : "Count_Inserted295__Todays_Inserted_Rowcount",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Count_Inserted295__LOOKUP",
            "dependencyConditions" : [ "SUCCESSFUL" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "CountInsertedRecords",
            "value" : "@int(activity('Count_Inserted295__LOOKUP').output.firstRow.cnt)"
          }
        }, {
          "name" : "Data_Imported_from_iTracker_into_Database294__Upda",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Count_Inserted295__Todays_Inserted_Rowcount",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "\n  update \n  [PLHS].[dbo].[iTracker_Active_SN_CIO]\n  set Rating =   replace(replace(replace(Rating,'; High; High','High'),'; High','High'),'0','Low')\n  where cast(ImportDate as date) = cast(getdate() as date)\n\n;"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ],
        "ifTrueActivities" : [ {
          "name" : "Data_Imported_from_iTracker_into_Database294__Dele",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "delete FROM [PLHS].[dbo].[iTracker_Active_SN_CIO]\n\n  where  cast(ImportDate as date) = cast(getdate() as date)"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    }, {
      "name" : "IFACTIVITY_iTracker_Validated_Data302_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path300__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('ExecuteSeriesFlag'),2)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "iTracker_Validated_Data302_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "iTracker_Validated_Data302_",
              "type" : "DataFlowReference",
              "parameters" : {
                "ExecuteSeriesFlag" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "sRAndSEmailAddress" : {
                  "type" : "Expression",
                  "value" : "'TCOONoReply@wellsfargo.com'"
                },
                "CountRowsToInsert" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "CountInsertedRecords" : {
                  "type" : "Expression",
                  "value" : "0"
                }
              },
              "datasetParameters" : { }
            },
            "compute" : null,
            "staging" : { }
          }
        } ]
      }
    }, {
      "name" : "IFACTIVITY_Failure_Mail299_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_Time_Stamp_Execution_Path300__VA",
        "dependencyConditions" : [ "Failed" ]
      }, {
        "activity" : "IFACTIVITY_Data_Imported_from_iTracker_into_Databa",
        "dependencyConditions" : [ "Completed" ]
      }, {
        "activity" : "IFACTIVITY_iTracker_Validated_Data302_",
        "dependencyConditions" : [ "Failed" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@variables('CountInsertedRecords') != variables('CountRowsToInsert')",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Failure_Mail299_",
          "type" : "WebActivity",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "description" : "Success Mail",
          "typeProperties" : {
            "method" : "POST",
            "headers" : null,
            "linkedServices" : null,
            "datasets" : null,
            "disableCertValidation" : true,
            "httpRequestTimeout" : "00:01:00",
            "turnOffAsync" : false,
            "url" : null,
            "body" : "",
            "authentication" : null,
            "waitTimeInSeconds" : null,
            "timeout" : null,
            "reportStatusOnCallBack" : null
          }
        } ]
      }
    } ],
    "folder" : {
      "name" : "Wellfargo_0701/Vulnerability_ETL_v2022"
    },
    "parameters" : { },
    "variables" : {
      "CountRowsToInsert" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "CountInsertedRecords" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "ExecuteSeriesFlag" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "sRAndSEmailAddress" : {
        "type" : "string",
        "defaultValue" : "'TCOONoReply@wellsfargo.com'"
      }
    }
  }
}