pipeline/PPL_QTEPackage.json
{
  "name" : "PPL_QTEPackage",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "varQTERecDate",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "varQTERecDate",
        "value" : {
          "value" : "@(concat(concat(concat(concat(substring(variables('varQTEFileDateString'), 1, 2),'/'),substring(variables('varQTEFileDateString'), 3, 2)),'/'),substring(variables('varQTEFileDateString'), 5, 4)))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "148_Process_Source_File",
      "type" : "Wait",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "varQTERecDate",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : null,
      "onInactiveMarkAs" : "Succeeded",
      "typeProperties" : {
        "waitTimeInSeconds" : 10
      }
    }, {
      "name" : "149_QTEReadiness_Weekly",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "148_Process_Source_File",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "149_QTEReadiness_Weekly",
          "type" : "DataFlowReference",
          "parameters" : {
            "varQTEFileName" : {
              "type" : "Expression",
              "value" : "'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files\\\\QTE.ReadinessReport.xlsx'"
            },
            "varQTEFilePrefix" : {
              "type" : "Expression",
              "value" : "'QTE.ReadinessReport'"
            },
            "varQTEReportDate" : {
              "type" : "Expression",
              "value" : "''"
            },
            "varQTEFileDateString" : {
              "type" : "Expression",
              "value" : "'11042025'"
            },
            "varQTEFullFileName" : {
              "type" : "Expression",
              "value" : "''"
            },
            "varArchiveFolder" : {
              "type" : "Expression",
              "value" : "'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files\\\\archive'"
            },
            "varQTERecDate" : {
              "type" : "Expression",
              "value" : "toTimestamp('11/4/2025')"
            },
            "varQTESourceFolder" : {
              "type" : "Expression",
              "value" : "'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files'"
            }
          },
          "datasetParameters" : { }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "150_SC_COO_Tech_App_Disp_152_Truncate_COO_Tech_App",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "149_QTEReadiness_Weekly",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "TRUNCATE TABLE [plhs].[dbo].[qte_coo_tech_app_disp]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "151_Load_COO_Tech_App_Disp",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "150_SC_COO_Tech_App_Disp_152_Truncate_COO_Tech_App",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "151_Load_COO_Tech_App_Disp",
          "type" : "DataFlowReference",
          "parameters" : {
            "varQTEFileName" : {
              "type" : "Expression",
              "value" : "'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files\\\\QTE.ReadinessReport.xlsx'"
            },
            "varQTEFilePrefix" : {
              "type" : "Expression",
              "value" : "'QTE.ReadinessReport'"
            },
            "varQTEReportDate" : {
              "type" : "Expression",
              "value" : "''"
            },
            "varQTEFileDateString" : {
              "type" : "Expression",
              "value" : "'11042025'"
            },
            "varQTEFullFileName" : {
              "type" : "Expression",
              "value" : "''"
            },
            "varArchiveFolder" : {
              "type" : "Expression",
              "value" : "'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files\\\\archive'"
            },
            "varQTERecDate" : {
              "type" : "Expression",
              "value" : "toTimestamp('11/4/2025')"
            },
            "varQTESourceFolder" : {
              "type" : "Expression",
              "value" : "'\\\\ ccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files'"
            }
          },
          "datasetParameters" : { }
        },
        "compute" : null,
        "staging" : { }
      }
    } ],
    "folder" : {
      "name" : "ssistoadf/demo1/TCOO_QTEReadiness"
    },
    "parameters" : { },
    "variables" : {
      "varQTEFileName" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\nccc822nvs1.wellsfargo.com\\\\C_TCO_Groups\\\\TCOO_Platform_Services\\\\Platform_Lifecycle_Health_Services\\\\TechRefresh\\\\data\\\\qte\\\\files\\\\QTE.ReadinessReport.xlsx'"
      },
      "varQTEFileDateString" : {
        "type" : "string",
        "defaultValue" : "'11042025'"
      },
      "varQTEFullFileName" : {
        "type" : "string"
      }
    }
  }
}