SSISInv0716/pipeline/PPL_lab_viha.json
{
  "name" : "PPL_lab_viha",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "truncate_lab_viha_test_result1388__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "TRUNCATE TABLE [viha].[viha_test_result];\nGO"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "var_viha_input_file_name",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_viha_input_file_name",
        "value" : {
          "value" : "@variables('var_viha_input_file_name')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_viha_input_folder",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_viha_input_folder",
        "value" : {
          "value" : "@variables('var_viha_input_folder')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "GETMETADATA_Foreach_Loop_Container_-_loop_through_",
      "type" : "GetMetadata",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "truncate_lab_viha_test_result1388__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "fieldList" : [ "childItems" ],
        "dataset" : {
          "referenceName" : "Generic_OLEDB_DS_SRC",
          "type" : "DatasetReference",
          "parameters" : {
            "TableName" : {
              "value" : "",
              "type" : "Expression"
            },
            "Schema" : {
              "value" : "",
              "type" : "Expression"
            }
          }
        },
        "storeSettings" : {
          "type" : "AzureBlobStorageReadSettings",
          "enablePartitionDiscovery" : false
        },
        "formatSettings" : {
          "type" : "DelimitedTextReadSettings"
        }
      }
    }, {
      "name" : "GETMETADATA_Foreach_Loop_Container1354_",
      "type" : "GetMetadata",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "var_viha_input_folder",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_viha_input_file_name",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "fieldList" : [ "childItems" ],
        "dataset" : {
          "referenceName" : "Generic_OLEDB_DS_SRC",
          "type" : "DatasetReference",
          "parameters" : {
            "TableName" : {
              "value" : "",
              "type" : "Expression"
            },
            "Schema" : {
              "value" : "",
              "type" : "Expression"
            }
          }
        },
        "storeSettings" : {
          "type" : "AzureBlobStorageReadSettings",
          "enablePartitionDiscovery" : false
        },
        "formatSettings" : {
          "type" : "DelimitedTextReadSettings"
        }
      }
    }, {
      "name" : "FILTER_Foreach_Loop_Container_-_loop_through_folde",
      "type" : "Filter",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "GETMETADATA_Foreach_Loop_Container_-_loop_through_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('GETMETADATA_Foreach_Loop_Container_-_loop_through_').output.childItems",
          "type" : "Expression"
        },
        "condition" : {
          "value" : "@equals(1, 1)",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FILTER_Foreach_Loop_Container1354_",
      "type" : "Filter",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "GETMETADATA_Foreach_Loop_Container1354_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('GETMETADATA_Foreach_Loop_Container1354_').output.childItems",
          "type" : "Expression"
        },
        "condition" : {
          "value" : "@equals(1, 1)",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FOREACH_Foreach_Loop_Container_-_loop_through_fold",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FILTER_Foreach_Loop_Container_-_loop_through_folde",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('FILTER_Foreach_Loop_Container_-_loop_through_folde').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "DFT_load_data_into_lab_viha_test_result1359_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "DFT_load_data_into_lab_viha_test_result1359_",
              "type" : "DataFlowReference",
              "parameters" : {
                "var_viha_input_file_name" : {
                  "type" : "Expression",
                  "value" : "'bccdc_18362_rows_190501_190531.txt'"
                },
                "var_viha_input_folder" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\phsabc\\\\root\\\\BCCDC\\\\Groups\\\\Data_RoutineTransfers\\\\viha_lab_for_cps\\\\monthly_update_files est_files\\\\'"
                }
              },
              "datasetParameters" : {
                "OLEDBDestination" : {
                  "TableName" : {
                    "value" : "viha_test_result",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "dbo",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "TXTFileSourceformonthlyextract" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        } ],
        "isSequential" : true
      }
    }, {
      "name" : "FOREACH_Foreach_Loop_Container1354_",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FILTER_Foreach_Loop_Container1354_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('FILTER_Foreach_Loop_Container1354_').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "Foreach_Loop_Container1354__Foreach_Loop_Container1355_",
          "type" : "Wait",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "waitTimeInSeconds" : 10
          }
        } ],
        "isSequential" : true
      }
    }, {
      "name" : "load_data_into_lab_viha_test_result_history1379__S",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FOREACH_Foreach_Loop_Container_-_loop_through_fold",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "INSERT INTO [viha].[viha_test_result]_history WITH (TABLOCK) \nSELECT  [order_id]\n      ,[encounter_id]\n      ,[person_id]\n      ,[mrn]\n      ,[patient_name_last]\n      ,[patient_name_first]\n      ,[patient_name_middle]\n      ,[patient_phn]\n      ,[patient_birth_dt_tm]\n      ,[patient_gender]\n      ,[patient_city]\n      ,[patient_postal_code]\n      ,[patient_province]\n      ,[patient_country]\n      ,[ordering_provider_id]\n      ,[ordering_provider_msp]\n      ,[ordering_provider_cpsid]\n      ,[ordering_provider_name_last]\n      ,[ordering_provider_name_first]\n      ,[ordering_provider_name_middle]\n      ,[ordering_provider_hospital]\n      ,[ordering_provider_hospital_display]\n      ,[ordering_provider_hospital_name]\n      ,[ordering_provider_city]\n      ,[ordering_provider_postal_code]\n      ,[ordering_provider_province]\n      ,[ordering_provider_country]\n      ,[copy_to_provider_1_id]\n      ,[copy_to_provider_1_msp]\n      ,[copy_to_provider_1_cpsid]\n      ,[copy_to_provider_1_name_last]\n      ,[copy_to_provider_1_name_first]\n      ,[copy_to_provider_1_name_middle]\n      ,[copy_to_provider_1_city]\n      ,[copy_to_provider_1_postal_code]\n      ,[copy_to_provider_1_province]\n      ,[copy_to_provider_1_country]\n      ,[copy_to_provider_2_id]\n      ,[copy_to_provider_2_msp]\n      ,[copy_to_provider_2_cpsid]\n      ,[copy_to_provider_2_name_last]\n      ,[copy_to_provider_2_name_first]\n      ,[copy_to_provider_2_name_middle]\n      ,[copy_to_provider_2_city]\n      ,[copy_to_provider_2_postal_code]\n      ,[copy_to_provider_2_province]\n      ,[copy_to_provider_2_country]\n      ,[copy_to_provider_3_id]\n      ,[copy_to_provider_3_msp]\n      ,[copy_to_provider_3_cpsid]\n      ,[copy_to_provider_3_name_last]\n      ,[copy_to_provider_3_name_first]\n      ,[copy_to_provider_3_name_middle]\n      ,[copy_to_provider_3_city]\n      ,[copy_to_provider_3_postal_code]\n      ,[copy_to_provider_3_province]\n      ,[copy_to_provider_3_country]\n      ,[collection_dt_tm]\n      ,[receive_dt_tm]\n      ,[result_dt_tm]\n      ,[package_cd]\n      ,[careset_order_id]\n      ,[order_item_cd]\n      ,[order_item_name]\n      ,[test_cd]\n      ,[test_name]\n      ,[accession_number]\n      ,[accession_id]\n      ,[container_id]\n      ,[patient_location_cd]\n      ,[patient_location_name]\n      ,[order_entry_lab_cd]\n      ,[order_entry_lab_name]\n      ,[result_lab_cd]\n      ,[result_lab_location_name]\n      ,[result_full_description]\n      ,[result_type_display]\n      ,[result_long_text_id]\n      ,[result_long_text]\n      ,[credit_flag]\n      ,[cancel_flag]\n      ,[delete_flag]\n      ,[clinical_event_id]\n      ,[event_id]\n      ,[valid_from_dt_tm]\n      ,[valid_until_dt_tm]\n      ,[updt_dt_tm]\n      ,[c_event_id]\n      ,[c_valid_from_dt_tm]\n      ,[c_valid_until_dt_tm]\n      ,[c_updt_dt_tm]\n      ,[c_sequence_nbr]\n      ,[c_nomenclature_id]\n      ,[c_nomenclature_source_string]\n      ,[c_descriptor]\n      ,[c_result_cd]\n      ,[c_result_display]\n      ,[s_event_id]\n      ,[s_valid_from_dt_tm]\n      ,[s_valid_until_dt_tm]\n      ,[s_updt_dt_tm]\n      ,[s_string_result_text]\n      ,[s_string_result_format_cd]\n      ,[s_string_result_format_display]\n      ,[s_unit_of_measure_cd]\n      ,[s_unit_of_measure_display]\n      ,'ihealth' AS [input_file_instance]\t\t\t\t\t\t\t\t\t\t\t\t\t\t--all monthly extract data are from 'ihealth'\n      ,'20' + SUBSTRING(input_file_name, LEN(input_file_name) - 9 , 4) AS [input_file_name]\n      ,[input_file_process_dt_tm]\n\t  ,6 AS dss_lis_instance_id\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t--all monthly extract data are from 'ihealth'\nFROM [viha].[viha_test_result]\nWHERE '20' + SUBSTRING(input_file_name, LEN(input_file_name) - 9 , 4)  NOT IN (\tSELECT DISTINCT input_file_name FROM [viha].[viha_test_result]_history );\nGO"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "load_data_into_lab_stg_viha_test_result1378__SCRIP",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "load_data_into_lab_viha_test_result_history1379__S",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "INSERT INTO lab.stg_viha_test_result WITH (TABLOCK) \nSELECT  [order_id]\n      ,[encounter_id]\n      ,[person_id]\n      ,[mrn]\n      ,[patient_name_last]\n      ,[patient_name_first]\n      ,[patient_name_middle]\n      ,[patient_phn]\n      ,[patient_birth_dt_tm]\n      ,[patient_gender]\n      ,[patient_city]\n      ,[patient_postal_code]\n      ,[patient_province]\n      ,[patient_country]\n      ,[ordering_provider_id]\n      ,[ordering_provider_msp]\n      ,[ordering_provider_cpsid]\n      ,[ordering_provider_name_last]\n      ,[ordering_provider_name_first]\n      ,[ordering_provider_name_middle]\n      ,[ordering_provider_hospital]\n      ,[ordering_provider_hospital_display]\n      ,[ordering_provider_hospital_name]\n      ,[ordering_provider_city]\n      ,[ordering_provider_postal_code]\n      ,[ordering_provider_province]\n      ,[ordering_provider_country]\n      ,[copy_to_provider_1_id]\n      ,[copy_to_provider_1_msp]\n      ,[copy_to_provider_1_cpsid]\n      ,[copy_to_provider_1_name_last]\n      ,[copy_to_provider_1_name_first]\n      ,[copy_to_provider_1_name_middle]\n      ,[copy_to_provider_1_city]\n      ,[copy_to_provider_1_postal_code]\n      ,[copy_to_provider_1_province]\n      ,[copy_to_provider_1_country]\n      ,[copy_to_provider_2_id]\n      ,[copy_to_provider_2_msp]\n      ,[copy_to_provider_2_cpsid]\n      ,[copy_to_provider_2_name_last]\n      ,[copy_to_provider_2_name_first]\n      ,[copy_to_provider_2_name_middle]\n      ,[copy_to_provider_2_city]\n      ,[copy_to_provider_2_postal_code]\n      ,[copy_to_provider_2_province]\n      ,[copy_to_provider_2_country]\n      ,[copy_to_provider_3_id]\n      ,[copy_to_provider_3_msp]\n      ,[copy_to_provider_3_cpsid]\n      ,[copy_to_provider_3_name_last]\n      ,[copy_to_provider_3_name_first]\n      ,[copy_to_provider_3_name_middle]\n      ,[copy_to_provider_3_city]\n      ,[copy_to_provider_3_postal_code]\n      ,[copy_to_provider_3_province]\n      ,[copy_to_provider_3_country]\n      ,[collection_dt_tm]\n      ,[receive_dt_tm]\n      ,[result_dt_tm]\n      ,[package_cd]\n      ,[careset_order_id]\n      ,[order_item_cd]\n      ,[order_item_name]\n      ,[test_cd]\n      ,[test_name]\n      ,[accession_number]\n      ,[accession_id]\n      ,[container_id]\n      ,[patient_location_cd]\n      ,[patient_location_name]\n      ,[order_entry_lab_cd]\n      ,[order_entry_lab_name]\n      ,[result_lab_cd]\n      ,[result_lab_location_name]\n      ,[result_full_description]\n      ,[result_type_display]\n      ,[result_long_text_id]\n      ,[result_long_text]\n      ,[credit_flag]\n      ,[cancel_flag]\n      ,[delete_flag]\n      ,[clinical_event_id]\n      ,[event_id]\n      ,[valid_from_dt_tm]\n      ,[valid_until_dt_tm]\n      ,[updt_dt_tm]\n      ,[c_event_id]\n      ,[c_valid_from_dt_tm]\n      ,[c_valid_until_dt_tm]\n      ,[c_updt_dt_tm]\n      ,[c_sequence_nbr]\n      ,[c_nomenclature_id]\n      ,[c_nomenclature_source_string]\n      ,[c_descriptor]\n      ,[c_result_cd]\n      ,[c_result_display]\n      ,[s_event_id]\n      ,[s_valid_from_dt_tm]\n      ,[s_valid_until_dt_tm]\n      ,[s_updt_dt_tm]\n      ,[s_string_result_text]\n      ,[s_string_result_format_cd]\n      ,[s_string_result_format_display]\n      ,[s_unit_of_measure_cd]\n      ,[s_unit_of_measure_display]\n      ,'ihealth' AS [input_file_instance]\t\t\t\t\t\t\t\t\t\t\t\t\t\t--all monthly extract data are from 'ihealth'\n      ,'20' + SUBSTRING(input_file_name, LEN(input_file_name) - 9 , 4) AS [input_file_name]\n      ,[input_file_process_dt_tm]\n\t  ,6 AS dss_lis_instance_id\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t--all monthly extract data are from 'ihealth'\nFROM [viha].[viha_test_result]\nWHERE '20' + SUBSTRING(input_file_name, LEN(input_file_name) - 9 , 4)  NOT IN (\tSELECT DISTINCT input_file_name FROM lab.stg_viha_test_result );\nGO\n\n\n\n\n\n/*\nupdated on 20191220\t\tfor source, it is possible, one order_item_cd from same instance could have different order_item_name, \n\t\t\t\t\t\tso here is to update order_item_name and test_name. \n\n*/\nUPDATE svtr\nSET svtr.order_item_name = svoi.order_item_name \nFROM lab.stg_viha_test_result svtr\nINNER JOIN \n(\n\tSELECT\torder_item_cd, order_item_name, dss_lis_instance_id\n\tFROM \n\t(\n\t\tSELECT\torder_item_cd, order_item_name, dss_lis_instance_id\n\t\t\t\t, ROW_NUMBER () OVER (PARTITION BY order_item_cd, dss_lis_instance_id ORDER BY LEN(order_item_name) DESC) AS oi_rank\n\t\tFROM (\tSELECT DISTINCT order_item_cd, order_item_name, dss_lis_instance_id\tFROM lab.stg_viha_test_result )oi\n\t)voi \n\tWHERE voi.oi_rank = 1 \n) svoi\nON svtr.order_item_cd = svoi.order_item_cd AND svtr.dss_lis_instance_id = svoi.dss_lis_instance_id \nGO \n\n \n\n -- no example, just to be safe\nUPDATE svtr\nSET svtr.test_name = svt.test_name \nFROM lab.stg_viha_test_result svtr\nINNER JOIN \n(\n \tSELECT\ttest_cd, test_name, dss_lis_instance_id\n\tFROM \n\t(\n\t\tSELECT\ttest_cd, test_name, dss_lis_instance_id\n\t\t\t\t, ROW_NUMBER () OVER (PARTITION BY test_cd, dss_lis_instance_id ORDER BY LEN(test_name) DESC) AS test_rank\n\t\tFROM (\tSELECT DISTINCT test_cd, test_name, dss_lis_instance_id\tFROM lab.stg_viha_test_result )t\n\t)vt \n\tWHERE vt.test_rank = 1\n) svt\nON svtr.test_cd = svt.test_cd AND svtr.dss_lis_instance_id = svt.dss_lis_instance_id \nGO \n\n\n\n/*\nthe reason is because the source data is from different file types, excel vs text file.\n\nSELECT s_unit_of_measure_cd , s_unit_of_measure_display, COUNT(*)  \nFROM lab.stg_viha_test_result \nGROUP BY s_unit_of_measure_cd , s_unit_of_measure_display \norder by s_unit_of_measure_display\n*/\nUPDATE svtr\nSET svtr.s_unit_of_measure_display = CASE\tWHEN s_unit_of_measure_cd = 0 THEN '' \n\t\t\t\t\t\t\t\t\t\t\tWHEN s_unit_of_measure_cd = 325 THEN '%' \n\t\t\t\t\t\t\t\t\t\t\tWHEN s_unit_of_measure_cd IN (28694230, 26699558) THEN 'fraction'\n\t\t\t\t\t\t\t\t\t\t\tWHEN s_unit_of_measure_cd IN (48757195,395274,24416132) THEN 'IU/ml'\n\t\t\t\t\t\t\t\t\t\t\tWHEN s_unit_of_measure_cd IN (3883678,378688) THEN 'x10*9/L' ELSE svtr.s_unit_of_measure_display END \nFROM lab.stg_viha_test_result svtr\nGO\n\n \n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "lab_viha_patient1367__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "load_data_into_lab_stg_viha_test_result1378__SCRIP",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "USE [STG_PROCESS]\nGO\n\nTRUNCATE TABLE [viha].[viha_patient];\nGO\n\n\n/*\nJun updated on 20191120\nJun updated on 20191127\nJun updated on 20191218\t\tminor change\n\nit is possible for one person_id with same instance, its person info is different\nso here rank each person_id and insert the latest single version (ORDER BY collection_dt_tm DESC)\n\nsource system\t\trow_id_prefix\tdss_instance_id\t\tinput_file_start_date\nVIHA Lab Legacy\t\tAE\t\t\t\t5\t\t\t\t\t<= 2016-02-02\nVIHA Lab Ihealth\tAF\t\t\t\t6\t\t\t\t\t>= 2016-02-16\n\nSELECT * FROM lab.stg_viha_test_result\t--1702087\nSELECT * FROM [viha].[viha_patient]\t\t\t--252358\n*/\n\nINSERT INTO [viha].[viha_patient] \n([patient_id],[mrn],[phn],[name_last],[name_first],[name_middle],[name_first_middle],[birth_date]\t--[patient_name]\n,[gender],[ethnicity_id],[city],[province],[country],[postal_code]\n,[data_source],[exclude_flag],[dss_lis_instance_id],[updt_dt_tm])\n\nSELECT [patient_id],[mrn],[phn],[name_last],[name_first],[name_middle],[name_first_middle],[birth_date]\t--[patient_name]\n,[gender],[ethnicity_id],[city],[province],[country],[postal_code]\n,[data_source],[exclude_flag],[dss_lis_instance_id],[updt_dt_tm]\nFROM \n(\n\tSELECT\tperson_id AS patient_id \n\t\t\t, mrn\n\t\t\t, LTRIM(RTRIM(patient_phn)) AS phn\n\t\t\t, LTRIM(RTRIM(UPPER(patient_name_last))) AS name_last\n\t\t\t, LTRIM(RTRIM(UPPER(patient_name_first))) AS name_first\n\t\t\t, LTRIM(RTRIM(UPPER(patient_name_middle))) AS name_middle\n\t\t\t, RTRIM(LTRIM(UPPER(CASE WHEN ISNULL(patient_name_middle,'') = '' THEN patient_name_first ELSE RTRIM(patient_name_first) + ' ' + LTRIM(patient_name_middle) END))) AS name_first_middle\n\t\t\t, ISNULL(CAST(patient_birth_dt_tm AS DATE), '2100-12-31') AS birth_date\n\t\t\t, CASE patient_gender\tWHEN 'Female' THEN 'F'\t\t\t\t\t\t\t--source patient_gender IN ('Female','Male','Unknown')\n\t\t\t\t\t\t\t\t\tWHEN 'Male' THEN 'M'\n\t\t\t\t\t\t\t\t\tWHEN 'Unknown' THEN 'U'\n\t\t\t\t\t\t\t\t\tELSE NULL END AS gender\n\t\t\t, NULL AS ethnicity_id\n\t\t\t, UPPER(patient_city) AS city\n\t\t\t, CASE patient_province\tWHEN 'British Columbia' THEN 'BC'\n\t\t\t\t\t\t\t\t\tWHEN 'Alberta' THEN\t'AB'\n\t\t\t\t\t\t\t\t\tWHEN 'Ontario' THEN\t'ON'\n\t\t\t\t\t\t\t\t\tWHEN 'Saskatchewan' THEN 'SK'\n\t\t\t\t\t\t\t\t\tWHEN 'Quebec' THEN\t'QC'\n\t\t\t\t\t\t\t\t\tWHEN 'Yukon Territory' THEN\t'YT'\n\t\t\t\t\t\t\t\t\tWHEN 'Manitoba' THEN 'MB'\n\t\t\t\t\t\t\t\t\tWHEN 'Nova Scotia' THEN\t'NS'\n\t\t\t\t\t\t\t\t\tWHEN 'Newfoundland' THEN 'NL'\n\t\t\t\t\t\t\t\t\tWHEN 'New Brunswick' THEN 'NB'\n\t\t\t\t\t\t\t\t\tWHEN 'Prince Edward Island' THEN 'PE'\n\t\t\t\t\t\t\t\t\tWHEN 'Nunavut' THEN\t'NU'\n\t\t\t\t\t\t\t\t\tWHEN 'Newfoundland/Labrador' THEN 'NL'\n\t\t\t\t\t\t\t\t\tWHEN 'NWT' THEN\t'NT'\n\t\t\t\t\t\t\t\t\tWHEN 'Northwest Territories' THEN 'NT'\n\t\t\t\t\t\t\t\t\tELSE UPPER(patient_province) END AS province\t\t\t--most data are clean, leave US states intact, leave 'ZZBritishColumbia' intact etc.\n\t\t\t, UPPER(patient_country) AS country\n\t\t\t, REPLACE(RTRIM(LTRIM(ISNULL(patient_postal_code, ''))), ' ', '') AS postal_code\n\t\t\t, CASE input_file_instance\tWHEN 'legacy' THEN 'VIHA Lab Legacy' ELSE 'VIHA Lab Ihealth' END AS data_source\t\t--hard coded here\n\t\t\t, 0 AS exclude_flag\n\t\t\t, dss_lis_instance_id\n\t\t\t, GETDATE() AS updt_dt_tm\n\t\t\t, ROW_NUMBER() OVER (PARTITION BY person_id, input_file_instance ORDER BY collection_dt_tm DESC ) AS row_number\n\tFROM lab.stg_viha_test_result\n) p\nWHERE p.row_number = 1; \nGO\n\nUPDATE [viha].[viha_patient] \nSET patient_name = CASE WHEN ISNULL(name_first_middle,'') = '' THEN name_last ELSE name_first_middle + ' ' + name_last END ;\nGO\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n-- Jun updated on 20191120\n-- Jun updated on 20191218\t\tminor change\n\n--this to add to lab.vw_patient, need to update it\n--SELECT * FROM [ecms].[patient_data_source]\n--SELECT TOP 100 * FROM [viha].[viha_patient]\n\nSELECT\tds.row_id_prefix + CAST(patient_id AS VARCHAR(10)) AS row_id\n\t\t, CAST(patient_id AS VARCHAR(10)) AS patient_row_id\n\t\t, CAST(mrn AS VARCHAR(10)) AS mrun\t\t\t\t\t\t\n\t\t, CAST(patient_id AS VARCHAR(10)) AS patient_number\n\t\t, 'VIHA' AS hospital_code\t\t\t\t\t-- need to confirm\t\tcan join with lab.vw_code_hospital\n\t\t, 2  \t AS hospital_number\t\t\t\t\t-- need to confirm\t\tcan join with lab.vw_code_hospital\n\t\t, phn\t\n\t\t, CAST(name_last AS VARCHAR(50) )\tAS name_last\n\t\t, CAST(name_first_middle AS VARCHAR(50)) AS name_first_middle \t\n\t\t, NULL\t\t\t\tAS name_aka\n\t\t, NULL\t\t\t\tAS name_real\n\t\t, gender\t\t\tAS gender\n\t\t, birth_date\t\tAS birth_date\n\t\t, NULL\t\t\t\tAS street_address_1\n\t\t, NULL\t\t\t\tAS street_address_2\n\t\t, city\t\t\t\tAS city\n\t\t, province\t\t\tAS province\n\t\t, postal_code\t\tAS postal_code\t\n\t\t, NULL AS phone_number\t\n\t\t, NULL AS patient_status\n\t\t, 'H' AS species\n\t\t, data_source\n\t\t, exclude_flag AS exclude_flg\n\t\t, dss_lis_instance_id \nFROM [viha].[viha_patient] vp\nINNER JOIN (SELECT source_system, row_id_prefix, dss_instance_id  FROM [ecms].[patient_data_source] WHERE LEFT(source_system, 8) = 'VIHA Lab') ds \nON vp.dss_lis_instance_id = ds.dss_instance_id \n\n\n-- the following is to create and populate [ecms].[vw_stg_patient_viha], this is used for patient matching\n-- Jun updated on 20191121\nDROP VIEW IF EXISTS [ecms].[vw_stg_patient_viha];\nGO\nCREATE VIEW [ecms].[vw_stg_patient_viha]\nAS \nSELECT\tds.row_id_prefix + CAST(patient_id AS VARCHAR(10)) AS row_id\n\t\t, CAST(patient_id\tAS VARCHAR(10)) AS patient_row_id\n\t\t, LTRIM(RTRIM(phn))\tAS phn\n\t\t, CAST(mrn AS VARCHAR(10)) AS mrun\n\t\t, CAST(name_first_middle AS VARCHAR(50)) AS name_first_middle\n\t\t, CAST(name_last AS VARCHAR(50) )\tAS name_last\n\t\t, birth_date\t\tAS birth_date\n\t\t, gender\t\t\tAS gender\n\t\t, NULL\t\t\t\tAS patient_status\n\t\t, data_source\n\t\t, postal_code\t\tAS postal_code\n\t\t, 'H'\t\t\t\tAS species\n\t\t, CAST(name_first_middle AS VARCHAR(50)) AS name_first_middle_clean \n\t\t, CAST(name_last AS VARCHAR(50) )\tAS name_last_clean\n\t\t, phn\tAS phn_clean\n        , 1000 AS julian_month\n\t\t, CAST(patient_id AS VARCHAR(10)) AS patient_nbr\n\t\t, dss_lis_instance_id\nFROM [viha].[viha_patient] p\nINNER JOIN (SELECT source_system, row_id_prefix, dss_instance_id  FROM [ecms].[patient_data_source] WHERE LEFT(source_system, 8) = 'VIHA Lab') ds \nON p.dss_lis_instance_id = ds.dss_instance_id"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "lab_viha_provider1368__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "lab_viha_patient1367__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "/*\nupdated on 20191126\nupdated on 20191218\nupdated on 20191218\t\tminor change\nupdated on 20191223\t\tchange table name to lab.viha_provider\n\nsteps to prepared for ordering_provider\nPK are provider_cd + dss_lis_instance_id\n1. get distinct provider_cd from ordering_provider_id, for each id, get the latest one using collection_date DESC.\n2. get distinct provider_cd from copy_to_provider_1 2 and 3, for each id, get the latest one using collection_date DESC.\n3. UNION provider_cd from ordering_provider and from copy_to_provider_1,2,3 which do not exists in ordering_provider\n*/\n\n\n/*\nmake sure provider_name not excede 100 char\nput ordering_provider_msp into physician_unique_code\nprovider_type, how to populate ? \n\tFacility\n\tHealthcare Practitioner\n\tProficiency\n\tQC and Other\n\tStudy Cordinator\n\tVeterinary\nprovider_status, how to populate ?\n\tActive\n\tInactive\n*/\n\n\n\n/*\nDROP TABLE IF EXISTS lab.viha_provider;\nGO \n\nCREATE TABLE [lab].[viha_provider](\n\t[provider_cd] [varchar](10) NOT NULL,\n\t[provider_code] [varchar](10) NOT NULL,\n\t[provider_name] [varchar](100) NOT NULL,\n\t[provider_type] [varchar](25) NULL,\n\t[street_address_1] [varchar](50) NULL,\n\t[street_address_2] [varchar](50) NULL,\n\t[street_address_3] [varchar](50) NULL,\n\t[city] [varchar](50) NULL,\n\t[province] [varchar](100) NULL,\n\t[country] [varchar](50) NULL,\n\t[full_address] [varchar](300) NULL,\n\t[postal_code] [varchar](20) NULL,\n\t[postal_code_original] [varchar](20) NULL,\n\t[primary_phone_number] [varchar](40) NULL,\n\t[secondary_phone_number] [varchar](40) NULL,\n\t[alternate_phone_number] [varchar](40) NULL,\n\t[fax_number] [varchar](40) NULL,\n\t[additional_info] [varchar](300) NULL,\n\t[provider_status] [varchar](8) NULL,\n\t[physician_unique_code] [varchar](10) NULL,\n\t[provider_group_cd] [varchar](20) NULL,\n\t[provider_group_name] [varchar](100) NULL,\n\t[hospital_code] [varchar](6) NULL,\n\t[dss_lis_instance_id] [tinyint] NOT NULL,\n\t[is_active] [bit] NOT NULL,\n\t[updt_dt_tm] [datetime2](0) NOT NULL,\n CONSTRAINT [PK_viha_provider] PRIMARY KEY CLUSTERED \n(\n\t[provider_code] ASC,\n\t[dss_lis_instance_id] ASC\n)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [Warehouse]\n) ON [Warehouse]\nGO\n*/\n\n\n\n\n\n\n\n\n\n/* STEP 1 */\n-- SELECT * FROM lab.tmp_viha_provider ORDER BY ordering_provider_id \nDROP TABLE IF EXISTS lab.tmp_viha_provider;\nGO\n\nSELECT\tordering_provider_id, ordering_provider_msp, ordering_provider_cpsid, ordering_provider_name_first, ordering_provider_name_middle, ordering_provider_name_last\n\t\t,ordering_provider_hospital,ordering_provider_hospital_display,ordering_provider_hospital_name,ordering_provider_city,ordering_provider_province\n\t\t,ordering_provider_country,ordering_provider_postal_code,hospital_code,dss_lis_instance_id\nINTO lab.tmp_viha_provider \t\nFROM \n(\n\tSELECT\tordering_provider_id\n\t\t\t, ordering_provider_msp \n\t\t\t, ordering_provider_cpsid \n\t\t\t, ordering_provider_name_first \n\t\t\t, ordering_provider_name_middle \n\t\t\t, ordering_provider_name_last \n\t\t\t, ordering_provider_hospital \n\t\t\t, ordering_provider_hospital_display\n\t\t\t, ordering_provider_hospital_name\n\t\t\t, ordering_provider_city \n\t\t\t, ordering_provider_province \n\t\t\t, ordering_provider_country \n\t\t\t, ordering_provider_postal_code \n\t\t\t, 'VIHA' AS hospital_code\n\t\t\t, dss_lis_instance_id\n\t\t\t, ROW_NUMBER () OVER (PARTITION BY ordering_provider_id, input_file_instance ORDER BY collection_dt_tm DESC) AS provider_rank \n\tFROM lab.stg_viha_test_result ) t\nWHERE provider_rank  = 1;\nGO\n\n\n\n/* \nSTEP 2 \nto have all the unique ordering_provider_id in 1,2 and 3\n*/\n\nDROP TABLE IF EXISTS lab.tmp_viha_provider_2;\nGO\n\nSELECT ordering_provider_id\n\t\t, ordering_provider_msp\t\t\n\t\t, ordering_provider_cpsid\n\t\t, ordering_provider_name_first\n\t\t, ordering_provider_name_middle\n\t\t, ordering_provider_name_last\n\t\t, ordering_provider_city\n\t\t, ordering_provider_province\n\t\t, ordering_provider_country\n\t\t, ordering_provider_postal_code\n\t\t, dss_lis_instance_id\nINTO lab.tmp_viha_provider_2\nFROM \n(\n\tSELECT ordering_provider_id\n\t\t\t, ordering_provider_msp\t\t\n\t\t\t, ordering_provider_cpsid\n\t\t\t, ordering_provider_name_first\n\t\t\t, ordering_provider_name_middle\n\t\t\t, ordering_provider_name_last\n\t\t\t, ordering_provider_city\n\t\t\t, ordering_provider_province\n\t\t\t, ordering_provider_country\n\t\t\t, ordering_provider_postal_code\n\t\t\t, dss_lis_instance_id\n\t\t\t, ROW_NUMBER () OVER (PARTITION BY ordering_provider_id, dss_lis_instance_id ORDER BY collection_dt_tm DESC) AS provider_rank\n\tFROM \n\t(\n\t\tSELECT\tcopy_to_provider_1_id  AS ordering_provider_id\n\t\t\t\t, copy_to_provider_1_msp AS ordering_provider_msp \n\t\t\t\t, copy_to_provider_1_cpsid AS ordering_provider_cpsid \n\t\t\t\t, copy_to_provider_1_name_first AS ordering_provider_name_first \n\t\t\t\t, copy_to_provider_1_name_middle AS ordering_provider_name_middle \n\t\t\t\t, copy_to_provider_1_name_last AS ordering_provider_name_last \n\t\t\t\t, copy_to_provider_1_city AS ordering_provider_city \n\t\t\t\t, copy_to_provider_1_province AS ordering_provider_province \n\t\t\t\t, copy_to_provider_1_country AS ordering_provider_country \n\t\t\t\t, copy_to_provider_1_postal_code AS ordering_provider_postal_code \n\t\t\t\t, dss_lis_instance_id \n\t\t\t\t, collection_dt_tm\n\t\tFROM lab.stg_viha_test_result\n\t\tUNION ALL\n\t\tSELECT\tcopy_to_provider_2_id  AS ordering_provider_id\n\t\t\t\t, copy_to_provider_2_msp AS ordering_provider_msp \n\t\t\t\t, copy_to_provider_2_cpsid AS ordering_provider_cpsid \n\t\t\t\t, copy_to_provider_2_name_first AS ordering_provider_name_first \n\t\t\t\t, copy_to_provider_2_name_middle AS ordering_provider_name_middle \n\t\t\t\t, copy_to_provider_2_name_last AS ordering_provider_name_last \n\t\t\t\t, copy_to_provider_2_city AS ordering_provider_city \n\t\t\t\t, copy_to_provider_2_province AS ordering_provider_province \n\t\t\t\t, copy_to_provider_2_country AS ordering_provider_country \n\t\t\t\t, copy_to_provider_2_postal_code AS ordering_provider_postal_code \n\t\t\t\t, dss_lis_instance_id\n\t\t\t\t, collection_dt_tm AS collection_date\n\t\tFROM lab.stg_viha_test_result\n\t\tUNION ALL\n\t\tSELECT\tcopy_to_provider_3_id  AS ordering_provider_id\n\t\t\t\t, copy_to_provider_3_msp AS ordering_provider_msp \n\t\t\t\t, copy_to_provider_3_cpsid AS ordering_provider_cpsid \n\t\t\t\t, copy_to_provider_3_name_first AS ordering_provider_name_first \n\t\t\t\t, copy_to_provider_3_name_middle AS ordering_provider_name_middle \n\t\t\t\t, copy_to_provider_3_name_last AS ordering_provider_name_last \n\t\t\t\t, copy_to_provider_3_city AS ordering_provider_city \n\t\t\t\t, copy_to_provider_3_province AS ordering_provider_province \n\t\t\t\t, copy_to_provider_3_country AS ordering_provider_country \n\t\t\t\t, copy_to_provider_3_postal_code AS ordering_provider_postal_code \n\t\t\t\t, dss_lis_instance_id\n\t\t\t\t, collection_dt_tm AS collection_date\n\t\tFROM lab.stg_viha_test_result\n\t) ctp\n) provider_rank\nWHERE provider_rank  = 1 ;\nGO \n\n\nTRUNCATE TABLE lab.viha_provider;\nGO\n\n\n;\nWITH cte_all_provider AS\n(\n\tSELECT\tordering_provider_id, ordering_provider_msp, ordering_provider_cpsid, ordering_provider_name_first, ordering_provider_name_middle, ordering_provider_name_last\n\t\t\t,ordering_provider_hospital,ordering_provider_hospital_display,ordering_provider_hospital_name,ordering_provider_city,ordering_provider_province\n\t\t\t,ordering_provider_country,ordering_provider_postal_code,hospital_code,dss_lis_instance_id\n\tFROM lab.tmp_viha_provider \n\tUNION ALL \n\tSELECT c1_2_3.ordering_provider_id\n\t\t\t, c1_2_3.ordering_provider_msp\t\t\n\t\t\t, c1_2_3.ordering_provider_cpsid\n\t\t\t, c1_2_3.ordering_provider_name_first\n\t\t\t, c1_2_3.ordering_provider_name_middle\n\t\t\t, c1_2_3.ordering_provider_name_last\n\t\t\t, NULL AS ordering_provider_hospital\n\t\t\t, NULL AS ordering_provider_hospital_display\n\t\t\t, NULL AS ordering_provider_hospital_name\n\t\t\t, c1_2_3.ordering_provider_city\n\t\t\t, c1_2_3.ordering_provider_province\n\t\t\t, c1_2_3.ordering_provider_country\n\t\t\t, c1_2_3.ordering_provider_postal_code\n\t\t\t, 'VIHA' AS hospital_code\n\t\t\t, c1_2_3.dss_lis_instance_id\n\tFROM lab.tmp_viha_provider_2 c1_2_3 \n\tLEFT JOIN lab.tmp_viha_provider o_pro \n\tON o_pro.ordering_provider_id = c1_2_3.ordering_provider_id AND o_pro.dss_lis_instance_id = c1_2_3.dss_lis_instance_id\n\tWHERE o_pro.ordering_provider_id IS NULL \n)\n\nINSERT INTO lab.viha_provider\n(\t[provider_code]\n    ,[provider_cd]\n    ,[provider_name]\n    ,[provider_type]\n    ,[street_address_1]\n    ,[street_address_2]\n    ,[street_address_3]\n\t,[city]\n\t,[province]\n\t,[country]\n    ,[full_address]\n    ,[postal_code]\n    ,[postal_code_original]\n    ,[primary_phone_number]\n    ,[secondary_phone_number]\n    ,[alternate_phone_number]\n    ,[fax_number]\n    ,[additional_info]\n    ,[provider_status]\n    ,[physician_unique_code]\n    ,[provider_group_cd]\n    ,[provider_group_name]\n    ,[hospital_code]\n    ,[dss_lis_instance_id]\n    ,[is_active]\n    ,[updt_dt_tm])\nSELECT\tCAST(ordering_provider_id AS VARCHAR(10)) AS provider_code\n\t\t, CAST(ordering_provider_id AS VARCHAR(10)) AS provider_cd\n\t\t, UPPER( ordering_provider_name_first + CASE ISNULL(ordering_provider_name_middle,'') WHEN '' THEN ' ' ELSE ' ' + ordering_provider_name_middle + ' ' END + ordering_provider_name_last) AS provider_name\n\t\t--, LEFT(UPPER( ISNULL(ordering_provider_name_first,'') + CASE ISNULL(ordering_provider_name_middle,'') WHEN '' THEN ' ' ELSE ' ' + ordering_provider_name_middle + ' ' END + ISNULL(ordering_provider_name_last,'')) ,100) AS left_100_provider_name\n\t\t, NULL AS provider_type\n\t\t, NULL AS street_address_1 \n\t\t, NULL AS street_address_2\n\t\t, NULL AS street_address_3\n\t\t, RTRIM(LTRIM ( ISNULL(ordering_provider_city, '') )) AS city\n\t\t, RTRIM(LTRIM ( ISNULL(ordering_provider_province, '') )) AS province\n\t\t, RTRIM(LTRIM ( ISNULL(ordering_provider_country, '') )) AS country\n\t\t, RTRIM(LTRIM ( ISNULL(ordering_provider_city, '') \n\t\t  + CASE ISNULL(ordering_provider_province, '') WHEN '' THEN ' ' ELSE ' ' + ordering_provider_province + ' ' END \n\t\t  + CASE ISNULL(ordering_provider_country, '') WHEN '' THEN ' ' ELSE ' ' + ordering_provider_country + ' ' END\n\t\t  + ISNULL(ordering_provider_postal_code , ''))) AS full_address\n\t\t, REPLACE(RTRIM(LTRIM(ISNULL(ordering_provider_postal_code, ''))), ' ', '') AS postal_code\n\t\t, ISNULL(ordering_provider_postal_code, '') AS postal_code_original\n\t\t, NULL AS primary_phone_number\n\t\t, NULL AS secondary_phone_number\n\t\t, NULL AS alternate_phone_number\n\t\t, NULL AS fax_number\n\t\t, NULL AS additional_info\n\t\t, NULL AS provider_status\n\t\t, ordering_provider_msp AS physician_unique_code\n\t\t, NULL AS provider_group_cd\n\t\t, NULL AS provider_group_name\n\t\t, 'VIHA' AS hospital_code\n\t\t, dss_lis_instance_id\n\t\t, 1 AS is_active\n\t\t, GETDATE() AS updt_dt_tm\nFROM cte_all_provider ;\nGO \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n/* the following script will be added to lab.vw_code_provider */\n--Jun updated on 20191218\n/* add the following VIHA script on 20200116 */\nUNION ALL\nSELECT provider_cd\n\t\t, provider_code \n\t\t, provider_name \n\t\t, ISNULL(provider_type, '') AS provider_type\n\t\t, ISNULL(street_address_1, '') AS street_address_1  \n\t\t, ISNULL(street_address_2, '') AS street_address_2  \n\t\t, ISNULL(street_address_3, '') AS street_address_3  \n\t\t, city\n\t\t, province \n\t\t, country\n\t\t, full_address \n\t\t, postal_code \n\t\t, postal_code_original \n\t\t, ISNULL(primary_phone_number , '') AS primary_phone_number\n\t\t, ISNULL(secondary_phone_number , '') AS secondary_phone_number\n\t\t, ISNULL(alternate_phone_number , '') AS alternate_phone_number\n\t\t, ISNULL(fax_number , '') AS fax_number\n\t\t, '' AS beeper\n\t\t, '' AS contact_name_1\n\t\t, '' AS contact_name_2\n\t\t, '' AS provider_secondary_code\n\t\t, '' AS callback_comment\n\t\t, '' AS additional_info\n\t\t, ISNULL(provider_status, '') AS provider_status\n\t\t, '' AS performing_lab_summary_form\n\t\t, '' AS primary_location_code\n\t\t, '' AS primary_location_cd\n\t\t, '' AS cpsid\n\t\t, '' AS region_code\n\t\t, '' AS service_code\n\t\t, '' AS specialty_code\n\t\t, '' AS his_mnemonic\n\t\t, physician_unique_code \n\t\t, hospital_code \n\t\t, dss_lis_instance_id \nFROM lab.viha_provider"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "lab_hospital_lab_lab_location1364__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "lab_viha_provider1368__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "USE [STG_PROCESS]\nGO\n\n/*\nlab.vw_code_hospital\t\t--directly update this view\nlab.vw_code_lab\t\t\t\t--precreate and populate lab.cfg_code_viha_lab, update this viwe \t\t\nlab.vw_code_lab_location\t--precreate and populate lab.cfg_code_viha_lab_location, insert new lab locations then update this view\n\nif later there is new lab location, need to revisit these two tables\n\nSELECT * FROM lab.cfg_code_viha_lab\nSELECT * FROM lab.cfg_code_viha_lab_location\n\n*/\n\n\n\n/*\nDROP TABLE IF EXISTS lab.cfg_code_viha_lab\nGO\n\nCREATE TABLE [lab].[cfg_code_viha_lab](\n\t[lab_code] [varchar](16) NOT NULL,\n\t[lab_name] [varchar](255) NULL,\n\t[full_address] [varchar](300) NULL,\n\t[phone_numbers] [varchar](255) NULL,\n\t[directors_name] [varchar](35) NULL,\n\t[reporting_code] [varchar](12) NULL,\n\t[report_text] [varchar](106) NULL,\n\t[lab_status] [varchar](32) NULL,\n\t[cumulative_reports_format] [varchar](8) NULL,\n\t[interim_reports_format] [varchar](8) NULL,\n\t[client_reports_format] [varchar](8) NULL,\n\t[license_number] [varchar](15) NULL,\n\t[main_lab_hospital_code] [varchar](7) NULL,\n\t[dss_lis_instance_id] [tinyint] NOT NULL,\n CONSTRAINT [PK_cfg_code_viha_lab] PRIMARY KEY CLUSTERED \n(\n\t[lab_code] ASC,\n\t[dss_lis_instance_id] ASC\n)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [Warehouse]\n) ON [Warehouse]\nGO\n*/\n\n\n\n\n/*\nDROP TABLE IF EXISTS [lab].[cfg_code_viha_lab_location]\nGO\n\nCREATE TABLE [lab].[cfg_code_viha_lab_location](\n\t[lab_location_code] [varchar](6) NULL,\n\t[lab_location_name] [varchar](150) NULL,\n\t[lab_location_description] [varchar](150) NULL,\n\t[viha_lab_location_code] [int] NOT NULL,\n\t[lab_code] [varchar](6) NULL,\n\t[hospital_code] [varchar](6) NULL,\n\t[effective_date] [date] NULL,\n\t[dss_lis_instance_id] [tinyint] NOT NULL,\n CONSTRAINT [PK_cfg_code_viha_lab_location] PRIMARY KEY CLUSTERED \n(\n\t[viha_lab_location_code] ASC,\n\t[dss_lis_instance_id] ASC\n)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [Warehouse]\n) ON [Warehouse]\nGO\n*/\n\n\n/*\n-- script is for testing new lab_location\nSELECT * FROM lab.cfg_code_viha_lab_location\nSELECT * FROM lab.stg_viha_test_result WHERE input_file_name = 201912\nINSERT INTO lab.stg_viha_test_result\n(order_id, order_entry_lab_cd , order_entry_lab_name , result_lab_cd , result_lab_location_name  , input_file_instance , input_file_name , input_file_process_dt_tm , dss_lis_instance_id ) values\n(1, 9, 'lab location - 9', 99, 'lab location - 99', 'ihealth', 201912, '2019-12-18', 6) , \n(2, 999, 'lab location - 999', 9999, 'lab location - 9999', 'ihealth', 201912, '2019-12-18', 6)\n\nDELETE FROM lab.stg_viha_test_result WHERE input_file_name = 201912\n*/\n\n\n--in case there is new lab location code and name, treat it as '*UNK'\n-- be careful here the PK of this table is viha_lab_location_code + instance, needs to see if this is fine. \nINSERT INTO lab.cfg_code_viha_lab_location \n([lab_location_code],[lab_location_name],[lab_location_description],[viha_lab_location_code]\n      ,[lab_code],[hospital_code],[effective_date],[dss_lis_instance_id])\n\nSELECT  '*UNK' AS lab_location_code\n\t\t,ll.lab_location_name\n\t\t,ll.lab_location_description\n\t\t,ll.viha_lab_location_code\n\t\t,'*UNK' AS lab_code\n\t\t,'VIHA' AS hospital_code \n\t\t,GETDATE() AS effective_date\n\t\t,ll.dss_lis_instance_id\nFROM (\n\t\tSELECT\torder_entry_lab_cd AS viha_lab_location_code\n\t\t\t\t,order_entry_lab_name AS lab_location_name\n\t\t\t\t,order_entry_lab_name AS lab_location_description\n\t\t\t\t, dss_lis_instance_id  \n\t\tFROM lab.stg_viha_test_result\n\t\tUNION \n\t\tSELECT\tresult_lab_cd AS viha_lab_location_code\n\t\t\t\t, result_lab_location_name AS lab_location_name\n\t\t\t\t, result_lab_location_name AS lab_location_description\n\t\t\t\t, dss_lis_instance_id  \n\t\tFROM lab.stg_viha_test_result ) ll\nLEFT JOIN lab.cfg_code_viha_lab_location vcll ON ll.viha_lab_location_code = vcll.viha_lab_location_code AND ll.dss_lis_instance_id = vcll.dss_lis_instance_id \nWHERE vcll.viha_lab_location_code IS NULL ;\nGO\n\n\n\n\n/*\nlab.vw_code_hospital\nadd the following script to lab.vw_code_hospital\nalso need to remove the existing VIHA related script\t\t\n\n--step 1: remove existing VIHA related script\n\n--step 2: add the following VIHA script\nUNION ALL\nSELECT\t2\t\t\t\t\t\t\tAS hospital_number,\n\t\t'VIHA'\t\t\t\t\t\tAS hospital_code,\n\t\t'Hospitals Relate to VIHA'\tAS hospital_name,\n\t\t'A'\t\t\t\t\t\t\tAS hospital_status,\n\t\tCAST (5 AS TINYINT)\t\t\tAS dss_lis_instance_id \nUNION ALL\nSELECT\t2\t\t\t\t\t\t\tAS hospital_number,\n\t\t'VIHA'\t\t\t\t\t\tAS hospital_code,\n\t\t'Hospitals Relate to VIHA'\tAS hospital_name,\n\t\t'A'\t\t\t\t\t\t\tAS hospital_status,\n\t\tCAST (6 AS TINYINT)\t\t\tAS dss_lis_instance_id\n*/\n\n\n\n\n/*\nlab.vw_code_lab\n\nUNION ALL\nSELECT\tlab_code\n\t\t,lab_name\n\t\t,ISNULl(full_address,'') AS full_address\n\t\t,ISNULL(phone_numbers,'') AS phone_numbers\n\t\t,ISNULL(directors_name,'') AS directors_name\n\t\t,ISNULL(reporting_code,'') AS reporting_code\n\t\t,ISNULL(report_text,'') AS report_text\n\t\t,ISNULL(lab_status,'') AS lab_status\n\t\t,ISNULL(cumulative_reports_format,'') AS cumulative_reports_format\n\t\t,ISNULL(interim_reports_format,'') AS interim_reports_format\n\t\t,ISNULL(client_reports_format,'') AS client_reports_format\n\t\t,ISNULL(license_number,'') AS license_number\n\t\t,'VIHA' AS main_lab_hospital_code\n\t\t,dss_lis_instance_id \nFROM lab.cfg_code_viha_lab \n*/\n\n\n\n/*\nlab.vw_code_lab_location\n\nUNION ALL\nSELECT\n  [lab_location_code],\n  [lab_location_name],\n  [lab_location_description],\n  [lab_code],\n  [hospital_code],\n  [effective_date],\n  [dss_lis_instance_id]\nFROM\n  lab.cfg_code_viha_lab_location \n*/"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "truncate_lab_viha_order1385__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "lab_hospital_lab_lab_location1364__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "/*\nDROP TABLE IF EXISTS lab.viha_order;\nGO\nCREATE TABLE lab.viha_order(\n\t[order_row_id] [varchar] (23) NOT NULL,\n\t[order_id] [int] NOT NULL,\n\t[patient_id] [int] NOT NULL,\n\t[ordering_provider_id] [int] NULL,\n\t[copy_to_provider_1_id] [int] NULL,\n\t[copy_to_provider_2_id] [int] NULL,\n\t[copy_to_provider_3_id] [int] NULL,\n\t[hospital_code] [varchar] (6) NOT NULL,\n\t[is_active] [tinyint] NOT NULL,\n\t[dss_lis_instance_id] [tinyint] NOT NULL,\n\t[dss_create_dt_tm] [datetime2](0) NOT NULL,\n CONSTRAINT [PK_viha_order] PRIMARY KEY CLUSTERED \n(\n\t[order_row_id] ASC\n)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Warehouse]\n) ON [Warehouse]\nGO\n\nALTER TABLE lab.viha_order ADD  CONSTRAINT [DF_viha_order_is_active]  DEFAULT ((1)) FOR [is_active]\nGO\nALTER TABLE lab.viha_order ADD  CONSTRAINT [DF_viha_order_dss_create_dt_tm]  DEFAULT (GETDATE()) FOR [dss_create_dt_tm]\nGO\n*/\n\n\nTRUNCATE TABLE lab.viha_order;\nGO"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "populate_lab_viha_order1380_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "truncate_lab_viha_order1385__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "populate_lab_viha_order1380_",
          "type" : "DataFlowReference",
          "parameters" : {
            "var_viha_input_file_name" : {
              "type" : "Expression",
              "value" : "'bccdc_18362_rows_190501_190531.txt'"
            },
            "var_viha_input_folder" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\phsabc\\\\root\\\\BCCDC\\\\Groups\\\\Data_RoutineTransfers\\\\viha_lab_for_cps\\\\monthly_update_files est_files\\\\'"
            }
          },
          "datasetParameters" : {
            "OLEDBSource" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "OLE DB Source",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "viha_order",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "truncate_lab_viha_specimen1386__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "populate_lab_viha_order1380_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "/*\nDROP TABLE IF EXISTS lab.viha_specimen;\nGO\n\nCREATE TABLE lab.viha_specimen(\n\t[specimen_row_id] [varchar] (23) NOT NULL,\n\t[order_row_id] [varchar] (23) NOT NULL,\n\t[order_id] [int] NULL,\n\t[encounter_id] [int] NULL,\n\t[package_cd] [int] NULL,\n\t[careset_order_id] [int] NULL,\n\t[collection_dt_tm] [datetime2] (0) NULL,\n\t[collection_date] [date] NULL,\n\t[collection_time] [time] (0) NULL,\n\t[receive_dt_tm] [datetime2] (0) NULL,\n\t[receive_date] [date] NULL,\n\t[receive_time] [time] (0) NULL,\n\t[receive_tech_code] [varchar] (15) NULL,\n\t[accession_number] [varchar] (15) NULL,\n\t[accession_id] [int] NULL,\n\t[container_id] [int] NULL,\n\t[specimen_code] [varchar] (50) NULL,\n\t[specimen_type] [varchar] (50) NULL,\n\n\t[is_active] [bit] NULL,\n\t[dss_lis_instance_id] [tinyint] NOT NULL,\n\t[dss_create_dt_tm] [datetime2](0) NULL,\n CONSTRAINT [PK_viha_specimen] PRIMARY KEY CLUSTERED \n(\n\t[specimen_row_id] ASC\n)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Warehouse]\n) ON [Warehouse]\nGO\n\nALTER TABLE lab.viha_specimen ADD  CONSTRAINT [DF_viha_specimen_is_active]  DEFAULT ((1)) FOR [is_active]\nGO\nALTER TABLE lab.viha_specimen ADD  CONSTRAINT [DF_viha_specimen_dss_create_dt_tm]  DEFAULT (GETDATE()) FOR [dss_create_dt_tm]\nGO\n\n*/\n\n\n\nTRUNCATE TABLE lab.viha_specimen;\nGO"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "populate_lab_viha_specimen1381_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "truncate_lab_viha_specimen1386__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "populate_lab_viha_specimen1381_",
          "type" : "DataFlowReference",
          "parameters" : {
            "var_viha_input_file_name" : {
              "type" : "Expression",
              "value" : "'bccdc_18362_rows_190501_190531.txt'"
            },
            "var_viha_input_folder" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\phsabc\\\\root\\\\BCCDC\\\\Groups\\\\Data_RoutineTransfers\\\\viha_lab_for_cps\\\\monthly_update_files est_files\\\\'"
            }
          },
          "datasetParameters" : {
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "viha_specimen",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLEDBSource" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "OLE DB Source",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "lab_cfg_code_viha_order_item1361__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "populate_lab_viha_specimen1381_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "USE [STG_PROCESS]\nGO\n\n\n\n/*\nupdated on 20191220\n\n\nPK: order_item_code + dss_lis_instance_id \n(seems can't use order_item_code or order_item_cd from viha source)\nsame cd could have different name order_item_cd = 24915544 in instance 6\nif use order_item_code, how to handle *UNK (new ones which has no name assigned)\n\ntreat every order item, order_type = 'Battery'\n\nSELECT * FROM lab.cfg_code_viha_order_item\n*/\n\n\n/*\nDROP TABLE IF EXISTS lab.cfg_code_viha_order_item;\nGO\n\nCREATE TABLE [lab].[cfg_code_viha_order_item](\n\t[order_item_code] [varchar](10) NOT NULL,\n\t[viha_order_item_code] [int] NOT NULL,\n\t[order_item_name] [varchar](100) NOT NULL,\n\t[order_type] [varchar](7) NULL,\n\t[alternate_name] [varchar](300) NULL,\n\t[orderable_flag] [varchar](1) NULL,\n\t[lab_department_code] [varchar](10) NULL,\n\t[tests_batteries_in_package] [varchar](200) NULL,\n\t[tests_in_battery] [varchar](100) NULL,\n\t[worksheet_codes] [varchar](100) NULL,\n\t[pending_text] [varchar](40) NULL,\n\t[additional_text] [varchar](250) NULL,\n\t[archive_results_flag] [varchar](1) NULL,\n\t[auto_answer_values] [varchar](50) NULL,\n\t[days_to_retreive_results] [varchar](6) NULL,\n\t[decimal_places] [varchar](4) NULL,\n\t[previous_results_to_display] [varchar](4) NULL,\n\t[reference_lab_code] [varchar](10) NULL,\n\t[reference_lab_charge] [real] NULL,\n\t[result_at_request_flag] [varchar](1) NULL,\n\t[supress_results_flag] [varchar](1) NULL,\n\t[result_unit] [varchar](30) NULL,\n\t[sensitive_test_flag] [varchar](1) NULL,\n\t[tube_volume] [varchar](6) NULL,\n\t[qualify_for_column_list] [varchar](1) NULL,\n\t[stibbi_scope] [varchar](10) NULL,\n\t[dss_lis_instance_id] [tinyint] NOT NULL,\n\t[is_active] [bit] NOT NULL,\n\t[updt_dt_tm] [datetime2](0) NOT NULL,\n CONSTRAINT [PK_cfg_code_viha_order_item] PRIMARY KEY CLUSTERED \n(\n\t[order_item_code] ASC, [dss_lis_instance_id] ASC\n)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [Warehouse]\n) ON [Warehouse]\nGO\n\n\nINSERT INTO [lab].[cfg_code_viha_order_item]\n(order_item_name, viha_order_item_code, order_item_code, order_type, stibbi_scope, dss_lis_instance_id, is_active, updt_dt_tm)\nSELECT order_item_name\n\t\t,order_item_cd AS viha_order_item_code\n\t\t,order_item_code\n\t\t,'Battery' AS order_type\n\t\t,stibbi_scope \n\t\t,dss_lis_instance_id \n\t\t,1 AS is_active\n\t\t,GETDATE() AS updt_dt_tm\nFROM [stiis].[code_viha_order_item_paul_new];\nGO\n*/\n\n\n\n/*\nSELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'dim_test'\nSELECT TOP 100 * FROM lab.stg_viha_test_result \nSELECT * FROM lab.cfg_code_viha_order_item\n\nINSERT INTO lab.stg_viha_test_result\n(order_id, order_item_cd , order_item_name, dss_lis_instance_id  ) VALUES \n(1, 9, 'test order item 9', 6),\n(2, 999, 'test order item 999', 6),\n(3, 999, 'test order item 999', 6)\n\nDELETE FROM lab.stg_viha_test_result WHERE order_item_name IN ('test order item 9','test order item 999')\nDELETE FROM lab.cfg_code_viha_order_item WHERE order_item_name IN ('test order item 9','test order item 999')\n*/\n\n\n--to handle new order item from the source, treat code as 'X' + CAST (svtr.order_item_cd AS VARCHAR(9))\n/*\nSELECT COUNT(*) FROM lab.stg_viha_test_result\t\t\t\t\t\t\t\t--1719289\t\t--1719292\nSELECT * FROM lab.cfg_code_viha_order_item\torder by order_item_code\t\t--288\t\t\t--290\nSELECT COUNT(*) FROM lab.viha_order_item\t\t\t\t\t\t\t\t\t--929836\n*/\nINSERT INTO lab.cfg_code_viha_order_item\n(order_item_name, viha_order_item_code, order_item_code, order_type, stibbi_scope, dss_lis_instance_id, is_active, updt_dt_tm)\nSELECT DISTINCT svtr.order_item_name\n\t\t,svtr.order_item_cd AS viha_order_item_code\n\t\t,'X' + CAST (svtr.order_item_cd AS VARCHAR(9)) AS order_item_code\n\t\t,'Battery' AS order_type\n\t\t,'In' stibbi_scope \n\t\t,svtr.dss_lis_instance_id \n\t\t,1 AS is_active\n\t\t,GETDATE() AS updt_dt_tm\nFROM lab.stg_viha_test_result svtr\nLEFT JOIN lab.cfg_code_viha_order_item cfg ON svtr.order_item_cd = cfg.viha_order_item_code AND svtr.dss_lis_instance_id = cfg.dss_lis_instance_id \nWHERE cfg.viha_order_item_code IS NULL;\nGO"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "lab_viha_order_item1366__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "lab_cfg_code_viha_order_item1361__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "/*\nDROP TABLE IF EXISTS lab.viha_order_item;\nGO\n\n\nCREATE TABLE lab.viha_order_item (\n\n\t[order_item_row_id] [varchar](41) NOT NULL,\n\t[specimen_row_id] [varchar](33) NOT NULL,\n\n\t[order_id] [int] NOT NULL,\n\t[order_item_cd] [int] NOT NULL,\n\t[order_item_name] [varchar] (50) NOT NULL,\n\n\n--\t[bat_tst_code] [varchar](10) NOT NULL,\n\t[lab_dept] [varchar](10) NULL,\n--\t[cult_sensi_method] [varchar](8) NULL,\n\t[package_code] [varchar](10) NULL,\n--\t[priority_codes] [varchar](13) NULL,\n\t[number_pend] [int] NULL,\n\t[number_supp] [int] NULL,\n--\t[order_comments] [varchar](189) NULL,\n\t[number_tests] [int] NULL,\n\n\t[order_collection_date] [date] NULL,\n\t[order_collection_time] [time](0) NULL,\n\t[order_collection_tech] [varchar](14) NULL,\n\n\t[order_received_date] [date] NULL,\n\t[order_received_time] [time](0) NULL,\n\t[order_received_tech] [varchar](14) NULL,\n\n\t[order_resulted_date] [date] NULL,\n\t[order_resulted_time] [time](0) NULL,\n\t[order_resulted_tech] [varchar](30) NULL,\n\n\n\t[cancel_date] [date] NULL,\n\t[cancel_time] [time](0) NULL,\n\t[cancel_tech] [varchar](30) NULL,\n\t[cancel_flag] [varchar](15) NULL,\n\n\t[delete_date] [date] NULL,\n\t[delete_time] [time](0) NULL,\n\t[delete_tech] [varchar](30) NULL,\n\t[delete_flag] [varchar](15) NULL,\n\n\t[credit_date] [date] NULL,\n\t[credit_time] [time](0) NULL,\n\t[credit_tech] [varchar](30) NULL,\n\t[credit_flag] [varchar](15) NULL,\n\n\t[pkg_loinc] [varchar](10) NULL,\n\t[bat_loinc] [varchar](10) NULL,\n\n\t[is_active] [tinyint] NOT NULL,\n\t[dss_create_dt_tm] [datetime2](0) NOT NULL,\n\t[dss_lis_instance_id] [tinyint] NOT NULL,\n\t[dss_row_hash_value] [varbinary](20) NULL,\n CONSTRAINT [PK_viha_order_item] PRIMARY KEY CLUSTERED \n(\n\t[order_item_row_id] ASC\n)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Warehouse]\n) ON [Warehouse]\nGO\n\nALTER TABLE [lab].[viha_order_item] ADD  CONSTRAINT [DF_viha_order_item_is_active]  DEFAULT ((1)) FOR [is_active]\nGO\n\nALTER TABLE [lab].[viha_order_item] ADD  CONSTRAINT [DF_viha_order_item_dss_create_dt_tm]  DEFAULT (GETDATE()) FOR [dss_create_dt_tm]\nGO\n*/\n\n\n\n\n/*\nSELECT TOP 100 * FROM lab.viha_order_item \nSELECT TOP 100 * FROM lab.cfg_code_viha_order_item\n*/\n\n\nTRUNCATE TABLE lab.viha_order_item;\nGO\n\n--920737\nINSERT INTO lab.viha_order_item WITH (TABLOCK)\n(order_item_row_id, specimen_row_id,order_id, dss_lis_instance_id, order_item_cd, order_item_name\n, order_collection_date, order_collection_time, order_collection_tech, order_received_date, order_received_time, order_received_tech, order_resulted_date, order_resulted_time, order_resulted_tech\n,credit_flag, cancel_flag, delete_flag, number_tests )\nSELECT vs.specimen_row_id AS order_item_row_id\n\t\t, vs.specimen_row_id AS specimen_row_id\n\t\t, vs.order_id\n\t\t, vs.dss_lis_instance_id \n\t\t, svtr.order_item_cd \n\t\t, svtr.order_item_name \n\t\t, CONVERT (VARCHAR, svtr.collection_dt_tm, 23 ) AS order_collection_date\n\t\t, CONVERT (VARCHAR, svtr.collection_dt_tm, 8)\tAS order_collection_time\n\t\t, NULL AS order_collection_tech\n\t\t, CONVERT (VARCHAR, svtr.receive_dt_tm, 23 )\tAS order_received_date\n\t\t, CONVERT (VARCHAR, svtr.receive_dt_tm, 8)\t\tAS order_received_time\n\t\t, NULL AS order_received_tech\n\t\t, NULL AS order_resulted_date\n\t\t, NULL AS order_resulted_time\n\t\t, NULL AS order_resulted_tech\n\n\t\t, svtr.credit_flag \n\t\t, svtr.cancel_flag \n\t\t, svtr.delete_flag \n\t\t, COUNT(*) AS number_tests\nFROM lab.viha_specimen vs \nINNER JOIN lab.stg_viha_test_result svtr ON vs.order_id = svtr.order_id AND vs.dss_lis_instance_id = svtr.dss_lis_instance_id \nGROUP BY vs.specimen_row_id, vs.specimen_row_id, vs.order_id, vs.dss_lis_instance_id, svtr.order_item_cd, svtr.order_item_name, svtr.collection_dt_tm, svtr.receive_dt_tm, svtr.credit_flag, svtr.cancel_flag, svtr.delete_flag ;\nGO"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "lab_cfg_code_viha_test1363__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "lab_viha_order_item1366__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "USE [STG_PROCESS]\nGO\n\n\n/*\nDROP TABLE IF EXISTS lab.cfg_code_viha_test;\nGO\n\nCREATE TABLE lab.cfg_code_viha_test(\n\t[test_code] [varchar](10) NOT NULL,\n\t[viha_test_code] [int] NOT NULL,\n\t[test_name] [varchar](120) NOT NULL,\n\t[order_type] [varchar](7) NULL,\n\t[alternate_name] [varchar](300) NULL,\n\t[loinc] [varchar](10) NULL,\n\t[stibbi_scope] [varchar](10) NULL,\n\t[dss_lis_instance_id] [tinyint] NOT NULL,\n\t[is_active] [bit] NOT NULL,\n\t[dss_create_dt_tm] [datetime2](0) NOT NULL,\n CONSTRAINT [PK_cfg_code_viha_test] PRIMARY KEY CLUSTERED \n(\n\t[test_code] ASC,\n\t[dss_lis_instance_id] ASC\n)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [Warehouse]\n) ON [Warehouse]\nGO\n\nALTER TABLE lab.cfg_code_viha_test ADD  CONSTRAINT [DF_lab.cfg_code_viha_test_is_active]  DEFAULT ((1)) FOR [is_active]\nGO\nALTER TABLE lab.cfg_code_viha_test ADD  CONSTRAINT [DF_lab.cfg_code_viha_test_dss_create_dt_tm]  DEFAULT (getdate()) FOR [dss_create_dt_tm]\nGO\n\n\nINSERT INTO lab.cfg_code_viha_test\n(test_code, viha_test_code, test_name, order_type, alternate_name, loinc, stibbi_scope, dss_lis_instance_id )\nSELECT test_code \n\t\t, test_cd AS viha_test_code \n\t\t, test_name\n\t\t, 'Test' AS order_type\n\t\t, NULL AS alternate_name \n\t\t, NULL AS loinc\n\t\t, stibbi_scope\n\t\t, dss_lis_instance_id\nFROM lab.viha_test_jun \n*/\n\n\n\n\n\n\n/*\nSELECT COUNT(*) FROM lab.stg_viha_test_result\nSELECT * FROM lab.cfg_code_viha_test\nSELECT * FROM lab.cfg_code_viha_order_item\n\n\nthe following is for testing new test\n\nSELECT COUNT(*) FROM lab.stg_viha_test_result WHERE order_id = 999\t\t--1719289\t--1719290\nINSERT INTO lab.stg_viha_test_result \n(order_id, order_item_cd , order_item_name , test_cd , test_name , input_file_instance , input_file_name , input_file_process_dt_tm , dss_lis_instance_id ) VALUES\n(999, 999999, 'o_i_try', 99999999, 'test_try', 'Ihealth', '201912', getdate(), 6)\n\nDELETE FROM lab.stg_viha_test_result  WHERE order_id = 999 \nDELETE FROM lab.cfg_code_viha_test WHERE test_code = '99999999'\n*/\n\n\n\n--to handle new test from the source\nINSERT INTO lab.cfg_code_viha_test\n(test_code, viha_test_code, test_name, order_type, stibbi_scope, dss_lis_instance_id)\nSELECT DISTINCT CAST (svtr.test_cd AS VARCHAR(10)) AS test_code   \n\t\t,svtr.test_cd AS viha_test_code\n\t\t,svtr.test_name\n\t\t,'Test' AS order_type\n\t\t,'In' AS stibbi_scope \n\t\t,svtr.dss_lis_instance_id \nFROM lab.stg_viha_test_result svtr\nLEFT JOIN lab.cfg_code_viha_test cfg ON svtr.test_cd = cfg.viha_test_code AND svtr.dss_lis_instance_id = cfg.dss_lis_instance_id \nWHERE cfg.viha_test_code IS NULL ;\nGO"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "truncate_lab_viha_test1387__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "lab_cfg_code_viha_test1363__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "/*\nDROP TABLE IF EXISTS lab.viha_test;\nGO\n\nCREATE TABLE lab.viha_test(\n\t\t\t\n\t[test_row_id] [varchar] (49) NOT NULL,\t\n\t[order_item_row_id] [varchar] (23) NULL,\t\n\t[last_result_history_seq_nbr] [smallint] NULL,\n\t[result_history_row_id] [varchar] (50) NULL,\t\t\t\t\n\t[person_id] [int] NULL,\n\t[ordering_provider_id] [int] NULL,\n\t[encounter_id] [int] NULL,\n\t[collection_date] [date] NULL,\n\t[collection_time] [time] (0) NULL,\n\t[receive_date] [date] NULL,\n\t[receive_time] [time] (0) NULL,\n\t[result_date] [date] NULL,\n\t[result_time] [time] (0) NULL,\n\t[package_cd] [int] NULL,\n\t[careset_order_id] [int] NULL,\n\t[order_item_code] [varchar] (10) NULL,\n\t[test_code] [varchar] (10) NULL,\n\t[accession_number] [varchar](15) NULL,\n\t[accession_id] [int] NULL,\n\t[container_id] [int] NULL,\n\t[clinical_event_id] [int] NULL,\n\t[event_id] [int] NULL,\n\t[dss_lis_instance_id] [tinyint] NULL,\n CONSTRAINT [PK_viha_test] PRIMARY KEY CLUSTERED \n(\n\t[test_row_id] ASC\n)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [Warehouse]\n) ON [Warehouse]\nGO\n*/\n\n\nTRUNCATE TABLE lab.viha_test;\nGO"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "lab_viha_test1370_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "truncate_lab_viha_test1387__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "lab_viha_test1370_",
          "type" : "DataFlowReference",
          "parameters" : {
            "var_viha_input_file_name" : {
              "type" : "Expression",
              "value" : "'bccdc_18362_rows_190501_190531.txt'"
            },
            "var_viha_input_folder" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\phsabc\\\\root\\\\BCCDC\\\\Groups\\\\Data_RoutineTransfers\\\\viha_lab_for_cps\\\\monthly_update_files est_files\\\\'"
            }
          },
          "datasetParameters" : {
            "OLEDBDestination" : {
              "TableName" : {
                "value" : "viha_test",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLEDBSource" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "OLE DB Source",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "lab_cfg_code_viha_battery_test1360__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "lab_viha_test1370_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "USE [STG_PROCESS]\nGO\n\n/*\nDROP TABLE IF EXISTS lab.cfg_code_viha_battery_test;\nGO\n-- SELECT * FROM lab.cfg_code_viha_battery_test\n\nCREATE TABLE lab.cfg_code_viha_battery_test(\n\t[row_id] [varchar](254) NOT NULL,\n\t[order_item_code] [varchar](10) NOT NULL,\n\t[viha_order_item_name] [varchar](50) NULL,\n\t[viha_order_item_code] [int] NULL,\n\t[test_code] [varchar](10) NULL,\n\t[viha_test_name] [varchar](100) NULL,\n\t[viha_test_code] [int] NULL,\n\t[test_name] [varchar](150) NULL,\n\t[piece_counter] [int] NULL,\n\n\t[test_type] [varchar](30) NULL,\n\t[test_subtype] [varchar](30) NULL,\n\t[stibbi_scope] [varchar](10) NULL,\n\t[infection_group] [varchar](50) NULL,\n\n\t[dss_lis_instance_id] [tinyint] NOT NULL,\n\t[is_active] [bit] NOT NULL,\n\t[dss_create_dt_tm] [datetime2](3) NOT NULL,\n\t[dss_row_hash_value] [varbinary](20) NULL,\n\n CONSTRAINT [PK_cfg_code_viha_battery_test] PRIMARY KEY CLUSTERED \n(\n\t[row_id] ASC\n)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Warehouse]\n) ON [Warehouse]\nGO\n\nALTER TABLE lab.cfg_code_viha_battery_test ADD  CONSTRAINT [DF_cfg_code_viha_battery_test_is_active]  DEFAULT ((1)) FOR [is_active]\nGO\n\nALTER TABLE lab.cfg_code_viha_battery_test ADD  CONSTRAINT [DF_cfg_code_viha_battery_test_dss_create_dt_tm]  DEFAULT (GETDATE()) FOR [dss_create_dt_tm]\nGO\n\nTRUNCATE TABLE lab.cfg_code_viha_battery_test;\nGO \n\nINSERT INTO lab.cfg_code_viha_battery_test\n(row_id, order_item_code, viha_order_item_code, viha_order_item_name, test_code, viha_test_code, viha_test_name, test_name, dss_lis_instance_id)\nSELECT\tDISTINCT CAST(svtr.dss_lis_instance_id AS VARCHAR(1)) + '||' + coi.order_item_code + '||' + ct.test_code AS row_id  \n\t\t, coi.order_item_code \n\t\t, svtr.order_item_cd AS viha_order_item_code\n\t\t, svtr.order_item_name AS viha_order_item_name \n\t\t, ct.test_code \t\t\n\t\t, svtr.test_cd AS viha_test_code\n\t\t, svtr.test_name AS viha_test_name\n\t\t, svtr.order_item_name + ' - ' + svtr.test_name AS test_name\n\t\t, svtr.dss_lis_instance_id \nFROM lab.stg_viha_test_result svtr \nINNER JOIN lab.cfg_code_viha_order_item coi ON svtr.order_item_cd = coi.viha_order_item_code AND svtr.dss_lis_instance_id = coi.dss_lis_instance_id \nINNER JOIN lab.cfg_code_viha_test ct ON svtr.test_cd = ct.viha_test_code AND svtr.dss_lis_instance_id = ct.dss_lis_instance_id \n\nUPDATE cfg \nSET cfg.test_type = p.test_type\n\t, cfg.test_subtype = p.test_subtype\n\t, cfg.stibbi_scope = CASE WHEN stibbi_scope_order_item = 'Generic' AND stibbi_scope_test = 'Generic' THEN 'Generic'\n\t\t\t\t\t\t\t\tWHEN stibbi_scope_order_item = 'Out' THEN 'Out'\n\t\t\t\t\t\t\t\tWHEN stibbi_scope_order_item = 'In' AND stibbi_scope_test = 'Generic' THEN 'Generic'\n\t\t\t\t\t\t\t\tWHEN stibbi_scope_order_item = 'In' AND stibbi_scope_test = 'In' THEN 'In' END \n\t, cfg.infection_group = p.infection_group\nFROM lab.cfg_code_viha_battery_test cfg \nINNER JOIN lab.viha_order_test_paul p \nON cfg.viha_order_item_code = p.order_item_cd and cfg.viha_test_code = p.test_cd AND cfg.dss_lis_instance_id = p.dss_lis_instance_id;\nGO\n\nUPDATE cfg \nSET cfg.piece_counter = pc.piece_counter\nFROM lab.cfg_code_viha_battery_test cfg \nINNER JOIN\n(\n\tSELECT order_item_code\n\t\t\t, test_code\n\t\t\t, dss_lis_instance_id \n\t\t\t, RANK() OVER (PARTITION BY order_item_code, dss_lis_instance_id ORDER BY test_code ASC) AS piece_counter\n\tFROM lab.cfg_code_viha_battery_test\n) pc\nON cfg.order_item_code = pc.order_item_code AND cfg.test_code = pc.test_code AND cfg.dss_lis_instance_id = pc.dss_lis_instance_id \n*/\n\n/*\nSELECT COUNT(*) FROM lab.cfg_code_viha_battery_test\t\t--392\n*/\n--the following script is to prepare for new order_item_test\nINSERT INTO lab.cfg_code_viha_battery_test\n(row_id, order_item_code, viha_order_item_code, viha_order_item_name, test_code, viha_test_code, viha_test_name, test_name, dss_lis_instance_id\n, test_type, test_subtype , stibbi_scope , infection_group )\nSELECT svtr.row_id\n\t\t, svtr.order_item_code\n\t\t, svtr.viha_order_item_code\n\t\t, svtr.viha_order_item_name\n\t\t, svtr.test_code\n\t\t, svtr.viha_test_code\n\t\t, svtr.viha_test_name\n\t\t, svtr.test_name\n\t\t, svtr.dss_lis_instance_id\n\t\t, '*Missing' AS test_type\n\t\t, '*Missing' AS test_subtype\n\t\t, 'In' AS stibbi_scope\n\t\t, '*Unknown' AS infection_group\nFROM (\n\tSELECT\tDISTINCT CAST(svtr.dss_lis_instance_id AS VARCHAR(1)) + '||' + coi.order_item_code + '||' + ct.test_code AS row_id  \n\t\t\t, coi.order_item_code \n\t\t\t, svtr.order_item_cd AS viha_order_item_code\n\t\t\t, svtr.order_item_name AS viha_order_item_name \n\t\t\t, ct.test_code \t\t\n\t\t\t, svtr.test_cd AS viha_test_code\n\t\t\t, svtr.test_name AS viha_test_name\n\t\t\t, svtr.order_item_name + ' - ' + svtr.test_name AS test_name\n\t\t\t, svtr.dss_lis_instance_id \n\tFROM lab.stg_viha_test_result svtr \n\tINNER JOIN lab.cfg_code_viha_order_item coi ON svtr.order_item_cd = coi.viha_order_item_code AND svtr.dss_lis_instance_id = coi.dss_lis_instance_id \n\tINNER JOIN lab.cfg_code_viha_test ct ON svtr.test_cd = ct.viha_test_code AND svtr.dss_lis_instance_id = ct.dss_lis_instance_id \n) svtr\nLEFT JOIN lab.cfg_code_viha_battery_test cfg \nON svtr.viha_order_item_code = cfg.viha_order_item_code AND svtr.viha_test_code = cfg.viha_test_code AND svtr.dss_lis_instance_id = cfg.dss_lis_instance_id \nWHERE cfg.viha_order_item_code IS NULL ;\nGO\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "lab_cfg_code_viha_result1362__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "lab_cfg_code_viha_battery_test1360__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "\n/*\nlab.vw_test\nlab.vw_result\nlab.vw_result_history\nlab.vw_result_hash\n\n\n*/\n\n/*\nSELECT COUNT(*) FROM lab.stg_viha_test_result\t\t\t\t\t\t\t\t\t\t\t\t--\t\t\t--1719289\nSELECT * FROM lab.tmp_viha_test_result\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t--1702087\t\nSELECT * FROM lab.tmp_viha_test_result_code ORDER BY order_id, dss_lis_instance_id, obs_seq_nbr\t\t\t--2061183\n\nSELECT DISTINCT result_full_description, c_nomenclature_source_string FROM lab.stg_viha_test_result WHERE c_event_id > 0 \n*/\n\n\n\n\n\n\n/*\n-- the following is for the first time load the code table\n-- SELECT * FROM lab.cfg_code_viha_result_code\n\n\n\nDROP TABLE IF EXISTS [lab].[cfg_code_viha_result_code];\nGO\n\nCREATE TABLE [lab].[cfg_code_viha_result_code](\n\t[result_code_id] INT IDENTITY(1,1) NOT NULL,\n\t[result_code] [varchar](10) NOT NULL,\n\t[result_description] [varchar](1000) NULL,\n\t[result_category] [varchar](30) NULL,\n\t[dss_lis_instance_id] [tinyint] NULL,\n CONSTRAINT [PK_lcfg_code_viha_result_code] PRIMARY KEY CLUSTERED \n(\n\t[result_code_id] ASC\n)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [Warehouse]\n) ON [Warehouse]\nGO\n\nTRUNCATE TABLE lab.cfg_code_viha_result_code;\nGO\n\nINSERT INTO lab.cfg_code_viha_result_code WITH (TABLOCK)\n(result_code, result_description, dss_lis_instance_id)\nSELECT '' AS result_code, result_description, dss_lis_instance_id--, ROW_NUMBER () OVER (  ORDER BY result_description, dss_lis_instance_id) AS id\nFROM lab.tmp_viha_test_result_code \nGROUP BY result_description, dss_lis_instance_id;\nGO\n\nUPDATE lab.cfg_code_viha_result_code \nSET result_code = 'rc' + CAST(result_code_id AS VARCHAR(8)) ;\nGO\n\n*/\n\n\n\n\nDROP TABLE IF EXISTS lab.tmp_viha_test_result;\nGO\nDROP TABLE IF EXISTS lab.tmp_viha_test_result_code;\nGO\n\n\nSELECT\torder_id\n\t\t, test_cd \n\t\t, test_name \n\t\t, result_type_display \n\t\t, CASE WHEN c_event_id > 0 THEN 'C' ELSE 'O' END AS result_data_type_code \n\t\t, CASE WHEN result_long_text_id > 0 THEN result_long_text WHEN c_event_id > 0 THEN c_nomenclature_source_string WHEN s_event_id > 0 THEN s_string_result_text ELSE result_full_description END AS result_full_description  \n\t\t, s_unit_of_measure_display AS unit_of_measurement\n\t\t, dss_lis_instance_id\n\t\t, input_file_name \nINTO lab.tmp_viha_test_result\nFROM lab.stg_viha_test_result;\nGO\n\n--1615451\nSELECT  order_id\n\t\t, test_cd \n\t\t, test_name \n\t\t, result_type_display\n\t\t, result_data_type_code\n\t\t, result_full_description\n\t\t, LTRIM(RTRIM(value)) AS result_description\n\t\t, ROW_NUMBER () OVER ( PARTITION BY order_id, test_cd, dss_lis_instance_id ORDER BY current_timestamp) AS obs_seq_nbr\n\t\t, unit_of_measurement\n\t\t, dss_lis_instance_id\nINTO lab.tmp_viha_test_result_code\nFROM lab.tmp_viha_test_result\nCROSS APPLY STRING_SPLIT( result_full_description , '|')\nWHERE value <> ''\n\nUNION \n\n--425317\nSELECT order_id\n\t\t, test_cd\n\t\t, test_name\n\t\t, result_type_display\n\t\t, result_data_type_code\n\t\t, result_full_description\n\t\t, result_full_description AS result_description\n\t\t, 1 AS obs_seq_nbr\n\t\t, unit_of_measurement\n\t\t, dss_lis_instance_id \nFROM lab.tmp_viha_test_result\nWHERE result_full_description = ''\n\n\n/*\nSELECT COUNT(*) FROM lab.tmp_viha_test_result\t\t--bf 1702087\t--af 1702090\nSELECT COUNT(*) FROM lab.tmp_viha_test_result_code\t--bf 2040768\t--af 2040772\n\n--testing script\nDELETE FROM lab.stg_viha_test_result WHERE input_file_name = 202001\nINSERT INTO lab.stg_viha_test_result\n(order_id, result_full_description , result_type_display , result_long_text_id , result_long_text , c_event_id, s_event_id, s_string_result_text, input_file_name , dss_lis_instance_id  ) VALUES\n(9999, 'first test result', 'Alpha', 10000, 'first test result || adfadfaeaef adf |   |  two space  |', NULL, NULL, NULL, 202001, 6),\n(10000, 'two test, coded one', 'Alpha', 10001, NULL, 10000, NULL, NULL, 202001, 6),\n(10001, NULL, 'Numeric', NULL, NULL, NULL, 10002, '999999', 202001, 6)\n*/\n\n\n--if there is any new result description + instance_id, insert into lab.cfg_code_viha_result_code\nINSERT INTO lab.cfg_code_viha_result_code WITH (TABLOCK)\n(result_code, result_description, dss_lis_instance_id)\nSELECT '' AS result_code, tmp.result_description, tmp.dss_lis_instance_id--, cfg.result_description\nFROM ( SELECT result_description, dss_lis_instance_id FROM lab.tmp_viha_test_result_code GROUP BY result_description, dss_lis_instance_id ) tmp \nLEFT JOIN lab.cfg_code_viha_result_code cfg ON tmp.result_description = cfg.result_description AND tmp.dss_lis_instance_id = cfg.dss_lis_instance_id\nWHERE cfg.result_description IS NULL ;\nGO\n\nUPDATE lab.cfg_code_viha_result_code \nSET result_code = 'rc' + CAST(result_code_id AS VARCHAR(8)) \nWHERE result_code = ''\nGO\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "lab_viha_result1369__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "lab_cfg_code_viha_result1362__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "\n\n/*\n-- SELECT * FROM lab.viha_result\n\nDROP TABLE IF EXISTS lab.viha_result;\nGO\n\nCREATE TABLE lab.viha_result(\n\t[result_row_id] [varchar](59) NOT NULL,\n\t[result_history_row_id] [varchar](54) NOT NULL,\n\t--[accession_number] [varchar](10) NOT NULL,\n\t[order_item_code] [varchar](10) NOT NULL,\n\t[test_code] [varchar](10) NOT NULL,\n\t[obs_seq_nbr] [tinyint] NOT NULL,\n\t[obs_result_seq_nbr] [tinyint] NOT NULL,\n\t[result_data_type_code] [varchar](1) NOT NULL,\n\t[result_type_display] [varchar] (50) NULL,\n\t[result_value] [varchar](10) NULL,\n\t[result_code] [varchar](10) NULL,\n\t[result_numeric] [numeric] (10,2) NULL,\n\t[result_description] [varchar](1000) NULL,\n\t[dss_lis_instance_id] [tinyint] NULL,\n CONSTRAINT [PK_viha_result] PRIMARY KEY CLUSTERED \n(\n\t[result_row_id] ASC\n)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Warehouse]\n) ON [Warehouse]\nGO\n*/\n\nTRUNCATE TABLE lab.viha_result;\nGO\n\nINSERT INTO lab.viha_result WITH (TABLOCK)\n(result_row_id, result_history_row_id, order_item_code, test_code, obs_seq_nbr, obs_result_seq_nbr, result_data_type_code, result_type_display, result_code\n,result_numeric, result_description, dss_lis_instance_id)\nSELECT  voi.order_item_row_id + '||' + ct.test_code + '||1||' + CAST(tmp.obs_seq_nbr AS VARCHAR(2)) AS result_row_id\t\t--always 1, all results are final results\n\t\t, voi.order_item_row_id + '||' + ct.test_code + '||1'  AS result_history_row_id\n\t\t, coi.order_item_code \n\t\t, ct.test_code\n\t\t, tmp.obs_seq_nbr \n\t\t, 1 AS obs_result_seq_nbr\n\t\t, tmp.result_data_type_code \n\t\t, tmp.result_type_display\n\t\t, crc.result_code\n\t\t, CASE WHEN tmp.result_type_display IN ('Calculation','Numeric') AND ISNUMERIC(tmp.result_description) = 1 THEN tmp.result_description ELSE NULL END AS result_numeric \n\t\t, tmp.result_description \n\t\t, tmp.dss_lis_instance_id \nFROM lab.tmp_viha_test_result_code tmp\nINNER JOIN lab.cfg_code_viha_test ct ON tmp.test_cd = ct.viha_test_code AND tmp.dss_lis_instance_id = ct.dss_lis_instance_id \nINNER JOIN lab.viha_order_item voi ON tmp.order_id = voi.order_id AND tmp.dss_lis_instance_id = voi.dss_lis_instance_id\nINNER JOIN lab.cfg_code_viha_order_item coi ON voi.order_item_cd = coi.viha_order_item_code AND voi.dss_lis_instance_id = coi.dss_lis_instance_id \nINNER JOIN lab.cfg_code_viha_result_code crc ON tmp.result_description = crc.result_description AND tmp.dss_lis_instance_id = crc.dss_lis_instance_id ;\nGO\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "var_viha_input_file_name" : {
        "type" : "string",
        "defaultValue" : "'bccdc_18362_rows_190501_190531.txt'"
      },
      "var_viha_input_folder" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\phsabc\\\\root\\\\BCCDC\\\\Groups\\\\Data_RoutineTransfers\\\\viha_lab_for_cps\\\\monthly_update_files\\\\test_files\\\\'"
      }
    }
  }
}