SSISInv0716/pipeline/PPL_Allix_To_ARDM.json
{
  "name" : "PPL_Allix_To_ARDM",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "Allix_To_ARDM_StartLog2__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DECLARE @MaxID bigint\n SELECT @MaxID= max (LogId) +1 FROM [dbo].[TBL_LOG_AllixToARDM]\n\n   \nINSERT INTO[dbo].[TBL_LOG_AllixToARDM]\n([LogId], [NameOfPackage],[StartOfExecution],[EndOfExecution],[ErrorMessage],[Status])\n\nVALUES\n(\n@MaxID, @0,getdate(),NULL,NULL,'S'\n)\nSELECT @MaxID as LogId\n\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Allix_To_ARDM_StartLog2__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Allix_To_ARDM_StartLog2__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ExecutionBatchID",
        "value" : "@activity('Allix_To_ARDM_StartLog2__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Formulas3_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Allix_To_ARDM_StartLog2__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Formulas3_",
          "type" : "DataFlowReference",
          "parameters" : {
            "ExternalFactoryCode" : {
              "type" : "Expression",
              "value" : "1"
            },
            "pSource" : {
              "type" : "Expression",
              "value" : "'Data Source=Allix-rc-p-agl.mars-ad.net;Initial Catalog=allix2;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "ProfilSSIS" : {
              "type" : "Expression",
              "value" : "'SSIS_Allix2Ardm'"
            },
            "pDestination" : {
              "type" : "Expression",
              "value" : "'Data Source=SSQL1016.rcad.net;Initial Catalog=ARDM;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "pExtFactoryCode" : {
              "type" : "Expression",
              "value" : "1"
            },
            "pStage" : {
              "type" : "Expression",
              "value" : "'Data Source=AZR-WEW5234.mars-ad.net\\\\MI0526P;Initial Catalog=S2S_STG_SI;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "ExecutionBatchID" : {
              "type" : "Expression",
              "value" : "0"
            },
            "MaxUID" : {
              "type" : "Expression",
              "value" : "-1"
            },
            "RMData" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            }
          },
          "datasetParameters" : {
            "CommandeOLEDB" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "RechercheLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "Recherche",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "CommandeOLEDB1" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "SourceOLEDB" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "Source OLE DB",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Tache_d_execution_de_requetes_SQL13__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Formulas3_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "SELECT ISNULL(MAX(UID), 0) as MaxUID FROM ProcessCardFormulasVersions"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Tache_d_execution_de_requetes_SQL13__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Tache_d_execution_de_requetes_SQL13__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "MaxUID",
        "value" : "@activity('Tache_d_execution_de_requetes_SQL13__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Formulas_version9_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Tache_d_execution_de_requetes_SQL13__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Formulas_version9_",
          "type" : "DataFlowReference",
          "parameters" : {
            "ExternalFactoryCode" : {
              "type" : "Expression",
              "value" : "1"
            },
            "pSource" : {
              "type" : "Expression",
              "value" : "'Data Source=Allix-rc-p-agl.mars-ad.net;Initial Catalog=allix2;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "ProfilSSIS" : {
              "type" : "Expression",
              "value" : "'SSIS_Allix2Ardm'"
            },
            "pDestination" : {
              "type" : "Expression",
              "value" : "'Data Source=SSQL1016.rcad.net;Initial Catalog=ARDM;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "pExtFactoryCode" : {
              "type" : "Expression",
              "value" : "1"
            },
            "pStage" : {
              "type" : "Expression",
              "value" : "'Data Source=AZR-WEW5234.mars-ad.net\\\\MI0526P;Initial Catalog=S2S_STG_SI;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "ExecutionBatchID" : {
              "type" : "Expression",
              "value" : "0"
            },
            "MaxUID" : {
              "type" : "Expression",
              "value" : "-1"
            },
            "RMData" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            }
          },
          "datasetParameters" : {
            "SourceOLEDB" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "Source OLE DB",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "RechercheLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "Recherche",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "CommandeOLEDB1" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "CommandeOLEDB" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Raw_Materials11_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Formulas_version9_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Raw_Materials11_",
          "type" : "DataFlowReference",
          "parameters" : {
            "ExternalFactoryCode" : {
              "type" : "Expression",
              "value" : "1"
            },
            "pSource" : {
              "type" : "Expression",
              "value" : "'Data Source=Allix-rc-p-agl.mars-ad.net;Initial Catalog=allix2;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "ProfilSSIS" : {
              "type" : "Expression",
              "value" : "'SSIS_Allix2Ardm'"
            },
            "pDestination" : {
              "type" : "Expression",
              "value" : "'Data Source=SSQL1016.rcad.net;Initial Catalog=ARDM;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "pExtFactoryCode" : {
              "type" : "Expression",
              "value" : "1"
            },
            "pStage" : {
              "type" : "Expression",
              "value" : "'Data Source=AZR-WEW5234.mars-ad.net\\\\MI0526P;Initial Catalog=S2S_STG_SI;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "ExecutionBatchID" : {
              "type" : "Expression",
              "value" : "0"
            },
            "MaxUID" : {
              "type" : "Expression",
              "value" : "-1"
            },
            "RMData" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            }
          },
          "datasetParameters" : {
            "RechercheLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "Recherche",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "CommandeOLEDB1" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "CommandeOLEDB" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "SourceOLEDB" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "Source OLE DB",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Formulas_composition5_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Raw_Materials11_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Formulas_composition5_",
          "type" : "DataFlowReference",
          "parameters" : {
            "ExternalFactoryCode" : {
              "type" : "Expression",
              "value" : "1"
            },
            "pSource" : {
              "type" : "Expression",
              "value" : "'Data Source=Allix-rc-p-agl.mars-ad.net;Initial Catalog=allix2;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "ProfilSSIS" : {
              "type" : "Expression",
              "value" : "'SSIS_Allix2Ardm'"
            },
            "pDestination" : {
              "type" : "Expression",
              "value" : "'Data Source=SSQL1016.rcad.net;Initial Catalog=ARDM;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "pExtFactoryCode" : {
              "type" : "Expression",
              "value" : "1"
            },
            "pStage" : {
              "type" : "Expression",
              "value" : "'Data Source=AZR-WEW5234.mars-ad.net\\\\MI0526P;Initial Catalog=S2S_STG_SI;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "ExecutionBatchID" : {
              "type" : "Expression",
              "value" : "0"
            },
            "MaxUID" : {
              "type" : "Expression",
              "value" : "-1"
            },
            "RMData" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            }
          },
          "datasetParameters" : {
            "SourceOLEDB" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "Source OLE DB",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "RechercheLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "Recherche",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "CommandeOLEDB" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "CommandeOLEDB1" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "Recherche1LKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "Recherche 1",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Formulas_parameters7_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Formulas_composition5_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Formulas_parameters7_",
          "type" : "DataFlowReference",
          "parameters" : {
            "ExternalFactoryCode" : {
              "type" : "Expression",
              "value" : "1"
            },
            "pSource" : {
              "type" : "Expression",
              "value" : "'Data Source=Allix-rc-p-agl.mars-ad.net;Initial Catalog=allix2;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "ProfilSSIS" : {
              "type" : "Expression",
              "value" : "'SSIS_Allix2Ardm'"
            },
            "pDestination" : {
              "type" : "Expression",
              "value" : "'Data Source=SSQL1016.rcad.net;Initial Catalog=ARDM;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "pExtFactoryCode" : {
              "type" : "Expression",
              "value" : "1"
            },
            "pStage" : {
              "type" : "Expression",
              "value" : "'Data Source=AZR-WEW5234.mars-ad.net\\\\MI0526P;Initial Catalog=S2S_STG_SI;Provider=SQLNCLI11;Persist Security Info=True;Auto Translate=False;Integrated Security=SSPI'"
            },
            "ExecutionBatchID" : {
              "type" : "Expression",
              "value" : "0"
            },
            "MaxUID" : {
              "type" : "Expression",
              "value" : "-1"
            },
            "RMData" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            }
          },
          "datasetParameters" : {
            "RechercheLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "Recherche",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "CommandeOLEDB" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "CommandeOLEDB1" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "SourceOLEDB" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "Source OLE DB",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "CommandeOLEDB2" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Tache_d_execution_de_requetes_SQL_115__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Formulas_parameters7_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC dbo.[Import_ALLIX_MANAGE_QUANTITY]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "Allix_To_ARDM_EndLog1__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Tache_d_execution_de_requetes_SQL_115__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "UPDATE  [dbo].[TBL_LOG_AllixToARDM]\n SET EndOfExecution  = GETDATE(), Status = 'C'\nWHERE LogId =@0 "
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "ExecutionBatchID" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "ProfilSSIS" : {
        "type" : "string",
        "defaultValue" : "'SSIS_Allix2Ardm'"
      },
      "MaxUID" : {
        "type" : "Integer",
        "defaultValue" : "-1"
      }
    }
  }
}