SSISInv0716/pipeline/PPL_GSC_Plan_Forecast_Load_Master_SF.json
{
  "name" : "PPL_GSC_Plan_Forecast_Load_Master_SF",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "GlobalVarFile",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "GlobalVarFile",
        "value" : {
          "value" : "@concat(variables('SSISPackageFolder'),'VarFiles\\\\ReplaceVars.txt')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "SSISLogFileName",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "SSISLogFileName",
        "value" : {
          "value" : "@concat(pipeline().PipelineName,'_SSISLog')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "SSISLogFolderPath",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "SSISLogFolderPath",
        "value" : {
          "value" : "@concat(variables('SSISPackageFolder'),'SSISLogs\\\\')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "HOUSECLEANING1093__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "SSISLogFolderPath",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "GlobalVarFile",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "SSISLogFileName",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC [dbo].[HOUSECLEANING]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "Data_Flow_Task_-_Load_into_BSD_Plan_Input1086_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "HOUSECLEANING1093__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Data_Flow_Task_-_Load_into_BSD_Plan_Input1086_",
          "type" : "DataFlowReference",
          "parameters" : {
            "LoadMasterSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_SALESRPT_DATA_GSC_FINANCE_PLAN.snow'"
            },
            "EmailTo" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "GlobalVarFile" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\VarFiles\\\\GlobalSnowSQLVarFile.ReplaceVars.txt'"
            },
            "AWSScriptFile" : {
              "type" : "Expression",
              "value" : "'Copy_GSC_File_to_S3.cmd'"
            },
            "WorkTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "EmailFrom" : {
              "type" : "Expression",
              "value" : "'SSISAdmin@officedepot.com'"
            },
            "File_To_Load_Retail_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Forecast.csv'"
            },
            "GSC_Plan_Forecast_Network_Share" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschfs11\\\\BIDW_devFS$\\\\BSD_Plan_Forecast_Data\\\\'"
            },
            "ErrorRowCnt" : {
              "type" : "Expression",
              "value" : "0"
            },
            "S3_Command_Executable_Path" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschvsqld52\\\\SSIS\\\\Packages\\\\BI\\\\RunS3FileOperatorsViaSSIS\\\\BatchFiles\\\\Exec_S3FileOperators_Via_SSIS_Batch_With_Args.cmd'"
            },
            "RI_InvalidFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\RI_Invalid_SF.csv'"
            },
            "ESP_Event_Nm" : {
              "type" : "Expression",
              "value" : "'BIPLAFOR'"
            },
            "Snowflake_ODBC_Query_Schema_Name" : {
              "type" : "Expression",
              "value" : "'WORKDB'"
            },
            "SSISLogFolderPath" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\SSISLogs\\\\'"
            },
            "LoadStageSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Copy_Into_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "WorkFinancePlanFilePath" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\USCHVSQLD52\\\\SSIS\\\\Packages\\\\BI\\\\GSC_Plan_Forecast\\\\TemporaryWorkFiles\\\\'"
            },
            "vSubjPage" : {
              "type" : "Expression",
              "value" : "''"
            },
            "ErrorFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\ErrorFile_SF.csv'"
            },
            "File_To_Load_Retail_Plan_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Plan.csv'"
            },
            "LoadWorkSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_WORKDB_GSC_FINANCE_PLAN_WORK.snow'"
            },
            "RICheckSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'RI_Check_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "Exec_SnowSQL_Via_SSIS_Batch_With_Args_Path" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\RunSnowSQLViaSSIS\\\\BatchFiles\\\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd'"
            },
            "ESP_Job_Nm" : {
              "type" : "Expression",
              "value" : "'AINDMN03'"
            },
            "File_To_Load_BSD_Plan_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Plan.csv'"
            },
            "SSISLogFileName" : {
              "type" : "Expression",
              "value" : "'GSC_Plan_Forecast_Load_Master_SF_SSISLog'"
            },
            "EmailOnCall" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "ErrorTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "File_To_Load_BSD_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Forecast.csv'"
            },
            "SSISPackageFolder" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\'"
            },
            "WorkTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "Snowflake_ODBC_Query_Error_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_ERROR'"
            },
            "Snowflake_ODBC_Query_Work_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_WORK'"
            },
            "WorkFinancePlanFile" : {
              "type" : "Expression",
              "value" : "'WORK_FINANCE_PLAN_File_For_FastLoad.csv'"
            },
            "ActionToPerform" : {
              "type" : "Expression",
              "value" : "'CUSTOM'"
            },
            "ErrorTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "CreateLogFile" : {
              "type" : "Expression",
              "value" : "'Y'"
            },
            "SnowflakeConnectionName" : {
              "type" : "Expression",
              "value" : "'SVC_BSD_SF_DEV'"
            }
          },
          "datasetParameters" : {
            "BSDPlanSourceFile" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "ExtractBSDPlanInputCSVFileandLoadBSDPlanInputTable" : {
              "TableName" : {
                "value" : "BSD_PLAN_INPUT",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Data_Flow_Task_-_Load_into_BSD_Forecast_Input1085_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Data_Flow_Task_-_Load_into_BSD_Plan_Input1086_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Data_Flow_Task_-_Load_into_BSD_Forecast_Input1085_",
          "type" : "DataFlowReference",
          "parameters" : {
            "LoadMasterSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_SALESRPT_DATA_GSC_FINANCE_PLAN.snow'"
            },
            "EmailTo" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "GlobalVarFile" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\VarFiles\\\\GlobalSnowSQLVarFile.ReplaceVars.txt'"
            },
            "AWSScriptFile" : {
              "type" : "Expression",
              "value" : "'Copy_GSC_File_to_S3.cmd'"
            },
            "WorkTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "EmailFrom" : {
              "type" : "Expression",
              "value" : "'SSISAdmin@officedepot.com'"
            },
            "File_To_Load_Retail_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Forecast.csv'"
            },
            "GSC_Plan_Forecast_Network_Share" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschfs11\\\\BIDW_devFS$\\\\BSD_Plan_Forecast_Data\\\\'"
            },
            "ErrorRowCnt" : {
              "type" : "Expression",
              "value" : "0"
            },
            "S3_Command_Executable_Path" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschvsqld52\\\\SSIS\\\\Packages\\\\BI\\\\RunS3FileOperatorsViaSSIS\\\\BatchFiles\\\\Exec_S3FileOperators_Via_SSIS_Batch_With_Args.cmd'"
            },
            "RI_InvalidFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\RI_Invalid_SF.csv'"
            },
            "ESP_Event_Nm" : {
              "type" : "Expression",
              "value" : "'BIPLAFOR'"
            },
            "Snowflake_ODBC_Query_Schema_Name" : {
              "type" : "Expression",
              "value" : "'WORKDB'"
            },
            "SSISLogFolderPath" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\SSISLogs\\\\'"
            },
            "LoadStageSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Copy_Into_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "WorkFinancePlanFilePath" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\USCHVSQLD52\\\\SSIS\\\\Packages\\\\BI\\\\GSC_Plan_Forecast\\\\TemporaryWorkFiles\\\\'"
            },
            "vSubjPage" : {
              "type" : "Expression",
              "value" : "''"
            },
            "ErrorFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\ErrorFile_SF.csv'"
            },
            "File_To_Load_Retail_Plan_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Plan.csv'"
            },
            "LoadWorkSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_WORKDB_GSC_FINANCE_PLAN_WORK.snow'"
            },
            "RICheckSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'RI_Check_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "Exec_SnowSQL_Via_SSIS_Batch_With_Args_Path" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\RunSnowSQLViaSSIS\\\\BatchFiles\\\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd'"
            },
            "ESP_Job_Nm" : {
              "type" : "Expression",
              "value" : "'AINDMN03'"
            },
            "File_To_Load_BSD_Plan_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Plan.csv'"
            },
            "SSISLogFileName" : {
              "type" : "Expression",
              "value" : "'GSC_Plan_Forecast_Load_Master_SF_SSISLog'"
            },
            "EmailOnCall" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "ErrorTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "File_To_Load_BSD_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Forecast.csv'"
            },
            "SSISPackageFolder" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\'"
            },
            "WorkTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "Snowflake_ODBC_Query_Error_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_ERROR'"
            },
            "Snowflake_ODBC_Query_Work_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_WORK'"
            },
            "WorkFinancePlanFile" : {
              "type" : "Expression",
              "value" : "'WORK_FINANCE_PLAN_File_For_FastLoad.csv'"
            },
            "ActionToPerform" : {
              "type" : "Expression",
              "value" : "'CUSTOM'"
            },
            "ErrorTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "CreateLogFile" : {
              "type" : "Expression",
              "value" : "'Y'"
            },
            "SnowflakeConnectionName" : {
              "type" : "Expression",
              "value" : "'SVC_BSD_SF_DEV'"
            }
          },
          "datasetParameters" : {
            "ExtractBSDForecastPlanInputExcelFileandLoadBSDForecastInputTable" : {
              "TableName" : {
                "value" : "BSD_FORECAST_INPUT",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "BSDPlanForecastFile" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Data_Flow_Task-Load_into_Retail_Plan_Input1088_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Data_Flow_Task_-_Load_into_BSD_Forecast_Input1085_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Data_Flow_Task-Load_into_Retail_Plan_Input1088_",
          "type" : "DataFlowReference",
          "parameters" : {
            "LoadMasterSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_SALESRPT_DATA_GSC_FINANCE_PLAN.snow'"
            },
            "EmailTo" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "GlobalVarFile" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\VarFiles\\\\GlobalSnowSQLVarFile.ReplaceVars.txt'"
            },
            "AWSScriptFile" : {
              "type" : "Expression",
              "value" : "'Copy_GSC_File_to_S3.cmd'"
            },
            "WorkTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "EmailFrom" : {
              "type" : "Expression",
              "value" : "'SSISAdmin@officedepot.com'"
            },
            "File_To_Load_Retail_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Forecast.csv'"
            },
            "GSC_Plan_Forecast_Network_Share" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschfs11\\\\BIDW_devFS$\\\\BSD_Plan_Forecast_Data\\\\'"
            },
            "ErrorRowCnt" : {
              "type" : "Expression",
              "value" : "0"
            },
            "S3_Command_Executable_Path" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschvsqld52\\\\SSIS\\\\Packages\\\\BI\\\\RunS3FileOperatorsViaSSIS\\\\BatchFiles\\\\Exec_S3FileOperators_Via_SSIS_Batch_With_Args.cmd'"
            },
            "RI_InvalidFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\RI_Invalid_SF.csv'"
            },
            "ESP_Event_Nm" : {
              "type" : "Expression",
              "value" : "'BIPLAFOR'"
            },
            "Snowflake_ODBC_Query_Schema_Name" : {
              "type" : "Expression",
              "value" : "'WORKDB'"
            },
            "SSISLogFolderPath" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\SSISLogs\\\\'"
            },
            "LoadStageSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Copy_Into_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "WorkFinancePlanFilePath" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\USCHVSQLD52\\\\SSIS\\\\Packages\\\\BI\\\\GSC_Plan_Forecast\\\\TemporaryWorkFiles\\\\'"
            },
            "vSubjPage" : {
              "type" : "Expression",
              "value" : "''"
            },
            "ErrorFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\ErrorFile_SF.csv'"
            },
            "File_To_Load_Retail_Plan_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Plan.csv'"
            },
            "LoadWorkSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_WORKDB_GSC_FINANCE_PLAN_WORK.snow'"
            },
            "RICheckSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'RI_Check_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "Exec_SnowSQL_Via_SSIS_Batch_With_Args_Path" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\RunSnowSQLViaSSIS\\\\BatchFiles\\\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd'"
            },
            "ESP_Job_Nm" : {
              "type" : "Expression",
              "value" : "'AINDMN03'"
            },
            "File_To_Load_BSD_Plan_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Plan.csv'"
            },
            "SSISLogFileName" : {
              "type" : "Expression",
              "value" : "'GSC_Plan_Forecast_Load_Master_SF_SSISLog'"
            },
            "EmailOnCall" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "ErrorTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "File_To_Load_BSD_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Forecast.csv'"
            },
            "SSISPackageFolder" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\'"
            },
            "WorkTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "Snowflake_ODBC_Query_Error_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_ERROR'"
            },
            "Snowflake_ODBC_Query_Work_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_WORK'"
            },
            "WorkFinancePlanFile" : {
              "type" : "Expression",
              "value" : "'WORK_FINANCE_PLAN_File_For_FastLoad.csv'"
            },
            "ActionToPerform" : {
              "type" : "Expression",
              "value" : "'CUSTOM'"
            },
            "ErrorTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "CreateLogFile" : {
              "type" : "Expression",
              "value" : "'Y'"
            },
            "SnowflakeConnectionName" : {
              "type" : "Expression",
              "value" : "'SVC_BSD_SF_DEV'"
            }
          },
          "datasetParameters" : {
            "ExtractRetailPlanInputExcelFileandLoadRetailPlanTable" : {
              "TableName" : {
                "value" : "RETAIL_PLAN_INPUT",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "RetailPlanSource" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Data_Flow_Task_-_Load_Into_Retail_Forecast_Input_1",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Data_Flow_Task-Load_into_Retail_Plan_Input1088_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Data_Flow_Task_-_Load_Into_Retail_Forecast_Input_1",
          "type" : "DataFlowReference",
          "parameters" : {
            "LoadMasterSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_SALESRPT_DATA_GSC_FINANCE_PLAN.snow'"
            },
            "EmailTo" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "GlobalVarFile" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\VarFiles\\\\GlobalSnowSQLVarFile.ReplaceVars.txt'"
            },
            "AWSScriptFile" : {
              "type" : "Expression",
              "value" : "'Copy_GSC_File_to_S3.cmd'"
            },
            "WorkTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "EmailFrom" : {
              "type" : "Expression",
              "value" : "'SSISAdmin@officedepot.com'"
            },
            "File_To_Load_Retail_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Forecast.csv'"
            },
            "GSC_Plan_Forecast_Network_Share" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschfs11\\\\BIDW_devFS$\\\\BSD_Plan_Forecast_Data\\\\'"
            },
            "ErrorRowCnt" : {
              "type" : "Expression",
              "value" : "0"
            },
            "S3_Command_Executable_Path" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschvsqld52\\\\SSIS\\\\Packages\\\\BI\\\\RunS3FileOperatorsViaSSIS\\\\BatchFiles\\\\Exec_S3FileOperators_Via_SSIS_Batch_With_Args.cmd'"
            },
            "RI_InvalidFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\RI_Invalid_SF.csv'"
            },
            "ESP_Event_Nm" : {
              "type" : "Expression",
              "value" : "'BIPLAFOR'"
            },
            "Snowflake_ODBC_Query_Schema_Name" : {
              "type" : "Expression",
              "value" : "'WORKDB'"
            },
            "SSISLogFolderPath" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\SSISLogs\\\\'"
            },
            "LoadStageSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Copy_Into_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "WorkFinancePlanFilePath" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\USCHVSQLD52\\\\SSIS\\\\Packages\\\\BI\\\\GSC_Plan_Forecast\\\\TemporaryWorkFiles\\\\'"
            },
            "vSubjPage" : {
              "type" : "Expression",
              "value" : "''"
            },
            "ErrorFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\ErrorFile_SF.csv'"
            },
            "File_To_Load_Retail_Plan_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Plan.csv'"
            },
            "LoadWorkSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_WORKDB_GSC_FINANCE_PLAN_WORK.snow'"
            },
            "RICheckSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'RI_Check_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "Exec_SnowSQL_Via_SSIS_Batch_With_Args_Path" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\RunSnowSQLViaSSIS\\\\BatchFiles\\\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd'"
            },
            "ESP_Job_Nm" : {
              "type" : "Expression",
              "value" : "'AINDMN03'"
            },
            "File_To_Load_BSD_Plan_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Plan.csv'"
            },
            "SSISLogFileName" : {
              "type" : "Expression",
              "value" : "'GSC_Plan_Forecast_Load_Master_SF_SSISLog'"
            },
            "EmailOnCall" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "ErrorTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "File_To_Load_BSD_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Forecast.csv'"
            },
            "SSISPackageFolder" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\'"
            },
            "WorkTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "Snowflake_ODBC_Query_Error_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_ERROR'"
            },
            "Snowflake_ODBC_Query_Work_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_WORK'"
            },
            "WorkFinancePlanFile" : {
              "type" : "Expression",
              "value" : "'WORK_FINANCE_PLAN_File_For_FastLoad.csv'"
            },
            "ActionToPerform" : {
              "type" : "Expression",
              "value" : "'CUSTOM'"
            },
            "ErrorTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "CreateLogFile" : {
              "type" : "Expression",
              "value" : "'Y'"
            },
            "SnowflakeConnectionName" : {
              "type" : "Expression",
              "value" : "'SVC_BSD_SF_DEV'"
            }
          },
          "datasetParameters" : {
            "ExtractRetialForecastInputExcelFileandLoadRetailForecastInputTable" : {
              "TableName" : {
                "value" : "RETAIL_FORECAST_INPUT",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "RetailForecastSouceFile" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "LOAD_BIFEEDS_DBO_WORK_FINANCE_PLAN1095__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Data_Flow_Task_-_Load_Into_Retail_Forecast_Input_1",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC [dbo].[PERFORM_BASIC_INPUT_VALIDATION]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_LOAD_WORK_FINANCE_PLAN_ERRORS_FROM_WORK_FINANCE_",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "LOAD_BIFEEDS_DBO_WORK_FINANCE_PLAN1095__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC [dbo].[LOAD WORK_FINANCE_PLAN_ERRORS]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_LOAD_WORK_FINANCE_PLAN_DUPS_FROM_WORK_FINANCE_PL",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_LOAD_WORK_FINANCE_PLAN_ERRORS_FROM_WORK_FINANCE_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC [dbo].[LOAD WORK_FINANCE_PLAN_DUPS]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_LOAD_WORK_FINANCE_PLAN_DUPS_INTO_WORK_FINANCE_PL",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_LOAD_WORK_FINANCE_PLAN_DUPS_FROM_WORK_FINANCE_PL",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC [dbo].[LOAD WORK_FINANCE_PLAN_DUPS_INTO_ERROR_TABLE]"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "ARE_THERE_ERRORS1083__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_LOAD_WORK_FINANCE_PLAN_DUPS_INTO_WORK_FINANCE_PL",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "select \nCOUNT(*)  CNT\nfrom\nBIFEEDS.dbo.WORK_FINANCE_PLAN_ERRORS\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_ARE_THERE_ERRORS1083__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "ARE_THERE_ERRORS1083__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ErrorRowCnt",
        "value" : "@activity('ARE_THERE_ERRORS1083__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "IFACTIVITY_Create_File_for_Fastload_step_from_work",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_ARE_THERE_ERRORS1083__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(pipeline().parameters.ErrorRowCnt,0)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Create_File_for_Fastload_step_from_work_finance__1",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "Create_File_for_Fastload_step_from_work_finance__1",
              "type" : "DataFlowReference",
              "parameters" : {
                "LoadMasterSnowSQLScriptName" : {
                  "type" : "Expression",
                  "value" : "'Load_SALESRPT_DATA_GSC_FINANCE_PLAN.snow'"
                },
                "EmailTo" : {
                  "type" : "Expression",
                  "value" : "'cristian.navarrete@officedepot.com'"
                },
                "GlobalVarFile" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\VarFiles\\\\GlobalSnowSQLVarFile.ReplaceVars.txt'"
                },
                "AWSScriptFile" : {
                  "type" : "Expression",
                  "value" : "'Copy_GSC_File_to_S3.cmd'"
                },
                "WorkTableRowCount_DataSet" : {
                  "type" : "Expression",
                  "value" : "'                                                                                                                                                                                    '"
                },
                "EmailFrom" : {
                  "type" : "Expression",
                  "value" : "'SSISAdmin@officedepot.com'"
                },
                "File_To_Load_Retail_Forecast_Source" : {
                  "type" : "Expression",
                  "value" : "'Retail\\\\Retail_Forecast.csv'"
                },
                "GSC_Plan_Forecast_Network_Share" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\uschfs11\\\\BIDW_devFS$\\\\BSD_Plan_Forecast_Data\\\\'"
                },
                "ErrorRowCnt" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "S3_Command_Executable_Path" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\uschvsqld52\\\\SSIS\\\\Packages\\\\BI\\\\RunS3FileOperatorsViaSSIS\\\\BatchFiles\\\\Exec_S3FileOperators_Via_SSIS_Batch_With_Args.cmd'"
                },
                "RI_InvalidFile" : {
                  "type" : "Expression",
                  "value" : "'ErrorFiles\\\\RI_Invalid_SF.csv'"
                },
                "ESP_Event_Nm" : {
                  "type" : "Expression",
                  "value" : "'BIPLAFOR'"
                },
                "Snowflake_ODBC_Query_Schema_Name" : {
                  "type" : "Expression",
                  "value" : "'WORKDB'"
                },
                "SSISLogFolderPath" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\SSISLogs\\\\'"
                },
                "LoadStageSnowSQLScriptName" : {
                  "type" : "Expression",
                  "value" : "'Copy_Into_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
                },
                "WorkFinancePlanFilePath" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\USCHVSQLD52\\\\SSIS\\\\Packages\\\\BI\\\\GSC_Plan_Forecast\\\\TemporaryWorkFiles\\\\'"
                },
                "vSubjPage" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "ErrorFile" : {
                  "type" : "Expression",
                  "value" : "'ErrorFiles\\\\ErrorFile_SF.csv'"
                },
                "File_To_Load_Retail_Plan_Source" : {
                  "type" : "Expression",
                  "value" : "'Retail\\\\Retail_Plan.csv'"
                },
                "LoadWorkSnowSQLScriptName" : {
                  "type" : "Expression",
                  "value" : "'Load_WORKDB_GSC_FINANCE_PLAN_WORK.snow'"
                },
                "RICheckSnowSQLScriptName" : {
                  "type" : "Expression",
                  "value" : "'RI_Check_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
                },
                "Exec_SnowSQL_Via_SSIS_Batch_With_Args_Path" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\SSDT2014\\\\RunSnowSQLViaSSIS\\\\BatchFiles\\\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd'"
                },
                "ESP_Job_Nm" : {
                  "type" : "Expression",
                  "value" : "'AINDMN03'"
                },
                "File_To_Load_BSD_Plan_Source" : {
                  "type" : "Expression",
                  "value" : "'BSD\\\\BSD_Plan.csv'"
                },
                "SSISLogFileName" : {
                  "type" : "Expression",
                  "value" : "'GSC_Plan_Forecast_Load_Master_SF_SSISLog'"
                },
                "EmailOnCall" : {
                  "type" : "Expression",
                  "value" : "'cristian.navarrete@officedepot.com'"
                },
                "ErrorTableRowCount" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "File_To_Load_BSD_Forecast_Source" : {
                  "type" : "Expression",
                  "value" : "'BSD\\\\BSD_Forecast.csv'"
                },
                "SSISPackageFolder" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\'"
                },
                "WorkTableRowCount" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "Snowflake_ODBC_Query_Error_Table_Name" : {
                  "type" : "Expression",
                  "value" : "'GSC_FINANCE_PLAN_ERROR'"
                },
                "Snowflake_ODBC_Query_Work_Table_Name" : {
                  "type" : "Expression",
                  "value" : "'GSC_FINANCE_PLAN_WORK'"
                },
                "WorkFinancePlanFile" : {
                  "type" : "Expression",
                  "value" : "'WORK_FINANCE_PLAN_File_For_FastLoad.csv'"
                },
                "ActionToPerform" : {
                  "type" : "Expression",
                  "value" : "'CUSTOM'"
                },
                "ErrorTableRowCount_DataSet" : {
                  "type" : "Expression",
                  "value" : "'                                                                                                                                                                                    '"
                },
                "CreateLogFile" : {
                  "type" : "Expression",
                  "value" : "'Y'"
                },
                "SnowflakeConnectionName" : {
                  "type" : "Expression",
                  "value" : "'SVC_BSD_SF_DEV'"
                }
              },
              "datasetParameters" : {
                "OLEDBSource" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "OLE DB Source",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "FlatFileDestination" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        } ]
      }
    }, {
      "name" : "IFACTIVITY_Load_Error_Data_to_CSV_File1096_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_ARE_THERE_ERRORS1083__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@greater(pipeline().parameters.ErrorRowCnt,0)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Load_Error_Data_to_CSV_File1096_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "Load_Error_Data_to_CSV_File1096_",
              "type" : "DataFlowReference",
              "parameters" : {
                "LoadMasterSnowSQLScriptName" : {
                  "type" : "Expression",
                  "value" : "'Load_SALESRPT_DATA_GSC_FINANCE_PLAN.snow'"
                },
                "EmailTo" : {
                  "type" : "Expression",
                  "value" : "'cristian.navarrete@officedepot.com'"
                },
                "GlobalVarFile" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\VarFiles\\\\GlobalSnowSQLVarFile.ReplaceVars.txt'"
                },
                "AWSScriptFile" : {
                  "type" : "Expression",
                  "value" : "'Copy_GSC_File_to_S3.cmd'"
                },
                "WorkTableRowCount_DataSet" : {
                  "type" : "Expression",
                  "value" : "'                                                                                                                                                                                    '"
                },
                "EmailFrom" : {
                  "type" : "Expression",
                  "value" : "'SSISAdmin@officedepot.com'"
                },
                "File_To_Load_Retail_Forecast_Source" : {
                  "type" : "Expression",
                  "value" : "'Retail\\\\Retail_Forecast.csv'"
                },
                "GSC_Plan_Forecast_Network_Share" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\uschfs11\\\\BIDW_devFS$\\\\BSD_Plan_Forecast_Data\\\\'"
                },
                "ErrorRowCnt" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "S3_Command_Executable_Path" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\uschvsqld52\\\\SSIS\\\\Packages\\\\BI\\\\RunS3FileOperatorsViaSSIS\\\\BatchFiles\\\\Exec_S3FileOperators_Via_SSIS_Batch_With_Args.cmd'"
                },
                "RI_InvalidFile" : {
                  "type" : "Expression",
                  "value" : "'ErrorFiles\\\\RI_Invalid_SF.csv'"
                },
                "ESP_Event_Nm" : {
                  "type" : "Expression",
                  "value" : "'BIPLAFOR'"
                },
                "Snowflake_ODBC_Query_Schema_Name" : {
                  "type" : "Expression",
                  "value" : "'WORKDB'"
                },
                "SSISLogFolderPath" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\SSISLogs\\\\'"
                },
                "LoadStageSnowSQLScriptName" : {
                  "type" : "Expression",
                  "value" : "'Copy_Into_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
                },
                "WorkFinancePlanFilePath" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\USCHVSQLD52\\\\SSIS\\\\Packages\\\\BI\\\\GSC_Plan_Forecast\\\\TemporaryWorkFiles\\\\'"
                },
                "vSubjPage" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "ErrorFile" : {
                  "type" : "Expression",
                  "value" : "'ErrorFiles\\\\ErrorFile_SF.csv'"
                },
                "File_To_Load_Retail_Plan_Source" : {
                  "type" : "Expression",
                  "value" : "'Retail\\\\Retail_Plan.csv'"
                },
                "LoadWorkSnowSQLScriptName" : {
                  "type" : "Expression",
                  "value" : "'Load_WORKDB_GSC_FINANCE_PLAN_WORK.snow'"
                },
                "RICheckSnowSQLScriptName" : {
                  "type" : "Expression",
                  "value" : "'RI_Check_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
                },
                "Exec_SnowSQL_Via_SSIS_Batch_With_Args_Path" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\SSDT2014\\\\RunSnowSQLViaSSIS\\\\BatchFiles\\\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd'"
                },
                "ESP_Job_Nm" : {
                  "type" : "Expression",
                  "value" : "'AINDMN03'"
                },
                "File_To_Load_BSD_Plan_Source" : {
                  "type" : "Expression",
                  "value" : "'BSD\\\\BSD_Plan.csv'"
                },
                "SSISLogFileName" : {
                  "type" : "Expression",
                  "value" : "'GSC_Plan_Forecast_Load_Master_SF_SSISLog'"
                },
                "EmailOnCall" : {
                  "type" : "Expression",
                  "value" : "'cristian.navarrete@officedepot.com'"
                },
                "ErrorTableRowCount" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "File_To_Load_BSD_Forecast_Source" : {
                  "type" : "Expression",
                  "value" : "'BSD\\\\BSD_Forecast.csv'"
                },
                "SSISPackageFolder" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\'"
                },
                "WorkTableRowCount" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "Snowflake_ODBC_Query_Error_Table_Name" : {
                  "type" : "Expression",
                  "value" : "'GSC_FINANCE_PLAN_ERROR'"
                },
                "Snowflake_ODBC_Query_Work_Table_Name" : {
                  "type" : "Expression",
                  "value" : "'GSC_FINANCE_PLAN_WORK'"
                },
                "WorkFinancePlanFile" : {
                  "type" : "Expression",
                  "value" : "'WORK_FINANCE_PLAN_File_For_FastLoad.csv'"
                },
                "ActionToPerform" : {
                  "type" : "Expression",
                  "value" : "'CUSTOM'"
                },
                "ErrorTableRowCount_DataSet" : {
                  "type" : "Expression",
                  "value" : "'                                                                                                                                                                                    '"
                },
                "CreateLogFile" : {
                  "type" : "Expression",
                  "value" : "'Y'"
                },
                "SnowflakeConnectionName" : {
                  "type" : "Expression",
                  "value" : "'SVC_BSD_SF_DEV'"
                }
              },
              "datasetParameters" : {
                "GSCPlanforecastErrorFile" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "GSCPlanForecastErrorTable" : {
                  "TableName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : "GSC Plan_Forecast Error Table",
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        } ]
      }
    }, {
      "name" : "Load_GSC_Plan_Forecast_Data_to_S31097_",
      "type" : "Custom",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "IFACTIVITY_Create_File_for_Fastload_step_from_work",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : "Execute Process Task",
      "onInactiveMarkAs" : "Succeeded",
      "linkedServiceName" : null,
      "typeProperties" : {
        "command" : {
          "value" : "\\\\uschvsqld52\\SSIS\\Packages\\BI\\RunS3FileOperatorsViaSSIS\\BatchFiles\\Exec_S3FileOperators_Via_SSIS_Batch_With_Args.cmd \"CUSTOM|C:\\SSDT2014\\GSC_Plan_Forecast\\|Copy_GSC_File_to_S3.cmd\"",
          "type" : "Expression"
        },
        "resourceLinkedService" : null,
        "folderPath" : null,
        "retentionTimeInDays" : null,
        "referenceObjects" : {
          "linkedServices" : [ ],
          "datasets" : [ ]
        }
      }
    }, {
      "name" : "Send_Basic_Error_Input_Mail_Task1103_",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "IFACTIVITY_Load_Error_Data_to_CSV_File1096_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : null,
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Truncate_and_Load_Snowflake_STAGE_table_from_S3110",
      "type" : "Custom",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Load_GSC_Plan_Forecast_Data_to_S31097_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : "Execute Process Task",
      "onInactiveMarkAs" : "Succeeded",
      "linkedServiceName" : null,
      "typeProperties" : {
        "command" : {
          "value" : "C:\\SSDT2014\\RunSnowSQLViaSSIS\\BatchFiles\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd \"Copy_Into_WORKDB_GSC_FINANCE_PLAN_STG.snow|SVC_BSD_SF_DEV|C:\\SSDT2014\\GSC_Plan_Forecast\\|C:\\SSDT2014\\GSC_Plan_Forecast\\VarFiles\\GlobalSnowSQLVarFile.ReplaceVars.txt|Y\"",
          "type" : "Expression"
        },
        "resourceLinkedService" : null,
        "folderPath" : null,
        "retentionTimeInDays" : null,
        "referenceObjects" : {
          "linkedServices" : [ ],
          "datasets" : [ ]
        }
      }
    }, {
      "name" : "Insert_erroneous_rows_into_ERROR_table1094_",
      "type" : "Custom",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Truncate_and_Load_Snowflake_STAGE_table_from_S3110",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : "Execute Process Task",
      "onInactiveMarkAs" : "Succeeded",
      "linkedServiceName" : null,
      "typeProperties" : {
        "command" : {
          "value" : "C:\\SSDT2014\\RunSnowSQLViaSSIS\\BatchFiles\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd \"RI_Check_WORKDB_GSC_FINANCE_PLAN_STG.snow|SVC_BSD_SF_DEV|C:\\SSDT2014\\GSC_Plan_Forecast\\|C:\\SSDT2014\\GSC_Plan_Forecast\\VarFiles\\GlobalSnowSQLVarFile.ReplaceVars.txt|Y\"",
          "type" : "Expression"
        },
        "resourceLinkedService" : null,
        "folderPath" : null,
        "retentionTimeInDays" : null,
        "referenceObjects" : {
          "linkedServices" : [ ],
          "datasets" : [ ]
        }
      }
    }, {
      "name" : "Get_Dataset_for_Error_Table_Row_Count_Object1091_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Insert_erroneous_rows_into_ERROR_table1094_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Get_Dataset_for_Error_Table_Row_Count_Object1091_",
          "type" : "DataFlowReference",
          "parameters" : {
            "LoadMasterSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_SALESRPT_DATA_GSC_FINANCE_PLAN.snow'"
            },
            "EmailTo" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "GlobalVarFile" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\VarFiles\\\\GlobalSnowSQLVarFile.ReplaceVars.txt'"
            },
            "AWSScriptFile" : {
              "type" : "Expression",
              "value" : "'Copy_GSC_File_to_S3.cmd'"
            },
            "WorkTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "EmailFrom" : {
              "type" : "Expression",
              "value" : "'SSISAdmin@officedepot.com'"
            },
            "File_To_Load_Retail_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Forecast.csv'"
            },
            "GSC_Plan_Forecast_Network_Share" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschfs11\\\\BIDW_devFS$\\\\BSD_Plan_Forecast_Data\\\\'"
            },
            "ErrorRowCnt" : {
              "type" : "Expression",
              "value" : "0"
            },
            "S3_Command_Executable_Path" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschvsqld52\\\\SSIS\\\\Packages\\\\BI\\\\RunS3FileOperatorsViaSSIS\\\\BatchFiles\\\\Exec_S3FileOperators_Via_SSIS_Batch_With_Args.cmd'"
            },
            "RI_InvalidFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\RI_Invalid_SF.csv'"
            },
            "ESP_Event_Nm" : {
              "type" : "Expression",
              "value" : "'BIPLAFOR'"
            },
            "Snowflake_ODBC_Query_Schema_Name" : {
              "type" : "Expression",
              "value" : "'WORKDB'"
            },
            "SSISLogFolderPath" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\SSISLogs\\\\'"
            },
            "LoadStageSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Copy_Into_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "WorkFinancePlanFilePath" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\USCHVSQLD52\\\\SSIS\\\\Packages\\\\BI\\\\GSC_Plan_Forecast\\\\TemporaryWorkFiles\\\\'"
            },
            "vSubjPage" : {
              "type" : "Expression",
              "value" : "''"
            },
            "ErrorFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\ErrorFile_SF.csv'"
            },
            "File_To_Load_Retail_Plan_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Plan.csv'"
            },
            "LoadWorkSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_WORKDB_GSC_FINANCE_PLAN_WORK.snow'"
            },
            "RICheckSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'RI_Check_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "Exec_SnowSQL_Via_SSIS_Batch_With_Args_Path" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\RunSnowSQLViaSSIS\\\\BatchFiles\\\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd'"
            },
            "ESP_Job_Nm" : {
              "type" : "Expression",
              "value" : "'AINDMN03'"
            },
            "File_To_Load_BSD_Plan_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Plan.csv'"
            },
            "SSISLogFileName" : {
              "type" : "Expression",
              "value" : "'GSC_Plan_Forecast_Load_Master_SF_SSISLog'"
            },
            "EmailOnCall" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "ErrorTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "File_To_Load_BSD_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Forecast.csv'"
            },
            "SSISPackageFolder" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\'"
            },
            "WorkTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "Snowflake_ODBC_Query_Error_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_ERROR'"
            },
            "Snowflake_ODBC_Query_Work_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_WORK'"
            },
            "WorkFinancePlanFile" : {
              "type" : "Expression",
              "value" : "'WORK_FINANCE_PLAN_File_For_FastLoad.csv'"
            },
            "ActionToPerform" : {
              "type" : "Expression",
              "value" : "'CUSTOM'"
            },
            "ErrorTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "CreateLogFile" : {
              "type" : "Expression",
              "value" : "'Y'"
            },
            "SnowflakeConnectionName" : {
              "type" : "Expression",
              "value" : "'SVC_BSD_SF_DEV'"
            }
          },
          "datasetParameters" : {
            "ODBCSource" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "ODBC Source",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Load_RI_Errors_to_CSV_File1098_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Get_Dataset_for_Error_Table_Row_Count_Object1091_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Load_RI_Errors_to_CSV_File1098_",
          "type" : "DataFlowReference",
          "parameters" : {
            "LoadMasterSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_SALESRPT_DATA_GSC_FINANCE_PLAN.snow'"
            },
            "EmailTo" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "GlobalVarFile" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\VarFiles\\\\GlobalSnowSQLVarFile.ReplaceVars.txt'"
            },
            "AWSScriptFile" : {
              "type" : "Expression",
              "value" : "'Copy_GSC_File_to_S3.cmd'"
            },
            "WorkTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "EmailFrom" : {
              "type" : "Expression",
              "value" : "'SSISAdmin@officedepot.com'"
            },
            "File_To_Load_Retail_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Forecast.csv'"
            },
            "GSC_Plan_Forecast_Network_Share" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschfs11\\\\BIDW_devFS$\\\\BSD_Plan_Forecast_Data\\\\'"
            },
            "ErrorRowCnt" : {
              "type" : "Expression",
              "value" : "0"
            },
            "S3_Command_Executable_Path" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschvsqld52\\\\SSIS\\\\Packages\\\\BI\\\\RunS3FileOperatorsViaSSIS\\\\BatchFiles\\\\Exec_S3FileOperators_Via_SSIS_Batch_With_Args.cmd'"
            },
            "RI_InvalidFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\RI_Invalid_SF.csv'"
            },
            "ESP_Event_Nm" : {
              "type" : "Expression",
              "value" : "'BIPLAFOR'"
            },
            "Snowflake_ODBC_Query_Schema_Name" : {
              "type" : "Expression",
              "value" : "'WORKDB'"
            },
            "SSISLogFolderPath" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\SSISLogs\\\\'"
            },
            "LoadStageSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Copy_Into_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "WorkFinancePlanFilePath" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\USCHVSQLD52\\\\SSIS\\\\Packages\\\\BI\\\\GSC_Plan_Forecast\\\\TemporaryWorkFiles\\\\'"
            },
            "vSubjPage" : {
              "type" : "Expression",
              "value" : "''"
            },
            "ErrorFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\ErrorFile_SF.csv'"
            },
            "File_To_Load_Retail_Plan_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Plan.csv'"
            },
            "LoadWorkSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_WORKDB_GSC_FINANCE_PLAN_WORK.snow'"
            },
            "RICheckSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'RI_Check_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "Exec_SnowSQL_Via_SSIS_Batch_With_Args_Path" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\RunSnowSQLViaSSIS\\\\BatchFiles\\\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd'"
            },
            "ESP_Job_Nm" : {
              "type" : "Expression",
              "value" : "'AINDMN03'"
            },
            "File_To_Load_BSD_Plan_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Plan.csv'"
            },
            "SSISLogFileName" : {
              "type" : "Expression",
              "value" : "'GSC_Plan_Forecast_Load_Master_SF_SSISLog'"
            },
            "EmailOnCall" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "ErrorTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "File_To_Load_BSD_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Forecast.csv'"
            },
            "SSISPackageFolder" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\'"
            },
            "WorkTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "Snowflake_ODBC_Query_Error_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_ERROR'"
            },
            "Snowflake_ODBC_Query_Work_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_WORK'"
            },
            "WorkFinancePlanFile" : {
              "type" : "Expression",
              "value" : "'WORK_FINANCE_PLAN_File_For_FastLoad.csv'"
            },
            "ActionToPerform" : {
              "type" : "Expression",
              "value" : "'CUSTOM'"
            },
            "ErrorTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "CreateLogFile" : {
              "type" : "Expression",
              "value" : "'Y'"
            },
            "SnowflakeConnectionName" : {
              "type" : "Expression",
              "value" : "'SVC_BSD_SF_DEV'"
            }
          },
          "datasetParameters" : {
            "FlatFileDestination" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "ODBCSource" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "ODBC Source",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Truncate_and_Load_Snowflake_WORK_table1108_",
      "type" : "Custom",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_Dataset_for_Error_Table_Row_Count_Object1091_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : "Execute Process Task",
      "onInactiveMarkAs" : "Succeeded",
      "linkedServiceName" : null,
      "typeProperties" : {
        "command" : {
          "value" : "C:\\SSDT2014\\RunSnowSQLViaSSIS\\BatchFiles\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd \"Load_WORKDB_GSC_FINANCE_PLAN_WORK.snow|SVC_BSD_SF_DEV|C:\\SSDT2014\\GSC_Plan_Forecast\\|C:\\SSDT2014\\GSC_Plan_Forecast\\VarFiles\\GlobalSnowSQLVarFile.ReplaceVars.txt|Y\"",
          "type" : "Expression"
        },
        "resourceLinkedService" : null,
        "folderPath" : null,
        "retentionTimeInDays" : null,
        "referenceObjects" : {
          "linkedServices" : [ ],
          "datasets" : [ ]
        }
      }
    }, {
      "name" : "Send_RI_Error_Input_Mail_Task1106_",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Load_RI_Errors_to_CSV_File1098_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : null,
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Get_Dataset_for_Work_Row_Count_Object1092_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Truncate_and_Load_Snowflake_WORK_table1108_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Get_Dataset_for_Work_Row_Count_Object1092_",
          "type" : "DataFlowReference",
          "parameters" : {
            "LoadMasterSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_SALESRPT_DATA_GSC_FINANCE_PLAN.snow'"
            },
            "EmailTo" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "GlobalVarFile" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\VarFiles\\\\GlobalSnowSQLVarFile.ReplaceVars.txt'"
            },
            "AWSScriptFile" : {
              "type" : "Expression",
              "value" : "'Copy_GSC_File_to_S3.cmd'"
            },
            "WorkTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "EmailFrom" : {
              "type" : "Expression",
              "value" : "'SSISAdmin@officedepot.com'"
            },
            "File_To_Load_Retail_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Forecast.csv'"
            },
            "GSC_Plan_Forecast_Network_Share" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschfs11\\\\BIDW_devFS$\\\\BSD_Plan_Forecast_Data\\\\'"
            },
            "ErrorRowCnt" : {
              "type" : "Expression",
              "value" : "0"
            },
            "S3_Command_Executable_Path" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\uschvsqld52\\\\SSIS\\\\Packages\\\\BI\\\\RunS3FileOperatorsViaSSIS\\\\BatchFiles\\\\Exec_S3FileOperators_Via_SSIS_Batch_With_Args.cmd'"
            },
            "RI_InvalidFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\RI_Invalid_SF.csv'"
            },
            "ESP_Event_Nm" : {
              "type" : "Expression",
              "value" : "'BIPLAFOR'"
            },
            "Snowflake_ODBC_Query_Schema_Name" : {
              "type" : "Expression",
              "value" : "'WORKDB'"
            },
            "SSISLogFolderPath" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\SSISLogs\\\\'"
            },
            "LoadStageSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Copy_Into_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "WorkFinancePlanFilePath" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\USCHVSQLD52\\\\SSIS\\\\Packages\\\\BI\\\\GSC_Plan_Forecast\\\\TemporaryWorkFiles\\\\'"
            },
            "vSubjPage" : {
              "type" : "Expression",
              "value" : "''"
            },
            "ErrorFile" : {
              "type" : "Expression",
              "value" : "'ErrorFiles\\\\ErrorFile_SF.csv'"
            },
            "File_To_Load_Retail_Plan_Source" : {
              "type" : "Expression",
              "value" : "'Retail\\\\Retail_Plan.csv'"
            },
            "LoadWorkSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'Load_WORKDB_GSC_FINANCE_PLAN_WORK.snow'"
            },
            "RICheckSnowSQLScriptName" : {
              "type" : "Expression",
              "value" : "'RI_Check_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
            },
            "Exec_SnowSQL_Via_SSIS_Batch_With_Args_Path" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\RunSnowSQLViaSSIS\\\\BatchFiles\\\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd'"
            },
            "ESP_Job_Nm" : {
              "type" : "Expression",
              "value" : "'AINDMN03'"
            },
            "File_To_Load_BSD_Plan_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Plan.csv'"
            },
            "SSISLogFileName" : {
              "type" : "Expression",
              "value" : "'GSC_Plan_Forecast_Load_Master_SF_SSISLog'"
            },
            "EmailOnCall" : {
              "type" : "Expression",
              "value" : "'cristian.navarrete@officedepot.com'"
            },
            "ErrorTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "File_To_Load_BSD_Forecast_Source" : {
              "type" : "Expression",
              "value" : "'BSD\\\\BSD_Forecast.csv'"
            },
            "SSISPackageFolder" : {
              "type" : "Expression",
              "value" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\'"
            },
            "WorkTableRowCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "Snowflake_ODBC_Query_Error_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_ERROR'"
            },
            "Snowflake_ODBC_Query_Work_Table_Name" : {
              "type" : "Expression",
              "value" : "'GSC_FINANCE_PLAN_WORK'"
            },
            "WorkFinancePlanFile" : {
              "type" : "Expression",
              "value" : "'WORK_FINANCE_PLAN_File_For_FastLoad.csv'"
            },
            "ActionToPerform" : {
              "type" : "Expression",
              "value" : "'CUSTOM'"
            },
            "ErrorTableRowCount_DataSet" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "CreateLogFile" : {
              "type" : "Expression",
              "value" : "'Y'"
            },
            "SnowflakeConnectionName" : {
              "type" : "Expression",
              "value" : "'SVC_BSD_SF_DEV'"
            }
          },
          "datasetParameters" : {
            "ODBCSource" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "ODBC Source",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "Send_Error_Email1105_",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Get_Dataset_for_Work_Row_Count_Object1092_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : null,
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Load_WORKDB_data_to_SALESRPT_DATA_table1099_",
      "type" : "Custom",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_Dataset_for_Work_Row_Count_Object1092_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : "Inactive",
      "description" : "Execute Process Task",
      "onInactiveMarkAs" : "Succeeded",
      "linkedServiceName" : null,
      "typeProperties" : {
        "command" : {
          "value" : "C:\\SSDT2014\\RunSnowSQLViaSSIS\\BatchFiles\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd \"Load_SALESRPT_DATA_GSC_FINANCE_PLAN.snow|SVC_BSD_SF_DEV|C:\\SSDT2014\\GSC_Plan_Forecast\\|C:\\SSDT2014\\GSC_Plan_Forecast\\VarFiles\\GlobalSnowSQLVarFile.ReplaceVars.txt|Y\"",
          "type" : "Expression"
        },
        "resourceLinkedService" : null,
        "folderPath" : null,
        "retentionTimeInDays" : null,
        "referenceObjects" : {
          "linkedServices" : [ ],
          "datasets" : [ ]
        }
      }
    }, {
      "name" : "Send_Completion_Email1104_",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Load_WORKDB_data_to_SALESRPT_DATA_table1099_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : null,
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "LoadMasterSnowSQLScriptName" : {
        "type" : "string",
        "defaultValue" : "'Load_SALESRPT_DATA_GSC_FINANCE_PLAN.snow'"
      },
      "EmailTo" : {
        "type" : "string",
        "defaultValue" : "'cristian.navarrete@officedepot.com'"
      },
      "GlobalVarFile" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\VarFiles\\\\GlobalSnowSQLVarFile.ReplaceVars.txt'"
      },
      "AWSScriptFile" : {
        "type" : "string",
        "defaultValue" : "'Copy_GSC_File_to_S3.cmd'"
      },
      "WorkTableRowCount_DataSet" : {
        "type" : "string"
      },
      "EmailFrom" : {
        "type" : "string",
        "defaultValue" : "'SSISAdmin@officedepot.com'"
      },
      "File_To_Load_Retail_Forecast_Source" : {
        "type" : "string",
        "defaultValue" : "'Retail\\\\Retail_Forecast.csv'"
      },
      "GSC_Plan_Forecast_Network_Share" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\uschfs11\\\\BIDW_devFS$\\\\BSD_Plan_Forecast_Data\\\\'"
      },
      "ErrorRowCnt" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "S3_Command_Executable_Path" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\uschvsqld52\\\\SSIS\\\\Packages\\\\BI\\\\RunS3FileOperatorsViaSSIS\\\\BatchFiles\\\\Exec_S3FileOperators_Via_SSIS_Batch_With_Args.cmd'"
      },
      "RI_InvalidFile" : {
        "type" : "string",
        "defaultValue" : "'ErrorFiles\\\\RI_Invalid_SF.csv'"
      },
      "ESP_Event_Nm" : {
        "type" : "string",
        "defaultValue" : "'BIPLAFOR'"
      },
      "Snowflake_ODBC_Query_Schema_Name" : {
        "type" : "string",
        "defaultValue" : "'WORKDB'"
      },
      "SSISLogFolderPath" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\SSISLogs\\\\'"
      },
      "LoadStageSnowSQLScriptName" : {
        "type" : "string",
        "defaultValue" : "'Copy_Into_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
      },
      "WorkFinancePlanFilePath" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\USCHVSQLD52\\\\SSIS\\\\Packages\\\\BI\\\\GSC_Plan_Forecast\\\\TemporaryWorkFiles\\\\'"
      },
      "vSubjPage" : {
        "type" : "string"
      },
      "ErrorFile" : {
        "type" : "string",
        "defaultValue" : "'ErrorFiles\\\\ErrorFile_SF.csv'"
      },
      "File_To_Load_Retail_Plan_Source" : {
        "type" : "string",
        "defaultValue" : "'Retail\\\\Retail_Plan.csv'"
      },
      "LoadWorkSnowSQLScriptName" : {
        "type" : "string",
        "defaultValue" : "'Load_WORKDB_GSC_FINANCE_PLAN_WORK.snow'"
      },
      "RICheckSnowSQLScriptName" : {
        "type" : "string",
        "defaultValue" : "'RI_Check_WORKDB_GSC_FINANCE_PLAN_STG.snow'"
      },
      "Exec_SnowSQL_Via_SSIS_Batch_With_Args_Path" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\SSDT2014\\\\RunSnowSQLViaSSIS\\\\BatchFiles\\\\Exec_SnowSQL_Via_SSIS_Batch_With_Args.cmd'"
      },
      "ESP_Job_Nm" : {
        "type" : "string",
        "defaultValue" : "'AINDMN03'"
      },
      "File_To_Load_BSD_Plan_Source" : {
        "type" : "string",
        "defaultValue" : "'BSD\\\\BSD_Plan.csv'"
      },
      "SSISLogFileName" : {
        "type" : "string",
        "defaultValue" : "'GSC_Plan_Forecast_Load_Master_SF_SSISLog'"
      },
      "EmailOnCall" : {
        "type" : "string",
        "defaultValue" : "'cristian.navarrete@officedepot.com'"
      },
      "ErrorTableRowCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "File_To_Load_BSD_Forecast_Source" : {
        "type" : "string",
        "defaultValue" : "'BSD\\\\BSD_Forecast.csv'"
      },
      "SSISPackageFolder" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\SSDT2014\\\\GSC_Plan_Forecast\\\\'"
      },
      "WorkTableRowCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "Snowflake_ODBC_Query_Error_Table_Name" : {
        "type" : "string",
        "defaultValue" : "'GSC_FINANCE_PLAN_ERROR'"
      },
      "Snowflake_ODBC_Query_Work_Table_Name" : {
        "type" : "string",
        "defaultValue" : "'GSC_FINANCE_PLAN_WORK'"
      },
      "WorkFinancePlanFile" : {
        "type" : "string",
        "defaultValue" : "'WORK_FINANCE_PLAN_File_For_FastLoad.csv'"
      },
      "ActionToPerform" : {
        "type" : "string",
        "defaultValue" : "'CUSTOM'"
      },
      "ErrorTableRowCount_DataSet" : {
        "type" : "string"
      },
      "CreateLogFile" : {
        "type" : "string",
        "defaultValue" : "'Y'"
      },
      "SnowflakeConnectionName" : {
        "type" : "string",
        "defaultValue" : "'SVC_BSD_SF_DEV'"
      }
    }
  }
}