SSISInv0716/pipeline/PPL_Watchlist_Loan_Load_FairValue 1.json
{
  "name" : "PPL_Watchlist_Loan_Load_FairValue 1",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "FullArchivePathFileName",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "FullArchivePathFileName",
        "value" : {
          "value" : "@concat(variables('ArchivePath'),variables('MyFileValue'),'_',notConvertedectfunctiondatedatepart('yy', formatDateTime(utcnow(),'M/d/yyyy hh:mm:ss tt')),notConvertedectfunctiondatedatepart('mm', formatDateTime(utcnow(),'M/d/yyyy hh:mm:ss tt')),notConvertedectfunctiondatedatepart('dd', formatDateTime(utcnow(),'M/d/yyyy hh:mm:ss tt')),'_',notConvertedectfunctiondatedatepart('hh', formatDateTime(utcnow(),'M/d/yyyy hh:mm:ss tt')),notConvertedectfunctiondatedatepart('mi', formatDateTime(utcnow(),'M/d/yyyy hh:mm:ss tt')),notConvertedectfunctiondatedatepart('ss', formatDateTime(utcnow(),'M/d/yyyy hh:mm:ss tt')))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FullSourcePathFileName",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "FullSourcePathFileName",
        "value" : {
          "value" : "@concat(variables('SourcePath'),variables('MyFileValue'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "Sequence_Container2207_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FullSourcePathFileName",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "FullArchivePathFileName",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Sequence_Container2207__Archive_Path2208__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "SELECT     Parameter_Value AS ArchivePath\nFROM         W_Parameters\nWHERE     (Parameter_Type = 'Folder_Path') AND (Parameter_Name = 'Loan_Archive_Folder_Path')"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Sequence_Container2207__FROM_Email2209__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "select s.Parameter_Value as From_email\nfrom W_Parameters s\nwhere s.Parameter_Name = 'From_Email_ID'\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Sequence_Container2207__SMTP2210__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "select s.Parameter_Value as SMTP\nfrom W_Parameters s\nwhere s.Parameter_Name = 'SMTP_Server'\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Sequence_Container2207__Source_Path2211__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "SELECT     Parameter_Value AS SourcePath\nFROM         W_Parameters\nWHERE     (Parameter_Type = 'Folder_Path') AND (Parameter_Name = 'Loan_Source_Folder_Path')"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Sequence_Container2207__TO_Email2212__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "select s.Parameter_Value as To_email\nfrom W_Parameters s\nwhere s.Parameter_Name = 'To_Email_ID'\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_Sequence_Container2207__Archive_Path2208__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container2207__Archive_Path2208__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "ArchivePath",
            "value" : "@activity('Sequence_Container2207__Archive_Path2208__SCRIPT').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "0_Sequence_Container2207__FROM_Email2209__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container2207__FROM_Email2209__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "From_email",
            "value" : "@activity('Sequence_Container2207__FROM_Email2209__SCRIPT').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "0_Sequence_Container2207__SMTP2210__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container2207__SMTP2210__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "SMTP",
            "value" : "@activity('Sequence_Container2207__SMTP2210__SCRIPT').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "0_Sequence_Container2207__Source_Path2211__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container2207__Source_Path2211__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "SourcePath",
            "value" : "@activity('Sequence_Container2207__Source_Path2211__SCRIPT').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "0_Sequence_Container2207__TO_Email2212__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container2207__TO_Email2212__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "To_email",
            "value" : "@activity('Sequence_Container2207__TO_Email2212__SCRIPT').output.resultSets[0].rows[0][0]"
          }
        } ]
      }
    }, {
      "name" : "Sequence_Container_12213_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Sequence_Container2207_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Sequence_Container_12213__Execute_SQL-File_Name221",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "SELECT     'S_SRC_WatchList_FairValue.xlsx' AS MyFileValue"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_0_Sequence_Container_12213__Execute_SQL-File_Nam",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container_12213__Execute_SQL-File_Name221",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "MyFileValue",
            "value" : "@activity('Sequence_Container_12213__Execute_SQL-File_Name221').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "Sequence_Container_12213__Send_Mail_Task2220_",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0_0_Sequence_Container_12213__Execute_SQL-File_Nam",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : null,
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "Sequence_Container_12213__Cleanup_Table2214__SCRIP",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0_0_Sequence_Container_12213__Execute_SQL-File_Nam",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "DELETE FROM S_SRC_WatchList_FairValue where Effective_Date = cast(convert(varchar,DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,GETDATE()),0)),112) as varchar)"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Data_Flow_Task2215_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Sequence_Container_12213__Cleanup_Table2214__SCRIP",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "Data_Flow_Task2215_",
              "type" : "DataFlowReference",
              "parameters" : {
                "destination_error_rows" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "source_error_rows" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "FullArchivePathFileName" : {
                  "type" : "Expression",
                  "value" : "'_20251016_194525'"
                },
                "To_email" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "SMTP" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "SourcePath" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "ArchivePath" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "From_email" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "ErrorLogPath" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "FileFound" : {
                  "type" : "Expression",
                  "value" : "true()"
                },
                "FullSourcePathFileName" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "ErrorLogPathFileName" : {
                  "type" : "Expression",
                  "value" : "'EOM.txt'"
                },
                "MyFileValue" : {
                  "type" : "Expression",
                  "value" : "''"
                }
              },
              "datasetParameters" : {
                "OLEDBDestination" : {
                  "TableName" : {
                    "value" : "S_SRC_WatchList_FairValue",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "dbo",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "Sequence_Container_12213__Fix_leading_0_s2218__SCR",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Data_Flow_Task2215_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "UPDATE S_SRC_WatchList_FairValue SET Loan_Account_Number = '0'+Loan_Account_Number \nWHERE Loan_Account_Number LIKE '533%' or Loan_Account_Number LIKE '206%' OR Loan_Account_Number LIKE '105%'"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "_COPYDATASequence_Container_12213__File_System_Tas",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container_12213__Fix_leading_0_s2218__SCR",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "Sequence_Container_12213__File_System_Task-Archive",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "_COPYDATASequence_Container_12213__File_System_Tas",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        } ]
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "SMTP" : {
        "type" : "string"
      },
      "SourcePath" : {
        "type" : "string"
      },
      "ArchivePath" : {
        "type" : "string"
      },
      "From_email" : {
        "type" : "string"
      },
      "ErrorLogPath" : {
        "type" : "string"
      },
      "FullArchivePathFileName" : {
        "type" : "string",
        "defaultValue" : "'_20251016_194525'"
      },
      "FullSourcePathFileName" : {
        "type" : "string"
      },
      "To_email" : {
        "type" : "string"
      },
      "MyFileValue" : {
        "type" : "string"
      }
    }
  }
}