SSISInv0716/pipeline/PPL_RCLMS_SkuAllocation_Import 1.json
{
  "name" : "PPL_RCLMS_SkuAllocation_Import 1",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "Begin_Batch_Interface_Package1724__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "[dbo].[usp_BeginBatchInterfacePackage] @BatchID,@InterfaceID,@PackageID,@BatchInterfacePackageInstanceID"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "Validate_File1730_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Begin_Batch_Interface_Package1724__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "Validate_File1730_",
          "type" : "DataFlowReference",
          "parameters" : {
            "varSSISOps_944B293B6054478C9B54DAE026AE6F98_RowCount_2" : {
              "type" : "Expression",
              "value" : "0"
            },
            "VarToAddress" : {
              "type" : "Expression",
              "value" : "'Nandashree.b.g@effem.com'"
            },
            "varSSISOps_944B293B6054478C9B54DAE026AE6F98_RowCount_1" : {
              "type" : "Expression",
              "value" : "0"
            },
            "VarSubject" : {
              "type" : "Expression",
              "value" : "'Sku allocation forecast file is not in standard format.Previous forecast data will be retained'"
            },
            "pkgParamInterfaceID" : {
              "type" : "Expression",
              "value" : "0"
            },
            "pkgParamPackageID" : {
              "type" : "Expression",
              "value" : "0"
            },
            "varFileExists" : {
              "type" : "Expression",
              "value" : "true()"
            },
            "varSSISOps_DisableBIxAuditing" : {
              "type" : "Expression",
              "value" : "true()"
            },
            "varSSISOps_GroupNames" : {
              "type" : "Expression",
              "value" : "''"
            },
            "pkgParamDestinationConnectionString" : {
              "type" : "Expression",
              "value" : "'Data Source=AZR-WEW5086.MARS-AD.NET\\\\MI0506D;Initial Catalog=FuturMaster;Provider=SQLNCLI11.1;Integrated Security=SSPI;Auto Translate=False;'"
            },
            "VarNonNumericCount" : {
              "type" : "Expression",
              "value" : "0"
            },
            "pkgParamSMTP" : {
              "type" : "Expression",
              "value" : "'mail1.na.mars'"
            },
            "pkgParamSourceStoredProcedure" : {
              "type" : "Expression",
              "value" : "''"
            },
            "pkgParamBatchID" : {
              "type" : "Expression",
              "value" : "0"
            },
            "pkgParamSourceConnectionString" : {
              "type" : "Expression",
              "value" : "'\\\\\\\\AZR-WEW5086.MARS-AD.NET\\\\fm\\\\NorthAmerica estDev\\\\source\\\\FM_RC_SP_SKU_ALLOCATION.csv'"
            },
            "VarFromAddress" : {
              "type" : "Expression",
              "value" : "'FuturMaster@RoyalCanin.com'"
            }
          },
          "datasetParameters" : {
            "FlatFileSource" : {
              "TableName" : null,
              "Schema" : null,
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "IFACTIVITY_Data_Flow_Task1726_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Validate_File1730_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('VarNonNumericCount'),0)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Data_Flow_Task1726_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "Data_Flow_Task1726_",
              "type" : "DataFlowReference",
              "parameters" : {
                "varSSISOps_944B293B6054478C9B54DAE026AE6F98_RowCount_2" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "VarToAddress" : {
                  "type" : "Expression",
                  "value" : "'Nandashree.b.g@effem.com'"
                },
                "varSSISOps_944B293B6054478C9B54DAE026AE6F98_RowCount_1" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "VarSubject" : {
                  "type" : "Expression",
                  "value" : "'Sku allocation forecast file is not in standard format.Previous forecast data will be retained'"
                },
                "pkgParamInterfaceID" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "pkgParamPackageID" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "varFileExists" : {
                  "type" : "Expression",
                  "value" : "true()"
                },
                "varSSISOps_DisableBIxAuditing" : {
                  "type" : "Expression",
                  "value" : "true()"
                },
                "varSSISOps_GroupNames" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "pkgParamDestinationConnectionString" : {
                  "type" : "Expression",
                  "value" : "'Data Source=AZR-WEW5086.MARS-AD.NET\\\\MI0506D;Initial Catalog=FuturMaster;Provider=SQLNCLI11.1;Integrated Security=SSPI;Auto Translate=False;'"
                },
                "VarNonNumericCount" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "pkgParamSMTP" : {
                  "type" : "Expression",
                  "value" : "'mail1.na.mars'"
                },
                "pkgParamSourceStoredProcedure" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "pkgParamBatchID" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "pkgParamSourceConnectionString" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\AZR-WEW5086.MARS-AD.NET\\\\fm\\\\NorthAmerica estDev\\\\source\\\\FM_RC_SP_SKU_ALLOCATION.csv'"
                },
                "VarFromAddress" : {
                  "type" : "Expression",
                  "value" : "'FuturMaster@RoyalCanin.com'"
                }
              },
              "datasetParameters" : {
                "FlatFileSource" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "OLEDBDestination" : {
                  "TableName" : {
                    "value" : "SkuAllocation",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "dbo",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        } ]
      }
    }, {
      "name" : "IFACTIVITY_Get_EmailDetail1728__SCRIPT",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Validate_File1730_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@greater(variables('VarNonNumericCount'),0)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Get_EmailDetail1728__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "select ToAddress,FromAddress,Subject  from Email where regionid=1 and scheduleid=7 and emailid=47"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    }, {
      "name" : "0_Get_EmailDetail1728__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "IFACTIVITY_Get_EmailDetail1728__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "VarToAddress",
        "value" : "@activity('Get_EmailDetail1728__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "1_0_Get_EmailDetail1728__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "IFACTIVITY_Get_EmailDetail1728__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "VarFromAddress",
        "value" : "@activity('Get_EmailDetail1728__SCRIPT').output.resultSets[0].rows[1][1]"
      }
    }, {
      "name" : "2_1_0_Get_EmailDetail1728__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "IFACTIVITY_Get_EmailDetail1728__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "VarSubject",
        "value" : "@activity('Get_EmailDetail1728__SCRIPT').output.resultSets[0].rows[2][2]"
      }
    }, {
      "name" : "Send_Mail_Task1729_",
      "type" : "ExecutePipeline",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "2_1_0_Get_EmailDetail1728__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "0_Get_EmailDetail1728__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "1_0_Get_EmailDetail1728__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "userProperties" : null,
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "pipeline" : null,
        "waitOnCompletion" : false,
        "parameters" : { }
      }
    }, {
      "name" : "Close_Batch_Interface_Package1725__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Send_Mail_Task1729_",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "Begin_Batch_Interface_Package1724__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "IFACTIVITY_Data_Flow_Task1726_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "[dbo].[usp_CloseBatchInterfacePackage] @BatchID,@InterfaceID,@PackageID"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "VarNonNumericCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "varSSISOps_944B293B6054478C9B54DAE026AE6F98_RowCount_2" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "VarToAddress" : {
        "type" : "string",
        "defaultValue" : "'Nandashree.b.g@effem.com'"
      },
      "varSSISOps_944B293B6054478C9B54DAE026AE6F98_RowCount_1" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "VarSubject" : {
        "type" : "string",
        "defaultValue" : "'Sku allocation forecast file is not in standard format.Previous forecast data will be retained'"
      },
      "varFileExists" : {
        "type" : "Boolean",
        "defaultValue" : "true()"
      },
      "VarFromAddress" : {
        "type" : "string",
        "defaultValue" : "'FuturMaster@RoyalCanin.com'"
      },
      "varSSISOps_DisableBIxAuditing" : {
        "type" : "Boolean",
        "defaultValue" : "true()"
      },
      "varSSISOps_GroupNames" : {
        "type" : "string"
      }
    }
  }
}