SSISInv0716/pipeline/PPL_export_line_lists.json
{
  "name" : "PPL_export_line_lists",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "var_bccs_moh_archive_error_subj",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_bccs_moh_archive_error_subj",
        "value" : {
          "value" : "@concat('Job Failed: Archive BCCDC BCCS Order All Cases file failed ',variables('var_getdate'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_bccs_moh_msg",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_bccs_moh_msg",
        "value" : {
          "value" : "@concat('\"A new BCCS file is ready to send to MoH for linkage with the FNCF                \n\nPlease find the file here:\n\nMoH File: '\"',variables('var_export_path_bccs_moh'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_bccs_moh_subj",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_bccs_moh_subj",
        "value" : {
          "value" : "@concat('Overdose BCCS- Export ',variables('var_getdate'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_fncf_msg",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_fncf_msg",
        "value" : {
          "value" : "@concat('\"A new BC EHS file is ready to send to MoH for linkage with the FNCF. \n\nPlease find the file here: '\"',variables('var_export_path_pcr_moh'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_fncf_subj",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_fncf_subj",
        "value" : {
          "value" : "@concat('Overdose BC EHS - FNCF Export ',variables('var_getdate'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_getdate",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_getdate",
        "value" : {
          "value" : "@concat(notConvertedectfunctiondatedatepart('yyyy', formatDateTime(utcnow(),'M/d/yyyy hh:mm:ss tt')),'-',notConvertedectfunctionstringright(concat('0',notConvertedectfunctiondatedatepart('mm', formatDateTime(utcnow(),'M/d/yyyy hh:mm:ss tt'))), 2),'-',notConvertedectfunctionstringright(concat('0',notConvertedectfunctiondatedatepart('dd', formatDateTime(utcnow(),'M/d/yyyy hh:mm:ss tt'))), 2))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_path_ha_bccs",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_path_ha_bccs",
        "value" : {
          "value" : "@concat(variables('var_export_path_rha'),'\\\\',variables('var_rha_name_bccs'),'\\\\BCCS\\\\',variables('var_rha_bccs_file_name'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_path_ha_mpds_dispatch",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_path_ha_mpds_dispatch",
        "value" : {
          "value" : "@concat(variables('var_export_path_rha'),'\\\\',variables('var_rha_name_mpds'),'\\\\Overdose\\\\',variables('var_rha_mpds_file_name'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_path_ha_pcr",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_path_ha_pcr",
        "value" : {
          "value" : "@concat(variables('var_export_path_rha'),'\\\\',variables('var_rha_name_pcr'),'\\\\Overdose\\\\',variables('var_rha_pcr_file_name'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_pcr_fncf_file_name",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_pcr_fncf_file_name",
        "value" : {
          "value" : "@concat('STANDARD_BCEHS_PCR_For_MoH_',variables('var_getdate'),'.csv')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_rha_bccs_file_name",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_rha_bccs_file_name",
        "value" : {
          "value" : "@concat('STANDARD_BCCS_',variables('var_rha_name_bccs'),'_',variables('var_getdate'),'.csv')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_rha_mpds_file_name",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_rha_mpds_file_name",
        "value" : {
          "value" : "@concat('STANDARD_BCEHS_Dispatch_IP_',variables('var_rha_name_mpds'),'_',variables('var_getdate'),'.csv')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "var_rha_pcr_file_name",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_rha_pcr_file_name",
        "value" : {
          "value" : "@concat('STANDARD_BCEHS_PCR_',variables('var_rha_name_pcr'),'_',variables('var_getdate'),'.csv')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "sql_start810__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "var_rha_pcr_file_name",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_bccs_moh_archive_error_subj",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_bccs_moh_msg",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_bccs_moh_subj",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_fncf_msg",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_fncf_subj",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_getdate",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_path_ha_bccs",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_path_ha_mpds_dispatch",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_path_ha_pcr",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_pcr_fncf_file_name",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_rha_bccs_file_name",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "var_rha_mpds_file_name",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "SELECT 1;"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "IFACTIVITY_sql_force_export_line_lists809__SCRIPT",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "sql_start810__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('var_force_export_line_lists'),variables('True'))",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "sql_force_export_line_lists809__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "UPDATE [phs_overdose].[cfg_export_file]\nSET [new_rows_flag] = 'Y';"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    }, {
      "name" : "seq_export_MPDS_PCR_BCCS786_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "sql_start810__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "IFACTIVITY_sql_force_export_line_lists809__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('var_force_export_line_lists'),variables('False'))",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "seq_export_MPDS_PCR_BCCS786__sql_bccs_src_counts80",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "SELECT COUNT(*) AS var_bccs_src_count FROM phs_overdose_src.bccs; "
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "1_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_date",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "SELECT max_export_service_date AS var_last_date_pcr, new_rows_flag AS var_new_rows_pcr\nFROM \n[phs_overdose].[cfg_export_file]\nWHERE source_system = 'PCR'"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_0_seq_export_MPDS_PCR_BCCS786__sql_bccs_src_coun",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "seq_export_MPDS_PCR_BCCS786__sql_bccs_src_counts80",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_bccs_src_count",
            "value" : "@activity('seq_export_MPDS_PCR_BCCS786__sql_bccs_src_counts80').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "0_2_1_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "1_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_date",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_new_rows_pcr",
            "value" : "@activity('1_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_date').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "1_0_2_1_0_seq_export_MPDS_PCR_BCCS786__sql_get_las",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "1_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_date",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_last_date_pcr",
            "value" : "@activity('1_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_date').output.resultSets[0].rows[1][1]"
          }
        }, {
          "name" : "seq_export_MPDS_PCR_BCCS786__sql_bccs_edw_counts80",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0_0_seq_export_MPDS_PCR_BCCS786__sql_bccs_src_coun",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "SELECT CASE WHEN NOT EXISTS (SELECT 1 FROM phs_overdose.fact_bccs_embargo)\n\t\t\tTHEN (SELECT COUNT(*) FROM phs_overdose.fact_bccs)\n\t\t\tELSE (SELECT COUNT(*) FROM phs_overdose.fact_bccs_embargo)\n\t\t\tEND\n\t\t\tAS var_bccs_edw_count;"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "seq_export_MPDS_PCR_BCCS786__seq_export_PCR797_",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "1_0_2_1_0_seq_export_MPDS_PCR_BCCS786__sql_get_las",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "0_2_1_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@equals(variables('var_new_rows_pcr'),'Y')",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "seq_export_MPDS_PCR_BCCS786__seq_export_PCR797__seq_PCR_MOH_FNCF_linelist799_",
              "type" : "IfCondition",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "typeProperties" : {
                "expression" : {
                  "value" : "@equals(1,1)",
                  "type" : "Expression"
                },
                "ifFalseActivities" : [ ],
                "ifTrueActivities" : [ ]
              }
            }, {
              "name" : "seq_export_MPDS_PCR_BCCS786__seq_export_PCR797__se",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ {
                "activity" : "seq_export_MPDS_PCR_BCCS786__seq_export_PCR797__seq_PCR_MOH_FNCF_linelist799_",
                "dependencyConditions" : [ "Succeeded" ]
              } ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : "DECLARE @rec as varchar(100)\nDECLARE @copy_rec as varchar(255)\nDECLARE @msg_body as varchar(500)\nDECLARE @msg_subject as varchar(200)\nDECLARE @impt as varchar(10)\nDECLARE @error_msg as varchar(500)\n\nSET @rec=@0\nSET @copy_rec=@1\nSET @msg_subject=@2\nSET @error_msg=@3\n\n\n\nBEGIN\nSET @msg_body= @error_msg + CHAR(13)+ CHAR(13)+ '***End of Message***'\nSET @impt='High'\nEND\nexec msdb.dbo.sp_send_dbmail\n@recipients = @rec,\n@copy_recipients=@copy_rec,\n@body =@msg_body,\n@body_format = 'TEXT' , \n@subject =@msg_subject,\n@importance=@impt "
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        }, {
          "name" : "0_0_seq_export_MPDS_PCR_BCCS786__sql_bccs_edw_coun",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "seq_export_MPDS_PCR_BCCS786__sql_bccs_edw_counts80",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_bccs_edw_count",
            "value" : "@activity('seq_export_MPDS_PCR_BCCS786__sql_bccs_edw_counts80').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "seq_export_MPDS_PCR_BCCS786__set_var_bccs_dq_check802_",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "seq_export_MPDS_PCR_BCCS786__sql_bccs_edw_counts80",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : "Expression Task",
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_bccs_dq_check",
            "value" : {
              "value" : "@equals(pipeline().parameters.var_bccs_src_count,pipeline().parameters.var_bccs_edw_count)",
              "type" : "Expression"
            }
          }
        }, {
          "name" : "0_seq_export_MPDS_PCR_BCCS786__sql_set_flag_new_ro",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "seq_export_MPDS_PCR_BCCS786__seq_export_PCR797_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "UPDATE [phs_overdose].[cfg_export_file]\nSET new_rows_flag = 'N',\nlast_job_run_dt_tm = GETDATE()\nWHERE source_system = 'PCR';"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "IFACTIVITY_seq_export_MPDS_PCR_BCCS786__send_error",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "seq_export_MPDS_PCR_BCCS786__set_var_bccs_dq_check802_",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "0_0_seq_export_MPDS_PCR_BCCS786__sql_bccs_edw_coun",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@not(variables('var_bccs_dq_check'))",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "seq_export_MPDS_PCR_BCCS786__send_error_email787__",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : "DECLARE @rec as varchar(100)\nDECLARE @copy_rec as varchar(255)\nDECLARE @msg_body as varchar(500)\nDECLARE @msg_subject as varchar(200)\nDECLARE @impt as varchar(10)\nDECLARE @error_msg as varchar(500)\n\nSET @rec=@0\nSET @copy_rec=@1\nSET @msg_subject=@2\nSET @error_msg=@3\n\n\n\nBEGIN\nSET @msg_body= @error_msg + CHAR(13)+ CHAR(13)+ '***End of Message***'\nSET @impt='High'\nEND\nexec msdb.dbo.sp_send_dbmail\n@recipients = @rec,\n@copy_recipients=@copy_rec,\n@body =@msg_body,\n@body_format = 'TEXT' , \n@subject =@msg_subject,\n@importance=@impt "
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        }, {
          "name" : "IFACTIVITY_seq_export_MPDS_PCR_BCCS786__sql_get_la",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "seq_export_MPDS_PCR_BCCS786__set_var_bccs_dq_check802_",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "0_0_seq_export_MPDS_PCR_BCCS786__sql_bccs_edw_coun",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@variables('var_bccs_dq_check')",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "seq_export_MPDS_PCR_BCCS786__sql_get_last_date_new",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : "SELECT max_export_service_date AS var_last_date_bccs, FORMAT (max_export_service_date, 'MMMM yyyy') as var_max_date_of_death, new_rows_flag AS var_new_rows_bccs_moh\nFROM \n[phs_overdose].[cfg_export_file]\nWHERE source_system = 'BCCS_MOH'"
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        }, {
          "name" : "0_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_date",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "IFACTIVITY_seq_export_MPDS_PCR_BCCS786__sql_get_la",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_last_date_bccs",
            "value" : "@activity('seq_export_MPDS_PCR_BCCS786__sql_get_last_date_new').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "1_0_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_da",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "IFACTIVITY_seq_export_MPDS_PCR_BCCS786__sql_get_la",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_max_date_of_death",
            "value" : "@activity('seq_export_MPDS_PCR_BCCS786__sql_get_last_date_new').output.resultSets[0].rows[1][1]"
          }
        }, {
          "name" : "2_1_0_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "IFACTIVITY_seq_export_MPDS_PCR_BCCS786__sql_get_la",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_new_rows_bccs_moh",
            "value" : "@activity('seq_export_MPDS_PCR_BCCS786__sql_get_last_date_new').output.resultSets[0].rows[2][2]"
          }
        }, {
          "name" : "seq_export_MPDS_PCR_BCCS786__seq_export_BCCS_MoH_and_Deid_excel_files_tox_colum",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "2_1_0_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "0_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_date",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "1_0_0_seq_export_MPDS_PCR_BCCS786__sql_get_last_da",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@equals(variables('var_new_rows_bccs_moh'),'Y')",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "seq_export_MPDS_PCR_BCCS786__seq_export_BCCS_MoH_and_Deid_excel_files_tox_colum_seq_read_bccs_moh_password_file794_",
              "type" : "IfCondition",
              "policy" : null,
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "typeProperties" : {
                "expression" : {
                  "value" : "@equals(1,1)",
                  "type" : "Expression"
                },
                "ifFalseActivities" : [ ],
                "ifTrueActivities" : [ {
                  "name" : "FOREACH_seq_export_MPDS_PCR_BCCS786__seq_export_BC",
                  "type" : "ForEach",
                  "policy" : null,
                  "dependsOn" : [ ],
                  "state" : null,
                  "description" : null,
                  "onInactiveMarkAs" : null,
                  "typeProperties" : {
                    "items" : {
                      "value" : "@activity('dft_read_bccs_moh_password_file795_').output.value",
                      "type" : "Expression"
                    },
                    "activities" : [ ],
                    "isSequential" : true
                  }
                } ]
              }
            }, {
              "name" : "seq_export_MPDS_PCR_BCCS786__seq_export_BCCS_MoH_a",
              "type" : "Script",
              "policy" : null,
              "dependsOn" : [ {
                "activity" : "seq_export_MPDS_PCR_BCCS786__seq_export_BCCS_MoH_and_Deid_excel_files_tox_colum_seq_read_bccs_moh_password_file794_",
                "dependencyConditions" : [ "Succeeded" ]
              } ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "linkedServiceName" : {
                "referenceName" : "AzureSqlDatabase1",
                "type" : "LinkedServiceReference"
              },
              "typeProperties" : {
                "scripts" : [ {
                  "type" : "Query",
                  "text" : "DECLARE @rec as varchar(100)\nDECLARE @copy_rec as varchar(255)\nDECLARE @msg_body as varchar(500)\nDECLARE @msg_subject as varchar(200)\nDECLARE @impt as varchar(10)\nDECLARE @error_msg as varchar(500)\n\nSET @rec=@0\nSET @copy_rec=@1\nSET @msg_subject=@2\nSET @error_msg=@3\n\n\n\nBEGIN\nSET @msg_body= @error_msg + CHAR(13)+ CHAR(13)+ '***End of Message***'\nSET @impt='High'\nEND\nexec msdb.dbo.sp_send_dbmail\n@recipients = @rec,\n@copy_recipients=@copy_rec,\n@body =@msg_body,\n@body_format = 'TEXT' , \n@subject =@msg_subject,\n@importance=@impt "
                } ],
                "scriptBlockExecutionTimeout" : null
              }
            } ]
          }
        }, {
          "name" : "seq_export_MPDS_PCR_BCCS786__sql_set_flag_new_rows",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "seq_export_MPDS_PCR_BCCS786__seq_export_BCCS_MoH_and_Deid_excel_files_tox_colum",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "UPDATE [phs_overdose].[cfg_export_file]\nSET new_rows_flag = 'N',\nlast_job_run_dt_tm = GETDATE()\nWHERE source_system = 'BCCS_MOH';"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "seq_export_MPDS_PCR_BCCS786__send_notification_ema",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "seq_export_MPDS_PCR_BCCS786__sql_set_flag_new_rows",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "DECLARE @rec as varchar(100)\nDECLARE @copy_rec as varchar(255)\nDECLARE @msg_body as varchar(500)\nDECLARE @msg_subject as varchar(200)\nDECLARE @impt as varchar(10)\nDECLARE @error_msg as varchar(500)\n\nSET @rec=@0\nSET @copy_rec=@1\nSET @msg_subject=@2\nSET @error_msg=@3\n\n\n\nBEGIN\nSET @msg_body= @error_msg + CHAR(13)+ CHAR(13)+ '***End of Message***'\nSET @impt='High'\nEND\nexec msdb.dbo.sp_send_dbmail\n@recipients = @rec,\n@copy_recipients=@copy_rec,\n@body =@msg_body,\n@body_format = 'TEXT' , \n@subject =@msg_subject,\n@importance=@impt "
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "var_pcr_fncf_file_name" : {
        "type" : "string",
        "defaultValue" : "'STANDARD_BCEHS_PCR_For_MoH_2025-10-16.csv'"
      },
      "var_path_pcr_archive_file" : {
        "type" : "string",
        "defaultValue" : "'csv'"
      },
      "var_bccs_moh_archive_error_msg" : {
        "type" : "string",
        "defaultValue" : "'Archive process of `BCCDC BCCS Order All Cases` file failed, please investigate.'"
      },
      "var_error_msg" : {
        "type" : "string",
        "defaultValue" : "'Source file and BCCS view records counts are not consistent!'"
      },
      "var_fncf_msg" : {
        "type" : "string",
        "defaultValue" : "'A new BC EHS file is ready to send to MoH for linkage with the FNCF. \\n\\nPlease find the file here: ''"
      },
      "var_path_ha_bccs" : {
        "type" : "string",
        "defaultValue" : "'\\\\z\\\\BCCS\\\\STANDARD_BCCS_z_2024-12-10.csv'"
      },
      "var_last_date_pcr" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('12/1/2023')"
      },
      "var_new_rows_bccs_moh" : {
        "type" : "string",
        "defaultValue" : "'N'"
      },
      "var_bccs_moh_msg" : {
        "type" : "string",
        "defaultValue" : "'A new BCCS file is ready to send to MoH for linkage with the FNCF                \\n\\nPlease find the file here:\\n\\nMoH File: ''"
      },
      "var_path_ha_mpds_dispatch" : {
        "type" : "string",
        "defaultValue" : "'\\\\x\\\\Overdose\\\\STANDARD_BCEHS_Dispatch_IP_x_2024-12-10.csv'"
      },
      "var_last_date_bccs" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('12/1/2023')"
      },
      "var_bccs_dq_check" : {
        "type" : "Boolean",
        "defaultValue" : "true()"
      },
      "var_new_rows_pcr" : {
        "type" : "string",
        "defaultValue" : "'N'"
      },
      "var_rha_bccs_file_name" : {
        "type" : "string",
        "defaultValue" : "'STANDARD_BCCS_z_2025-10-16.csv'"
      },
      "var_bccs_moh_subj" : {
        "type" : "string",
        "defaultValue" : "'Overdose BCCS- Export 2025-10-16'"
      },
      "var_path_ha_pcr" : {
        "type" : "string",
        "defaultValue" : "'\\\\y\\\\Overdose\\\\STANDARD_BCEHS_PCR_y_2024-12-10.csv'"
      },
      "var_bccs_moh_file_password" : {
        "type" : "string"
      },
      "var_path_mpds_archive_file" : {
        "type" : "string",
        "defaultValue" : "'c'"
      },
      "var_bccs_moh_archive_error_subj" : {
        "type" : "string",
        "defaultValue" : "'Job Failed: Archive BCCDC BCCS Order All Cases file failed 2025-10-16'"
      },
      "var_bccs_edw_count" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "var_rha_name_pcr" : {
        "type" : "string",
        "defaultValue" : "'y'"
      },
      "var_bccs_src_count" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "var_rha_name_mpds" : {
        "type" : "string",
        "defaultValue" : "'x'"
      },
      "var_max_date_of_death" : {
        "type" : "string",
        "defaultValue" : "'December 2023'"
      },
      "var_bccs_moh_file_password_recordset" : {
        "type" : "string"
      },
      "var_rha_mpds_file_name" : {
        "type" : "string",
        "defaultValue" : "'STANDARD_BCEHS_Dispatch_IP_x_2025-10-16.csv'"
      },
      "var_rha_pcr_file_name" : {
        "type" : "string",
        "defaultValue" : "'STANDARD_BCEHS_PCR_y_2025-10-16.csv'"
      },
      "var_getdate" : {
        "type" : "string",
        "defaultValue" : "'2025-10-16'"
      },
      "var_error_subj" : {
        "type" : "string",
        "defaultValue" : "'[ACTION REQUIRED!] Overdose BCCS DQ Alerts'"
      },
      "var_path_bccs_archive_file" : {
        "type" : "string",
        "defaultValue" : "'cs'"
      },
      "var_fncf_subj" : {
        "type" : "string",
        "defaultValue" : "'Overdose BC EHS - FNCF Export 2025-10-16'"
      },
      "var_rha_name_bccs" : {
        "type" : "string",
        "defaultValue" : "'z'"
      }
    }
  }
}