SSISInv0716/pipeline/PPL_BofA_FileClean 1.json
{
  "name" : "PPL_BofA_FileClean 1",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "ArchiveFolder",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ArchiveFolder",
        "value" : {
          "value" : "@concat(variables('Cfg_BaseDirectory'),'Reception_Archive\\\\')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "DropFolder",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "DropFolder",
        "value" : {
          "value" : "@concat(variables('Cfg_BaseDirectory'),'Reception_drop\\\\')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "ProcessingFolder",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ProcessingFolder",
        "value" : {
          "value" : "@concat(variables('Cfg_BaseDirectory'),'Reception_Processing\\\\')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "ReceptionFolder",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ReceptionFolder",
        "value" : {
          "value" : "@concat(variables('Cfg_BaseDirectory'),'Reception\\\\')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "RowDelimiter",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "RowDelimiter",
        "value" : {
          "value" : "@variables('Cfg_RowDelimiter')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "GETMETADATA_Foreach_file_in_dropoff_location153_",
      "type" : "GetMetadata",
      "policy" : {
        "timeout" : "0.12:00:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 30,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "RowDelimiter",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "ArchiveFolder",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "DropFolder",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "ProcessingFolder",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "ReceptionFolder",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "fieldList" : [ "childItems" ],
        "dataset" : {
          "referenceName" : "Generic_OLEDB_DS_SRC",
          "type" : "DatasetReference",
          "parameters" : {
            "TableName" : {
              "value" : "",
              "type" : "Expression"
            },
            "Schema" : {
              "value" : "",
              "type" : "Expression"
            }
          }
        },
        "storeSettings" : {
          "type" : "AzureBlobStorageReadSettings",
          "enablePartitionDiscovery" : false
        },
        "formatSettings" : {
          "type" : "DelimitedTextReadSettings"
        }
      }
    }, {
      "name" : "FILTER_Foreach_file_in_dropoff_location153_",
      "type" : "Filter",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "GETMETADATA_Foreach_file_in_dropoff_location153_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('GETMETADATA_Foreach_file_in_dropoff_location153_').output.childItems",
          "type" : "Expression"
        },
        "condition" : {
          "value" : "@equals(1, 1)",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FOREACH_Foreach_file_in_dropoff_location153_",
      "type" : "ForEach",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FILTER_Foreach_file_in_dropoff_location153_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "items" : {
          "value" : "@activity('FILTER_Foreach_file_in_dropoff_location153_').output.value",
          "type" : "Expression"
        },
        "activities" : [ {
          "name" : "SET_FileName",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "FileName",
            "value" : {
              "value" : "@concat('C:\\Temp\\SSIS\\BofA\\Reception_drop\\', item().name)",
              "type" : "Expression"
            }
          }
        }, {
          "name" : "Foreach_file_in_dropoff_location153__Create_import",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "SET_FileName",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "INSERT INTO [App].[ImportRun]\n           ([PackageType]\n           ,[PackageGuid]\n           ,[CreatedDate]\n           ,[Status]\n           ,[ProcessingDir])\nVALUES\n           ('ChannelAsset_Execute'\n           ,NEWID()\n           ,GetDate()\n           ,'Execute'\n           ,CONVERT(varchar(255),@Folder))\n\nSET @ImportRunId = SCOPE_IDENTITY()\n\nINSERT INTO [App].[ImportFile]\n           ([ImportRunId]\n           ,[FileName]\n           ,[Status]\n           ,[FileDate]\n           ,[FileNameScheme]\n           ,[Client]\n           ,[Location]\n           ,[Scheme])\n     VALUES\n           (@ImportRunId\n           ,@FileName\n           ,'Execute'\n           ,GetDate()\n           ,NULL\n           ,NULL\n           ,NULL\n           ,NULL)\n\n\nSET @ImportFileID = SCOPE_IDENTITY()\n\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "Foreach_file_in_dropoff_location153__Start_file_cleanse160_",
          "type" : "Wait",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Foreach_file_in_dropoff_location153__Create_import",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "waitTimeInSeconds" : 10
          }
        }, {
          "name" : "Data_Flow_Task156_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Foreach_file_in_dropoff_location153__Create_import",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "Data_Flow_Task156_",
              "type" : "DataFlowReference",
              "parameters" : {
                "ImportFileId" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "IsFileInvalid" : {
                  "type" : "Expression",
                  "value" : "true()"
                },
                "ProcessingFile" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception_processing\\\\processing.txt'"
                },
                "HasErrored" : {
                  "type" : "Expression",
                  "value" : "true()"
                },
                "ImportRunId" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "DropFolder" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception_drop\\\\'"
                },
                "Cfg_RowDelimiter" : {
                  "type" : "Expression",
                  "value" : "'{LF}'"
                },
                "IsFileNameValid" : {
                  "type" : "Expression",
                  "value" : "true()"
                },
                "ProcessingFolder" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception_Processing\\\\'"
                },
                "Cfg_BaseDirectory" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\'"
                },
                "ArchiveFolder" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception_Archive\\\\'"
                },
                "ArchiveFile" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception_archive\\\\processing.txt'"
                },
                "ReceptionFile" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception\\\\processing.txt'"
                },
                "FileNameWithoutPath" : {
                  "type" : "Expression",
                  "value" : "''"
                },
                "SupportEmailTemplate" : {
                  "type" : "Expression",
                  "value" : "'Support - channel asset positions load error'"
                },
                "ClientEmailTemplate" : {
                  "type" : "Expression",
                  "value" : "'Channel asset positions load error'"
                },
                "RowDelimiter" : {
                  "type" : "Expression",
                  "value" : "'{LF}'"
                },
                "OriginalFile" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception_drop\\\\processing.txt'"
                },
                "ReceptionFolder" : {
                  "type" : "Expression",
                  "value" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception\\\\'"
                }
              },
              "datasetParameters" : {
                "FlatFileSource" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "FlatFileDestination" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "Foreach_file_in_dropoff_location153__Copy_to_recep",
          "type" : "Copy",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Data_Flow_Task156_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "source" : {
              "type" : "DelimitedTextSource"
            },
            "sink" : {
              "type" : "DelimitedTextSink"
            }
          },
          "inputs" : [ {
            "referenceName" : "Generic",
            "type" : "DatasetReference",
            "parameters" : {
              "TableName" : {
                "value" : "",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "",
                "type" : "Expression"
              }
            }
          } ],
          "outputs" : [ ]
        }, {
          "name" : "_DELETEForeach_file_in_dropoff_location153__Delete",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "Foreach_file_in_dropoff_location153__Copy_to_recep",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        } ],
        "isSequential" : true
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "ImportFileId" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "ProcessingFile" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception_processing\\\\processing.txt'"
      },
      "HasErrored" : {
        "type" : "Boolean",
        "defaultValue" : "true()"
      },
      "ImportRunId" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "DropFolder" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception_drop\\\\'"
      },
      "ProcessingFolder" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception_Processing\\\\'"
      },
      "ArchiveFolder" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception_Archive\\\\'"
      },
      "ArchiveFile" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception_archive\\\\processing.txt'"
      },
      "ReceptionFile" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception\\\\processing.txt'"
      },
      "FileNameWithoutPath" : {
        "type" : "string"
      },
      "RowDelimiter" : {
        "type" : "string",
        "defaultValue" : "'{LF}'"
      },
      "OriginalFile" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception_drop\\\\processing.txt'"
      },
      "ReceptionFolder" : {
        "type" : "string",
        "defaultValue" : "'C:\\\\Temp\\\\SSIS\\\\BofA\\\\Reception\\\\'"
      }
    }
  }
}