SSISInv0716/pipeline/PPL_D_Projects.json
{
  "name" : "PPL_D_Projects",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "var_Dim_Query",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_Dim_Query",
        "value" : {
          "value" : "@variables('var_Dim_Query')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "SQL_For_RunKeyStatus727__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "var_Dim_Query",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC RunKeyStatus"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_SQL_For_RunKeyStatus727__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_For_RunKeyStatus727__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_Dw_Run_Key",
        "value" : "@activity('SQL_For_RunKeyStatus727__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "1_0_SQL_For_RunKeyStatus727__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_For_RunKeyStatus727__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_Dw_Run_Month",
        "value" : "@activity('SQL_For_RunKeyStatus727__SCRIPT').output.resultSets[0].rows[1][1]"
      }
    }, {
      "name" : "2_1_0_SQL_For_RunKeyStatus727__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_For_RunKeyStatus727__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_Dw_Run_Eff_Dt",
        "value" : "@activity('SQL_For_RunKeyStatus727__SCRIPT').output.resultSets[0].rows[2][2]"
      }
    }, {
      "name" : "3_2_1_0_SQL_For_RunKeyStatus727__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_For_RunKeyStatus727__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_Dw_Run_Cncl_Dt",
        "value" : "@activity('SQL_For_RunKeyStatus727__SCRIPT').output.resultSets[0].rows[3][3]"
      }
    }, {
      "name" : "SQL_For_Update_Records728__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "3_2_1_0_SQL_For_RunKeyStatus727__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "0_SQL_For_RunKeyStatus727__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "1_0_SQL_For_RunKeyStatus727__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "2_1_0_SQL_For_RunKeyStatus727__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : " update dw.D_Projects set DW_Effective_End_date ='9999-12-31 00:00:00.000' , DW_Current_Flag = 1,Dw_Upsert_Flag='I',\nDW_Update_Run_key=DW_Run_Key where DW_Update_Run_key>=@0"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "SQL_For_Delete_Records726__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "SQL_For_Update_Records728__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : " DELETE FROM dw.D_Projects \nWHERE (DW_Run_Key >= @0)"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "SQL_To_Preserve_Max_SK729__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "SQL_For_Delete_Records726__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : " select ISNULL(MAX(ProjectSK),1)  from dw.D_Projects"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_SQL_To_Preserve_Max_SK729__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_To_Preserve_Max_SK729__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_Dim_MaxSK",
        "value" : "@activity('SQL_To_Preserve_Max_SK729__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "SQL_To_Reset_Identity_Column730__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_SQL_To_Preserve_Max_SK729__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DBCC CHECKIDENT('dw.D_Projects', RESEED, @0)"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "DFT_Projects719_",
      "type" : "ExecuteDataFlow",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "SQL_To_Reset_Identity_Column730__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "dataflow" : {
          "referenceName" : "DFT_Projects719_",
          "type" : "DataFlowReference",
          "parameters" : {
            "var_Initial_Catalog1" : {
              "type" : "Expression",
              "value" : "'PmPOD'"
            },
            "var_Dw_Effective_End_Date" : {
              "type" : "Expression",
              "value" : "toTimestamp('12/31/9999 12:00:00 PM')"
            },
            "var_Data_Src" : {
              "type" : "Expression",
              "value" : "'gl541'"
            },
            "var_Error_Flag" : {
              "type" : "Expression",
              "value" : "0"
            },
            "var_Duplicate_Rec" : {
              "type" : "Expression",
              "value" : "'                                                                                                                                                                                    '"
            },
            "var_Dim_MaxSK" : {
              "type" : "Expression",
              "value" : "0"
            },
            "var_Dw_Run_Month" : {
              "type" : "Expression",
              "value" : "2"
            },
            "var_Email_To" : {
              "type" : "Expression",
              "value" : "''"
            },
            "var_Dw_Run_Key" : {
              "type" : "Expression",
              "value" : "416"
            },
            "var_Dw_Run_Eff_Dt" : {
              "type" : "Expression",
              "value" : "toTimestamp('12/10/2011 9:25:00 AM')"
            },
            "var_SMTP_Server" : {
              "type" : "Expression",
              "value" : "'192.168.65.225'"
            },
            "var_User_Name" : {
              "type" : "Expression",
              "value" : "'pmpod'"
            },
            "var_CC" : {
              "type" : "Expression",
              "value" : "''"
            },
            "var_Email_Subject" : {
              "type" : "Expression",
              "value" : "''"
            },
            "var_BCC" : {
              "type" : "Expression",
              "value" : "''"
            },
            "var_Dw_Run_Cncl_Dt" : {
              "type" : "Expression",
              "value" : "toTimestamp('2/12/2013 12:36:00 PM')"
            },
            "var_Email_From" : {
              "type" : "Expression",
              "value" : "''"
            },
            "var_Password" : {
              "type" : "Expression",
              "value" : "'pmpodbi'"
            },
            "var_ProjectID" : {
              "type" : "Expression",
              "value" : "0"
            },
            "var_Dest_Conn" : {
              "type" : "Expression",
              "value" : "'Provider=SQLNCLI11.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=pmPOD-BI;Data Source=spsql19dev'"
            },
            "var_Error_Description" : {
              "type" : "Expression",
              "value" : "''"
            },
            "var_Dim_Query" : {
              "type" : "Expression",
              "value" : "'SELECT X.[ID], X.[DW_Run_Key], X.[DW_Upsert_Flag], X.[ProjectBillingTypeID],case when charindex(',',X.[ProjectTechnologyID])=0 then X.[ProjectTechnologyID] else substring(X.[ProjectTechnologyID],0,charindex(',',X.[ProjectTechnologyID])) end ProjectTechnologyID, X.[CurrentStageID], X.[GeographyID], X.[ProjectType], lower(ltrim(rtrim(X.[AccountManager]))) AccountManager, X.[AccountManagerName], X.[CustomerLocationCountry], X.[CustomerLocationState], lower(ltrim(rtrim(X.[OnsiteCoordinator]))) OnsiteCoordinator, X.[ProjectBillingType], X.[InitialProjectEstimate], X.[ProjectTechnology], X.[CustomerName], X.[CurrentStage], lower(ltrim(rtrim(X.[DeliveryManager]))) DeliveryManager, X.[ProjectContractType], X.[ProjectName], lower(ltrim(rtrim(X.[ProjectTechnologyDomain]))) ProjectTechnologyDomain, X.[BusinessDomain], X.[StateID], lower(ltrim(rtrim(X.[VicePresident]))) VicePresident, X.[BusinessDomainID], lower(ltrim(rtrim(X.[ProjectManager]))) ProjectManager, X.[ProjectID],X.[Modified], X.[Created],X.[hrPODProjectID],X.[HRPODProjectName],X.[ProjectContractTypeID],X.[IsSubProject],X.[CustomerID],X.[ProjectTypeID],X.[SrProjectManager],X.[SrPMName] from Src.stg_Projects X where DW_Run_Key= 370'"
            },
            "var_Initial_Catalog" : {
              "type" : "Expression",
              "value" : "'pmPOD-BI'"
            }
          },
          "datasetParameters" : {
            "LKPCompanyResourcesAMLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "LKP-CompanyResources(AM)",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "LKPCompanyResourcesOCLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "LKP-CompanyResources(OC)",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "OLESRCProjects" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "OLE_SRC Projects",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "LKPCurrentStagesLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "LKP-CurrentStages",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "LKPCompanyResourcesVPLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "LKP-CompanyResources(VP)",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "InsertInDProjects" : {
              "TableName" : {
                "value" : "D_Projects",
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "LKPProjectBillingTypeLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "LKP-ProjectBillingType",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "LKPCompanyResourcesDMLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "LKP-CompanyResources(DM)",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "LKPCompanyResourcesPMLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "LKP-CompanyResources(PM)",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "LKPProjectLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "LKP-Project",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "LKPProjectTechnologyLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "LKP-ProjectTechnology",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "LKPGeographyLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "LKP-Geography",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "CMDExpiretheoldrecord" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : "dbo",
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            },
            "LKPProjectTechnologogyDomainLKPTABLE" : {
              "TableName" : {
                "value" : null,
                "type" : "Expression"
              },
              "Schema" : {
                "value" : null,
                "type" : "Expression"
              },
              "Container" : {
                "value" : "",
                "type" : "Expression"
              },
              "FileName" : {
                "value" : "LKP-ProjectTechnologogyDomain",
                "type" : "Expression"
              },
              "Directory" : {
                "value" : null,
                "type" : "Expression"
              },
              "ColumnDelimiter" : ","
            }
          }
        },
        "compute" : null,
        "staging" : { }
      }
    }, {
      "name" : "SQL_SP_Cntrl_DQ_Validation731__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "DFT_Projects719_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC [dbo].[DQ_VALIDATTION] @0"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_SQL_SP_Cntrl_DQ_Validation731__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_SP_Cntrl_DQ_Validation731__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_Error_Flag",
        "value" : "@activity('SQL_SP_Cntrl_DQ_Validation731__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "1_0_SQL_SP_Cntrl_DQ_Validation731__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "SQL_SP_Cntrl_DQ_Validation731__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "var_Error_Description",
        "value" : "@activity('SQL_SP_Cntrl_DQ_Validation731__SCRIPT').output.resultSets[0].rows[1][1]"
      }
    }, {
      "name" : "DQ_Failure720_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "1_0_SQL_SP_Cntrl_DQ_Validation731__VA",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "0_SQL_SP_Cntrl_DQ_Validation731__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(variables('var_Error_Flag'),1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "DQ_Failure720__SQL_SP_Send_Email724__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "EXEC [dbo].[SendEmail] @0, 'DQ Failure'"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_DQ_Failure720__SQL_SP_Send_Email724__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "DQ_Failure720__SQL_SP_Send_Email724__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_Email_From",
            "value" : "@activity('DQ_Failure720__SQL_SP_Send_Email724__SCRIPT').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "1_0_DQ_Failure720__SQL_SP_Send_Email724__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "DQ_Failure720__SQL_SP_Send_Email724__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_Email_To",
            "value" : "@activity('DQ_Failure720__SQL_SP_Send_Email724__SCRIPT').output.resultSets[0].rows[1][1]"
          }
        }, {
          "name" : "2_1_0_DQ_Failure720__SQL_SP_Send_Email724__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "DQ_Failure720__SQL_SP_Send_Email724__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_CC",
            "value" : "@activity('DQ_Failure720__SQL_SP_Send_Email724__SCRIPT').output.resultSets[0].rows[2][2]"
          }
        }, {
          "name" : "3_2_1_0_DQ_Failure720__SQL_SP_Send_Email724__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "DQ_Failure720__SQL_SP_Send_Email724__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_BCC",
            "value" : "@activity('DQ_Failure720__SQL_SP_Send_Email724__SCRIPT').output.resultSets[0].rows[3][3]"
          }
        }, {
          "name" : "4_3_2_1_0_DQ_Failure720__SQL_SP_Send_Email724__VA",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "DQ_Failure720__SQL_SP_Send_Email724__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "var_Email_Subject",
            "value" : "@activity('DQ_Failure720__SQL_SP_Send_Email724__SCRIPT').output.resultSets[0].rows[4][4]"
          }
        }, {
          "name" : "DQ_Failure720__SMT_Send_Email721_",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "4_3_2_1_0_DQ_Failure720__SQL_SP_Send_Email724__VA",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "0_DQ_Failure720__SQL_SP_Send_Email724__VA",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "1_0_DQ_Failure720__SQL_SP_Send_Email724__VA",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "2_1_0_DQ_Failure720__SQL_SP_Send_Email724__VA",
            "dependencyConditions" : [ "Succeeded" ]
          }, {
            "activity" : "3_2_1_0_DQ_Failure720__SQL_SP_Send_Email724__VA",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : null,
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "DQ_Failure720__SQL_SP_Email_Log723__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "DQ_Failure720__SMT_Send_Email721_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "Exec [dbo].[Email_Log] @0, @1, @2, @3, @4, @5, @6, @7 "
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "DQ_Failure720__SQL_RaiseError722__SCRIPT",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "DQ_Failure720__SQL_SP_Email_Log723__SCRIPT",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "RAISERROR(@0,16,1)"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "var_Error_Flag" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "var_Dim_MaxSK" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "var_Dw_Run_Month" : {
        "type" : "Integer",
        "defaultValue" : "2"
      },
      "var_Email_To" : {
        "type" : "string"
      },
      "var_Dw_Run_Key" : {
        "type" : "Integer",
        "defaultValue" : "416"
      },
      "var_Dw_Run_Eff_Dt" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('12/10/2011 9:25:00 AM')"
      },
      "var_SMTP_Server" : {
        "type" : "string",
        "defaultValue" : "'192.168.65.225'"
      },
      "var_CC" : {
        "type" : "string"
      },
      "var_Email_Subject" : {
        "type" : "string"
      },
      "var_BCC" : {
        "type" : "string"
      },
      "var_Dw_Run_Cncl_Dt" : {
        "type" : "string",
        "defaultValue" : "toTimestamp('2/12/2013 12:36:00 PM')"
      },
      "var_Email_From" : {
        "type" : "string"
      },
      "var_Dest_Conn" : {
        "type" : "string",
        "defaultValue" : "'Provider=SQLNCLI11.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=pmPOD-BI;Data Source=spsql19dev'"
      },
      "var_Error_Description" : {
        "type" : "string"
      },
      "var_Dim_Query" : {
        "type" : "string",
        "defaultValue" : "'SELECT X.[ID], X.[DW_Run_Key], X.[DW_Upsert_Flag], X.[ProjectBillingTypeID],case when charindex(',',X.[ProjectTechnologyID])=0 then X.[ProjectTechnologyID] else substring(X.[ProjectTechnologyID],0,charindex(',',X.[ProjectTechnologyID])) end ProjectTechnologyID, X.[CurrentStageID], X.[GeographyID], X.[ProjectType], lower(ltrim(rtrim(X.[AccountManager]))) AccountManager, X.[AccountManagerName], X.[CustomerLocationCountry], X.[CustomerLocationState], lower(ltrim(rtrim(X.[OnsiteCoordinator]))) OnsiteCoordinator, X.[ProjectBillingType], X.[InitialProjectEstimate], X.[ProjectTechnology], X.[CustomerName], X.[CurrentStage], lower(ltrim(rtrim(X.[DeliveryManager]))) DeliveryManager, X.[ProjectContractType], X.[ProjectName], lower(ltrim(rtrim(X.[ProjectTechnologyDomain]))) ProjectTechnologyDomain, X.[BusinessDomain], X.[StateID], lower(ltrim(rtrim(X.[VicePresident]))) VicePresident, X.[BusinessDomainID], lower(ltrim(rtrim(X.[ProjectManager]))) ProjectManager, X.[ProjectID],X.[Modified], X.[Created],X.[hrPODProjectID],X.[HRPODProjectName],X.[ProjectContractTypeID],X.[IsSubProject],X.[CustomerID],X.[ProjectTypeID],X.[SrProjectManager],X.[SrPMName] from Src.stg_Projects X where DW_Run_Key= 370'"
      },
      "var_Initial_Catalog" : {
        "type" : "string",
        "defaultValue" : "'pmPOD-BI'"
      }
    }
  }
}