SSISInv0716/pipeline/PPL_CBGDM_Stg_BudgetSalesPerson.json
{
  "name" : "PPL_CBGDM_Stg_BudgetSalesPerson",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "DestinationTable",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "DestinationTable",
        "value" : {
          "value" : "@concat('[',notConvertedectfunctionstringtoken(pipeline().PipelineName, '_', 2),'].[',notConvertedectfunctionstringtoken(pipeline().PipelineName, '_', 3),']')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FileLocationArchive",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "FileLocationArchive",
        "value" : {
          "value" : "@replace(replace(variables('FileLocation'),variables('FileDropFolder'),concat(variables('FileArchiveFolder'),variables('ArchiveFileFolder'))),'.csv',concat('_',replace(pipeline().TriggerTime,'-',''),'.csv'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "Get_PackageExecutionID545__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FileLocationArchive",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "DestinationTable",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DECLARE @CurrentTime datetime= GETDATE()\n\nEXECUTE [dbo].[UpdatePackageExecutionID] \n   @ExecutionStatus='InProgress'\n  ,@CurrentDate= @CurrentTime\n  ,@PackageGuid=@0\n  ,@PackageName=@1\n  ,@PackageStartTime=@2\n  ,@ParentPackagExecutionID=@3\n"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "0_Get_PackageExecutionID545__VA",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ {
        "activity" : "Get_PackageExecutionID545__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "PackageExecutionID",
        "value" : "@activity('Get_PackageExecutionID545__SCRIPT').output.resultSets[0].rows[0][0]"
      }
    }, {
      "name" : "Sequence_Container546_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "0_Get_PackageExecutionID545__VA",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "Sequence_Container546__Truncate_Target_Table552__S",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "TRUNCATE TABLE [Stg].[BudgetSalesPerson]"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_GETMETADATA_Sequence_Container546__ForEach_Sourc",
          "type" : "GetMetadata",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container546__Truncate_Target_Table552__S",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "fieldList" : [ "childItems" ],
            "dataset" : {
              "referenceName" : "Generic_OLEDB_DS_SRC",
              "type" : "DatasetReference",
              "parameters" : {
                "TableName" : {
                  "value" : "",
                  "type" : "Expression"
                },
                "Schema" : {
                  "value" : "",
                  "type" : "Expression"
                }
              }
            },
            "storeSettings" : {
              "type" : "AzureBlobStorageReadSettings",
              "enablePartitionDiscovery" : false
            },
            "formatSettings" : {
              "type" : "DelimitedTextReadSettings"
            }
          }
        }, {
          "name" : "0_FILTER_Sequence_Container546__ForEach_Source_Fil",
          "type" : "Filter",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0_GETMETADATA_Sequence_Container546__ForEach_Sourc",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "items" : {
              "value" : "@activity('0_GETMETADATA_Sequence_Container546__ForEach_Sourc').output.childItems",
              "type" : "Expression"
            },
            "condition" : {
              "value" : "@equals(1, 1)",
              "type" : "Expression"
            }
          }
        }, {
          "name" : "0_FOREACH_Sequence_Container546__ForEach_Source_Fi",
          "type" : "ForEach",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0_FILTER_Sequence_Container546__ForEach_Source_Fil",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "items" : {
              "value" : "@activity('0_FILTER_Sequence_Container546__ForEach_Source_Fil').output.value",
              "type" : "Expression"
            },
            "activities" : [ {
              "name" : "SET_FileName",
              "type" : "SetVariable",
              "policy" : {
                "timeout" : "00:30:00",
                "retry" : 0,
                "retryIntervalInSeconds" : 0,
                "secureOutput" : false,
                "secureInput" : false
              },
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "typeProperties" : {
                "variableName" : "FileName",
                "value" : {
                  "value" : "@concat('L:\\FileShare\\UserTbl\\', item().name)",
                  "type" : "Expression"
                }
              }
            } ],
            "isSequential" : true
          }
        }, {
          "name" : "Sequence_Container546__Get_Rows_Inserted_Updated55",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "0_FOREACH_Sequence_Container546__ForEach_Source_Fi",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "SELECT ISNULL(SUM(CASE WHEN ETLCreateDate IS NOT NULL THEN 1 ELSE 0 END),0) AS RowsInserted\nFROM [Stg].[BudgetSalesPerson] WHERE ETLExecutionID=0"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "0_0_Sequence_Container546__Get_Rows_Inserted_Updat",
          "type" : "SetVariable",
          "policy" : {
            "timeout" : "00:30:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "Sequence_Container546__Get_Rows_Inserted_Updated55",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "variableName" : "RowsInserted",
            "value" : "@activity('Sequence_Container546__Get_Rows_Inserted_Updated55').output.resultSets[0].rows[0][0]"
          }
        }, {
          "name" : "GETMETADATA_Sequence_Container546__ForEach_Source_",
          "type" : "GetMetadata",
          "policy" : {
            "timeout" : "0.12:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
          },
          "dependsOn" : [ {
            "activity" : "0_0_Sequence_Container546__Get_Rows_Inserted_Updat",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "fieldList" : [ "childItems" ],
            "dataset" : {
              "referenceName" : "Generic_OLEDB_DS_SRC",
              "type" : "DatasetReference",
              "parameters" : {
                "TableName" : {
                  "value" : "",
                  "type" : "Expression"
                },
                "Schema" : {
                  "value" : "",
                  "type" : "Expression"
                }
              }
            },
            "storeSettings" : {
              "type" : "AzureBlobStorageReadSettings",
              "enablePartitionDiscovery" : false
            },
            "formatSettings" : {
              "type" : "DelimitedTextReadSettings"
            }
          }
        }, {
          "name" : "FILTER_Sequence_Container546__ForEach_Source_File_",
          "type" : "Filter",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "GETMETADATA_Sequence_Container546__ForEach_Source_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "items" : {
              "value" : "@activity('GETMETADATA_Sequence_Container546__ForEach_Source_').output.childItems",
              "type" : "Expression"
            },
            "condition" : {
              "value" : "@equals(1, 1)",
              "type" : "Expression"
            }
          }
        }, {
          "name" : "FOREACH_Sequence_Container546__ForEach_Source_File",
          "type" : "ForEach",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "FILTER_Sequence_Container546__ForEach_Source_File_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "items" : {
              "value" : "@activity('FILTER_Sequence_Container546__ForEach_Source_File_').output.value",
              "type" : "Expression"
            },
            "activities" : [ {
              "name" : "SET_FileName",
              "type" : "SetVariable",
              "policy" : {
                "timeout" : "00:30:00",
                "retry" : 0,
                "retryIntervalInSeconds" : 0,
                "secureOutput" : false,
                "secureInput" : false
              },
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "typeProperties" : {
                "variableName" : "FileName",
                "value" : {
                  "value" : "@concat('L:\\FileShare', item().name)",
                  "type" : "Expression"
                }
              }
            }, {
              "name" : "_COPYDATASequence_Container546__ForEach_Source_Fil",
              "type" : "Copy",
              "policy" : {
                "timeout" : "0.12:00:00",
                "retry" : 0,
                "retryIntervalInSeconds" : 30,
                "secureOutput" : false,
                "secureInput" : false
              },
              "dependsOn" : [ {
                "activity" : "SET_FileName",
                "dependencyConditions" : [ "Succeeded" ]
              } ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "typeProperties" : {
                "source" : {
                  "type" : "DelimitedTextSource"
                },
                "sink" : {
                  "type" : "DelimitedTextSink"
                }
              },
              "inputs" : [ {
                "referenceName" : "Generic",
                "type" : "DatasetReference",
                "parameters" : {
                  "TableName" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "",
                    "type" : "Expression"
                  }
                }
              } ],
              "outputs" : [ ]
            }, {
              "name" : "Sequence_Container546__ForEach_Source_File_Archive",
              "type" : "Delete",
              "policy" : null,
              "dependsOn" : [ {
                "activity" : "_COPYDATASequence_Container546__ForEach_Source_Fil",
                "dependencyConditions" : [ "Succeeded" ]
              } ],
              "userProperties" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "typeProperties" : {
                "dataset" : {
                  "referenceName" : "Generic_File_SRC",
                  "type" : "DatasetReference"
                },
                "enableLogging" : false,
                "storeSettings" : null
              }
            } ],
            "isSequential" : true
          }
        }, {
          "name" : "Sequence_Container546__Update_Success_PackageExecu",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "FOREACH_Sequence_Container546__ForEach_Source_File",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "DECLARE @CurrentTime datetime= GETDATE()\n\nEXECUTE [dbo].[UpdatePackageExecutionID] \n   @ExecutionStatus='Success'\n  ,@CurrentDate=@CurrentTime\n  ,@PackageExecutionID=@0\n  ,@RowsReadNoError=@1\n  ,@RowsInserted=@2\n  ,@RowsUpdated=@3\n  ,@RowsDeleted=@4\n  ,@RowsReadError=@5\n  ,@RowsNotWrittenError=@6\n  ,@RowsDiscarded=@7\n  ,@RowsLookupError=0"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        } ]
      }
    }, {
      "name" : "Update_Error_PackageExecutionID554__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Sequence_Container546_",
        "dependencyConditions" : [ "Failed" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "DECLARE @CurrentTime datetime= GETDATE()\n\nEXECUTE [dbo].[UpdatePackageExecutionID] \n   @ExecutionStatus='Failure'\n  ,@CurrentDate= @CurrentTime\n  ,@PackageStartTime=@0\n  ,@PackageExecutionID=@1"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "RowsReadNoError" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsDeleted" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsInserted" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "FileLocation" : {
        "type" : "string",
        "defaultValue" : "'L:\\\\FileShare\\\\BudgetSalesPerson_Inside.csv'"
      },
      "PackageExecutionID" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "DestinationTable" : {
        "type" : "string",
        "defaultValue" : "'[Stg].[BudgetSalesPerson]'"
      },
      "RowsDiscarded" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsNotWrittenError" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "RowsReadError" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "FileLocationArchive" : {
        "type" : "string",
        "defaultValue" : "'L:\\\\FileProcessing\\\\Archive\\\\Budget\\\\SalesPerson\\\\BudgetSalesPerson_Inside_20210107.csv'"
      },
      "RowsUpdated" : {
        "type" : "Integer",
        "defaultValue" : "0"
      }
    }
  }
}