SSISInv0716/pipeline/PPL_RSSG_FF_CONTROLLABLE_PROFIT_PLAN_LOAD 1.json
{
  "name" : "PPL_RSSG_FF_CONTROLLABLE_PROFIT_PLAN_LOAD 1",
  "type" : "Microsoft.DataFactory/factories/pipelines",
  "apiVersion" : "2018-06-01",
  "properties" : {
    "activities" : [ {
      "name" : "ArchivedFullName",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "ArchivedFullName",
        "value" : {
          "value" : "@concat(variables('ArchiveFilePath'),toUpper(replace(variables('FileName'),'.csv','\\\\')),toUpper(replace(variables('FileName'),'.csv','_')),replace(replace(replace(formatDateTime(utcnow(),'M/d/yyyy hh:mm:ss tt'),'-','_'),':','_'),'.','_'),'.csv')",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "FilePath",
      "type" : "SetVariable",
      "policy" : {
        "timeout" : "00:30:00",
        "retry" : 0,
        "retryIntervalInSeconds" : 0,
        "secureOutput" : false,
        "secureInput" : false
      },
      "dependsOn" : [ ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "variableName" : "FilePath",
        "value" : {
          "value" : "@concat(variables('CPFileSharePath'),variables('FileName'))",
          "type" : "Expression"
        }
      }
    }, {
      "name" : "Delay_Package_Start_by_10min1822__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FilePath",
        "dependencyConditions" : [ "Succeeded" ]
      }, {
        "activity" : "ArchivedFullName",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "WAITFOR DELAY '00:10' ;"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "SQL_Start_Pkg_Audit1832__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "Delay_Package_Start_by_10min1822__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "EXEC usp_audit_pkg_ins @0, @1, @2, @3, @4, @5, @6, @7 OUTPUT"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    }, {
      "name" : "FF_CONTROLLABLE_PROFIT_PLAN1823_",
      "type" : "IfCondition",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "SQL_Start_Pkg_Audit1832__SCRIPT",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "typeProperties" : {
        "expression" : {
          "value" : "@equals(1,1)",
          "type" : "Expression"
        },
        "ifFalseActivities" : [ ],
        "ifTrueActivities" : [ {
          "name" : "FF_CONTROLLABLE_PROFIT_PLAN1823__File_Does_Not_Exist1826_",
          "type" : "ExecutePipeline",
          "policy" : null,
          "dependsOn" : [ ],
          "userProperties" : null,
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "pipeline" : null,
            "waitOnCompletion" : false,
            "parameters" : { }
          }
        }, {
          "name" : "FF_CONTROLLABLE_PROFIT_PLAN1823__SQL_Start_Table_A",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "EXEC usp_audit_table_ins @0, 'RAW.FF_CONTROLLABLE_PROFIT_PLAN\n', @1, @2 OUTPUT"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "FF_CONTROLLABLE_PROFIT_PLAN1823__SQL_Truncate_FF_C",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "FF_CONTROLLABLE_PROFIT_PLAN1823__SQL_Start_Table_A",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "TRUNCATE TABLE FF_CONTROLLABLE_PROFIT_PLAN\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "FF_CONTROLLABLE_PROFIT_PLAN1825_",
          "type" : "ExecuteDataFlow",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "FF_CONTROLLABLE_PROFIT_PLAN1823__SQL_Truncate_FF_C",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataflow" : {
              "referenceName" : "FF_CONTROLLABLE_PROFIT_PLAN1825_",
              "type" : "DataFlowReference",
              "parameters" : {
                "FilePath" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\uschfs11\\\\RetailReporting_Data$\\\\RSSG_Data\\\\DEV\\\\CONTROLLABLE_PROFIT\\\\Controllable_Profit_Plan.csv'"
                },
                "ESP_Job_Nm" : {
                  "type" : "Expression",
                  "value" : "'BIRTCP01'"
                },
                "InsCount" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "FileName" : {
                  "type" : "Expression",
                  "value" : "'Controllable_Profit_Plan.csv'"
                },
                "EmailFrom" : {
                  "type" : "Expression",
                  "value" : "'Sohail.Mohiuddin@officedepot.com'"
                },
                "FileExist" : {
                  "type" : "Expression",
                  "value" : "true()"
                },
                "ErrCount" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "ESP_Event_Nm" : {
                  "type" : "Expression",
                  "value" : "'BIRTLCPW'"
                },
                "SSISLogFolderPath" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\Uschvsqld52\\\\ssis\\\\Packages\\\\BI\\\\RTL_RSSG_Dataload\\\\SSISLogs\\\\'"
                },
                "UpdType2Count" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "AuditPkgSK" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "ArchivedFullName" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\uschfs11\\\\RetailReporting_Data$\\\\RSSG_Data\\\\DEV\\\\Archive\\\\FF_CONTROLLABLE_PROFIT_PLAN\\\\CONTROLLABLE_PROFIT_PLAN_2025_10_16 19_45_35_272000000.csv'"
                },
                "EmailToRetailOps" : {
                  "type" : "Expression",
                  "value" : "'Sohail.Mohiuddin@officedepot.com'"
                },
                "SrcCount" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "AuditTableSK" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "EmailToOnCall" : {
                  "type" : "Expression",
                  "value" : "'Sohail.Mohiuddin@officedepot.com'"
                },
                "TotCount" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "UpdType1Count" : {
                  "type" : "Expression",
                  "value" : "0"
                },
                "ArchiveFilePath" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\uschfs11\\\\RetailReporting_Data$\\\\RSSG_Data\\\\DEV\\\\Archive\\\\FF_'"
                },
                "CPFileSharePath" : {
                  "type" : "Expression",
                  "value" : "'\\\\\\\\uschfs11\\\\RetailReporting_Data$\\\\RSSG_Data\\\\DEV\\\\CONTROLLABLE_PROFIT\\\\'"
                }
              },
              "datasetParameters" : {
                "CONTROLLABLEPROFITPLANTextFile" : {
                  "TableName" : null,
                  "Schema" : null,
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                },
                "FFCONTROLLABLEPROFITPLAN" : {
                  "TableName" : {
                    "value" : "FF_CONTROLLABLE_PROFIT_PLAN",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "dbo",
                    "type" : "Expression"
                  },
                  "Container" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "FileName" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "Directory" : {
                    "value" : null,
                    "type" : "Expression"
                  },
                  "ColumnDelimiter" : ","
                }
              }
            },
            "compute" : null,
            "staging" : { }
          }
        }, {
          "name" : "FF_CONTROLLABLE_PROFIT_PLAN1823__SQL_End_Table_Aud",
          "type" : "Script",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "FF_CONTROLLABLE_PROFIT_PLAN1825_",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "linkedServiceName" : {
            "referenceName" : "AzureSqlDatabase1",
            "type" : "LinkedServiceReference"
          },
          "typeProperties" : {
            "scripts" : [ {
              "type" : "Query",
              "text" : "UPDATE audit_table SET\n  source_row_count = @0\n ,insert_new_row_count = @1\n ,update_type1_row_count = @2\n ,update_type2_row_count = @3\n ,error_row_count = @4\n ,table_final_row_count = @5\n ,end_datetime = GETDATE()\n ,is_success = 1\nWHERE audit_table_sk = @6\n"
            } ],
            "scriptBlockExecutionTimeout" : null
          }
        }, {
          "name" : "IFACTIVITY__COPYDATAFF_CONTROLLABLE_PROFIT_PLAN182",
          "type" : "IfCondition",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "FF_CONTROLLABLE_PROFIT_PLAN1823__SQL_End_Table_Aud",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "expression" : {
              "value" : "@equals(variables('ESP_Job_Nm'),'AIRTCP01')",
              "type" : "Expression"
            },
            "ifFalseActivities" : [ ],
            "ifTrueActivities" : [ {
              "name" : "_COPYDATAFF_CONTROLLABLE_PROFIT_PLAN1823__Archive_",
              "type" : "Copy",
              "policy" : {
                "timeout" : "0.12:00:00",
                "retry" : 0,
                "retryIntervalInSeconds" : 30,
                "secureOutput" : false,
                "secureInput" : false
              },
              "dependsOn" : [ ],
              "state" : null,
              "description" : null,
              "onInactiveMarkAs" : null,
              "typeProperties" : {
                "source" : {
                  "type" : "DelimitedTextSource"
                },
                "sink" : {
                  "type" : "DelimitedTextSink"
                }
              },
              "inputs" : [ {
                "referenceName" : "Generic",
                "type" : "DatasetReference",
                "parameters" : {
                  "TableName" : {
                    "value" : "",
                    "type" : "Expression"
                  },
                  "Schema" : {
                    "value" : "",
                    "type" : "Expression"
                  }
                }
              } ],
              "outputs" : [ ]
            } ]
          }
        }, {
          "name" : "FF_CONTROLLABLE_PROFIT_PLAN1823__Archive_FF_CONTRO",
          "type" : "Delete",
          "policy" : null,
          "dependsOn" : [ {
            "activity" : "IFACTIVITY__COPYDATAFF_CONTROLLABLE_PROFIT_PLAN182",
            "dependencyConditions" : [ "Succeeded" ]
          } ],
          "userProperties" : [ ],
          "state" : null,
          "description" : null,
          "onInactiveMarkAs" : null,
          "typeProperties" : {
            "dataset" : {
              "referenceName" : "Generic_File_SRC",
              "type" : "DatasetReference"
            },
            "enableLogging" : false,
            "storeSettings" : null
          }
        } ]
      }
    }, {
      "name" : "SQL_End_Pkg_Audit1831__SCRIPT",
      "type" : "Script",
      "policy" : null,
      "dependsOn" : [ {
        "activity" : "FF_CONTROLLABLE_PROFIT_PLAN1823_",
        "dependencyConditions" : [ "Succeeded" ]
      } ],
      "state" : null,
      "description" : null,
      "onInactiveMarkAs" : null,
      "linkedServiceName" : {
        "referenceName" : "AzureSqlDatabase1",
        "type" : "LinkedServiceReference"
      },
      "typeProperties" : {
        "scripts" : [ {
          "type" : "Query",
          "text" : "UPDATE audit_pkg SET\n\tpkg_end_datetime = GETDATE()\n\t,is_success = 1\nWHERE audit_pkg_sk = @0"
        } ],
        "scriptBlockExecutionTimeout" : null
      }
    } ],
    "folder" : {
      "name" : "SSISInventorysamples0716/"
    },
    "parameters" : { },
    "variables" : {
      "FilePath" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\uschfs11\\\\RetailReporting_Data$\\\\RSSG_Data\\\\DEV\\\\CONTROLLABLE_PROFIT\\\\Controllable_Profit_Plan.csv'"
      },
      "ESP_Job_Nm" : {
        "type" : "string",
        "defaultValue" : "'BIRTCP01'"
      },
      "InsCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "FileName" : {
        "type" : "string",
        "defaultValue" : "'Controllable_Profit_Plan.csv'"
      },
      "EmailFrom" : {
        "type" : "string",
        "defaultValue" : "'Sohail.Mohiuddin@officedepot.com'"
      },
      "FileExist" : {
        "type" : "Boolean",
        "defaultValue" : "true()"
      },
      "ErrCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "ESP_Event_Nm" : {
        "type" : "string",
        "defaultValue" : "'BIRTLCPW'"
      },
      "SSISLogFolderPath" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\Uschvsqld52\\\\ssis\\\\Packages\\\\BI\\\\RTL_RSSG_Dataload\\\\SSISLogs\\\\'"
      },
      "UpdType2Count" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "AuditPkgSK" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "ArchivedFullName" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\uschfs11\\\\RetailReporting_Data$\\\\RSSG_Data\\\\DEV\\\\Archive\\\\FF_CONTROLLABLE_PROFIT_PLAN\\\\CONTROLLABLE_PROFIT_PLAN_2025_10_16 19_45_35_272000000.csv'"
      },
      "EmailToRetailOps" : {
        "type" : "string",
        "defaultValue" : "'Sohail.Mohiuddin@officedepot.com'"
      },
      "SrcCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "AuditTableSK" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "EmailToOnCall" : {
        "type" : "string",
        "defaultValue" : "'Sohail.Mohiuddin@officedepot.com'"
      },
      "TotCount" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "UpdType1Count" : {
        "type" : "Integer",
        "defaultValue" : "0"
      },
      "ArchiveFilePath" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\uschfs11\\\\RetailReporting_Data$\\\\RSSG_Data\\\\DEV\\\\Archive\\\\FF_'"
      },
      "CPFileSharePath" : {
        "type" : "string",
        "defaultValue" : "'\\\\\\\\uschfs11\\\\RetailReporting_Data$\\\\RSSG_Data\\\\DEV\\\\CONTROLLABLE_PROFIT\\\\'"
      }
    }
  }
}